/*------------------------------------*    $RESET
\*------------------------------------*/
/*Box sizing (the nuclear option) */
*,
*:after,
*:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix font rendering defaults */
button,
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 100%; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0; }

/* IE fixes for HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

b,
mark,
strong {
  font-weight: bold;
  font-style: inherit; }

address,
dfn,
em,
i,
q,
var {
  font-style: italic;
  font-weight: inherit; }

a,
ins,
u {
  text-decoration: none; }

code,
kbd,
pre,
samp {
  font-family: monospace; }

iframe {
  width: 100%; }

a {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input,
select,
textarea {
  font: inherit; }

button {
  cursor: pointer; }

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
video {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Generates a media query based on a list of conditions
 *
 * @author Eduardo Boucas
 *
 * @param {List}   $conditions  - Media query conditions
 *
 * @example scss - With a single set breakpoint
 *  @include media(">phone") { }
 *
 * @example scss - With two set breakpoints
 *  @include media(">phone", "<=tablet") { }
 *
 * @example scss - With custom values
 *  @include media(">=358px", "<850px") { }
 *
 * @example scss - With set breakpoints with custom values
 *  @include media(">desktop", "<=1350px") { }
 *
 * @example scss - With a static expression
 *  @include media("retina2x") { }
 *
 * @example scss - Mixing everything
 *  @include media(">=350px", "<tablet", "retina3x") { }
 */
/**
 * Reads a list of media query expressions and separates logical disjunctions into different branches
 *
 * @author Eduardo Boucas
 *
 * @param {List}   $expressions  - list of expressions
 *
 * @throws `$expression` is not a valid expression
 *
 * @return {List | Null}
 */
/**
 * Parses a string to form a media query expression
 *
 * @author Eduardo Boucas
 *
 * @param {String}   $expression  - expression (in string)
 *
 * @throws Expression with type `type-of($expression)` detected, string expected
 * @throws `$expression` is missing an operator
 * @throws Unknown unit: `$unit`
 *
 * @return {String | Null}
 */
/**
 * Replaces the first occurence of the string with the replacement string
 *
 * @author Eduardo Boucas
 *
 * @param {String}   $search  - The value being searched for
 * @param {String}   $replace  - The replacement string
 * @param {String}   $subject  - The string being replaced on
 *
 * @return {String | Null}
 */
/**
 * Casts a number to a string
 *
 * @author Hugo Giraudel
 *
 * @param {String}   $string  - Number to be parsed
 *
 * @return {List | Null}
 */
.c-grey {
  color: #666; }

.c-lightgrey {
  color: #999; }

.c-primary {
  color: #2a7af7; }

.u-text--bold {
  font-weight: bold; }

.u-text--italic {
  font-style: normal;
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif; }

.u-text--small-caps {
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  font-family: "Caponi Text", Georgia, serif; }

.u-text--regular {
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif; }

.u-inverse {
  color: white; }
  .u-inverse a {
    color: white;
    transition: opacity .3s ease; }
    .u-inverse a:hover, .u-inverse a:focus {
      opacity: .8; }
      .u-inverse a:hover:after, .u-inverse a:focus:after {
        opacity: 1; }

/*doc
---
title: Align text
name: 1_align_text
category: utilities
---

This utility centers all text with `.u-text-center`, right aligns text with `.u-text-right` and left aligns text with `.u-text-left`:

```html_example
<h3 class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

```html_example
<h3 class="u-text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

```html_example
<h3 class="u-text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

*/
.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-text-right {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333; }
  .is-darkMode h1, .is-darkMode
  h2, .is-darkMode
  h3, .is-darkMode
  h4, .is-darkMode
  h5, .is-darkMode
  h6 {
    color: #ddd; }

.h1,
.m-longform .h1,
h1,
.m-longform
h1 {
  font-weight: 600;
  font-family: "Caponi Display", Georgia, serif;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.15;
  margin-bottom: 20px; }
  @media (min-width: 621px) {
    .h1,
    .m-longform .h1,
    h1,
    .m-longform
    h1 {
      font-size: 38px;
      font-size: 2.375rem;
      line-height: 1.2; } }
  @media (min-width: 921px) {
    .h1,
    .m-longform .h1,
    h1,
    .m-longform
    h1 {
      line-height: 1.1;
      font-size: 43px;
      font-size: 2.6875rem; } }

.h2,
.h3,
.h4,
.h5,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: "Caponi Semibold", Georgia, serif; }

.fonts-loaded .h2, .fonts-loaded
h2 {
  font-size: 20px;
  font-size: 1.25rem; }
  @media (min-width: 621px) {
    .fonts-loaded .h2, .fonts-loaded
    h2 {
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 1.3; } }

.m-longform .h2, .m-longform
h2 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3; }
  @media (min-width: 621px) {
    .m-longform .h2, .m-longform
    h2 {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 1.3; } }
  @media (min-width: 921px) {
    .m-longform .h2, .m-longform
    h2 {
      font-size: 28px;
      font-size: 1.75rem; } }

.h3,
.m-longform .h3,
h3,
.m-longform
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.45; }
  @media (min-width: 621px) {
    .h3,
    .m-longform .h3,
    h3,
    .m-longform
    h3 {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.55; } }
  @media (min-width: 921px) {
    .h3,
    .m-longform .h3,
    h3,
    .m-longform
    h3 {
      font-size: 22px;
      font-size: 1.375rem; } }

.h4,
h4 {
  margin-bottom: 20px; }
  .h4,
  .m-longform .h4,
  h4,
  .m-longform
  h4 {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 1.3; }
    @media (min-width: 621px) {
      .h4,
      .m-longform .h4,
      h4,
      .m-longform
      h4 {
        font-size: 17px;
        font-size: 1.0625rem; } }

.h5,
.m-longform .h5,
h5,
.m-longform
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3; }
  @media (min-width: 621px) {
    .h5,
    .m-longform .h5,
    h5,
    .m-longform
    h5 {
      font-size: 17px;
      font-size: 1.0625rem; } }

.h6,
.m-longform .h6,
h6,
.m-longform
h6 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.3; }

.m-heading__text,
.fonts-loaded .m-heading__text {
  font-weight: normal;
  color: #333;
  max-width: 800px;
  font-weight: 600;
  font-family: "Caponi Display", Georgia, serif; }
  @media (min-width: 921px) {
    .m-heading__text,
    .fonts-loaded .m-heading__text {
      font-size: 46px;
      font-size: 2.875rem; } }

a {
  outline: none;
  border: none; }
  a:focus {
    outline: none; }

.links,
.links a {
  color: #5b99f9;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  outline: none;
  text-decoration-skip: ink; }
  .links:hover, .links:focus,
  .links a:hover,
  .links a:focus {
    outline: none;
    text-decoration: none;
    color: #085fe6;
    border: none; }

.links--underline,
.links--underline a {
  color: #5b99f9;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  outline: none;
  text-decoration-skip: ink; }
  .links--underline:hover, .links--underline:focus,
  .links--underline a:hover,
  .links--underline a:focus {
    outline: none;
    text-decoration: none;
    color: #085fe6;
    border: none; }

.links--dark:link:link,
.links--dark:link a,
.links--dark a:link,
.links--dark a a {
  color: #777; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
video,
fieldset,
figure,
pre,
hr,
ul,
ol,
.media,
.island,
.islet {
  margin-bottom: 21.6px;
  margin-bottom: 1.35rem; }
  @media (min-width: 621px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hgroup,
    ul,
    ol,
    dl,
    blockquote,
    p,
    address,
    table,
    video,
    fieldset,
    figure,
    pre,
    hr,
    ul,
    ol,
    .media,
    .island,
    .islet {
      margin-bottom: 25.2px;
      margin-bottom: 1.575rem; } }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
dd {
  margin-bottom: 9px;
  margin-bottom: 0.5625rem; }

iframe,
.widescreen {
  margin: 18px 0px 36px 0px;
  margin: 1.125rem 0rem 2.25rem 0rem; }

* {
  border-box: box-sizing !important; }

html {
  height: 100%; }

body {
  font-family: Geogia, serif;
  background-color: #1496fa;
  padding-bottom: 0;
  background-color: white;
  position: relative; }
  .wf-gimlettext-n4-active body {
    font-family: "Gimlet text", Georgia, serif; }
  @media (min-width: 621px) {
    body {
      padding: 20px; } }

.display-img {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  max-width: 100%;
  min-height: 400px;
  position: relative;
  height: 75vh;
  width: 100%;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 1px solid #222; }
  @media (min-width: 921px) {
    .display-img {
      height: 90vh; } }
  .display-img img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    width: 100%; }
  .display-img:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.4; }
  .display-img figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.3;
    color: white; }
    @media (min-width: 921px) {
      .display-img figcaption {
        width: 50%; } }
    .display-img figcaption p {
      padding: 20px;
      margin-bottom: 0; }
    .display-img figcaption a:visited, .display-img figcaption a:hover {
      color: #1496fa; }

a {
  color: #1496fa !important; }
  a:hover {
    color: #222 !important; }

.title {
  position: relative;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 1px solid #222;
  background-color: #1496fa;
  padding: 30px 0; }
  @media (min-width: 921px) {
    .title {
      padding: 30px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-left: 1px solid black;
      border-top: 1px solid black; } }

h1 {
  z-index: 888;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1;
     -moz-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
  font-family: Georgia, serif;
  font-size: 3em;
  font-size: calc(13vw);
  font-weight: 400 !important;
  line-height: 1;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: #222;
  position: relative;
  margin-bottom: 0;
  color: white; }
  @media (min-width: 621px) {
    h1 {
      font-size: calc(8vw); } }
  @media (min-width: 921px) {
    h1 {
      font-size: 100px;
      padding-top: 80px;
      padding-top: 20px;
      padding-bottom: 40px; } }

.wf-gimletcondensed-n4-active h1, .wf-gimletcondensed-n4-active
h2 {
  font-family: "Gimlet condensed", Georgia, serif; }

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.footer {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  border: 1px solid black;
  position: relative;
  z-index: 3;
  padding-bottom: 20px; }
  .footer:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url("../build/images/circle-white.svg");
    background-color: transparent;
    opacity: 0.4; }
  @media (min-width: 621px) {
    .footer {
      padding: 20px;
      padding-bottom: 60px; } }
  @media (min-width: 921px) {
    .footer {
      width: 50vw; } }

.footer__wrapper {
  max-width: 700px; }

.intro {
  font-size: 1em;
  line-height: 1.55;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  padding: 30px 15px 40px 15px;
  color: #333;
  margin-bottom: 0; }
  @media (min-width: 621px) {
    .intro {
      font-size: 1.15em; } }
  @media (min-width: 921px) {
    .intro {
      font-size: 1.3em; } }

.small {
  font-size: 15px; }
  .small a:visited, .small a:hover {
    color: #1496fa; }

input {
  border-radius: 0 !important; }

.bg-black {
  background-color: #222; }

.archive {
  padding: 50px 20px;
  border: 1px solid black;
  border-top: none;
  background-color: #eee; }
  @media (min-width: 921px) {
    .archive {
      border-left: none;
      border-right: 1px solid #000000;
      border-top: 1px solid black;
      border-bottom: 1px solid #000000; } }
  .archive h3 {
    font-size: 18px;
    margin: 0; }
    .wf-gimlettext-n4-active .archive h3 {
      font-family: "Gimlet text", Georgia, serif; }

.meta-info__item {
  font-size: 14px;
  padding-right: 10px; }

@media (min-width: 921px) {
  .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 921px) {
  .content-box .footer {
    width: 65vw; } }

@media (min-width: 921px) {
  .content-box .archive {
    width: 35vw; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.archive-post {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }
  .archive-post .flex {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
