/*------------------------------------*    $RESET
\*------------------------------------*/
/*Box sizing (the nuclear option) */
*,
*:after,
*:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix font rendering defaults */
button,
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 100%; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0; }

/* IE fixes for HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

b,
mark,
strong {
  font-weight: bold;
  font-style: inherit; }

address,
dfn,
em,
i,
q,
var {
  font-style: italic;
  font-weight: inherit; }

a,
ins,
u {
  text-decoration: none; }

code,
kbd,
pre,
samp {
  font-family: monospace; }

iframe {
  width: 100%; }

a {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input,
select,
textarea {
  font: inherit; }

button {
  cursor: pointer; }

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
video {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Generates a media query based on a list of conditions
 *
 * @author Eduardo Boucas
 *
 * @param {List}   $conditions  - Media query conditions
 *
 * @example scss - With a single set breakpoint
 *  @include media(">phone") { }
 *
 * @example scss - With two set breakpoints
 *  @include media(">phone", "<=tablet") { }
 *
 * @example scss - With custom values
 *  @include media(">=358px", "<850px") { }
 *
 * @example scss - With set breakpoints with custom values
 *  @include media(">desktop", "<=1350px") { }
 *
 * @example scss - With a static expression
 *  @include media("retina2x") { }
 *
 * @example scss - Mixing everything
 *  @include media(">=350px", "<tablet", "retina3x") { }
 */
/**
 * Reads a list of media query expressions and separates logical disjunctions into different branches
 *
 * @author Eduardo Boucas
 *
 * @param {List}   $expressions  - list of expressions
 *
 * @throws `$expression` is not a valid expression
 *
 * @return {List | Null}
 */
/**
 * Parses a string to form a media query expression
 *
 * @author Eduardo Boucas
 *
 * @param {String}   $expression  - expression (in string)
 *
 * @throws Expression with type `type-of($expression)` detected, string expected
 * @throws `$expression` is missing an operator
 * @throws Unknown unit: `$unit`
 *
 * @return {String | Null}
 */
/**
 * Replaces the first occurence of the string with the replacement string
 *
 * @author Eduardo Boucas
 *
 * @param {String}   $search  - The value being searched for
 * @param {String}   $replace  - The replacement string
 * @param {String}   $subject  - The string being replaced on
 *
 * @return {String | Null}
 */
/**
 * Casts a number to a string
 *
 * @author Hugo Giraudel
 *
 * @param {String}   $string  - Number to be parsed
 *
 * @return {List | Null}
 */
.c-grey {
  color: #666; }

.c-lightgrey {
  color: #999; }

.c-primary {
  color: #2a7af7; }

.u-text--bold {
  font-weight: bold; }

.u-text--italic {
  font-style: normal;
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif; }

.u-text--small-caps {
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  font-family: "Caponi Text", Georgia, serif; }

.u-text--regular {
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif; }

.u-inverse {
  color: white; }
  .u-inverse a {
    color: white;
    transition: opacity .3s ease; }
    .u-inverse a:hover, .u-inverse a:focus {
      opacity: .8; }
      .u-inverse a:hover:after, .u-inverse a:focus:after {
        opacity: 1; }

/*doc
---
title: Align text
name: 1_align_text
category: utilities
---

This utility centers all text with `.u-text-center`, right aligns text with `.u-text-right` and left aligns text with `.u-text-left`:

```html_example
<h3 class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

```html_example
<h3 class="u-text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

```html_example
<h3 class="u-text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et, odit illum molestias architecto obcaecati nihil nemo aspernatur placeat, explicabo pariatur unde, magnam tempore! Laudantium perferendis consequatur odit debitis hic?</h3>
```

*/
.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-text-right {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333; }
  .is-darkMode h1, .is-darkMode
  h2, .is-darkMode
  h3, .is-darkMode
  h4, .is-darkMode
  h5, .is-darkMode
  h6 {
    color: #ddd; }

.h1,
.m-longform .h1,
h1,
.m-longform
h1 {
  font-weight: 600;
  font-family: "Caponi Display", Georgia, serif;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.15;
  margin-bottom: 20px; }
  @media (min-width: 621px) {
    .h1,
    .m-longform .h1,
    h1,
    .m-longform
    h1 {
      font-size: 38px;
      font-size: 2.375rem;
      line-height: 1.2; } }
  @media (min-width: 921px) {
    .h1,
    .m-longform .h1,
    h1,
    .m-longform
    h1 {
      line-height: 1.1;
      font-size: 43px;
      font-size: 2.6875rem; } }

.h2,
.h3,
.h4,
.h5,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: "Caponi Semibold", Georgia, serif; }

.fonts-loaded .h2, .fonts-loaded
h2 {
  font-size: 20px;
  font-size: 1.25rem; }
  @media (min-width: 621px) {
    .fonts-loaded .h2, .fonts-loaded
    h2 {
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 1.3; } }

.m-longform .h2, .m-longform
h2 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.3; }
  @media (min-width: 621px) {
    .m-longform .h2, .m-longform
    h2 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.3; } }
  @media (min-width: 921px) {
    .m-longform .h2, .m-longform
    h2 {
      font-size: 30px;
      font-size: 1.875rem; } }

.h3,
.m-longform .h3,
h3,
.m-longform
h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45; }
  @media (min-width: 621px) {
    .h3,
    .m-longform .h3,
    h3,
    .m-longform
    h3 {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 1.55; } }
  @media (min-width: 921px) {
    .h3,
    .m-longform .h3,
    h3,
    .m-longform
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.45; } }

.h4,
h4 {
  margin-bottom: 20px; }
  .h4,
  .m-longform .h4,
  h4,
  .m-longform
  h4 {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 1.3; }
    @media (min-width: 621px) {
      .h4,
      .m-longform .h4,
      h4,
      .m-longform
      h4 {
        font-size: 17px;
        font-size: 1.0625rem; } }

.h5,
.m-longform .h5,
h5,
.m-longform
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3; }
  @media (min-width: 621px) {
    .h5,
    .m-longform .h5,
    h5,
    .m-longform
    h5 {
      font-size: 17px;
      font-size: 1.0625rem; } }

.h6,
.m-longform .h6,
h6,
.m-longform
h6 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.3; }

.m-heading__text,
.fonts-loaded .m-heading__text {
  font-weight: normal;
  color: #333;
  max-width: 800px;
  font-weight: 600;
  font-family: "Caponi Display", Georgia, serif; }
  @media (min-width: 921px) {
    .m-heading__text,
    .fonts-loaded .m-heading__text {
      font-size: 46px;
      font-size: 2.875rem; } }

a {
  outline: none;
  border: none; }
  a:focus {
    outline: none; }

.links,
.links a {
  color: #5b99f9;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  outline: none;
  text-decoration-skip: ink; }
  .links:hover, .links:focus,
  .links a:hover,
  .links a:focus {
    outline: none;
    text-decoration: none;
    color: #085fe6;
    border: none; }

.links--underline,
.links--underline a {
  color: #5b99f9;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  outline: none;
  text-decoration-skip: ink; }
  .links--underline:hover, .links--underline:focus,
  .links--underline a:hover,
  .links--underline a:focus {
    outline: none;
    text-decoration: none;
    color: #085fe6;
    border: none; }

.links--dark:link:link,
.links--dark:link a,
.links--dark a:link,
.links--dark a a {
  color: #777; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
video,
fieldset,
figure,
pre,
hr,
ul,
ol,
.media,
.island,
.islet {
  margin-bottom: 21.6px;
  margin-bottom: 1.35rem; }
  @media (min-width: 621px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hgroup,
    ul,
    ol,
    dl,
    blockquote,
    p,
    address,
    table,
    video,
    fieldset,
    figure,
    pre,
    hr,
    ul,
    ol,
    .media,
    .island,
    .islet {
      margin-bottom: 25.2px;
      margin-bottom: 1.575rem; } }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
dd {
  margin-bottom: 9px;
  margin-bottom: 0.5625rem; }

iframe,
.widescreen {
  margin: 18px 0px 36px 0px;
  margin: 1.125rem 0rem 2.25rem 0rem; }

@font-face {
  font-family: 'FG Display';
  font-style: 800;
  src: url("/fonts/fg-condensed-medium.woff") format("woff"); }

body {
  font: 115%/1.55 Georgia, serif;
  color: #444;
  border-top: 10px solid black;
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; }
  @media (min-width: 621px) {
    body {
      font-size: 120%; } }
  @media (min-width: 921px) {
    body {
      font-size: 125%; } }

img {
  max-width: 100%; }

h1, .h1 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: .9;
  font-family: Helvetica, sans-serif !important; }
  .wf-fgdisplay-n4-active h1, .wf-fgdisplay-n4-active .h1 {
    font-family: FG Display , Helvetica, sans-serif !important; }
    @media (min-width: 621px) {
      .wf-fgdisplay-n4-active h1, .wf-fgdisplay-n4-active .h1 {
        font-size: 80px;
        line-height: .9; } }

h2, .h2 {
  margin-bottom: 0; }
  .fonts-loaded h2, .fonts-loaded .h2 {
    font-family: FG Semibold , Helvetica, sans-serif; }

em,
small,
dfn,
i,
q,
.italic {
  font-style: normal;
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif; }

.caps,
abbr {
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  font-family: "Caponi Text", Georgia, serif; }

.m-longform:link,
.m-longform a {
  color: #4d4d4d;
  text-decoration: none;
  transition: color 0.3s ease;
  background-image: linear-gradient(to bottom, #4d4d4d 40%, white 5%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 3px; }
  .m-longform:link:hover, .m-longform:link:focus,
  .m-longform a:hover,
  .m-longform a:focus {
    color: #2a7af7;
    background-image: linear-gradient(to bottom, #2a7af7 40%, white 5%); }

.m-longform > *:last-child {
  margin-bottom: 0; }

.m-longform h2 {
  margin-top: 36px;
  margin-top: 2.25rem; }

.m-longform > div {
  margin-bottom: 50px; }

.m-longform h3, .m-longform h4, .m-longform h5, .m-longform h6 {
  margin-top: 28.8px;
  margin-top: 1.8rem;
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }

.m-longform p, .m-longform ul, .m-longform ol {
  font-size: 17px;
  font-size: 1.0625rem;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-after: 2;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.5; }
  @media (min-width: 401px) {
    .m-longform p, .m-longform ul, .m-longform ol {
      font-size: 17px;
      font-size: 1.0625rem; } }
  @media (min-width: 621px) {
    .m-longform p, .m-longform ul, .m-longform ol {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.55; } }
  @media (min-width: 921px) {
    .m-longform p, .m-longform ul, .m-longform ol {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.6; } }
  .m-longform p > img, .m-longform ul > img, .m-longform ol > img {
    margin-bottom: 36px;
    margin-bottom: 2.25rem; }

.m-longform ul ul {
  margin-left: 20px; }

.m-longform figure > blockquote {
  margin-bottom: 0;
  padding: 0; }

.m-longform figure > img + blockquote {
  margin-top: 20px; }

.m-longform p + h3,
.m-longform p + .h3, .m-longform ul + h3,
.m-longform ul + .h3, .m-longform ol + h3,
.m-longform ol + .h3,
.m-longform img + h3,
.m-longform img + .h3, .m-longform figure + h3,
.m-longform figure + .h3 {
  margin-top: 36px;
  margin-top: 2.25rem; }

.m-longform figcaption {
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif;
  padding-top: 20px;
  max-width: 600px; }
  .m-longform figcaption a:link,
  .m-longform figcaption a a {
    color: #777; }

.m-longform blockquote > p, .m-longform .cite, .m-longform figcaption {
  padding-left: 18px; }

.m-longform blockquote {
  position: relative; }
  .m-longform blockquote p {
    border-left: 1px solid #ccc;
    font-style: normal;
    font-weight: 400;
    font-family: "Caponi Text", Georgia, serif;
    padding-bottom: 13px;
    padding-bottom: 0.8125rem;
    margin-bottom: 0;
    position: relative;
    color: #555; }
    @media (min-width: 921px) {
      .m-longform blockquote p {
        left: 0; } }
    .m-longform blockquote p:last-of-type, .m-longform blockquote p:only-child {
      padding-bottom: 0; }
  .m-longform blockquote p + p {
    padding-top: 5px; }

.m-longform .blockquote--none p {
  border-left: 0;
  padding-left: 0; }

.m-longform img {
  display: block;
  margin: 0 auto; }
  .m-longform img + figcaption {
    padding: 10px 0 0 0; }

.m-longform .cite,
.m-longform figcaption {
  color: #4d4d4d;
  display: block;
  position: relative;
  padding-top: 4px;
  border-left: 2px solid transparent; }
  .t-dark .m-longform .cite, .t-dark
  .m-longform figcaption {
    color: #a6a6a6; }
  .m-longform .cite > p,
  .m-longform figcaption > p {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0;
    text-align: left;
    width: 100%; }
    @media (min-width: 621px) {
      .m-longform .cite > p,
      .m-longform figcaption > p {
        font-size: 15px;
        font-size: 0.9375rem; } }

.m-longform h2, .m-longform .h2 {
  font-weight: 500;
  font-family: "Caponi Semibold", Georgia, serif;
  margin-bottom: 20px; }

.m-longform h3, .m-longform .h3 {
  margin-bottom: 20px; }

.m-longform h4, .m-longform .h4 {
  font-style: normal;
  font-weight: 400;
  font-family: "Caponi Text", Georgia, serif;
  margin-top: 40px; }

.m-longform h5, .m-longform .h5 {
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  font-family: "Caponi Text", Georgia, serif;
  color: #000;
  margin-top: 40px; }

.wrapper .content {
  display: block; }

.wrapper .content,
.wrapper p,
.wrapper ol,
.wrapper ul,
.wrapper blockquote,
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper .h1,
.wrapper .h2,
.wrapper .h3,
.wrapper .h4,
.wrapper .h5,
.wrapper pre {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }
  @media (min-width: 621px) {
    .wrapper .content,
    .wrapper p,
    .wrapper ol,
    .wrapper ul,
    .wrapper blockquote,
    .wrapper h1,
    .wrapper h2,
    .wrapper h3,
    .wrapper h4,
    .wrapper h5,
    .wrapper .h1,
    .wrapper .h2,
    .wrapper .h3,
    .wrapper .h4,
    .wrapper .h5,
    .wrapper pre {
      padding: 0 5%; } }
  @media (min-width: 921px) {
    .wrapper .content,
    .wrapper p,
    .wrapper ol,
    .wrapper ul,
    .wrapper blockquote,
    .wrapper h1,
    .wrapper h2,
    .wrapper h3,
    .wrapper h4,
    .wrapper h5,
    .wrapper .h1,
    .wrapper .h2,
    .wrapper .h3,
    .wrapper .h4,
    .wrapper .h5,
    .wrapper pre {
      padding: 0; } }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #111; }

.box__unit--image {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover; }

.box__unit * {
  color: white; }

.box__unit img {
  display: block;
  margin: 0;
  padding: 0; }

.box__unit--bottom {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .box__unit--bottom small {
    position: absolute;
    bottom: 10px;
    opacity: .6; }

.date {
  color: #999; }

.river__image {
  max-width: 100%;
  width: 100%; }

.cell {
  padding: 20px;
  padding: 1.25rem; }

.cell-0 {
  padding: 0px;
  padding: 0rem; }

.cell-t0, .cell-v0 {
  padding-top: 0px;
  padding-top: 0rem; }

.cell-b0, .cell-v0 {
  padding-bottom: 0px;
  padding-bottom: 0rem; }

.cell-l0 {
  padding-left: 0px;
  padding-left: 0rem; }

.cell-r0 {
  padding-right: 0px;
  padding-right: 0rem; }

.cell-5 {
  padding: 5px;
  padding: 0.3125rem; }

.cell-t5, .cell-v5 {
  padding-top: 5px;
  padding-top: 0.3125rem; }

.cell-b5, .cell-v5 {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem; }

.cell-l5 {
  padding-left: 5px;
  padding-left: 0.3125rem; }

.cell-r5 {
  padding-right: 5px;
  padding-right: 0.3125rem; }

.cell-10 {
  padding: 10px;
  padding: 0.625rem; }

.cell-t10, .cell-v10 {
  padding-top: 10px;
  padding-top: 0.625rem; }

.cell-b10, .cell-v10 {
  padding-bottom: 10px;
  padding-bottom: 0.625rem; }

.cell-l10 {
  padding-left: 10px;
  padding-left: 0.625rem; }

.cell-r10 {
  padding-right: 10px;
  padding-right: 0.625rem; }

.cell-15 {
  padding: 15px;
  padding: 0.9375rem; }

.cell-t15, .cell-v15 {
  padding-top: 15px;
  padding-top: 0.9375rem; }

.cell-b15, .cell-v15 {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem; }

.cell-l15 {
  padding-left: 15px;
  padding-left: 0.9375rem; }

.cell-r15 {
  padding-right: 15px;
  padding-right: 0.9375rem; }

.cell-20 {
  padding: 20px;
  padding: 1.25rem; }

.cell-t20, .cell-v20 {
  padding-top: 20px;
  padding-top: 1.25rem; }

.cell-b20, .cell-v20 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem; }

.cell-l20 {
  padding-left: 20px;
  padding-left: 1.25rem; }

.cell-r20 {
  padding-right: 20px;
  padding-right: 1.25rem; }

.cell-30 {
  padding: 30px;
  padding: 1.875rem; }

.cell-t30, .cell-v30 {
  padding-top: 30px;
  padding-top: 1.875rem; }

.cell-b30, .cell-v30 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }

.cell-l30 {
  padding-left: 30px;
  padding-left: 1.875rem; }

.cell-r30 {
  padding-right: 30px;
  padding-right: 1.875rem; }

.cell-40 {
  padding: 40px;
  padding: 2.5rem; }

.cell-t40, .cell-v40 {
  padding-top: 40px;
  padding-top: 2.5rem; }

.cell-b40, .cell-v40 {
  padding-bottom: 40px;
  padding-bottom: 2.5rem; }

.cell-l40 {
  padding-left: 40px;
  padding-left: 2.5rem; }

.cell-r40 {
  padding-right: 40px;
  padding-right: 2.5rem; }

.cell-60 {
  padding: 60px;
  padding: 3.75rem; }

.cell-t60, .cell-v60 {
  padding-top: 60px;
  padding-top: 3.75rem; }

.cell-b60, .cell-v60 {
  padding-bottom: 60px;
  padding-bottom: 3.75rem; }

.cell-l60 {
  padding-left: 60px;
  padding-left: 3.75rem; }

.cell-r60 {
  padding-right: 60px;
  padding-right: 3.75rem; }

.cell-80 {
  padding: 80px;
  padding: 5rem; }

.cell-t80, .cell-v80 {
  padding-top: 80px;
  padding-top: 5rem; }

.cell-b80, .cell-v80 {
  padding-bottom: 80px;
  padding-bottom: 5rem; }

.cell-l80 {
  padding-left: 80px;
  padding-left: 5rem; }

.cell-r80 {
  padding-right: 80px;
  padding-right: 5rem; }

@media (min-width: 401px) {
  .cell--small {
    padding: 20px;
    padding: 1.25rem; }
  .cell-0--small {
    padding: 0px;
    padding: 0rem; }
  .cell-5--small {
    padding: 5px;
    padding: 0.3125rem; }
  .cell-10--small {
    padding: 10px;
    padding: 0.625rem; }
  .cell-15--small {
    padding: 15px;
    padding: 0.9375rem; }
  .cell-20--small {
    padding: 20px;
    padding: 1.25rem; }
  .cell-30--small {
    padding: 30px;
    padding: 1.875rem; }
  .cell-40--small {
    padding: 40px;
    padding: 2.5rem; }
  .cell-60--small {
    padding: 60px;
    padding: 3.75rem; }
  .cell-80--small {
    padding: 80px;
    padding: 5rem; } }

@media (min-width: 621px) {
  .cell--medium {
    padding: 20px;
    padding: 1.25rem; }
  .cell-0--medium {
    padding: 0px;
    padding: 0rem; }
  .cell-5--medium {
    padding: 5px;
    padding: 0.3125rem; }
  .cell-10--medium {
    padding: 10px;
    padding: 0.625rem; }
  .cell-15--medium {
    padding: 15px;
    padding: 0.9375rem; }
  .cell-20--medium {
    padding: 20px;
    padding: 1.25rem; }
  .cell-30--medium {
    padding: 30px;
    padding: 1.875rem; }
  .cell-40--medium {
    padding: 40px;
    padding: 2.5rem; }
  .cell-60--medium {
    padding: 60px;
    padding: 3.75rem; }
  .cell-80--medium {
    padding: 80px;
    padding: 5rem; } }

@media (min-width: 921px) {
  .cell--large {
    padding: 20px;
    padding: 1.25rem; }
  .cell-0--large {
    padding: 0px;
    padding: 0rem; }
  .cell-5--large {
    padding: 5px;
    padding: 0.3125rem; }
  .cell-10--large {
    padding: 10px;
    padding: 0.625rem; }
  .cell-15--large {
    padding: 15px;
    padding: 0.9375rem; }
  .cell-20--large {
    padding: 20px;
    padding: 1.25rem; }
  .cell-30--large {
    padding: 30px;
    padding: 1.875rem; }
  .cell-40--large {
    padding: 40px;
    padding: 2.5rem; }
  .cell-60--large {
    padding: 60px;
    padding: 3.75rem; }
  .cell-80--large {
    padding: 80px;
    padding: 5rem; } }

@media (min-width: 1201px) {
  .cell--largest {
    padding: 20px;
    padding: 1.25rem; }
  .cell-0--largest {
    padding: 0px;
    padding: 0rem; }
  .cell-5--largest {
    padding: 5px;
    padding: 0.3125rem; }
  .cell-10--largest {
    padding: 10px;
    padding: 0.625rem; }
  .cell-15--largest {
    padding: 15px;
    padding: 0.9375rem; }
  .cell-20--largest {
    padding: 20px;
    padding: 1.25rem; }
  .cell-30--largest {
    padding: 30px;
    padding: 1.875rem; }
  .cell-40--largest {
    padding: 40px;
    padding: 2.5rem; }
  .cell-60--largest {
    padding: 60px;
    padding: 3.75rem; }
  .cell-80--largest {
    padding: 80px;
    padding: 5rem; } }

@media (min-width: 401px) {
  .cell-t0--small {
    padding-top: 0px;
    padding-top: 0rem; }
  .cell-b0--small {
    padding-bottom: 0px;
    padding-bottom: 0rem; }
  .cell-l0--small {
    padding-left: 0px;
    padding-left: 0rem; }
  .cell-r0--small {
    padding-right: 0px;
    padding-right: 0rem; }
  .cell-t5--small {
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .cell-b5--small {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
  .cell-l5--small {
    padding-left: 5px;
    padding-left: 0.3125rem; }
  .cell-r5--small {
    padding-right: 5px;
    padding-right: 0.3125rem; }
  .cell-t10--small {
    padding-top: 10px;
    padding-top: 0.625rem; }
  .cell-b10--small {
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .cell-l10--small {
    padding-left: 10px;
    padding-left: 0.625rem; }
  .cell-r10--small {
    padding-right: 10px;
    padding-right: 0.625rem; }
  .cell-t15--small {
    padding-top: 15px;
    padding-top: 0.9375rem; }
  .cell-b15--small {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }
  .cell-l15--small {
    padding-left: 15px;
    padding-left: 0.9375rem; }
  .cell-r15--small {
    padding-right: 15px;
    padding-right: 0.9375rem; }
  .cell-t20--small {
    padding-top: 20px;
    padding-top: 1.25rem; }
  .cell-b20--small {
    padding-bottom: 20px;
    padding-bottom: 1.25rem; }
  .cell-l20--small {
    padding-left: 20px;
    padding-left: 1.25rem; }
  .cell-r20--small {
    padding-right: 20px;
    padding-right: 1.25rem; }
  .cell-t30--small {
    padding-top: 30px;
    padding-top: 1.875rem; }
  .cell-b30--small {
    padding-bottom: 30px;
    padding-bottom: 1.875rem; }
  .cell-l30--small {
    padding-left: 30px;
    padding-left: 1.875rem; }
  .cell-r30--small {
    padding-right: 30px;
    padding-right: 1.875rem; }
  .cell-t40--small {
    padding-top: 40px;
    padding-top: 2.5rem; }
  .cell-b40--small {
    padding-bottom: 40px;
    padding-bottom: 2.5rem; }
  .cell-l40--small {
    padding-left: 40px;
    padding-left: 2.5rem; }
  .cell-r40--small {
    padding-right: 40px;
    padding-right: 2.5rem; }
  .cell-t60--small {
    padding-top: 60px;
    padding-top: 3.75rem; }
  .cell-b60--small {
    padding-bottom: 60px;
    padding-bottom: 3.75rem; }
  .cell-l60--small {
    padding-left: 60px;
    padding-left: 3.75rem; }
  .cell-r60--small {
    padding-right: 60px;
    padding-right: 3.75rem; }
  .cell-t80--small {
    padding-top: 80px;
    padding-top: 5rem; }
  .cell-b80--small {
    padding-bottom: 80px;
    padding-bottom: 5rem; }
  .cell-l80--small {
    padding-left: 80px;
    padding-left: 5rem; }
  .cell-r80--small {
    padding-right: 80px;
    padding-right: 5rem; } }

@media (min-width: 621px) {
  .cell-t0--medium {
    padding-top: 0px;
    padding-top: 0rem; }
  .cell-b0--medium {
    padding-bottom: 0px;
    padding-bottom: 0rem; }
  .cell-l0--medium {
    padding-left: 0px;
    padding-left: 0rem; }
  .cell-r0--medium {
    padding-right: 0px;
    padding-right: 0rem; }
  .cell-t5--medium {
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .cell-b5--medium {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
  .cell-l5--medium {
    padding-left: 5px;
    padding-left: 0.3125rem; }
  .cell-r5--medium {
    padding-right: 5px;
    padding-right: 0.3125rem; }
  .cell-t10--medium {
    padding-top: 10px;
    padding-top: 0.625rem; }
  .cell-b10--medium {
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .cell-l10--medium {
    padding-left: 10px;
    padding-left: 0.625rem; }
  .cell-r10--medium {
    padding-right: 10px;
    padding-right: 0.625rem; }
  .cell-t15--medium {
    padding-top: 15px;
    padding-top: 0.9375rem; }
  .cell-b15--medium {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }
  .cell-l15--medium {
    padding-left: 15px;
    padding-left: 0.9375rem; }
  .cell-r15--medium {
    padding-right: 15px;
    padding-right: 0.9375rem; }
  .cell-t20--medium {
    padding-top: 20px;
    padding-top: 1.25rem; }
  .cell-b20--medium {
    padding-bottom: 20px;
    padding-bottom: 1.25rem; }
  .cell-l20--medium {
    padding-left: 20px;
    padding-left: 1.25rem; }
  .cell-r20--medium {
    padding-right: 20px;
    padding-right: 1.25rem; }
  .cell-t30--medium {
    padding-top: 30px;
    padding-top: 1.875rem; }
  .cell-b30--medium {
    padding-bottom: 30px;
    padding-bottom: 1.875rem; }
  .cell-l30--medium {
    padding-left: 30px;
    padding-left: 1.875rem; }
  .cell-r30--medium {
    padding-right: 30px;
    padding-right: 1.875rem; }
  .cell-t40--medium {
    padding-top: 40px;
    padding-top: 2.5rem; }
  .cell-b40--medium {
    padding-bottom: 40px;
    padding-bottom: 2.5rem; }
  .cell-l40--medium {
    padding-left: 40px;
    padding-left: 2.5rem; }
  .cell-r40--medium {
    padding-right: 40px;
    padding-right: 2.5rem; }
  .cell-t60--medium {
    padding-top: 60px;
    padding-top: 3.75rem; }
  .cell-b60--medium {
    padding-bottom: 60px;
    padding-bottom: 3.75rem; }
  .cell-l60--medium {
    padding-left: 60px;
    padding-left: 3.75rem; }
  .cell-r60--medium {
    padding-right: 60px;
    padding-right: 3.75rem; }
  .cell-t80--medium {
    padding-top: 80px;
    padding-top: 5rem; }
  .cell-b80--medium {
    padding-bottom: 80px;
    padding-bottom: 5rem; }
  .cell-l80--medium {
    padding-left: 80px;
    padding-left: 5rem; }
  .cell-r80--medium {
    padding-right: 80px;
    padding-right: 5rem; } }

@media (min-width: 921px) {
  .cell-t0--large {
    padding-top: 0px;
    padding-top: 0rem; }
  .cell-b0--large {
    padding-bottom: 0px;
    padding-bottom: 0rem; }
  .cell-l0--large {
    padding-left: 0px;
    padding-left: 0rem; }
  .cell-r0--large {
    padding-right: 0px;
    padding-right: 0rem; }
  .cell-t5--large {
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .cell-b5--large {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
  .cell-l5--large {
    padding-left: 5px;
    padding-left: 0.3125rem; }
  .cell-r5--large {
    padding-right: 5px;
    padding-right: 0.3125rem; }
  .cell-t10--large {
    padding-top: 10px;
    padding-top: 0.625rem; }
  .cell-b10--large {
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .cell-l10--large {
    padding-left: 10px;
    padding-left: 0.625rem; }
  .cell-r10--large {
    padding-right: 10px;
    padding-right: 0.625rem; }
  .cell-t15--large {
    padding-top: 15px;
    padding-top: 0.9375rem; }
  .cell-b15--large {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }
  .cell-l15--large {
    padding-left: 15px;
    padding-left: 0.9375rem; }
  .cell-r15--large {
    padding-right: 15px;
    padding-right: 0.9375rem; }
  .cell-t20--large {
    padding-top: 20px;
    padding-top: 1.25rem; }
  .cell-b20--large {
    padding-bottom: 20px;
    padding-bottom: 1.25rem; }
  .cell-l20--large {
    padding-left: 20px;
    padding-left: 1.25rem; }
  .cell-r20--large {
    padding-right: 20px;
    padding-right: 1.25rem; }
  .cell-t30--large {
    padding-top: 30px;
    padding-top: 1.875rem; }
  .cell-b30--large {
    padding-bottom: 30px;
    padding-bottom: 1.875rem; }
  .cell-l30--large {
    padding-left: 30px;
    padding-left: 1.875rem; }
  .cell-r30--large {
    padding-right: 30px;
    padding-right: 1.875rem; }
  .cell-t40--large {
    padding-top: 40px;
    padding-top: 2.5rem; }
  .cell-b40--large {
    padding-bottom: 40px;
    padding-bottom: 2.5rem; }
  .cell-l40--large {
    padding-left: 40px;
    padding-left: 2.5rem; }
  .cell-r40--large {
    padding-right: 40px;
    padding-right: 2.5rem; }
  .cell-t60--large {
    padding-top: 60px;
    padding-top: 3.75rem; }
  .cell-b60--large {
    padding-bottom: 60px;
    padding-bottom: 3.75rem; }
  .cell-l60--large {
    padding-left: 60px;
    padding-left: 3.75rem; }
  .cell-r60--large {
    padding-right: 60px;
    padding-right: 3.75rem; }
  .cell-t80--large {
    padding-top: 80px;
    padding-top: 5rem; }
  .cell-b80--large {
    padding-bottom: 80px;
    padding-bottom: 5rem; }
  .cell-l80--large {
    padding-left: 80px;
    padding-left: 5rem; }
  .cell-r80--large {
    padding-right: 80px;
    padding-right: 5rem; } }

@media (min-width: 1201px) {
  .cell-t0--largest {
    padding-top: 0px;
    padding-top: 0rem; }
  .cell-b0--largest {
    padding-bottom: 0px;
    padding-bottom: 0rem; }
  .cell-l0--largest {
    padding-left: 0px;
    padding-left: 0rem; }
  .cell-r0--largest {
    padding-right: 0px;
    padding-right: 0rem; }
  .cell-t5--largest {
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .cell-b5--largest {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
  .cell-l5--largest {
    padding-left: 5px;
    padding-left: 0.3125rem; }
  .cell-r5--largest {
    padding-right: 5px;
    padding-right: 0.3125rem; }
  .cell-t10--largest {
    padding-top: 10px;
    padding-top: 0.625rem; }
  .cell-b10--largest {
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .cell-l10--largest {
    padding-left: 10px;
    padding-left: 0.625rem; }
  .cell-r10--largest {
    padding-right: 10px;
    padding-right: 0.625rem; }
  .cell-t15--largest {
    padding-top: 15px;
    padding-top: 0.9375rem; }
  .cell-b15--largest {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }
  .cell-l15--largest {
    padding-left: 15px;
    padding-left: 0.9375rem; }
  .cell-r15--largest {
    padding-right: 15px;
    padding-right: 0.9375rem; }
  .cell-t20--largest {
    padding-top: 20px;
    padding-top: 1.25rem; }
  .cell-b20--largest {
    padding-bottom: 20px;
    padding-bottom: 1.25rem; }
  .cell-l20--largest {
    padding-left: 20px;
    padding-left: 1.25rem; }
  .cell-r20--largest {
    padding-right: 20px;
    padding-right: 1.25rem; }
  .cell-t30--largest {
    padding-top: 30px;
    padding-top: 1.875rem; }
  .cell-b30--largest {
    padding-bottom: 30px;
    padding-bottom: 1.875rem; }
  .cell-l30--largest {
    padding-left: 30px;
    padding-left: 1.875rem; }
  .cell-r30--largest {
    padding-right: 30px;
    padding-right: 1.875rem; }
  .cell-t40--largest {
    padding-top: 40px;
    padding-top: 2.5rem; }
  .cell-b40--largest {
    padding-bottom: 40px;
    padding-bottom: 2.5rem; }
  .cell-l40--largest {
    padding-left: 40px;
    padding-left: 2.5rem; }
  .cell-r40--largest {
    padding-right: 40px;
    padding-right: 2.5rem; }
  .cell-t60--largest {
    padding-top: 60px;
    padding-top: 3.75rem; }
  .cell-b60--largest {
    padding-bottom: 60px;
    padding-bottom: 3.75rem; }
  .cell-l60--largest {
    padding-left: 60px;
    padding-left: 3.75rem; }
  .cell-r60--largest {
    padding-right: 60px;
    padding-right: 3.75rem; }
  .cell-t80--largest {
    padding-top: 80px;
    padding-top: 5rem; }
  .cell-b80--largest {
    padding-bottom: 80px;
    padding-bottom: 5rem; }
  .cell-l80--largest {
    padding-left: 80px;
    padding-left: 5rem; }
  .cell-r80--largest {
    padding-right: 80px;
    padding-right: 5rem; } }
