@font-face {
  font-family: "DegularText";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/degular/Degular_Text-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Degular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/degular/Degular-Medium.woff2") format("woff2");
}
