---
pagination:
  data: photoNav
  size: 1
  alias: folder
permalink: "/photos/{{ folder.slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ folder.name }}"
---

{% for photo in folder.photos %}
  <a href="{{ photo.url }}">
    <img src="{{ photo.metadata.jpeg[0].url }}" alt="{{ photo.filename }}">
  </a>
{% endfor %}
