---
layout: layouts/base.njk
title: Photos
template: photo
---

{% for folder in photoNav %}
  {% for photo in folder.photos %}
    <a class="gallery-item" href="{{ photo.url }}">
      <img class="gallery-img" src="{{ photo.src }}" alt="{{ photo.title }}">
    </a>
  {% endfor %}
{% endfor %}
