// ==========================================================================
// COLORS
// ==========================================================================

$c-text: #999;
$c-dark: #ddd;
$c-offwhite: lighten($c-text, 10);

:root {
  --background-color: #f8f5f2;
  --white-color: #444;
  --heading-text-color: #111;
  --main-theme-color: #d34c4c;
  --main-text-color: #333;
  --nav-color: #fff;
  --nav-about: #f8f5f2;
  --nav-border: #ddd;
  --lighter-gray-color: #ccc;
  --secondary-text-color: #555;
  --highlight-color: rgb(255, 229, 83, 0.4);
  --off-white: #111;
  --theme-color-border: #f0ffaf;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #222;
//     --white-color: #bbb;
//     --heading-text-color: #eee;
//     --main-theme-color: #4C92FF;
//     --main-text-color: #ccc;
//     --nav-color: #1a1a1a;
//     --nav-about: #2f2f2f;
//     --nav-border: #111;
//     --lighter-gray-color: #444;
//     --secondary-text-color: #bbb;
//     --highlight-color: #888;
//     --off-white: #111;
//     --theme-color-border: #444;
//   }
// }

.c-grey {
  color: var(--secondary-text-color);
}

.c-lightgrey {
  color: var(--secondary-text-color);
}

.c-primary {
  color: var(--main-theme-color);
}
