// ==========================================================================
// COLORS
// ==========================================================================

$c-text: #999;
$c-offwhite: lighten($c-text, 10);

:root {
  --background-color: #fff;
  --main-theme-color: #363a59;

  --heading-text-color: #111;
  --secondary-text-color: #444;
  --main-text-color: #393939;

  --card-bg: #e9e9e9;
  --card-border: #ddd;

  --nav-color: #1f223d;
  --nav-border: #ddd;

  --highlight-color: #fff2cc;
  --off-white: #111;
  --theme-color-border: #f0ffaf;

  --link-underline: #666;
  --link-color: --main-theme-color;
  --link-hover-color: #ce535c;

  // hr, blockquote lines, dates
  --lighter-gray-color: #777;
  --lightest-gray-color: #ccc;
}

.c-grey {
  color: var(--secondary-text-color);
}

.c-lightgrey {
  color: var(--secondary-text-color);
}

.c-primary {
  color: var(--main-theme-color);
}
