// ==========================================================================
// INVERSE MODULE
// ==========================================================================
// Flips the color of the text to white.

.u-inverse {
    color: white;

    a {
        color: white;
        transition: opacity .3s ease;

        &:hover,
        &:focus {
            opacity: .8;
            &:after {
                opacity: 1;
            }
        }
    }
}
