// ==========================================================================
// REM FUNCTION
// ==========================================================================
//
//
// Depending on the capabilities of the browser, this mixin will calculate REM
// values from a pixel value.
//
// Example
//
// h1 {
//    margin-bottom: @include remCalc(margin, 30);
// }
//
//

$baseFontSize: 16;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin remCalc($property, $values...) {
  $max: length($values);
  $pxValues: "";
  $remValues: "";

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + ($value / $baseFontSize)}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}
