/*------------------------------------*\
    $RESET
\*------------------------------------*/
/*Box sizing (the nuclear option) */
*,
*:after,
*:before {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Fix font rendering defaults */
button,
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
}
/* IE fixes for HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

b,
mark,
strong {
  font-weight: bold;
  font-style: inherit;
}

address,
dfn,
em,
i,
q,
var {
  font-style: normal;
  font-weight: inherit;
}

a,
ins,
u {
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

iframe {
  width: 100%;
}

a {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}
