// ==========================================================================
// TYPE
// ==========================================================================
// Default typesetting, font-height and font-weight settings.

@mixin typeface($font) {
  $sans-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-sans;

  $serif-fallback: Georgia, serif;

  @if $font == "Small caps" {
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: "Nitti", $sans-fallback;
  }

  @if $font == "Regular" {
    font-weight: 400;
    font-family: "Nitti", $sans-fallback;
  }

  @if $font == "Regular italic" {
    font-style: italic;
    font-weight: 400;
    font-family: "Nitti", $sans-fallback;
  }

  @if $font == "Bold" {
    font-weight: 600;
    font-family: "Nitti", $sans-fallback;
  }

  @if $font == "Display" {
    font-weight: 600;
    font-family: "Nitti", $sans-fallback;
  }
}
