/*------------------------------------*\
    $BANNER
\*------------------------------------*/
/**
 *
 * For the time being this is how we’ll sort out the logo situation -- note to self: make this more OO
 */


[role="banner"]{
    max-width:5em;
    float:none;
    margin:0 auto;
    position:relative;
    padding:0;

    h1 {
        margin:0 auto;
    }

    .avatar {
        @include transition(all .2s ease-in);
        margin: 0 auto;
        position: absolute;
        width: 85px;
        width: calc-rem(85px);
        height: 103px;
        height: calc-rem(103px);
        background-image: url("/assets/images/logo/campfire.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        border: 5px solid $primary;
        border-top: 1px;
        left:0;

        @include breakpoint(750px) {
            width: 100px;
            width: calc-rem(100px);
            height: 123px;
            height: calc-rem(123px);
        }

        &:hover,
        &:focus {
            border-color:lighten($primary, 15);
        }
    }
}
