// ==========================================================================
// BANNER
// ==========================================================================


.m-banner {
    @include clearfix();
    padding: 15px 20px;

    @include media(">medium"){
        padding: 20px 30px;
        border-bottom: 1px solid white;
    }
}

.m-banner--dark {
    background-color: #222;
    border-bottom: 1px solid #000;
}

.m-banner__about {
    margin-bottom: 0;
    color: $c-secondary;

    @include media(">medium"){
        float: left;
    }

    em {
        display: none;
        font-size: 15px;

        @include media(">large"){
            display: inline-block;
        }
    }
}

.m-banner__nav {
    @include media(">medium"){
        float: right;
    }
}