// ==========================================================================
// DEBUG
// ==========================================================================
//
// #TODO: Make sure to remove import of this file before production!
//

body {
    &:after { // fixed elem that shows which bp the viewport is at
        content: "smallest only";
        background-color: rgba(0,0,0,.3);
        color: white;
        text-transform: uppercase;
        padding: 17px 25px;
        position: fixed;
        font-size: 15px;
        font-weight: 700;
        bottom: 0;
        right: 0;
        z-index: 999;

        @include respond-to("small and above") {
            content: "small and above";
        }

        @include respond-to("medium only") {
            content: "medium and above";
        }

        @include respond-to("large and above") {
            content: "large and above";
        }

        @include respond-to("xlarge only") {
            content: "xlarge only";
        }
    }
}
