// ==========================================================================
// C-HEADING
// ==========================================================================
//
// Heading component that styles the title element.
//

.m-heading {
    position: relative;
}

.m-heading--large {
    .m-heading__title {
        @include media(">large"){
            font-size: 59px;
        }
    }
}


.m-heading__title,
.m-heading__item {
    margin-bottom: 0;
}

.m-heading__title {
    @include remCalc(margin-bottom, $base-spacing-unit / 4);
}


