// ==========================================================================
// LONGFORM
// ==========================================================================
//
// Custom styles for blog post formats
//

.m-longform {
    text-rendering: optimizeLegibility;

    h2 {
        @include remCalc(margin-top, ($base-spacing-unit * 2));
    }

    h3, h4, h5, h6 {
        @include remCalc(margin-top, ($base-spacing-unit * 1.5));
        @include remCalc(margin-bottom, ($base-spacing-unit * .5));
    }

    p {
        @include typeface("Regular");
        @include remCalc(font-size, 18);
        -webkit-hyphens:auto;
        -webkit-hyphenate-limit-after:2;
        -webkit-hyphenate-limit-before:3;
        hyphens: auto;
        line-height: 1.45;

        @include media(">medium") {
            @include remCalc(font-size, 19);
            line-height: 1.5;
        }

        @include media(">large"){
            @include remCalc(font-size, 20);
            line-height: 1.55;
        }

        & > img {
            @include remCalc(margin-top, $base-spacing-unit * 2);
            @include remCalc(margin-bottom, $base-spacing-unit * 2);
        }
    }

    figure > blockquote {
        margin-bottom: 0;
    }

    p + blockquote,
    ul + blockquote,
    ol + blockquote {
        margin-top: -10px; // counter default margins of paragraphs
    }

    blockquote {
        @include remCalc(margin, $base-spacing-unit * 1.5, 0);
        position: relative;

        p {
            @include typeface("Regular italic");
            @include remCalc(padding-bottom, $base-spacing-unit);
            margin-bottom: 0;
            padding-left: 10px;
            border-left: none;

            @include media(">medium"){
                padding-left: 0;
            }

            &:last-of-type, &:only-child {
                padding-bottom: 0;
            }
        }

        p + p {
            padding-top: 5px;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .cite {
        display: block;
        position: relative;
        padding-top: 4px;
        padding-left: 15px;
        border-left: 2px solid #eee;

        >p {
            @include remCalc(font-size, 17);
            margin-bottom: 0;
            text-align: left;
            width: 100%;
        }
    }

    a {
        @include links();
    }
}
