// ==========================================================================
// WRAPPER
// ==========================================================================
//
// adds max-width
//

$_max-width: 720;
$_max-width-wide: 1000;

.m-wrapper {
    display: block;
    margin: 0 auto;
    @include remCalc(padding, 0, 15);
    @include remCalc(max-width, $_max-width);

    @include media(">medium"){
        padding: 0 6%;
    }

    @include media(">large"){
        @include remCalc(padding, 0);
    }
}

.m-wrapper--wide {
    @include remCalc(max-width, $_max-width-wide);
}


// This module resets all of the padding of each element so that certain elements can be
// toggled into fullwidth much easier.
.m-wrapper--unpadded {
    max-width: none;
    padding: 0;

    & > p,
        ul,
        ol,
        figure,
        blockquote,
        pre,
        h1, h2, h3, h4, h5, h6 {
        margin-left: auto;
        margin-right: auto;
        @include remCalc(max-width, $_max-width);
        @include remCalc(padding, 0, 15);

        @include media(">medium"){
            padding: 0 6%;
        }

        @include media(">large"){
            @include remCalc(padding, 0);
        }
    }

    & > div { // this is a hack for Codepen
        padding: 0;
        max-width: none;
    }
}






