// ==========================================================================
// WRAPPER
// ==========================================================================
//
// adds max-width
//

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 600px;

    @include media(">medium"){
        max-width: 700px;
    }
}






