@font-face {
  font-family: "Columba";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/columba/columba-text-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Columba";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/columba/columba-text-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Display";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/caponi-display.woff2") format("woff2");
}
