/*------------------------------------*\
    $BLOCKQUOTES
\*------------------------------------*/

blockquote {
    @include rem(margin-bottom, $base-spacing-unit);
    font-style: italic;
    line-height: $line-height-ratio - .2;
    @include text--micro;

    >p {
        @include rem(padding-left, $half-spacing-unit);
        @include rem(padding-bottom, $half-spacing-unit);
        margin-bottom:0;
        width:100%;
        color: $color__grey--mid;
        border-left:2px solid #eee;

        &:only-child {
            padding-bottom:0;
        }
    }

    em {
        font-style:normal;
        @extend %font__text--sub;
    }

    >p:last-child {
        margin-bottom:0;
        padding-bottom:0;
    }

    & + img {
        @include rem(margin-top, $base-spacing-unit);
    }
}