/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 *
 */

 pre{
    overflow:auto;
}
    pre mark{
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }

code {
    color: $color__meta;
    font-family: $code;

    &.class {
        color:#47CA26;
    }
}