/*------------------------------------*\
    $FIGURES
\*------------------------------------*/

figure {
    img + img {
        margin-top:1em;
    }

    img + blockquote {
        @include rem(margin-top, $base-spacing-unit);
    }

    &.centre {
        clear:both;
    }
}

figcaption {
    @include rem(margin-top, 10);
    margin-bottom: 0;

    h4 {
        margin: 0;
        color: $color__offblack;
    }

    p {
        @include text--small;
        font-style: italic;
        color: $color__grey--mid;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
}

// Wide styles that add extra padding
.figure--wide {
    @include rem(padding-top, $base-spacing-unit);
    position: relative;
}

    .figure--wide__img {
        @include rem(padding, 0, $half-spacing-unit);
        @include rem(margin-bottom, $base-spacing-unit);
    }

    .figure--wide__caption {
        margin-top: 0;

        @include respond-to("medium and above"){
            position: absolute;
            bottom: 0;
        }

        p {
            padding-left: 0;
        }
    }

    .figure--wide__caption--light {

        background-color: rgba(0,0,0,.3);
        @include rem(padding, $half-spacing-unit);

        p {
            color: $color__border--light;
        }
    }

// Color background modifiers
.figure--bg-blue {
    background-color: $color__blue--light;
}

.figure--bg-black {
    background-color: $color__metal-grey;
}