// ==========================================================================
// FIGURES
// ========================================================================== 


figure {
    margin-bottom: rem-calc($base-spacing-unit);
    width: 100%;
    
    img + img {
        margin-top:1em;
    }

    img + blockquote {
        margin-top: rem-calc($base-spacing-unit);
    }

    &.centre {
        clear:both;
    }
}

figcaption {
    margin-top: rem-calc(10);
    margin-bottom: 0;

    h4 {
        margin: 0;
        color: $color__offblack;
        border-bottom: none;
        padding-bottom: 0;
    }

    p {
        @include text--small;
        font-style: italic;
        color: $color__grey--mid;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;

        @include respond-to("medium and above"){
            line-height: 1.4;
        }
    }
}

// Wide styles that add extra padding
.figure--wide {
    @extend .cf;
    margin: rem-calc($base-spacing-unit);
    margin-left: 0;
    margin-right: 0;
    padding-top: rem-calc($base-spacing-unit);
    position: relative;

    @include respond-to("medium and above"){
        margin: rem-calc($base-spacing-unit * 2);
        margin-right: 0;
        margin-left: 0;
    }
}


.figure--wide--standard {
    margin: 0;
    margin-bottom: rem-calc($base-spacing-unit);
}

    .figure--wide__img {
        padding: 0;
        padding-left: rem-calc($half-spacing-unit);
        padding-right: rem-calc($half-spacing-unit);
        margin-bottom: rem-calc($base-spacing-unit);

        .island--hero & {
            max-width: rem-calc(850);
            width: 100%;
        }
    }

    .figure--thin__img {
        @include respond-to("large and above"){
            float: left;
            margin-left: 6%;
            padding-right: 0;
            width: 45%;
        }
    }

    .figure--wide--footer {
        margin-bottom: 0;
    }


    .figure--wide__caption {
        margin-top: 0;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: rem-calc($quarter-spacing-unit);
        padding-bottom: rem-calc($quarter-spacing-unit);
        float: left;
        max-width: rem-calc(500);

        @include respond-to("medium and above"){
            position: relative;
            padding-left: 6%;
            padding-right: rem-calc($half-spacing-unit);
            margin-top: rem-calc(- $quarter-spacing-unit);
            margin-bottom: rem-calc($base-spacing-unit);
        }

        p {
            padding-left: 0;
            font-style: normal;
            font-size: rem-calc(16);
            line-height: 1.55;
        }

        h4 {
            text-transform: none;
            font-size: rem-calc(17);
            color: $color__darkgrey;
        }
    }


    .figure--wide__caption--light {
        background-color: $color__offblack;
        background-color: rgba(221,221,221,.15);

        h4 {
            color: $color__white;
        }

        p {
            color: $color__secondary;
        }

        .custom-post--lexicon & a {
            color: $color__secondary;
            border-color: $color__secondary;
            display: inline-block;
            line-height: .9;

            &:hover,
            &:focus {
                color: $color__white;
            }
        }
    }

    .figure--wide__caption--dark {
        background-color: $color__offblack;
        background-color: rgba(0,0,0,.06);

        p {
            color: lighten($color__offblack, 10);
        }
    }

    .figure--index {
        padding-top: rem-calc($base-spacing-unit);
        margin-bottom: rem-calc($base-spacing-unit * 1.5);

        @include respond-to("medium and above"){
            padding-top: rem-calc($base-spacing-unit * 1.5);
            padding-bottom: rem-calc($base-spacing-unit * 1);
            margin-bottom: rem-calc($base-spacing-unit * 2);
        }
    }


    .figure--thin__caption {
        @include respond-to("large and above"){
            float: right;
            padding-left: rem-calc($half-spacing-unit);
            padding-right: 6%;
            width: 45%;
            max-width: rem-calc(700);
        }
    }


// BROWSER FIGURE
// ==========================================================================
// 
// This element wraps images, video etc in a fake browser window.
// 

.figure-browser {
    background-color: $color__secondary;
    padding: rem-calc(10);
    padding-top: rem-calc(40);
    border-radius: rem-calc(5);
    display: block;
    position: relative;

    // the close icons in the top left
    &:before {
        content: "• • •";
        position: absolute;
        top: rem-calc(5);
        left: rem-calc(10);
        font-size: rem-calc(30);
        width: rem-calc(100);
        line-height: 1;
        color: darken($color__secondary, 10);
    }

    // the browser nav in the top center
    &:after {
        content: "";
        position: absolute;
        top: rem-calc(13);
        left: rem-calc(80);
        right: rem-calc(10);
        height: rem-calc(15);
        border-radius: rem-calc(3);
        background-color: darken($color__secondary, 5);
    }
    
    // hide controls for every video in the browser
    video::-webkit-media-controls {
        display:none !important;
    }
}

.figure--bordered {
    border: 1px solid #eeeeee;
}

.figure--standard {
    margin-bottom: rem-calc(80);
}

.explainer {
    p {
        font-size: rem-calc(17);
        font-style: normal;
        max-width: rem-calc(450);
    }

    .h4 {
        margin-top: 0;
    }
}



// Color background modifiers
.figure--bg-blue {
    background-color: $color__blue--light;
}

.figure--bg-black {
    background-color: $color__metal-grey;
}

.figure--bg-dark {
    background-color: $color__black;
}

.figure--bg-grey {
    background-color: $color__grey--x-dark;
}

.figure--bg-light {
    background-color: $color__border--dark;
}

.figure--bg-image {
    .figure--wide__img {
        margin-bottom: 0;
        width: 100%;
        padding: 0;
    }

    .figure--wide__caption--light {
        @include respond-to("medium and above"){
            margin-top: rem-calc(-100);
            margin-bottom: 0;
        }
    }
}
