// ==========================================================================
// HEADINGS
// ========================================================================== 
//
// When we define a heading we also define a corresponding class to go with it.
// This allows us to apply, say, `class=h1` to a `h3`; a double-stranded
// heading hierarchy.
// 
// ! This module needs to be refactored immediately. 
//


@mixin headline-one {
    @extend %font__headline;
    font-size: rem-calc($h1-size);
    color: $color__lightblack;
    line-height: 1.15;

    @include respond-to("medium and above") {
        font-size: rem-calc(($h1-size + 10));
    }
}

@mixin headline-two {
    @extend %font__text--display;
    font-size: rem-calc($h2-size);
    margin-top: rem-calc($base-spacing-unit * 1.5);
    margin-bottom: rem-calc($base-spacing-unit);
    line-height:1.2;
    color: $color__lightblack;

    @include respond-to("medium and above") {
        line-height:1.25;
        font-size: rem-calc(30);
    }
}

@mixin headline-three {
    @extend %font__text;
    font-size: rem-calc(18);
    margin-top: rem-calc($base-spacing-unit * 1.5);
    margin-bottom: rem-calc($half-spacing-unit);
    font-weight: $font-weight--bold;
    color: $color__lightblack;
    line-height: rem-calc(28);

    @include respond-to("medium and above"){
        font-size: rem-calc(20);
        line-height: rem-calc(32);
    }
}

@mixin headline-four {
    @extend %font__text--display;
    font-size: rem-calc($epsilon-size);
    line-height: rem-calc(28);
    margin-bottom: 0;
    text-transform: uppercase;
    color: $color__meta;
    letter-spacing: .035em;
    word-spacing: .04em;
}

@mixin headline-five {
    @extend %font__text--sub;
    font-style: italic;
    font-size: rem-calc($delta-size + 3);
    line-height: rem-calc(28);
    margin-top: rem-calc( $half-spacing-unit);
    margin-bottom: rem-calc( $half-spacing-unit);
    color:$color__lightblack;

    @include respond-to("medium and above"){
        font-size: rem-calc($delta-size + 4);
    }
}

@mixin text {
    @extend %font__text;
    font-size: rem-calc($base-font-size);
    line-height: rem-calc($base-line-height);
}

@mixin text--micro {
    @extend %font__text--sub;
    font-size:rem-calc(19);
    line-height: 1.5;

    @include respond-to("medium and above"){
        font-size:rem-calc(20);
        line-height: 1.6;
    }

    @include respond-to("large and above"){
        font-size:rem-calc(21);
    }
}

@mixin text--small {
    @extend %font__text--sub;
    font-size:rem-calc($delta-size);
    line-height:rem-calc(27);

    @include respond-to("medium and above"){
        font-size:rem-calc(18);
        line-height: rem-calc(31);
    }

    @include respond-to("large and above"){
        font-size: rem-calc(19);
    }
}


// @start HEADLINES -------------------- //
h1,
h2,
h3,
h4,
h5,
h6 {
    width:100%;
}

h1, .h1 {
    @include headline-one;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: 'liga=1';
    -webkit-font-feature-settings: "liga" on;
}

h2, .h2 {
    @include headline-two;
}

h3, .h3 {
    @include headline-three;

    .hgroup h2~& {
        color: $color__grey--x-dark;
    }
}

h4, .h4 {
    @include headline-four;


    /**
     * Gives styles to headings for standard markdown body block contnet
     */
    .is--editor__content > & {
        border-bottom: 1px solid $color__border--dark;
        padding-bottom:rem-calc(5);
        margin-bottom: rem-calc(7);
    }

    .reversed.is--editor__content > & { 
        border-bottom: 1px solid rgba(255,255,255,.15);
    }
}

h5, .h5 {
    @include headline-five;
}


/**
 * This is horrible beyond redemption but its necessary until I make the cell module.
 */
.clear {
    margin: 0;
}

/**
 * Headings can be combined together with this class
 */
.hgroup {
    margin:2.5em auto 1.55em auto;

    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
        max-width:none;
    }

    header & {
        margin:0 auto;
        max-width:none;
        width:100%;
    }
}

.heading--reversed {
    color: $color__white !important;
}