/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h1` to a `h3`; a double-stranded
 * heading hierarchy.
 */

@mixin headline-one {
    @extend %font__headline;
    @include rem(font-size, $h1-size);
    color:$color__lightblack;
    line-height:1.2;

    @include breakpoint($breakpoint__medium) {
        @include rem(font-size, ($h1-size + 10));
    }
}

@mixin headline-two {
    @extend %font__headline;
    @include rem(font-size, $h2-size);
    @include rem(margin-top, $base-spacing-unit * 1.5);
    @include rem(margin-bottom, $base-spacing-unit);
    font-weight: $font-weight--bold;
    font-style: normal;
    line-height:1.2;
    color: $color__lightblack;
    max-width:20.7em;

    @include breakpoint($breakpoint__medium) {
        font-size:1.6em;
    }
}

@mixin headline-three {
    @extend %font__text;
    @include rem(font-size, $h3-size);
    @include rem(margin-top, $base-spacing-unit);
    @include rem(margin-bottom, $quarter-spacing-unit);
    @include rem(padding-bottom, $quarter-spacing-unit);
    border-bottom: 1px solid $color__border--dark;
    font-weight: $font-weight--bold;
    color: $color__lightblack;
    line-height: $line-height-ratio - .2;

    @include breakpoint($breakpoint__medium){
        @include rem(font-size, $base-font-size + 1);
    }
}

@mixin headline-four {
    @extend %font__headline;
    @include rem(font-size, $gamma-size);
    @include rem(line-height, 28);
    margin-bottom: 0;
    text-transform: uppercase;
    color: $color__lightgrey;
    letter-spacing: .015em;
}

@mixin headline-five {
    @extend %font__text;
    @include rem(font-size, $h4-size);
    font-style:normal;
    line-height:1.4;
    margin:1.55em auto 1.2em auto;
    color:$color__lightblack;
    text-transform:uppercase;
}

@mixin text {
    @extend %font__text;
    @include rem(font-size, $base-font-size);
    font-size:$base-font-size;
    line-height:$base-line-height;
}


// @start HEADLINES -------------------- //
h1,
h2,
h3,
h4,
h5,
h6 {
    width:100%;
}

h1, .h1 {
    @include headline-one;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: 'liga=1';
    -webkit-font-feature-settings: "liga" on;
    text-align: center;
}

h2, .h2 {
    @include headline-two;
}

h3, .h3 {
    @include headline-three;

    hgroup h2~& {
        color:$color__meta;
    }
}

h4, .h4 {
    @include headline-four;
}

h5, .h5 {
    @include headline-five;
}



/**
 * Headings can be combined together with this class
 */
.hgroup {
    margin:2.5em auto 1.55em auto;

    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
        max-width:none;
    }

    header & {
        margin:0 auto;
        max-width:none;
        width:100%;
    }
}