/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h1` to a `h3`; a double-stranded
 * heading hierarchy.
 */

@mixin headline-one {
    @extend %font__headline;
    @include rem(font-size, $h1-size);
    color:$color__lightblack;
    line-height:1.15;

    @include breakpoint($breakpoint__medium) {
        @include rem(font-size, ($h1-size + 10));
    }
}

@mixin headline-two {
    @extend %font__text--display;
    @include rem(font-size, $h2-size);
    @include rem(margin-top, $base-spacing-unit * 1.5);
    @include rem(margin-bottom, $base-spacing-unit);
    line-height:1.2;
    color: $color__lightblack;
    max-width:20.7em;

    @include respond-to("medium and above") {
        line-height:1.25;
        @include rem(font-size, 30);
    }
}

@mixin headline-three {
    @extend %font__text;
    @include rem(font-size, 18);
    @include rem(margin-top, $base-spacing-unit * 1.5);
    @include rem(margin-bottom, $half-spacing-unit);
    font-weight: $font-weight--bold;
    color: $color__lightblack;
    @include rem(line-height, 28);

    @include respond-to("medium and above"){
        @include rem(font-size, 20);
        @include rem(line-height, 32);
    }
}

@mixin headline-four {
    @extend %font__text--display;
    @include rem(font-size, $epsilon-size);
    @include rem(line-height, 28);
    margin-bottom: 0;
    text-transform: uppercase;
    color: $color__meta;
    letter-spacing: .035em;
    word-spacing: .04em;

}

@mixin headline-five {
    @extend %font__text--sub;
    @include rem(font-size, $delta-size + 3);
    font-style: italic;
    @include rem(line-height, 28);
    @include rem(margin-top, $half-spacing-unit);
    @include rem(margin-bottom, $half-spacing-unit);
    color:$color__lightblack;

    @include respond-to("medium and above"){
        @include rem(font-size, $delta-size + 4);
    }
}

@mixin text {
    @extend %font__text;
    @include rem(font-size, $base-font-size);
    line-height: $base-line-height;
}

@mixin text--micro {
    @extend %font__text--sub;
    @include rem(font-size, 19);

    @include respond-to("medium and above"){
        @include rem(font-size, 20);
    }

    @include respond-to("large and above"){
        @include rem(font-size, 21);
    }
}

@mixin text--small {
    @extend %font__text--sub;
    @include rem(font-size, $delta-size);
    @include rem(line-height, 27);

    @include respond-to("medium and above"){
        @include rem(font-size, 18);
        @include rem(line-height, 31);
    }

    @include respond-to("large and above"){
        @include rem(font-size, 19);
    }
}


// @start HEADLINES -------------------- //
h1,
h2,
h3,
h4,
h5,
h6 {
    width:100%;
}

h1, .h1 {
    @include headline-one;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: 'liga=1';
    -webkit-font-feature-settings: "liga" on;
}

h2, .h2 {
    @include headline-two;
}

h3, .h3 {
    @include headline-three;

    .hgroup h2~& {
        color: $color__grey--x-dark;
    }
}

h4, .h4 {
    @include headline-four;
}

h5, .h5 {
    @include headline-five;
}


/**
 * This is horrible beyond redemption but its necessary until I make the cell module.
 */
.clear {
    margin: 0;
}

/**
 * Headings can be combined together with this class
 */
.hgroup {
    margin:2.5em auto 1.55em auto;

    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
        max-width:none;
    }

    header & {
        margin:0 auto;
        max-width:none;
        width:100%;
    }
}