// ==========================================================================
// HIERARCHY
// ==========================================================================
// Default typesetting, font-height and font-weight settings.

@mixin typeface($font) {
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    $fallback: "Georgia, serif";

    @if $font == "Display" {
        font-family: "Nocturno Display Medium 3", $fallback;
    }

    @if $font == "Book" {
        font-family: "Nocturno Book 2", $fallback;
    }

    @if $font == "Regular italic" {
        font-family: "Nocturno Regular Italic 24", $fallback;
    }

    @if $font == "Small caps" {
        font-family: "Nocturno Regular 26", $fallback;
        text-transform: lowercase;
    }

    @if $font == "Regular" {
        font-family: "Nocturno Regular 25", $fallback;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;

    .is-darkMode & {
        color: #ddd;
    }
}


h1,
.h1 {
    @include typeface("Display");
    @include remCalc(font-size, 30);
    line-height: 1.15;
}

h2,
.h2 {
    @include typeface("Display");
    @include remCalc(font-size, 25);
    line-height: 1.3;
}

h3,
.h3 {
    @include typeface("Book");
    @include remCalc(font-size, 22);
    line-height: 1.25;
}

h4,
.h4 {
    @include typeface("Regular italic");
    @include remCalc(font-size, 19);
    line-height: 1.3;
}

h5,
.h5 {
    @include typeface("Small caps");
    @include remCalc(font-size, 18);
    line-height: 1.3;
}

