// ==========================================================================
// IMAGES
// ========================================================================== 

img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


/**
 * For making wide images in markdown
 */

p > strong img {
    @include respond-to("largest only"){
        margin-left: -15%;
        width: 130%;
        max-width: 130%;
    }
}

p > img {
    margin-bottom: rem-calc($base-spacing-unit);
}

/**
 * Images in `figure` elements.
 */
figure > img{
    display:block;
}
