/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
    @include transition(all .3s ease-in-out);
    color: $color__red--primary;
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px dotted darken($color__red--primary, 10);

    &:hover,
    &:focus {
        color: darken($color__red--primary, 10);
        text-decoration: none;
        line-height:1;
        border-bottom: 1px solid darken($color__red--primary, 10);
    }

    h1 & {
        color:$color__offblack;
    }
}