// ==========================================================================
// LINKS
// ========================================================================== 




a {
    @include transition(all .2s ease-in-out);
    color: darken($color__green, 3);
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px dotted lighten($color__green, 15);

    &:hover,
    &:focus {
        color: darken($color__green, 12);
        text-decoration: none;
        line-height:1;
        border-bottom: 1px solid lighten($color__green, 10);
    }

    h1 & {
        color:$color__offblack;
    }
}


.links--reversed,
.reversed a {
    color: #ffffff;
    border-bottom: none;

    &:hover,
    &:focus {
        color: darken($color__white, 40);
        border-bottom: none;
    }
}