/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

ul {
    margin-left:0;

    li {
        @include rem(margin-bottom, $half-spacing-unit);
        list-style:none;
        position:relative;

        &:before {
            @include rem(left, - ($half-spacing-unit));
            content:"•";
            color: #C96F6F;
            padding:0;
            margin:0;
            position:absolute;
        }
    }

    ul,ol {
        margin-bottom:0;
    }
}

ol {
    margin-left: 0;
    list-style: none;
    counter-reset: list-counter;

    li {
        @include rem(margin-bottom, $half-spacing-unit);
        position: relative;
        list-style: none;

        &:before {
            @include rem(left, - ($half-spacing-unit * 1));
            top: 0;
            content: counter(list-counter);
            counter-increment: list-counter;
            position: absolute;
            color: $color__red--primary;

            @include breakpoint($medium){
                @include rem(left, - ($half-spacing-unit * 1.5));
            }
        }
    }

    ol,ul {
        margin-bottom:0;

        li {
            list-style:lower-roman;
        }
    }
}