/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li {
    @include rem(margin-bottom, $quarter-spacing-unit);

    > ul,
    > ol{
         margin-bottom:0;
    }

    > p {
        @include rem(margin-bottom, $half-spacing-unit);
        @include rem(font-size, $base-font-size);

        @include breakpoint(580px) {
            font-size: 105%;
            line-height: $line-height-ratio - .1;
        }
    }
}

p + ul,
p + ol,
ol + p,
ul + p {
    @include rem(margin-top, - $half-spacing-unit);
}

ul {
    >li {
        list-style:none;
        position:relative;

        &:before {
            @include rem(left, - 15);
            @include rem(height, 6);
            @include rem(width, 6);
            @include rem(top, 11);
            border-radius: 50%;
            content:"";
            background-color: $color__red--primary;
            padding: 0;
            margin: 0;
            position: absolute;

            @include respond-to("medium and above"){
                @include rem(top, 14);
            }
        }
    }

    ul,ol {
        @include rem(margin-top, 0);
        @include rem(margin-bottom, 0);
        @include rem(margin-left, $base-spacing-unit);

        >li {
            &:before {
                background-color: $color__secondary;
            }
        }
    }
}

ol {
    >li {
        position: relative;
    }

    ol,ul {
        @include rem(margin-top, $quarter-spacing-unit);
        @include rem(margin-bottom, $quarter-spacing-unit);
        @include rem(margin-left, $base-spacing-unit);
    }
}

.list--outside {
    @include rem(margin-left, 0);
}

.list--display {
    @extend %font__text--sub;
    text-transform: uppercase;
    @include column-count(2);

    @include respond-to("medium and above"){
        @include rem(margin, $base-spacing-unit * 2, 0);
        @include column-count(3);
    }

    > li {
        color: $color__meta;

        &:before {
            display: none;
        }
    }
}