/*------------------------------------*\
    $MAIN
\*------------------------------------*/
* { @include box-sizing('border-box'); }

html{
    overflow-y:scroll;
    min-height:100%;
    -webkit-font-smoothing: antialiased;
}

body {
    @extend %font__text;
    background-color: $offwhite;
    line-height: $line-height-ratio;
    text-rendering: optimizeLegibility;
    color: $color__offblack;
    border-top:4px solid $color__red--primary;
    border-bottom:4px solid $color__red--primary;
    float:left;
    width:100%;


    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
        font-size:100%;
        line-height: $line-height-ratio;
    }

    @include breakpoint(36.352941176em) {
        font-size: 105%;
        line-height: $line-height-ratio - .2;
    }

    @include breakpoint($breakpoint__grande) {
        font-size: 110%;
    }
}