// ==========================================================================
// MAIN
// ========================================================================== 
// 
// This module styles the body and html elements
// 



* { 
    @include box-sizing('border-box'); 
}

html{
    overflow-y:scroll;
    min-height:100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @extend %font__text;
    background-color: $offwhite;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: $color__offblack;
    width:100%;
    font-size: 100%;

    // Sticky footer with flexbox hack.
    display: flex;
    min-height: 100vh;
    flex-direction: column;


    @include breakpoint(450px){
        line-height: $line-height-ratio;
    }


    @include respond-to("medium and above"){
        font-size: 105%;
        line-height: $line-height-ratio - .1;

        &:after {
            display: none;
            content: "breakpoint--medium";
        }
    }
    
    @include respond-to("large and above"){
        font-size: 110%;
    }

    @include respond-to("largest only") {
        border-left: 10px solid #ddd;
        border-right: 10px solid #ddd;
        font-size: 116%;
        line-height: 1.65;
    }
}


    .main {
        flex: 1;
    }
