<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <title>Systems, Mistakes, and the Sea › Robin Rendle</title>
  <meta name="author" content="Robin Rendle">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="https://plus.google.com/104389809267012182640">

  <!-- Styles -->
  <style lang="scss" is:inline>
    *,
    *:after,
    *:before {
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    button,
    html {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    body {
      font-size: 100%;
    }

    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    input,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
      margin: 0;
      padding: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
      display: block;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    caption,
    td,
    th {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
    }

    b,
    mark,
    strong {
      font-weight: bold;
      font-style: inherit;
    }

    address,
    dfn,
    em,
    i,
    q,
    var {
      font-style: normal;
      font-weight: inherit;
    }

    a,
    ins,
    u {
      text-decoration: none;
    }

    code,
    kbd,
    pre,
    samp {
      font-family: monospace;
    }

    iframe {
      width: 100%;
    }

    a {
      outline: none;
    }

    img {
      max-width: 100%;
      height: auto;
      border: none;
    }

    input,
    select,
    textarea {
      font: inherit;
    }

    button {
      cursor: pointer;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section,
    summary,
    video {
      display: block;
    }

    audio,
    canvas {
      display: inline-block;
    }

    audio:not([controls]) {
      display: none;
      height: 0;
    }

    [hidden] {
      display: none;
    }

    html {
      font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    body {
      margin: 0;
    }

    a:focus {
      outline: thin dotted;
    }

    a:active,
    a:hover {
      outline: 0;
    }

    abbr[title] {
      border-bottom: 1px dotted;
    }

    dfn {
      font-style: italic;
    }

    hr {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
    }

    mark {
      background: #ff0;
      color: #000;
    }

    code,
    kbd,
    pre,
    samp {
      font-family: monospace, serif;
      font-size: 1em;
    }

    pre {
      white-space: pre-wrap;
    }

    q {
      quotes: "\201C""\201D""\2018""\2019";
    }

    small {
      font-size: 80%;
    }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    sup {
      top: -0.5em;
    }

    sub {
      bottom: -0.25em;
    }

    img {
      border: 0;
    }

    svg:not(:root) {
      overflow: hidden;
    }

    figure {
      margin: 0;
    }

    fieldset {
      border: 1px solid #c0c0c0;
      margin: 0 2px;
      padding: 0.35em 0.625em 0.75em;
    }

    legend {
      border: 0;
      padding: 0;
    }

    button,
    input,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      margin: 0;
    }

    button,
    input {
      line-height: normal;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
    }

    button[disabled],
    html input[disabled] {
      cursor: default;
    }

    input[type="checkbox"],
    input[type="radio"] {
      box-sizing: border-box;
      padding: 0;
    }

    input[type="search"] {
      -webkit-appearance: textfield;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    textarea {
      overflow: auto;
      vertical-align: top;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    .cf:after {
      content: "";
      display: table;
      clear: both;
    }

    .u-text--bold {
      font-weight: bold;
    }

    .u-text--italic {
      font-style: italic;
      font-weight: 400;
      font-family: "Columba", Georgia, serif;
    }

    .u-text--small-caps {
      font-weight: normal;
      font-variant: small-caps;
      text-transform: lowercase;
      font-family: "Columba", Georgia, serif;
    }

    .u-text--regular {
      font-weight: 400;
      font-family: "Columba", Georgia, serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hgroup,
    ul,
    ol,
    dl,
    blockquote,
    p,
    address,
    table,
    video,
    fieldset,
    figure,
    pre,
    hr,
    ul,
    ol,
    .media,
    .island,
    .islet {
      margin-bottom: 25.2px;
      margin-bottom: 1.575rem;
    }

    @media (min-width: 621px) {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      hgroup,
      ul,
      ol,
      dl,
      blockquote,
      p,
      address,
      table,
      video,
      fieldset,
      figure,
      pre,
      hr,
      ul,
      ol,
      .media,
      .island,
      .islet {
        margin-bottom: 28.8px;
        margin-bottom: 1.8rem;
      }
    }

    dd {
      margin-bottom: 9px;
      margin-bottom: 0.5625rem;
    }

    iframe,
    .widescreen {
      margin: 18px 0px 36px 0px;
      margin: 1.125rem 0rem 2.25rem 0rem;
    }

    a {
      border: none;
    }

    .links:is(a),
    .links a {
      color: var(--link-color);
      overflow: hidden;
      position: relative;
      z-index: 1;
      transition: color 0.3s ease;
      text-decoration-skip: ink;
    }

    .links:is(a):hover,
    .links:is(a):focus,
    .links a:hover,
    .links a:focus {
      text-decoration: none;
      color: var(--link-hover-color);
      border: none;
    }

    .links:is(a):hover:before,
    .links:is(a):hover:after,
    .links:is(a):focus:before,
    .links:is(a):focus:after,
    .links a:hover:before,
    .links a:hover:after,
    .links a:focus:before,
    .links a:focus:after {
      color: currentColor;
    }

    .links.card-list__text a {
      color: var(--secondary-text-color);
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    .links.card-list__text a:hover {
      text-decoration: underline;
      color: var(--link-hover-color);
    }

    .links--underline:is(a),
    .links--underline a {
      color: var(--link-color);
      overflow: hidden;
      position: relative;
      z-index: 1;
      transition: color 0.3s ease;
      text-decoration-skip: ink;
    }

    .links--underline:is(a):hover,
    .links--underline:is(a):focus,
    .links--underline a:hover,
    .links--underline a:focus {
      text-decoration: none;
      color: var(--link-hover-color);
      border: none;
    }

    .links--underline:is(a):hover:before,
    .links--underline:is(a):hover:after,
    .links--underline:is(a):focus:before,
    .links--underline:is(a):focus:after,
    .links--underline a:hover:before,
    .links--underline a:hover:after,
    .links--underline a:focus:before,
    .links--underline a:focus:after {
      color: currentColor;
    }

    .links--dark:link:link,
    .links--dark:link a,
    .links--dark a:link,
    .links--dark a a {
      color: #777;
    }

    .h1,
    .m-longform .h1,
    h1,
    .m-longform h1 {
      font-size: 28px;
      font-size: 1.75rem;
      color: var(--heading-color);
      line-height: 1;
      margin-bottom: 20px;
    }

    @media (min-width: 621px) {

      .h1,
      .m-longform .h1,
      h1,
      .m-longform h1 {
        font-size: 30px;
        font-size: 1.875rem;
      }
    }

    @media (min-width: 921px) {

      .h1,
      .m-longform .h1,
      h1,
      .m-longform h1 {
        font-size: 33px;
        font-size: 2.0625rem;
      }
    }

    .meta {
      margin-top: 40px;

      @media screen and (min-width: 921px) {
        margin-top: 0;
      }
    }

    .meta-info+.h1,
    .meta-info+.m-longform .h1,
    .meta-info+h1,
    .meta-info+.m-longform h1 {
      color: var(--heading-color);
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 600;
      font-family: "Display", Georgia, serif;
    }

    .m-longform .h2,
    .m-longform h2 {
      font-size: 28px;
      font-size: 1.75rem;
      line-height: 1.3;
      margin-top: 0;
    }

    .h3,
    .m-longform .h3,
    h3,
    .m-longform h3 {
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 1.45;
    }

    @media (min-width: 621px) {

      .h3,
      .m-longform .h3,
      h3,
      .m-longform h3 {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 1.55;
      }
    }

    @media (min-width: 921px) {

      .h3,
      .m-longform .h3,
      h3,
      .m-longform h3 {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 1.2;
      }
    }

    .h4,
    h4 {
      margin-bottom: 20px;
    }

    .h4,
    .m-longform .h4,
    h4,
    .m-longform h4 {
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 1.3;
    }

    @media (min-width: 621px) {

      .h4,
      .m-longform .h4,
      h4,
      .m-longform h4 {
        font-size: 19px;
        font-size: 1.1875rem;
      }
    }

    .h5,
    .m-longform .h5,
    h5,
    .m-longform h5 {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.3;
    }

    @media (min-width: 621px) {

      .h5,
      .m-longform .h5,
      h5,
      .m-longform h5 {
        font-size: 17px;
        font-size: 1.0625rem;
      }
    }

    .h6,
    .m-longform .h6,
    h6,
    .m-longform h6 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.3;
    }

    @font-face {
      font-family: "Display";
      font-weight: 600;
      font-style: normal;
      font-display: fallback;
      src: url("../../fonts/caponi/caponi-display.woff2") format("woff2"),
        url("../../fonts/caponi/caponi-display.woff") format("woff");
    }

    @font-face {
      font-family: "Newzald";
      font-weight: 400;
      font-style: normal;
      font-display: fallback;
      src: url("../../fonts/newzald/book.woff2") format("woff2"),
        url("../../fonts/newzald/book.woff") format("woff");
    }

    @font-face {
      font-family: "Newzald";
      font-weight: 400;
      font-style: italic;
      font-display: fallback;
      src: url("../../fonts/newzald/book-italic.woff2") format("woff2"),
        url("../../fonts/newzald/book-italic.woff") format("woff");
    }

    * {
      box-sizing: border-box;
    }

    html {
      overflow-y: scroll;
      height: 100%;
      -webkit-text-size-adjust: 100%;
    }

    body {
      font: 400 110%;
      font-weight: 400;
      font-family: "Newzald", Georgia, serif;
      line-height: 1.4;
      background-color: #fff;
      font-feature-settings: "liga" 1 !important;
      min-height: 100vh;
    }

    @media (min-width: 921px) {
      body {
        border-top: none;
      }
    }

    .main {
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
    }

    cite {
      font-style: italic;
      font-weight: 400;
      font-family: "Newzald", Georgia, serif;
      font-style: normal;
    }

    em,
    small,
    dfn,
    i,
    q,
    .italic {
      font-style: italic;
      font-weight: 400;
      font-family: "Newzald", Georgia, serif;
    }

    mark {
      background-color: #ffdc00;
      background-color: rgba(255, 220, 0, 0.3);
      font-weight: normal;
      color: #444;
    }

    .caps,
    abbr {
      font-weight: normal;
      font-variant: small-caps;
      text-transform: lowercase;
      font-family: "Newzald", Georgia, serif;
    }

    abbr,
    abbr[title] {
      border: none;
      text-decoration: none;
    }

    acronym {
      text-transform: normal;
    }

    iframe {
      margin: 0 auto !important;
    }

    img,
    video {
      max-width: 100%;
    }

    main {
      overflow-x: hidden;
    }

    pre {
      overflow: auto;
      background-color: #f1f1f1;
      white-space: pre;
    }

    pre code {
      padding: 20px;
      background-color: transparent;
      display: block;
    }

    @font-face {
      font-family: "Newzald";
      font-weight: 400;
      font-style: normal;
      src: url("https://d33wubrfki0l68.cloudfront.net/fef683a04e22097f53143f7f90ed793274564aa1/87fa5/fonts/newzald/book.woff2") format("woff2"),
        url("https://d33wubrfki0l68.cloudfront.net/7a3b5c9787724443b5cd7f870f3ab5c4f7f40997/c036d/fonts/newzald/book.woff") format("woff");
    }

    body {
      color: #111;
    }

    @media (min-width: 921px) {
      .layout-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 40px;
      }
    }

    @media (min-width: 1101px) {
      .layout-wrapper {
        grid-gap: 50px;
      }
    }

    .wrapper {
      max-width: 40em;
      margin: 0 auto;
      padding: 0 10px;
    }

    @media (min-width: 621px) {
      .wrapper {
        max-width: 43em;
      }
    }

    @media (min-width: 921px) {
      .wrapper {
        grid-column: 6/13;
        padding-right: 40px !important;
        padding-top: 80px !important;
        margin: 0;
      }
    }

    .intro-img {
      margin-bottom: 0 !important;
      overflow: hidden;
      display: block;
      object-fit: contain;
      background-color: #eee;
    }

    @media (min-width: 621px) {
      .intro-img {
        margin-bottom: 60px;
      }
    }

    @media (min-width: 921px) {
      .intro-img {
        margin-bottom: 0;
        grid-column: 1 / 6;
        position: sticky;
        top: 0;
        height: 100vh;
      }
    }

    .intro-img img {
      height: 30vh;
      display: block;
      object-fit: cover;
      width: 100%;
    }

    @media (min-width: 621px) {
      .intro-img img {
        height: 50vh;
      }
    }

    @media (min-width: 921px) {
      .intro-img img {
        height: 100vh;
      }
    }

    h1 {
      color: #000;
      font-family: "Display", serif;
      font-size: 30px;
      margin-bottom: 20px;
    }

    @media (min-width: 921px) {
      h1 {
        font-size: 35px;
      }
    }

    .longform {
      padding-bottom: 100px !important;
    }

    .longform p {
      font-size: 20px;
      line-height: 1.3;
      -webkit-hyphens: auto;
      -webkit-hyphenate-limit-after: 2;
      -webkit-hyphenate-limit-before: 3;
      hyphens: auto;
    }

    @media (min-width: 621px) {
      .longform p {
        font-size: 22px;
      }
    }

    @media (min-width: 921px) {
      .longform p {
        font-size: 20px;
      }
    }

    @media (min-width: 1101px) {
      .longform p {
        font-size: 22px;
      }
    }

    code {
      font-size: 0.8em;
    }

    em {
      font-style: normal !important;
      background-color: #fff2cc;
    }

    .longform blockquote {
      border-left: 2px solid #ddd;
      padding-left: 15px;
      font-size: 1em;
    }

    hr {
      background: url("https://d33wubrfki0l68.cloudfront.net/f62dcd5f8db2a8b5b51f7cc99a63b1e1cdb87687/b1e3a/images/essays/systems/star.svg");
      background-size: contain;
      width: 110px;
      border: none;
      opacity: 0.4;
      height: 35px;
    }

    img {
      margin: 0;
      display: block;
    }

    .last-img {
      margin-top: 100px;
    }

    .meta {
      color: #777;
    }

    ::selection {
      background-color: #fff2cc;
    }
  </style>
  <!-- Feed -->
  <link href="https://robinrendle.com/feed.xml" rel="alternate" type="application/atom+xml">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body>
  <article class="h-entry">
    <div class="layout-wrapper">
      <figure class="intro-img">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/3f0418e9c9f7fc5dcb86332fd261aed5fb2d5032/de152/images/essays/systems/shipwreck.jpg"
          alt="A painting by William Bradford of a shipwreck"
          title="Shipwreck off Nantucket, 1860–61, William Bradford" />
      </figure>
      <div class="wrapper longform">
        <aside class="meta">

          <time datetime="2019-12-31T01:23:00.000Z">31st December 2019</time>
          • San Francisco, California
        </aside>

        <h1>Systems, Mistakes, and the Sea</h1>
        <p><span class="caps">One evening, several years ago,</span> I dreamt that our design system was a boat. But not
          just any old thing, I dreamt of a mighty frigate that could cross the open sea, a vessel stocked to the brim
          with well-documented components full of accessible and responsive chunks of code; interface elements like
          buttons and forms, all of them built for a single purpose. And on that frigate everyone was working as if
          they’re part of a seasoned navy or crew; the Powder Monkeys, Swabbies, Riggers, First Mates and
          Quartermasters, the whole lot of them in perfect sync with one another.</p>
        <p>After this dream I returned to my work with fresh enthusiasm for our design system and over the course of six
          months I moved from the position of a product designer deeply concerned with systems to a systems designer who
          is deeply concerned with design. And I was happy, for a while. But then after several focused weeks looking at
          our front-end and our design, I found our system was not quite the mighty frigate I had dreamt of. In fact, as
          I stumbled through the holds of our ship in the dark surrounded by thousands of lines of baffling <span
            class="caps">CSS</span>, and looking at our lackluster components up close in the dim candlelight, it slowly
          dawned on me what was happening.</p>
        <p>We were sinking.</p>
        <p>Six modal components! Four checkboxes! Nine separate icon styles with three icon fonts! And that’s not to
          mention the countless number of inconsistent cards and boxes with borders. Water was rushing into the hull
          from every angle: <code>h3</code>s were bigger than <code>h2</code>s and <code>h5</code>s were bigger than
          <code>h4</code>s. I discovered elements without focus or hover states and form inputs without labels, as well
          as an illegible and unpredictable foundation of <span class="caps">CSS</span> where thousands of lines were
          being overwritten or not loaded at all. In fact, many styles were loaded in the wrong order and with duplicate
          files galore! That’s not to mention the wildly inconsistent illustration styles and the four separate
          typefaces we were loading in six different weights.
        </p>
        <p>Even though the design of our interface was always praised for its high quality, deep down in the front-end
          all hell was breaking loose.</p>
        <p>The state of things was surely overwhelming but it was also an important lesson; it’s impossible to judge the
          quality of a design system from looking at the <span class="caps">UI</span>. Just as a ship might look like
          the most beautiful vessel in the world (with the most intricate wooden carvings on the hull and the brightest,
          loveliest sails drifting peacefully in the breeze, etc. etc.), deep down in the hold however, the leaks might
          be too much to repair, the whole vessel creaking under the pressure of its own frame.</p>
        <p>In time I found that the curse of design systems work was seeing everything that’s broken, whilst on the
          surface it all looks fine. When you try to repair these problems though that’s when the whole thing collapses
          and the ruse is up. Every test in your app will break, old parts of the codebase will shatter and engineers
          will panic as if somehow the sinking ship was your fault and not the work of the gashes in each flank that
          you’re trying to repair.</p>
        <p>So: how should we talk about these broken, invisible systems? And then how do we go about fixing them?</p>
        <hr>
        <p>In James Bridle’s book <em>The New Dark Age</em> there’s a section all about the philosopher Timothy Morton
          and the sorts of problems that are really hard for us to see. He calls a problem of a certain scale a
          ‘hyperobject’ and describes it as:</p>
        <blockquote>
          <p>…a thing that surrounds us, envelops and entangles us, but that is literally too big to see in its
            entirety. Mostly, we perceive hyper objects through their influence on other things –&nbsp;a melting ice
            sheet, a dying sea, the buffeting of a transatlantic flight. Hyperobjects happen everywhere at once, but we
            can only experience them in the local environment. […] in fact, they stand outside both our perception and
            our measurement. They exist without us. Because they are so close and yet so hard to see, they defy our
            ability to describe them rationally, and to master or overcome them in a traditional sense. Climate change
            is a hyperobject, but so is nuclear radiation, evolution, and the internet.</p>
        </blockquote>
        <p>Reading this I audibly gasped because I suddenly realized that’s why design systems work is so hard to
          describe—it’s a hyperobject! Although complaining about all this and comparing it to the sinking of a ship or
          to the climate crisis sounds ridiculous (having six modals is as unlikely to kill a billion dollar company as
          a single drunk crew member is capable of sinking a frigate, or a lone melting iceberg will cause a flood in
          Miami).</p>
        <p>How is a design system a hyperobject then? Well, when an engineer is confused about which component to
          implement and why there are so many gosh darn <code>propTypes</code> for a component that make no sense at
          all—that’s a sliver of the hyperobject revealing itself to you. When a designer asks which icons are available
          and then spends 30 minutes drawing a custom icon that already exists in the set, that’s another part of the
          hyperobject that you can now briefly see, if only for a moment or two.</p>
        <p>These issues don’t appear to be related whatsoever but it’s all part of the same problem—the same
          hyperobject—one giant and overwhelming problem seen from so many different angles.</p>
        <hr>
        <p>A designer was showing me their work a while back and they had spent a couple of days coming up with
          elaborate and brilliant designs for our forms—but!—we already had an extensive library of form components.
          That was a couple days of work they had spent confused and lost in our system because it wasn’t adequately
          documented and presented to them. And so after sitting with this designer I could see the cultural problems in
          our organization take shape and I could see the hyperobject loom all around us; I could see the
          miscommunication of a billion dollar organization made manifest in the alignment of our forms.</p>
        <p>My point here is that in a design system every paper cut is felt. Every collapse leads to another, every new
          modal or unnecessary checkbox component hinders the collective refactoring that’s required to make a codebase
          consistent and easy to understand. When it comes to hyperobjects and design systems everything matters
          (although, frustratingly, it is impossible to measure success) and the smallest problem is just a signal in
          the dark—a premonition of a monster; organizational dysfunction writ large.</p>
        <p>And this is why the hyperobject, the design system itself, is so damn hard to see. You have to find the
          inconsistencies in the <span class="caps">UI</span>, sure. But you need to be able to see the enormous waste
          of human effort and potential that is spent on repetitive tasks that lead nowhere; you have to be able to spot
          organizational dysfunction from ten thousand miles away—however!—the real madness begins only once you start
          to see the hyperobject and how all these technical and design issues have the same origin. Because now the
          madness can truly begin.</p>
        <p>Out of nowhere you’ll be overwhelmed with an endless torrent of obstacles. How do you deal with bloated <span
            class="caps">CSS</span> when the accessibility of every page is in tatters? How do you fix all the color
          variables when you’re loading three separate icon fonts? How do you tackle the design of the components when
          so many of them are confusingly labeled? And how do you refactor basic typesetting when the cards in the app
          are so inconsistent? Also, how should we handle incoming requests for new components in the future? How do we
          stop the internal bleeding within our system?</p>
        <p>In other words, once we’re able to see the hyperobject—how do we go about killing it?</p>
        <hr>
        <p>These questions don’t have obvious answers and all I found in the Aftermath of the Hyperobject was intense
          anxiety and stress. So much so that I felt our codebase manifest itself in other ways; I stopped sleeping, I
          gained a lot of weight, I would often become extremely angry just thinking about our codebase. I even
          struggled with my self esteem for a while and I would frequently have nightmares about our design system. On
          one particularly awful night I jolted awake in panic at 3am; I imagined that my body was being firmly crushed
          between our inconsistent form inputs and labels. To put this frankly: I was going down with the ship, too.</p>
        <p>And yet every talk I’ve heard or article I’ve read on the subject of design systems doesn’t start like this.
          Everyone on stage is extraordinarily calm and confident, every blog post measured and straight forward. In a
          design systems talk it’s very likely that the person is standing in front of you, outlining how great their
          design system is, and how they solved all these impossibly difficult problems with sheer force of will.</p>
        <p>What gets to me isn’t that everyone appears to be building beautiful design systems. Instead what bothers me
          is that it appears as if everyone is building them all so very easily. This has led me to wonder that, if this
          work is so easy for them, then why is it so hard for me? How can they identify and chip away at the
          hyperobject with such ease? And how can they do it without ruining their evening, or a relationship, or
          letting the state of the system ruin their health? Is it a problem of experience? A lack of mentorship? Am I
          bad at my job? Do I need therapy? (Duh, yes.)</p>
        <p>Or is almost everyone in the design systems community simply lying?</p>
        <p>These talks and articles are fanatic about their personal success and this makes it impossible to understand
          how tough the work really is from the outside, or even what problems people working within design systems are
          struggling with. Looking at these articles, everything appears to be dandy and just fine but talking to folks
          working on these projects and suddenly it’s all a giant ugly mess across the board; companies that have
          competing design systems with no central leadership, component design by committee, and accessibility and
          front-end development left uncared and unspoken for, documentation that is left withering on the vine, and
          organizations that ignore the value of design systems work entirely.</p>
        <p>My hunch is this: folks can’t talk about real design systems problems because it will show their company as
          being dysfunctional and broken in some way. This looks bad for their company and hence looks bad for them. But
          hiding those mistakes and shortcomings by glossing over everything doesn’t just make it harder for us
          personally, it hinders progress within the field itself.</p>
        <p>The ugly truth is that design systems work is not easy. And what works for one company does not work for
          another. In most cases, copying the big tech company of the week will not make a design system better at all.
          And so instead we have to acknowledge how difficult our work is collectively and then we have to do something
          that seems impossible today—we must publicly admit to our mistakes. To learn from our community we must be
          honest with one another and talk bluntly about how we’ve screwed things up.</p>
        <p>My point here is that, yes, before tackling these issues we must see the design system and the hyperobject at
          our respective companies, but to do so we must see ourselves clearly first. And a big part of that is owning
          up to, and being honest about, our mistakes. So I would like to be honest with all of mine; this year I’ll be
          writing about every mistake I’ve made in the field of design systems and speaking up a bit more about the ways
          I’ve messed things up.</p>
        <p>You’re welcome, hello, and I’m sorry in advance.</p>
        <p>Let’s begin.</p>

      </div>
    </div>
  </article>


</body>

</html>