// ==========================================================================
// BANNER
// ==========================================================================
.m-banner {
  @include clearfix();
  background-color: var(--nav-color);
  transition: background-color 0.3s ease;
  border-bottom: 1px solid var(--nav-border);

  @include media(">medium") {
    .m-wrapper__content {
      display: flex;
      align-items: center;
    }
  }
}

.m-banner__about {
  @include typeface("Small caps");
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--main-theme-color);
  transition: background-color 0.3s ease;
  float: left;
  font-size: 18px;
  text-align: center;
  margin-right: 20px;
  height: 50px;
  width: 160px;

  .fonts-loaded & {
    font-size: 15px !important;
  }

  @include media(">medium") {
    font-size: 18px;
    height: 55px;
  }

  &:hover,
  &:focus {
    background-color: var(--main-theme-color);
    color: white;
  }
}

.m-banner__menu {
  display: block;
  float: right;
  color: var(--white-color);
  padding-top: 13px;
  outline: none;

  &:focus {
    background-color: transparent;
  }

  .no-js & {
    display: none;
  }

  @include media(">medium") {
    display: none;
  }
}

@keyframes push {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}

.m-banner__nav {
  float: left;
  padding-top: 0;
  width: 100%;
  @include typeface("Small caps");

  @include media(">medium") {
    @include remCalc(font-size, 18);
    letter-spacing: 0.5px;
    width: auto;

    nav {
      display: flex;
    }
  }

  .js & {
    @include media("<medium") {
      display: none;
    }

    @include media(">medium") {
      display: inline-block;
      float: left;
    }
  }

  .js .is--active & {
    @include media("<medium") {
      padding: 0;
      display: block;
      animation: push 0.4s ease;
      width: 100%;
      float: left;
    }
  }

  a.o-nav__item {
    @include media("<medium") {
      color: var(--white-color);
      display: block;
      padding: 13px 20px;
      margin: 0;
      background-color: var(--nav-about);
      border-bottom: 1px solid #ddd;
      position: relative;
      left: -20px;
      width: 100%;
      width: calc(100% + 35px);
      background-color: white;

      &:first-child {
        border-top: 1px solid #ddd;
      }
      &:last-child {
        border: none;
      }

      &:hover,
      &:focus {
        background-color: #efefef;
      }
    }
    @include media(">medium") {
      color: var(--white-color);

      &:hover,
      &:focus {
        color: var(--white-color);
      }
    }
  }
}
