// ==========================================================================
// BANNER
// ==========================================================================

.banner {
  background-color: var(--banner-bg-color);
  overflow: hidden;

  @include media(">large") {
    margin: 0 -10px;
  }
}

.banner__nav {
  @include remCalc(font-size, 17);
  @include typeface("Small caps");
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  overflow: scroll;

  @include media(">large") {
    margin: 0 auto;
    padding: 0 30px;
  }

  @include media(">largest") {
    @include remCalc(font-size, 18);
    max-width: 1200px;
  }
}

.banner__nav-items {
  display: grid; 
  grid-template-columns: repeat(4, auto);
}

.toggle-theme {
  grid-column: 5/13;
  justify-self: end;
  min-width: 150px;
}

.toggle-item {
  display: flex;
}

// Eat shit, future Robin. You deserve this.
.banner__nav nav div:nth-child(2) .banner__nav-item:nth-child(1) {
  @include media("<largest") {
    margin-left: 30px;
    &:before {
      content: "•";
      pointer-events: none;
      position: absolute;
      left: -16px;
    }
  }
}

.banner__nav-item {
  color: var(--nav-border);
  white-space: nowrap;
  padding: 20px 0;
  position: relative;
  overflow: visible;
  text-decoration: none;
  background: none;
  transition: background 0.3s ease;
  margin-right: 25px;
  transition: color 0.3s ease;
  display: inline-block;

  &:after {
    content: "•";
    top: 21px;
    pointer-events: none;
    position: absolute;
    right: -16px;
    color: var(--form-bg-color) !important;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:last-of-type:after {
    content: none;
  }

  &:hover {
    color: var(--heading-color);
    &:after {
      color: var(--form-bg-color) !important;
    }
  }
}
