// ==========================================================================
// CARD-LIST
// ==========================================================================

.card-list-wrapper {
  list-style: none;
}

.card-list {
  list-style: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--card-border);

  @include media(">medium") {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

a.card-list {
  &:first-of-type {
    padding-top: 0;
  }

  &:hover,
  &:focus {
    z-index: 999;

    .card-list__title {
      color: var(--main-theme-color);
    }
    @include media(">large") {
      transform: scale(1.01);
    }
  }

  time {
    color: #666;
    @include remCalc(font-size, 17);
    display: block;
  }
}

.card-list__title {
  @include typeface("Regular");
  @include remCalc(font-size, 21);
  color: var(--heading-color);
  line-height: 1.1;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: color 0.3s ease;
  @include media(">large") {
    @include remCalc(font-size, 22);
  }
}

.card-list__text {
  margin: 0;
  @include remCalc(font-size, 20);
  line-height: 1.2;
  transition: color 0.3s ease;
  color: var(--secondary-text-color);
}

.card-list--show {
  padding-top: 0;
  transition: padding-top 0s scale 0.3s ease;

  & ~ .card-list--show {
    padding-top: 15px;
    padding-bottom: 20px;

    @include media(">medium") {
      padding-top: 25px;
      padding-bottom: 30px;
    }
  }
}

figure {
  margin-bottom: 60px;
  margin-top: 60px;
}
