// ==========================================================================
// CARD-LIST
// ==========================================================================

.card-list-wrapper {
  list-style: none;
}

.card-list {
  list-style: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--card-border);

  @include media(">medium") {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

a.card-list {
  &:first-of-type {
    padding-top: 0;
  }

  &:hover,
  &:focus {
    z-index: 999;

    .card-list__title {
      color: #cd525a;
    }
    @include media(">large") {
      transform: scale(1.01);
    }
  }

  time {
    color: #666;
    display: block;
    margin-bottom-top: 5px;
  }
}

.card-list__title {
  @include typeface("Regular");
  color: #000;
  font-size: 22px;
  line-height: 1.1;
  margin-top: 5px;
  margin-bottom: 2px;
  transition: color 0.3s ease;
  @include media(">large") {
    font-size: 22px;
  }
}

.card-list__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  transition: color 0.3s ease;
  color: #555;
  @include media(">large") {
    font-size: 20px;
    line-height: 1.3;
  }
}
