// ==========================================================================
// FOOTER
// ==========================================================================
//  Styles for the footer at the bottom of most templates

.m-footer {
	font-weight: 400 !important;
	padding: 15px 20px;
	margin-top: 100px;
	background-color: var(--nav-color);
  border-top: 1px solid var(--nav-border);

	@include media(">medium") {
		margin-top: 100px;
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
	}
}

.m-footer__nav {
	@include typeface("Small caps");
	@include remCalc(font-size, 17);

  a {
    color: var(--white-color);
  }
}
