// ==========================================================================
// FORM
// ==========================================================================

.form {
  align-items: center;
  position: relative;
  padding: 0;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;

  @include media(">large") {
    align-self: center;
  }

  ::-webkit-input-placeholder {
    color: #ddd;
  }
  ::-moz-placeholder {
    color: #ddd;
  }
  :-ms-input-placeholder {
    color: #ddd;
  }
  :-moz-placeholder {
    color: #ddd;
  }

  input,
  input[type="submit"] {
    height: 40px;
    align-items: center;
  }
}

.form__input-button-group {
  display: flex;
}

.form-label {
  @include typeface("Small caps");
  color: var(--secondary-text-color);
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

.form-input {
  margin: 0;
  -webkit-appearance: none;
  border: none;
  padding: 13px 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  background-color: #eaeaea;
  outline: none;
  box-shadow: none;
  border-radius: 3px !important;
  width: calc(100% - 70px);
  color: black;
  margin-right: 10px;

  &:hover,
  &:focus {
    background-color: #dfdfdf;
    outline: none;
    color: black;
  }
}

.form-submit {
  border-radius: 0;
  padding: 3px 8px;
  border: none;
  max-width: 120px;
  transition: background-color 0.3s ease;
  background-color: white;
  color: white;
  outline: none;
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 3px;

  &:hover,
  &:focus {
    outline: none;
    background-color: #d14b4f;
    transition: background-color 0.3s ease;
    animation: cool 0.5s linear infinite;
  }
}

@keyframes cool {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-input:focus + .form-label,
.form-input:valid + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transition: all 0.3s ease;
  top: 3px;
  font-size: 12px;
}

.form-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
.form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
.form-input:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
