// ==========================================================================
// FORM
// ==========================================================================

.form {
	align-items: center;
	position: relative;
	padding: 0;
	display: flex;
	max-width: 100%;

	@include media(">large") {
		align-self: center;
	}

	::-webkit-input-placeholder {
		color: #ddd;
	}
	::-moz-placeholder {
		color: #ddd;
	}
	:-ms-input-placeholder {
		color: #ddd;
	}
	:-moz-placeholder {
		color: #ddd;
	}

	input,
	input[type="submit"] {
		height: 40px;
		align-items: center;
	}
}

.form-label {
	@include typeface("Small caps");
	position: absolute;
	color: #888;
	top: -20px;
	left: 0;
	font-size: 16px;
	text-transform: lowercase;
	padding: 0;
	cursor: pointer;
}

.form-input {
	margin: 0;
	-webkit-appearance: none;
	border: none;
	padding: 0 10px;
	width: 90%;
	transition: background-color 0.3s ease;
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 0 !important;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		border: 1px solid $c-primary;
		color: #333;
		outline: none;
	}
}

.form-submit {
	border-radius: 0;
	padding: 3px 5px;
	border: none;
	width: 30%;
	transition: background-color 0.3s ease;
	background-color: #555;
	color: #eee;
	outline: none;
	font-size: 0.9em;
	@include typeface("Small caps");
	text-transform: lowercase;

	&:hover, &:focus {
		outline: none;
		border-right: none;
		border-top: none;
		background-color: $c-primary;
	}
}
