// ==========================================================================
// HERO
// ==========================================================================


.m-hero {
    img {
        display: block;
    }

    .t-dark & {
        border: none !important;
        filter: brightness(40%) grayscale(100%);
    }
}
