// ==========================================================================
// Highlight
// ==========================================================================
//
// Styles for highlight in longform component 
//

.m-longform .highlight pre {
  display: block;
  background-color: #fafafa;
  padding: 20px;
}
