// ==========================================================================
// LONGFORM
// ==========================================================================
//
// Custom styles for blog post formats
//

.m-longform {
  @include links-longform();
  @include trim();

  > div {
    margin-bottom: 50px;
  }

  h3,
  h4,
  h5,
  h6 {
    @include remCalc(margin-top, ($base-spacing-unit * 1.6));
    @include remCalc(margin-bottom, ($base-spacing-unit));
  }

  .hgroup,
  hgroup {
    margin-bottom: 20px;
    margin-top: 10px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol li {
    margin-bottom: 0;
  }

  ol,
  p,
  ul {
    @include remCalc(font-size, 20);
    line-height: 1.35;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-after: 2;
    -webkit-hyphenate-limit-before: 3;
    hyphens: auto;
    @include media(">small") {
      @include remCalc(font-size, 21);
      line-height: 1.4;
    }
    @include media(">medium") {
      @include remCalc(font-size, 22);
      line-height: 1.35;
    }
    @include media(">large") {
      @include remCalc(font-size, 24);
      line-height: 1.37;
    }

    & > img {
      @include remCalc(margin-bottom, $base-spacing-unit * 2);
    }
  }

  figure blockquote {
    padding-left: 0 !important;
  }

  p img {
    margin-bottom: 0;
  }

  ul {
    margin-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul ul {
    margin-left: 20px;
  }

  figure > blockquote {
    @include typeface("Regular italic");
    margin-bottom: 0;
    padding: 0;
  }

  figure > img + blockquote {
    margin-top: 20px;
  }

  figure,
  img,
  ol,
  p,
  ul {
    & + .h3,
    & + h3 {
      @include remCalc(margin-top, $base-spacing-unit * 2);
    }
  }

  figcaption,
  figcaption p {
    @include typeface("Regular");
    font-size: 15px;
    line-height: 1.45;
    @include media(">large") {
      max-width: 630px;
    }

    a {
      @include links-dark();
    }
  }

  figcaption p {
    padding-top: 10px;
    padding-left: 0;
  }

  blockquote > ul {
    padding-left: 38px;
  }

  .cite,
  blockquote > p,
  figcaption {
    padding-left: 7px;
    @media screen and (min-width: 500px) {
      padding-left: 18px;
    }
  }

  blockquote > ul {
    padding-left: 40px !important;
  }

  blockquote {
    position: relative;

    & > * {
      border-left: 1px solid var(--lighter-gray-color);
      @include remCalc(padding-bottom, $base-spacing-unit - 5);
      margin-bottom: 0;
      position: relative;
      color: var(--secondary-text-color);

      &:last-child,
      &:only-child {
        padding-bottom: 0;
      }
    }

    p {
      @include typeface("Regular italic");
    }

    p + p {
      padding-top: 5px;
    }
  }

  .blockquote--none {
    p {
      border-left: 0;
      padding-left: 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;

    & + figcaption {
      padding: 10px 0 0;
    }
  }

  .cite,
  figcaption {
    color: darken($c-text, 30);
    display: block;
    position: relative;
    padding-top: 4px;
    border-left: 2px solid transparent;

    .t-dark & {
      color: lighten($c-text, 5);
    }

    > p {
      @include remCalc(font-size, 14);
      margin-bottom: 0;
      text-align: left;
      width: 100%;
      @include media(">medium") {
        @include remCalc(font-size, 15);
      }
    }
  }

  .h2,
  h2 {
    margin-bottom: 20px;
    @include remCalc(margin-top, ($base-spacing-unit * 2));
  }

  .h3,
  h3 {
    margin-bottom: 20px;
  }

  .h4,
  h4 {
    margin-top: 40px;
  }

  .h5,
  h5 {
    @include typeface("Small caps");
    color: #000;
    margin-top: 40px;
  }
}

.m-longform--small {
  ol,
  p,
  ul {
    @include remCalc(font-size, 15);
    line-height: 1.5;
    @include links-longform();
    @include media(">medium") {
      @include remCalc(font-size, 16);
    }
  }
}

.m-longform--intro {
  p {
    @include media(">medium") {
      @include remCalc(font-size, 18);
      line-height: 1.5;
    }
    @include media(">large") {
      @include remCalc(font-size, 20);
      line-height: 1.5;
    }
  }
}

.hgroup,
hgroup {
  margin-bottom: 20px;
  margin-top: 10px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
