// ==========================================================================
// META-INFO
// ==========================================================================
//
// Styles for date, time, location etc.
//

.meta-info {
  @include remCalc(font-size, 16);
  @include clearfix();
  margin: 0;

  @include media(">medium") {
    @include remCalc(font-size, 19);
  }
}

.meta-info__item {
  @include typeface("Small caps");
  color: var(--lighter-gray-color);
  float: left;
  margin: 0;
  font-feature-settings: "onum" 1;
  font-variant-numeric: oldstyle-nums;

  &:after {
    content: "•";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &:last-child:after {
    content: none;
  }

  &:only-child:after {
    content: none;
  }
}
