// ==========================================================================
// META-INFO
// ==========================================================================
//
// Styles for date, time, location etc.
//

.meta-info {
	@include typeface("Small caps");
	@include remCalc(font-size, 13);
	@include clearfix();
	margin: 0;
	margin-bottom: 0;

	@include media(">medium") {
		@include remCalc(font-size, 15);

		.fonts-loaded & {
			@include remCalc(font-size, 14);
		}
	}
}

.meta-info__item {
	color: var(--secondary-text-color);
	float: left;
	margin: 0;
	font-feature-settings: "onum" 1;

	&:after {
		content: "~";
		@include typeface("Small caps");
		display: inline-block;
		margin-left: 0px;
		margin-right: 5px;
	}

	&:last-child:after {
		content: none;
	}

	&:only-child:after {
		content: none;
	}
}
