// ==========================================================================
// META-INFO
// ==========================================================================
//
// Styles for date, time, location etc.
//

.meta-info {
  @include remCalc(font-size, 18);
  @include clearfix();
  margin: 0;

  @include media(">medium") {
    @include remCalc(font-size, 20);
  }
}

.meta-info__item {
  color: var(--lighter-gray-color);
  float: left;
  margin: 0;

  &:after {
    content: "•";
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &:last-child:after {
    content: none;
  }

  &:only-child:after {
    content: none;
  }
}
