// ==========================================================================
// WRAPPER
// ==========================================================================

$_max-width: 670;

.wrapper-wide {
  margin-bottom: 60px;
  @include media(">largest") {
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 20px;

    .m-wrapper {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }
}

.m-home-wrapper {
  article {
    padding-bottom: 70px;

    &:after {
      content: "***";
      color: var(--secondary-text-color);
      display: block;
      margin: 50px auto -23px;
      width: 30px;
      height: 30px;
      opacity: 0.4;
    }

    h2:hover,
    h2:focus {
      transition: color 0.2s linear;
      color: var(--main-theme-color);
    }
  }
}

.wrapper-wide--essays {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  @include media(">large") {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.wrapper-wide--grid {
  @include media(">largest") {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 2fr 1fr;
  }
}

.wrapper-wide--grid-reverse {
  .m-wrapper:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .m-wrapper:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
}

.m-wrapper {
  @include remCalc(max-width, $_max-width);
  padding: 0 15px;
  margin: 0 auto;

  @include media(">medium") {
    padding: 0 35px;
  }

  @include media(">large") {
    padding: 0 10px;
  }
}

.m-wrapper--full {
  @media screen and (min-width: 767px) {
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  img,
  video {
    width: 100%;
  }
}
