// ==========================================================================
// WRAPPER
// ==========================================================================

$_max-width: 700;

.m-wrapper {
  @include remCalc(max-width, $_max-width);
  padding: 0 15px;
  margin: 0 auto;
}

.m-wrapper--full {
  @media screen and (min-width: 767px) {
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  img,
  video {
    width: 100%;
  }
}
