{% include 'components/header' %}

<!-- POST -->
<!-- Default post styles -->
{% if type == "post" %}

    {% if meta.Hero %}
        <figure class="hero hero--nudge">
            <img src="{{meta.Hero.value}}" alt="">
        </figure>
    {% endif %}

    <article class="h-entry container">
        <header class="heading-group">
            
            <div class="meta-info-block">

                <p class="meta-info-block__item">
                    {% if taxonomy.city %}
                        {% for city in taxonomy.city %}{{city.value}}{% endfor %}, {% for country in taxonomy.country %}{{ country.value }}{% endfor %}
                    {% endif %}
                </p>

                <div class="meta-info-block__item">
                    <time datetime="{{date}}">{{ date | date: "%d %B %Y"}}</time>
                </div>
            </div>

            <h1>{{title}}</h1>
        </header>

        {% if meta.Update %}
            <aside class="island island--meta">
                {{meta.Update.value | markdown:true }}
            </aside>
        {% endif %}

        {{body}}

        {% if meta.Aside %}
            <aside class="island island--meta">
                {{meta.Aside.value | markdown:true }}
            </aside>
        {% endif %}

    </article>

{% endif %}









<!-- PAGE -->
<!-- Default page styles -->
{% if type == "page" %}
    <div class="container">
        <header class="heading-group">
            <h1>{{title}}</h1>
        </header>

        {{body}}

    </div>

    <section class="article-list">
        {% for post in posts %}
            <article class="container article-list__item">
                <header class="hgroup hgroup--listing">
                    <div class="meta-info-block meta-info-block--list">
                        <div class="meta-info-block__item">
                            <time datetime="{{post.date}}">{{ post.date | date: "%d %B %Y"}}</time>
                        </div>
                    </div>
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </header>

                <div class="article-list__content">
                    <p>{{post.meta.Extract.value}}</p>
                </div>
            </article>
        {% endfor %}
    </section>

{% endif %}

{% include 'components/footer' %}













