---
layout: layouts/base.njk
title: Robin Rendle
---

<c-page style="--color-surface: var(--color-cover)">
  <page-content class="cover">
    <header style="color-scheme: dark">
      <h1 class="text-center">I’m Robin, a British designer, writer, and typographic nuisance from San Francisco.</h1>
    </header>
    {% include "footer.njk" %}
    <figure class="project-img cover-img">
      <img src="/images/me/robin-rendle-2.webp"/>
    </figure>
  </page-content>
</c-page>
