<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/104389809267012182640">
    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/favicon-114.png">
    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/643678/661882/css/fonts.css" />
    <!-- jQuery -->
    <script src="/static/js/jquery-ck.js"></script>
    <!-- Modernizr -->
    <script src="/static/js/modernizr-2.5.3-min.js"></script>
</head>

<body>
    <header class="banner" role="banner">
        <h1>
            <a class="avatar" href="/">Robin Rendle</a>
        </h1>
    </header>

    <section role="main">
        <div class="container">

            <header class="heading-group">
                <h1>Hi, I’m Robin</h1>
                <h2>A web designer &amp; writer from Nottingham</h2>
            </header>

            {% if site.pages.about.meta.Image %}
                <figure>
                    <img src="{{site.pages.about.meta.Image.value}}"/>
                </figure>
            {% endif %}

        </div><!-- //end.container -->

        {% for post in site.posts limit: 3 %}
            <article class="container article-list__item">

                <header class="hgroup hgroup--listing">
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </header>

                <div class="article-list__content">
                    <p>{{post.meta.Extract.value}}</p>

                    <div class="meta-info-block meta-info-block--list">
                        <div class="meta-info-block__item">
                            {{ post.date | date: "%d %B %Y"}} • Posted in {{post.parent.title}}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}


        <div class="container--standard">
            <div class="island island--meta">
                {{ site.pages.about.meta.Contact | markdown:true }}
            </div>
        </div><!-- //end.container -->

    {% include 'components/footer' %}

