<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/104389809267012182640">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/favicon-114.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/643678/661882/css/fonts.css" />
    <!-- Modernizr -->
    <script src="/static/js/modernizr-2.5.3-min.js"></script>
</head>

<body>
    <header class="banner banner--standard" role="banner">
        <div class="container--standard">
            <h1 class="banner__headline">
                <a class="links--reversed" href="/">Robin Rendle</a>
            </h1>

            <nav>
                <a class="banner__nav__menu links--reversed" id="mobile-menu" href="#">Menu</a>
                <ul class="banner__nav">
                    <li><a class="links--reversed" href="/about">About</a></li>
                    <li><a class="links--reversed" href="/notes">Notes</a></li>
                    <li><a class="links--reversed" href="/essays">Essays</a></li>
                </ul>
            </nav>
        </div><!-- //.container -->
    </header>

    <section role="main">

        {% for post in site.pages.essays.posts limit: 1 %}
            <figure class="figure--index figure--wide figure--wide--standard figure--bg-grey">

                <img class="figure--wide__img" src="{{post.meta.featured-image.value}}" alt="A illustraton of a man carrying an elephant from 1825">

                <figcaption class="container figure--wide__caption--centered">
                    <div class="meta-info-block meta-info-block--list">
                        <div class="meta-info-block__item">
                            <time datetime="{{ post.date}}">{{ post.date | date: "%d %B %Y"}}</time>
                        </div>
                    </div>

                    <h2 class="clear">
                        <a class="links--reversed" href="{{post.url}}">{{post.title}}</a>
                    </h2>

                    <p>For the past six months I’ve been taking a good look at how designers and developers communicate with one another, jotting down the problems as I go. The systems that have cropped up in between are fascinating but I believe they could be better if we examine our use of language. <a class="links--reversed" href="{{post.url}}">Read more »</a></p>
                </figcaption>

            </figure>
        {% endfor %}

        <div class="container">

            {% for post in site.pages.notes.posts limit: 4 %}
                <article class="article-list__item">

                   <header class="hgroup hgroup--listing">
                        <div class="meta-info-block meta-info-block--list">
                            <div class="meta-info-block__item">
                                <time datetime="{{ post.date}}">{{ post.date | date: "%d %B %Y"}}</time>
                            </div>
                        </div>
                        <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                    </header>


                    <div class="article-list__content">
                        <p>{{post.meta.Extract.value}}</p>
                    </div>
                </article>
            {% endfor %}
        </div>

    {% include 'components/footer' %}

