---
layout: layouts/base.njk
title: Robin Rendle
---

<c-grid>
  <div class="grid-column-8">
    {% for post in collections.notes | reverse | head(10) %}
      <c-window>
        <article>
            <a class="window-title window-title-link {{loop.index}}" href="{{ post.url }}">
              <h2>{{ post.data.title }}</h2>
              ↗
            </a>
          <div class="window-content">
            <div class="article-wrapper">
              {{ post.content | safe }}
              
              <time class="notes-list-extract" datetime="{{ post.data.date | htmlDateString }}">
                ↳ {{ post.data.date | fullDate }}
              </time>
            </div>
          </div>
        </article>
      </c-window>
    {% endfor %}
  </div>
  <div class="grid-column-4">
    <c-window class="window-about">
      <div class="window-title">
        <h2>About</h2>
      </div>
      <div class="window-content window-content-wrapper">
        <p class="tiny-text">I’m Robin, a designer and writer, and this blog is where I experiment with publishing, make weird web projects, and work in public.</p>
      </div>
    </c-window>
  </div>
</c-grid>
