---
layout: layouts/base.njk
permalink: /newsletter/
title: Newsletter
---

<div class="intro-wrapper">
  <h1 class="title" id="heading">Newsletter</h1>
</div>

<div class="main-content">
  <div class="content-list cell-t40">
    <ol reversed class="article-list" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
      {% for note in collections.newsletter | reverse %}
        <li class="article-list-item">
          <a class="article-list-link" href="{{ note.url | url }}">
            <div class="article-list-item-title">
              {% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}
              <div class="article-list-item-extract">{{note.data.extract}}</div>
            </div>
            <div class="notelist-date">{{note.data.dateRange}}</div>
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>




