---
layout: layouts/base.njk
permalink: /notes/
title: Notes
---

<div class="intro-wrapper">
  <h1 class="title" id="heading">Notes</h1>
  <div class="intro-meta">
    <div class="intro-meta-content intro-meta-content-wide">
      <a href="/feed.xml">Subscribe via RSS</a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="content-list">
    {% set noteslist = collections.notes %}
    {% include "noteslist.njk" %}
  </div>
</div>
