---
layout: layouts/base.njk
permalink: /notes/
---

{# eleventyNavigation:
  key: Archive
  order: 2 #}

<h1>Notes and stuff</h1>

{% set noteslist = collections.notes %}
{% include "noteslist.njk" %}
