---
layout: layouts/base.njk
permalink: /projects/
title: Projects
---

<header class="intro-wrapper">
  <h1 class="title" id="heading">Projects</h1>
  <div class="intro-meta">
    <div class="intro-meta-content intro-meta-content-wide">
      8 Projects / Last Updated August 2023
    </div>
  </div>
</header>

<div class="main-content">
  <div class="content-list">
    <ul reversed class="article-list" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
    {% for note in collections.projects | reverse %}
      <li class="article-list-item">
        <a class="article-list-link" href="{{ note.url | url }}">
          <div class="article-list-item-title">
            {% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}
            <div class="article-list-item-extract">{{note.data.extract}}</div>
          </div>
          <div class="notelist-date">{{note.data.dateRange}}</div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

