---
layout: layouts/base.njk
permalink: /projects/
title: Projects
templateClass: no-footer
---

<c-page>
  <page-content>
    <header class="title-header">
      <h1 class="text-title">Projects</h1>
    </header>
    <div class="prose flow">
      <ol class="projects">
        {% for post in collections.projects | reverse %}
          <li class="project">
            <a href="{{ post.url }}">
              <h3 class="project-title">{{ post.data.title }}</h3>
              <img src="{{ post.data.hero }}" />
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </page-content>
</c-page>
