---
layout: layouts/base.njk
permalink: /stories/
title: Stories
---

<ol>
{% for post in collections.stories | reverse %}
    <li>
      <a href="{{ post.url }}">
        <h3>{{ post.data.title }}</h3>
        <img src="/images/essays/home/{{ post.data.hero }}" alt="{{ post.data.alt }}">
      </a>
    </li>
  {% endfor %}
</ol>
