---
layout: layouts/base.njk
permalink: /stories/
title: Stories
---

<section class="archive-list">
  <div class="archive-head">
    <div class="archive-head-item">Title</div>
    <div class="archive-head-item align-right">Published</div>
  </div>
  {% for post in collections.stories | reverse %}
    <a class="archive-row" href="{{ post.url }}">
      <!--<img src="/images/essays/home/{{ post.data.hero }}" alt="{{ post.data.alt }}">-->
        <div class="archive-column visited-marker">
          {{ post.data.title }}
        </div>
        <div class="archive-column align-right"><time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | dinkyDate }}</time></div>
    </a>
  {% endfor %}
</section>
