---
layout: layouts/base.njk
permalink: /work/
title: Work
---

<style>
  :root {
    --carousel-height: 450px;
    --carousel-bg: #FAF6F3;
  }

  .work {
    width: 95vw;
    font-family: var(--sans);
    font-size: 85%;
  }

  .work-item {
    --work-padding: 40px; 
    overflow: hidden;
  }

  .work-item h1 {
    font-size: 1.1rem;
  }

  .work-item h2 {
    {# padding-top: var(--work-padding); #}
    font-weight: 500;
  }

  .work-item h2,
  .work-item h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .work-item h3 {
    color: inherit;
    margin-top: 5px;
    font-weight: 400;
    line-height: 1.4;
  }

  @media screen and (min-width: 760px) {
    .work {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .work-item {
    --shadow-color: 0deg 0% 80%;
    margin: 1px 0 0 0;
    border-radius: 5px;
    position: relative;
    background: #fff;
    transition: .3s transform linear;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    {# box-shadow:     1px 2px 2px hsl(var(--shadow-color) / 0.1),
    2px 4px 4px hsl(var(--shadow-color) / 0.1),
    4px 8px 8px hsl(var(--shadow-color) / 0.1),
    8px 16px 16px hsl(var(--shadow-color) / 0.1),
    16px 32px 32px hsl(var(--shadow-color) / 0.1);
    height: var(--carousel-height); #}
  }

  .work-item pre {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-item:nth-child(1) {
    margin-top: 0;
  }

  .work-item .intro {
    font-size: 130%;
  }

  .work-item h2 {
    margin: 0;
  }

  .work-item-extract {
    margin-top: 5px;
    font-weight: normal;
    color: unset;
  }

  .work-item:hover, 
  .work-item:focus {
    transform: scale(1.01);
    cursor: inherit;
  }

  .work-item[open]:hover {
    transform: scale(1);
  }

  .work-item-content {
    z-index: 1;
    margin-top: 0;
  }

  .work-item-content p {
    max-width: 720px;
  }

  .work-item-content img {
    border-radius: 2px 0 0 2px; 
  }
  
  .work-item h2 {
    font-size: 160%;
  }

  .work-item-img {
    width: 50%;
    right: 0;
    position: absolute;
  }

  {# Small styles #}
  .work-item figure {
    display: flex;
    grid-template-row: 4fr 1fr;
    position: relative;
  }

  {# Big boy styles #}
  @media screen and (min-width: 800px) {
    .work-item figure {
      display: grid;
      grid-template-columns: 2.5fr 1fr;
    }
  }
  
  {# Small styles #}
  .work-item figcaption {
    font-size: var(--font-size-3);
    color: var(--color-text);
  }

  {# Big boy styles #}
  @media screen and (min-width: 800px) {
    .work-item figcaption {
      height: var(--carousel-height);
      display: flex;
      align-items: center;
      padding: 0 25px;
    }
  }

  .work-title figcaption:after {
    content: "Scroll →";
    display: block;
    height: 20px;
    width: 50px;
    margin-top: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 80px;
    opacity: 0;
    transition: opacity .3s linear;
  }

  .work-title:hover figcaption:after {
    opacity: 1;
  }

  .radiocard .cp_embed_wrapper {
    border-right: 1px solid #eee;
    padding: 20px 40px;
    background-color: #FAF6F3;
  }

  figure:last-child figcaption:after {
    display: none;
  }

  .work-item .cp_embed_wrapper, .work-item iframe {
    height: 100%;
  }

  figure .cp_embed_wrapper, figure img, figure iframe {
    width: 100%;
  }

  .carousel {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    direction: ltr;
    scroll-snap-type: x mandatory;
    height: var(--carousel-height);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel img {
    object-fit: cover;
    align-self: center;
  }

  .carousel figure {
    min-width: 100%;
    background: var(--carousel-bg);
    scroll-snap-align: start;
  }

  .carousel figcaption {
    background: white;
  }
</style>


{% set noteslist = collections.work %}

<h1 class="title">Work</h1>

<div class="work">
{% for note in collections.work | reverse %}
  <div class="work-item work-item-{{loop.index}}" open>
    <div>
      {% if note.data.hero %}
        <img class="work-item-img" src="{{note.data.hero}}" />
      {% endif %}
    </div>
    <div class="work-item-content">
      {{ note.content | safe }}
    </div>
  </div>
{% endfor %}
</div>

<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

<script>
  {# const carousels = document.querySelectorAll('.carousel');

  carousels.forEach(item => {
    item.addEventListener('click', (e) => {
      const carousel = e.currentTarget;
      carousel.style.backgroundColor = "red";
    })
  });  #}
</script>