        <footer role="contentinfo">
            <nav>
                <ul>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/essays">Essays</a></li>
                    <li><a href="/twitter">Twitter</a></li>
                </ul>
            </nav>
            <section>
                <h1 class="h3">About</h1>
                <p>I’m Robin, a writer and designer from the UK. This is where I work in public and share my findings from the world of publishing and design. <a href="/about">Read&nbsp;on!</a></p>
            </section>
        </footer>
    <script type="text/javascript" src="{{ page.root_path }}/public/js/jquery.js"></script>
    <script type="text/javascript" src="{{ page.root_path }}/public/js/onload.js"></script>
    <script type="text/javascript" src="{{ page.root_path }}/public/js/jquery.fitvids.js"></script>
  </body>
</html>