        <footer role="contentinfo">
            <section>
                <h1 class="h3">About the Author</h1>
                <p>Robin is a writer and designer from the UK.</p>
            </section>

            <nav>
                <ul>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/essays">Essays</a></li>
                    <li><a href="/twitter">Twitter</a></li>
                </ul>
            </nav>
        </footer>
      <script type="text/javascript" src="{{ page.root_path }}/public/js/jquery.js"></script>
      <script type="text/javascript" src="{{ page.root_path }}/public/js/onload.js"></script>
  </body>
</html>