/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
    $medium: 30.25em;
    $grande: 42em;
    $large: 61.9375em;
    $desktop: 64.4375em;
    $widescreen: 109.375em;