/*------------------------------------*\
    $COLORS
\*------------------------------------*/

    $primary:#C35E5E;
    $secondary:#CCC;
    $tertiary:#FAFAFA;


    $highlight:#FEFED0;
    $border:1px solid $secondary;

    $black:#000;
    $title-black:#252525;
    $offblack:#252525;
    $darkgrey:#444;
    $textgrey:#575757;

    $grey:#777777;
    $lightgrey:#aaa;
    $offgrey:#fbfafa;
    $offwhite:#FEFEFE;
    $white:#FFF;

    $color__border:#eee;
    $border2:#ddd;

    $color__island: #F7F7F7;

    $lightcream:#efefef;
    $purple:rgb(140,87,235);
    $pink:#D71379; // Error


    /**
     * Gradient mixin: add a color -> get your lovely gradient
     */
    @mixin gradient($default, $from, $to){
        background-image:$default;
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -o-linear-gradient(top, $from, $to);
        background-image: -moz-linear-gradient(top, $from, $to);
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -ms-linear-gradient(top, $from, $to);
    }

    %red-gradient {
        @include gradient(darken($primary, 15%), $primary, darken($primary, 10%));
    }

    %cream-gradient {
        @include gradient(darken($secondary, 15%), $secondary, darken($secondary, 10%));
    }
