{% include 'components/header' %}

<div class="m-longform m-wrapper--unpadded m-wrapper">
    <h1>h1 Title</h1>
    <h2>h2 Subtitle</h2>
    <h3>h3 Subtitle</h3>
    <h4>h4 Subtitle</h4>
    <h5>h5 Subtitle</h5>
    <h6>h6 Subtitle</h6>

    <p>Call me Ishmael. Some years ago- never mind how long precisely- having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul.</p>
    <p>Whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off- then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.</p>

    <figure class="m-figure--fill">
        <img src="http://placehold.it/1000x750"/>
        <figcaption>Wide-angle view of Comet 67P/Churyumov–Gerasimenko taken by OSIRIS on 12 September 2014. Credit: ESA/Rosetta/MPS</figcaption>
    </figure>

    <ul>
        <li>ul list item 1</li>
        <li>ul list item 2</li>
        <li>ul list item 3</li>
        <li>ul list item 4</li>
        <li>ul list item 5</li>
    </ul>

    <ol>
        <li>ol list item 1</li>
        <li>ol list item 2</li>
        <li>ol list item 3</li>
        <li>ol list item 4</li>
        <li>ol list item 5</li>
    </ol>

    <p><a href="#">a element</a> example</p>
    <p><abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples</p>
    <p><acronym title="A Cowboy Ran One New York Marathon">ACRONYM</acronym> element example</p>
    <p><b>b element</b> example</p>
    <p><cite>cite element</cite> example</p>
    <p><code>code element</code> example</p>
    <p><em>em element</em> example</p>
    <p><del>del element</del> example</p>
    <p>
        <dfn>dfn element</dfn> and
        <dfn title="Title text">dfn element with title</dfn> examples</p>
    <p><i>i element</i> example</p>
    <p><ins>ins element</ins> example</p>
    <p><kbd>kbd element</kbd> example</p>
    <p><mark>mark element</mark> example</p>
    <p><q>q element</q> example</p>
    <p><q>q element<q>inside</q> a q element</q> example</p>
    <p><s>s element</s> example</p>
    <p><samp>samp element</samp> example</p>
    <p><small>small element</small> example</p>
    <p><span>span element</span> example</p>
    <p><strong>strong element</strong> example</p>
    <p><sub>sub element</sub> example</p>
    <p><sup>sup element</sup> example</p>
    <p><u>u element</u> example</p>
    <p><var>var element</var> example</p>


<audio controls>
    <source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg" />
    <source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mpeg" /> Your browser does not support the audio element.
</audio>

<video width="320" height="240" controls>
    <source src="http://www.nasa.gov/downloadable/videos/liftoff_of_spacex_crs-5.mp4" type="video/mp4" />
    <source src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg" /> Your browser does not support the video tag.
</video>

<fieldset>
    <legend>Legend</legend>

    <p>The Form:</p>

    <form>
        <p>
            <label for="text_field">Text Field:</label>
            <br />
            <input type="text" id="text_field" />
        </p>

        <p>
            <label for="text_field_disabled">Disabled Text Field:</label>
            <br />
            <input type="text" id="text_field_disabled" disabled value="I'm disabled" />
        </p>

        <p>
            <label for="text_field_readonly">Readonly Text Field:</label>
            <br />
            <input type="text" id="text_field_readonly" readonly value="I'm readonly" />
        </p>

        <p>
            <label for="text_area">Text Area:</label>
            <br />
            <textarea id="text_area"></textarea>
        </p>

        <p>
            <label for="text_area_disabled">Disabled Text Area:</label>
            <br />
            <textarea id="text_area_disabled" disabled>I'm disabled</textarea>
        </p>

        <p>
            <label for="text_area">Readonly Text Area:</label>
            <br />
            <textarea id="text_area" readonly>I'm readonly</textarea>
        </p>

        <p>
            <label for="select_element">Select Element:</label>
            <br />
            <select id="select_element">
                <optgroup label="Option Group 1">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </optgroup>
                <optgroup label="Option Group 2">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3" disabled>Disabled Option</option>
                </optgroup>
            </select>
        </p>

        <p>
            <label for="select_element_disabled">Disabled Select Element:</label>
            <br/>
            <select id="select_element_disabled" disabled>
                <option value="1">Unselectable Option</option>
                <option value="2">This option should not even be seen</option>
            </select>
        </p>

        <p>Radio Buttons:
            <br />
            <label>
                <input type="radio" class="radio" name="radio_button" value="radio_1" /> Radio 1</label>
            <br/>
            <label>
                <input type="radio" class="radio" name="radio_button" value="radio_2" /> Radio 2</label>
            <br/>
            <label>
                <input type="radio" class="radio" name="radio_button" value="radio_3" /> Radio 3</label>
            <br/>
            <label>
                <input type="radio" class="radio" name="radio_button" value="radio_4" disabled /> Radio Disabled</label>
            <br/>
        </p>

        <p>Checkboxes:
            <br />
            <label>
                <input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Checkbox 1</label>
            <br/>
            <label>
                <input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Checkbox 2</label>
            <br/>
            <label>
                <input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> Checkbox 3</label>
            <br/>
            <label>
                <input type="checkbox" class="checkbox" name="checkboxes" value="check_4" disabled /> Checkbox Disabled</label>
            <br/>
        </p>

        <p>
            <label for="password">Password:</label>
            <br />
            <input type="password" class="password" id="password" />
        </p>

        <p>
            <label for="file">File Input:</label>
            <br />
            <input type="file" class="file" id="file" />
        </p>

        <p>
            <label for="email">Email:</label>
            <br />
            <input type="email" id="email" />
        </p>

        <p>
            <label for="url">URL:</label>
            <br />
            <input type="url" id="url" />
        </p>

        <p>
            <label for="tel">Telephone:</label>
            <br />
            <input type="tel" id="tel" />
        </p>

        <p>
            <label for="number">Number:</label>
            <br />
            <input type="number" id="number" min="0" max="10" step="1" value="5" />
        </p>

        <p>
            <label for="search">Search:</label>
            <br />
            <input type="search" id="search" />
        </p>

        <p>
            <label for="date">Date:</label>
            <br />
            <input type="date" id="date" />
        </p>

        <p>
            <label for="time">Time:</label>
            <br />
            <input type="time" id="time" />
        </p>

        <p>
            <label for="color">Color:</label>
            <br />
            <input type="color" id="color" />
        </p>

        <p>
            <label for="datalist">Datalist:</label>
            <br />
            <input list="browsers" name="browser" type="datalist" id="datalist" />
            <datalist id="browsers">
                <option value="Internet Explorer" />
                <option value="Firefox" />
                <option value="Chrome" />
                <option value="Opera" />
                <option value="Safari" />
            </datalist>
        </p>

        <p>
            <label for="range">Range:</label>
            <br />
            <input type="range" id="range" name="points" min="1" max="10" />
        </p>

        <p>
            <button class="button">Button Element</button>
            <input class="button" type="reset" value="Clear" />
            <input class="button" type="submit" value="Submit" />
        </p>
    </form>
</fieldset>
</div>
{% include 'components/footer' %}