

// @start MARGINS -------------------- //
%main_column{
    width:90%;
    max-width:33em;
    margin:0 auto;

    @include respond-to(medium) {
        width:85%;
    }
}


%pull_left {
    @media screen and(min-width:74em){
        width:40%;
        float:left;
        position:relative;
        margin-left:-45%;
    }
}

%pull_right {
    @media screen and(min-width:72em){
        width:40%;
        float:right;
        position:relative;
        margin-right:-45%;
    }
}

.pull_left {
    @extend %pull_left;
}

p.pull_left {

    @media screen and(min-width:72em) {
        text-align:right;
        font-size:.8em;
        line-height:1.5;
        color:#777;
    }
}

.pull_right {
    @extend %pull_right;
}