/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * Quickly set your default variables
 */



/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * Enter breakpoint variables here
 */

$medium: 30.25em;
$grande: 42em;
$large: 61.9375em;
$desktop: 64.4375em;
$widescreen: 109.375em;






/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$h1-size: 35px!default;
$h2-size: 24px!default;
$h3-size: 18px!default;
$h4-size: 14px!default;

$base-font-size: 16px!default;
$base-line-height: 24px!default;


/**
 * Base font-family.
 */
$base-font-family: serif!default;


/**
 * Base ui colors.
 */
$base-ui-color: #ccc!default;


/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
$english-quotes:    true!default;



/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         false!default;
$use-flexbox:       false!default;
$use-columns:       false!default;
$use-nav:           false!default;
$use-options:       false!default;
$use-pagination:    false!default;
$use-breadcrumb:    false!default;
$use-media:         false!default;
$use-marginalia:    false!default;
$use-island:        false!default;
$use-block-list:    false!default;
$use-matrix:        false!default;
$use-split:         false!default;
$use-this-or-this:  false!default;
$use-link-complex:  false!default;
$use-flyout:        false!default;
$use-sprite:        false!default;



/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;