@import "config";

/*
    COMPONENTS LIBRARY
    @author: Robin Rendle

    CONTENTS ----------

        - BLOCK
        - LISTINGS
            - ITEM LISTING
            - BLOCK LISTING
            - ARTICLE LISTING
        - CTA BUTTONS

    -------------------
*/


// @start BLOCK -------------------- //
.block {   
}

// @start LISTINGS -------------------- //

    // @start ITEM LISTING -------------------- //

    .item_listing {
        list-style:none;
        margin-bottom:0;

        .item {
            margin-left:0;
            position:relative;
        }

        a {
            &:hover,
            &:focus {     
            }
        }

        .item_meta {
            
        }
        .item_content {
            
        }

    }

    // @start BLOCK LISTING (Base: item_listing) -------------------- //

    .block_listing {
    }


// @start CTA BUTTONS -------------------- //

 %red-gradient {
    background-image:darken($primary,15%);
    background-image: -webkit-linear-gradient(top, $primary, darken($primary, 10%));
    background-image: -o-linear-gradient(top, $primary, darken($primary, 10%));
    background-image: -moz-linear-gradient(top, $primary, darken($primary, 10%));
    background-image: -webkit-linear-gradient(top, $primary, darken($primary, 10%));
    background-image: -ms-linear-gradient(top, $primary, darken($primary, 10%));
}
%cream-gradient {
    background-image:darken($secondary,15%);
    background-image: -webkit-linear-gradient(top, $secondary, darken($secondary, 10%));
    background-image: -o-linear-gradient(top, $secondary, darken($secondary, 10%));
    background-image: -moz-linear-gradient(top, $secondary, darken($secondary, 10%));
    background-image: -webkit-linear-gradient(top, $secondary, darken($secondary, 10%));
    background-image: -ms-linear-gradient(top, $secondary, darken($secondary, 10%));
}
%button {
    border-radius:3px;
    width:25%;
    float:right;
    padding:0 .35em;
    border:none;
    color:$offwhite;
    padding:.3em 0 .3em 0;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); 
    @include transition-property(all);
    @include transition-duration(.5s);  
}
@mixin red-button {
    @extend %red-gradient;
    @extend %button;       
}
@mixin cream-button {
    @extend %cream-gradient;
    @extend %button;
}


// @start CONTENTS -------------------- //
nav.contents {
    display:block;
    background-color:$offgrey;
    border:1px solid #ddd;
    border-left:4px solid #eee;
    border-right:4px solid #eee;
    margin-bottom:2.5em;
    background:url("/public/images/pattern.jpg");
    opacity:.7;
    width:90%;
    max-width:33em;
    margin-left:auto;
    margin-right:auto;

    @include transition(all 0.3s ease-in, all 0.35s ease-out);

    &:hover,
    &:focus {
        opacity:1;
        @include transition(all 0.3s ease-in, all 0.35s ease-out);
    }

    html.contents & {
        padding-bottom:1em;
    }

    h3 {
        padding:.5em 0 .5em 0;
        margin-top:0;
        margin-bottom:0;
        cursor:pointer;

        html.contents &{
            border-bottom:1px solid #ebebeb;
            -moz-box-shadow:0 1px #fff;
            -webkit-box-shadow:0 1px #fff;
            box-shadow:0 1px #fff;  
            margin-bottom:1.1em;
            padding-bottom:.3em;
        }
    }

    ol {
        margin-bottom:0;
        li {
            font-size:.95em;
            list-style:none;
            width:100%;
            text-align: center;
            margin:0;
            font-style:italic;
            line-height:1.5;

            &:after {
                display:block;
                content:"—";
                color:#bbb;
            }

            &:last-child:after {
                content:"";
            }

            a {
                color:#999;

                &:hover {
                    color:#bbb;
                }
            }
        }
    }
}

// if js, hide the contents navigation
.js {
    nav.contents {
        ol {
            display:block;
            @include transition(all 1s ease-in, all 1s ease-out);
            height:0;
            overflow:hidden;
            margin-bottom:0;
        }
    }

    &.contents {
        nav.contents {
            ol {
                @include transition(all 1s ease-in, all 1s ease-out);
                height:initial;
                max-height:30em;
                margin-bottom:.5em;
            }
        }
    }
}

// if no js, show the contents navigation
.no-js {
    nav.contents {
        ol {
            display:block;
        }
    }
}


// @start LISTING -------------------- //
section[role="main"] {
    .listing {
        article {
            margin:2.4em 0;

            &:first-child {
                margin-top: 0;
            }
            
            &:last-child .content {
                border-bottom:none;
            }

            header {
                margin-bottom:0;
                padding:0;

                &:after{
                    content:"—";
                    color:#ddd;
                }
                h3 {
                    margin-bottom:0;
                    font-size:$baseh3+.2;
                    line-height:1.3;
                    margin-top:1.4em;
                }
            }
            .content {
                border-bottom:1px solid #eee;
                padding-bottom:2em;

                p {
                    margin-bottom:0;
                    display:inline;
                }
                a {
                    display:inline;
                }
            }
        }
    }
}
















