@import 'compass/css3';

// SCSS CONFIGURATION LIBRARY

// @author: Robin Rendle

// CONTENTS ------------
//  - DEFAULT VARIABLES
//      - FONT STACKS
//      - FONT SIZES
//      - FONT WEIGHTS
//      - COLOURS
//      - SPRITE
//  - FUNCTIONS
//      - EM CALC
//  - MIXINS
//      - SPRITE BACKGROUND
//      - LINEAR GRADIENT
//      - MICRO CLEARFIX
//      - INLINE BLOCK
//      - BOX SIZING
// ---------------------


// @start DEFAULT VARIABLES -------------------- //

    // @start FONT STACKS -------------------- /
    $code:'Lucida Console', Monaco, sans-serif;

    @mixin miller-semibold {
        font-family:"Miller Headline Semi Bold", Georgia, serif;
        font-style:normal;
        font-weight:bold;
    }

    @mixin miller {
        font-family:MillerDisplay, Georgia, serif;
        font-style:normal;
        font-weight:bold;
    }

    @mixin poynter {
      font-family:"Poynter Serif RE",Georgia, serif;;
      font-style:normal;
      font-weight:normal;
    }


    // @start COLOURS -------------------- //

    $primary:#C35E5E;
    $secondary:#CCC;
    $tertiary:#FAFAFA;

    $highlight:#FEFED0;
    $border:1px solid $secondary;

    $black:#000;
    $offblack:#333;
    $darkgrey:#444;
    $textgrey:#555;
    $grey:#888;
    $lightgrey:#aaa;
    $offgrey:#fbfafa;
    $offwhite:#FEFEFE;
    $white:#FFF;

    $lightcream:#efefef;
    $purple:rgb(140,87,235);
    $pink:#D71379; // Error

    // @start FONT SIZES -------------------- //

    $baseh1:2.2em;
    $baseh2:1.6em;
    $baseh3:1.2em;
    $baseh4:1.1em;
    $baseh5:1em;
    
    $base-font-size:16px;
    $base-line-height:24px;

    // @start HIERARCHY -------------------- //

    $margin:1.6em;
    
    @mixin space {
        margin-bottom:$margin;
    }
    @mixin headline-one {
        @include miller;
        font-size:$baseh1;
        font-weight:normal;
        line-height:1.25;
    }
    @mixin headline-two {
        @include miller;
        font-size:$baseh2;
        font-weight:normal;
        font-style:normal;
        margin:1.8em auto .8em auto;
        line-height:1.25;
        color:$black;

        .js & {
            line-height:1.35;
        }
    }

    @mixin headline-three {
        font-size:$baseh3;
        @include poynter;
        font-weight:normal;
        color:$black;
        line-height:1.4;
        margin:1.5em auto .8em auto;
    }

    @mixin headline-four {
        @include poynter;
        font-size:$baseh4;
        font-style:italic;
        line-height:1.4;
        margin:1.55em auto 1.4em auto;
        color:$darkgrey;
        // margin-bottom:calc-em(20, $baseh4);
    }

    @mixin headline-five {
        @include poynter;
        font-size:$baseh5;
        font-style:normal;
        line-height:1.4;
        margin:1.55em auto 1.4em auto;
        color:$darkgrey;
        // margin-bottom:calc-em(20, $baseh4);
    }
    
    @mixin text {
        @include poynter;
        font-size:$base-font-size;
        line-height:$base-line-height;

    }

// @start MIXINS -------------------- //
    // @start INLINE BLOCK (http://bit.ly/thoughtbot-bourbon-inline-block) -------------------- //
    @mixin inline-block {
        display:inline-block;
        vertical-align:baseline;
        zoom:1;
        *display:inline;
        *vertical-align:auto;
    }

    // @start LINEAR GRADIENT -------------------- //
    @mixin gradient($from, $to, $fallback: $to) {
        background-color:$fallback;
        background-image:       -webkit-gradient(linear, left top, left bottom, from($from), to($to));
        background-image:-webkit-linear-gradient(top, $from, $to);
        background-image:   -moz-linear-gradient(top, $from, $to);
        background-image:    -ms-linear-gradient(top, $from, $to);
        background-image:     -o-linear-gradient(top, $from, $to);
        background:              linear-gradient(to left bottom, $from, $to);
    }

    // @start MICRO CLEARFIX (http://bit.ly/thoughtbot-bourbon-clearfix) -------------------- //
    @mixin clearfix {
        &:before,
        &:after {
            content:"";
            display:table;
        }
        &:after {
            clear:both;
        }
        zoom:1;
    }