// @start HEADER CUSTOM POST STYLES -------------------- //
header {
    &.bookmarking {
        @include respond-to(grande){
            margin-top:-2.5em;
            margin-bottom:3em;

            h1 {
                font-size:3.2em;
                text-align:left;
                float:left;
                width:55%;
            }

            .meta {
                margin-top:1.8em;
                padding-bottom:.1em;
                width:45%;
                text-align:right;
                float:right;
            }
        }
    }
}