@import "config";


/*

    PRINT STYLESHEET
    @author: Robin Rendle

    CONTENTS -------
    ---

        - BODY
        - HEADLINES
        - LINKS
        - FOOTER

    -------------------

*/


// @start BODY -------------------- //
body {
    border:none;
}

// @end BODY //




// @start FOOTER -------------------- //

footer[role="contentinfo"] {
    display:none;
    border:none;
}

// @end FOOTER //


