@import "reset", "config", "components", "compass";



/*

    [ROBINRENDLE.COM V2]

    @version: 1.0
    @author: Robin Rendle

    CONTENTS ----------

        - BODY
            - ACCESSIBILITY NAVIGATION
        - DEFAULT STYLING
            - FORMS
            - TABLES
        - HEADLINES
        - LINKS
        - MICRO
        - LAYOUT
            - HEADER & BRANDING
            - FOOTER
        - NAVIGATION
            - HORIZONTAL CLASS
            - PRIMARY NAVIGATION
        - GLOBAL ELEMENTS & COMPONENTS

    -------------------

*/



// @start BODY -------------------- //

* {
    box-sizing:border-box;
}
    html {
        overflow-y:scroll;
    }

    body {
        background-color:$offwhite;
        color:$offblack;
        font:400 116% $text;
        line-height:1.6;
    }

// @start LINKS -------------------- //
a {
    color:$primary;
    text-decoration:none;
    @include transition-property(color);
    @include transition-duration(.2s);

    &:hover,
    &:focus {
        text-decoration:underline;
        color:$lightgrey;
    }
}
// @start MICRO -------------------- //

em, i, cite, figcaption {
    font-style:italic;
    font-family:$italic;
}

figcaption {
    h4 {
        margin-bottom:0;
    }
}

s {
    text-decoration:line-through;
}

code {
    color:$purple;
    font-family:$code;
    font-size:.8em;
}

samp {
    font-family:$code;
    font-size:.8em;
}

strong,
b {
    font-weight:bold;
    font-family:$bold;
}

dfn {
    border-bottom:1px dashed $secondary;
}

mark {
    background-color:$highlight;
    color:#333;
}


dl {
    dt {
        font-family:$bold;
        font-weight:bold;
    }

    dd {
        margin-left:1em;
    }
}

sub {
    line-height:90%;
    font-size:smaller;
    vertical-align:sub;
}

sup {
    vertical-align:super;
    line-height:0;
}

kbd {
    font-size:.8em;
    line-height:80%;
    background-color:#FCFCFC;
    @include background(linear-gradient(top, #FCFCFC, #EEEEEE));
    border:1px solid #E6E6E6;
    border-radius:3px;
    padding:.2em 0.4em .1em 0.4em;
    font-family:$code;
}

q:before {content: '“'; content: open-quote;}
q:after {content: '”'; content: close-quote;}

span {
    font-family:$smallcaps;
}

hr {   
    border:none;
    color:$lightgrey;
    font-size:1.5em;
    margin-bottom:.3em;
    text-align:center;
    display:block;

    &:after {
        content:"* * *";
        letter-spacing:.2em;
        height:0;

    }
}

legend {
    @include headline-three;
}

// @start GLOBAL -------------------- //

img {
    max-width:100%;
    margin:0 auto;
}

p, 
blockquote,
ol,
ul,
pre,
figcaption,
form,
table,
dl,
h4,
h3,
h2,
h1,
hgroup {
    width:90%;
    margin-left:auto;
    margin-right:auto;
} // default widths and margins

p, 
blockquote,
ol,
ul,
pre,
figure,
figcaption,
form,
table,
dl {
    @include space;

    & + h3 {
        margin-top:2em;
        margin-bottom:1em;
    }
}

figure {
    margin: 0 auto;
    @include space;

    &.example {
        border:1px dashed $secondary;
        padding:.8em 2.5%;
        margin:0 5% 1.55em 5%;
        background-color:$offgrey;

        figure,
        p, 
        blockquote, 
        h3, 
        ol, 
        ul, 
        pre,
        form,
        table,
        dl {
            width:100%;
            margin:0 0 1.55em 0;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

blockquote {
    p {
        width:100%;
        color:lighten($offblack,15%);
        font-style:italic;
        font-family:$italic;
    }

    em {
        font-style:normal;
        font-family:$text;
    }

    >p:only-of-type {
        margin-bottom:.775em;
        }

    footer {
        >:before {
            content:"—";
            padding-right:.2em;
        }

        p {
            font-style:normal;
            font-family:$text;
            margin-bottom:0;
            color:$offblack;
        }
    }
}

p {
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}

pre {
    line-height:1.3;
    font-size:.95em;
}

hgroup {
    margin:2.5em auto 1.55em auto;
    
    h1,h2,h3,h4 {
        width:100%;
        margin:0 auto;
    }
}

// @start CONTENT -------------------- //
section[role="main"] {
    header {
        margin-bottom:2em;
        text-align:center;

        time {
            color:$grey;
        }
    }
}
