@import "reset", "components";

/*
    [ROBINRENDLE.COM V2]

    @version: 1.0
    @author: Robin Rendle

    CONTENTS ----------

        - BODY
            - ACCESSIBILITY NAVIGATION
        - DEFAULT STYLING
            - FORMS
            - TABLES
            - LISTS
        - LINKS
        - MICRO
        - LAYOUT
            - HEADER & BRANDING
            - FOOTER
        - NAVIGATION
            - HORIZONTAL CLASS
            - PRIMARY NAVIGATION
        - GLOBAL ELEMENTS & COMPONENTS

    -------------------
*/

// @start BODY -------------------- //
* {
    box-sizing:border-box;
}
html {
    overflow-y:scroll;
}

body {
    background-color:$offwhite;
    font-size: 105%;
    line-height:1.6;
    color:$offblack;
    font-family: Georgia, serif;
    border-top:4px solid $primary;
    border-bottom:4px solid $primary;

    .js & {
        @extend %poynter;
        font-size: 100%;
        line-height:1.6;
        color:$offblack;

        @include respond-to(medium){
            font-size:105%;
            line-height:1.55;
        }

        @include respond-to(grande){
            line-height:1.6;
            font-size:110%;
        }
    }
}

// @start LINKS -------------------- //
a {
    color:$primary;
    text-decoration:none;
    @include transition-property(color);
    @include transition-duration(.2s);

    &:hover,
    &:focus {
        text-decoration:underline;
        color:$lightgrey;
    }
}
// @start HEADLINES -------------------- //
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align:center;
    width:100%;
}

h1, .h1 {
    @include headline-one;
    font-feature-settings: "liga" on;   
    /* vendor-prefixes */
    -moz-font-feature-settings: 'liga=1';
    -ms-font-feature-settings: "liga" on;
    -webkit-font-feature-settings: "liga" on;
    -o-font-feature-settings: "liga" on;
    text-rendering: optimizeLegibility;
}

h2, .h2 {
    @include headline-two;
}

h3, .h3 {
    @include headline-three;
}

h4, .h4 {   
    @include headline-four;
}

h5, .h5 {   
    @include headline-five;
}

// @start MARGINS -------------------- //
p, 
blockquote,
ol,
ul,
pre,
figcaption,
form,
table,
.centre,
dl,
h4,
footer section,
header.hero,
.content,
.about,
hgroup {
    width:90%;
    max-width:35em;
    margin-left:auto;
    margin-right:auto;

    @include respond-to(medium){
        width:85%;
    }
} // default widths and margins

p, 
blockquote,
ol,
ul,
pre,
figure,
figcaption,
form,
table,
dl {
    @include space;

    & + h3 {
        margin-top:2.4em;
        margin-bottom:1.2em;
    }
}

footer.about {
    font-style:italic;

    p {
        font-size:.95em;
        width:100%;
        max-width:none;
    }
}

// @start MICRO -------------------- //

em, i, cite, figcaption {
    font-style:italic;
}

figcaption {
    font-size:.9em;
    line-height:1.55;
    margin-bottom:0;
    text-align:center;
    margin-top:1em;
    color:$grey;

    h5 {
        margin:0 auto;
        line-height:1.8;
    }

    p {
        margin-bottom:0;
        text-align: center;
    }
}

s {
    text-decoration:line-through;
}

small {
    font-size:.85em;
    line-height: 1.5;
    display:inline-block;
    margin-bottom:0;
}

code {
    color:$purple;
    font-family:$code;
    font-size:.85em;
    line-height:1.6;

    &.class {
        color:#47CA26;
    }
}

samp {
    font-family:$code;
    font-size:.9em;
    color:$darkgrey;
}

strong,
b {
    font-weight:bold;
}

abbr, span {
    font-size:.9em;
    text-transform:uppercase;
}

dfn {
    border-bottom:1px dashed darken($secondary,10);
}

mark {
    background-color:$highlight;
    color:#333;
}

dl {
    dt {
        font-weight:bold;
    }

    dd {
        margin-left:1.5em;
    }
}

sub {
    line-height:90%;
    font-size:.8em;
    vertical-align:sub;
}

sup {
    vertical-align:super;
    line-height:0;
    font-size:.8em;
}

kbd {
    font-size:.6em;
    line-height:80%;
    background-color:#FCFCFC;
    @include background(linear-gradient(top, #FCFCFC, #EEEEEE));
    border:1px solid #E6E6E6;
    border-radius:3px;
    padding:.3em 0.4em .2em 0.4em;
    font-family:$code;
}

q:before {content: '“'; content: open-quote;}
q:after {content: '”'; content: close-quote;}

hr {
    border:none;
    color:#ccc;
    font-size:1.3em;
    margin: 1em 0;
    text-align:center;
    display:block;

    &:after {
        content:"* * *";
        letter-spacing:.2em;
        height:0;
    }
}

// @start FORM -------------------- //
legend {
    @include headline-three;
    margin:0 auto 1em auto;
    text-align:center;
    padding-bottom:.3em;
    float:left;
    width:100%;
    border-bottom:1px solid #ebebeb;
    -moz-box-shadow:0 1px #fff;
    -webkit-box-shadow:0 1px #fff;
    box-shadow:0 1px #fff;
}

input {
    width:100%;
    margin-bottom:0;
}

button, 
.button,
input .button {
    @include cream-button;
}

fieldset {
    background:url("/public/images/pattern.jpg");
    background-color:#FBFAFA;
    border:1px solid #ddd;
    padding:1em;

    div {
        margin-bottom:$margin;
        position:relative;

        label {
            width:100%;
            float:left;
        }

        label.error {
            border-radius:3px;
            color:$black;
            padding:3px 10px 2px;
            font-size:.8em;
            margin-top:0;
            margin-bottom:$margin*1.4;
            background-color:#e9e9e9;
            display:block;
            -moz-shadow:0 2px 0 0 #fff;
            -webkit-box-shadow:0 2px 0 0 #fff;
            box-shadow:0 2px 0 0 #fff;
            &::before {
                border-bottom:6px solid lighten(#ccc, 10%);
                border-left:6px solid transparent;
                border-right:6px solid transparent;
                content:"";
                left:50%;
                position:absolute;
                bottom:-1px;
                margin-left:-6px;
            }
        }
        &.submit {
             margin-top:1em;
        }
    }

    em {
        font-size:.85em;
        color:$grey;
        display:block;
        width:100%;
        padding-top:5px;
    }

    input {
        background-color:$offwhite;
        border-radius:3px;
        padding:.2em .4em;
        font-size:.9em;
        border:1px solid #ddd;
        color:$darkgrey;
        @extend %poynter;
        width:100%;
        box-sizing:border-box;
        ::-webkit-input-placeholder {
           font-weight:400;
        }

        :-moz-placeholder {  
           font-weight:400; 
        }

        .text {
            padding:0 .4em;
        }

        &[type="search"] {
            box-sizing:border-box;
            width:100%;
            background:url("/public/images/icons/search.png") no-repeat 7px 2px;
            background-color:$offwhite;
            padding-left:3em;
            padding-top:.4em;

            .svg & {
                background-image:url("/public/images/icons/search.svg");
            }
        }

        &[type="submit"] {
            @include red-button;

            &:hover,
            &:focus {
                background-image:darken($primary,15%);
                background-image: -webkit-linear-gradient(top, $primary, darken($primary, 15%));
                background-image: -o-linear-gradient(top, $primary, darken($primary, 15%));
                background-image: -moz-linear-gradient(top, $primary, darken($primary, 15%));
                background-image: -webkit-linear-gradient(top, $primary, darken($primary, 15%));
                background-image: -ms-linear-gradient(top, $primary, darken($primary, 15%));
            }

            &:active {
            @include transition-property(all);
            @include transition-duration(.5s);
            color:#cacaca;
            background-image:darken($primary,15%);
            background-image: -webkit-linear-gradient(top, darken($primary, 15%), darken($primary, 15%));
            background-image: -o-linear-gradient(top, darken($primary, 15%), darken($primary, 15%));
            background-image: -moz-linear-gradient(top, darken($primary, 15%), darken($primary, 15%));
            background-image: -webkit-linear-gradient(top, darken($primary, 15%), darken($primary, 15%));
            background-image: -ms-linear-gradient(top, darken($primary, 15%), darken($primary, 15%));
            }

            &[type="button"] {
                @include cream-button;
            }
        }
    }
}
textarea {
    background-color:$offwhite;
    @extend %poynter;
    max-width:100%;
    width:100%;
    border-radius:3px;
    padding:0 .4em;
    font-size:.9em;
    border:1px solid #ddd;
    color:$offblack;
}

// @start TABLE -------------------- //
table {
    line-height:1.2;
    padding:.8em 0;
    border-collapse:collapse;
    margin:0 auto 1.55em auto;
    border-radius:3px;

    tr {
        font-size:.9em;
        border-bottom:1px solid #ddd;
        padding: .3em 1%;

        &:nth-of-type(odd) {
            background:#F0F0F0;
        }

        td,
        th {
            padding:6px;
            color:#666;
            text-align:left;
            border:1px solid #ccc;
        }

        th {
            border-bottom:1px solid #ccc;
            color:$offwhite;
            background-color:$darkgrey;
            padding:6px;
        }
    }

    caption {
        font-style:italic;
        display:block;
        margin-top:1.55em;
        width:100%;
    }
}
// @start LISTS -------------------- //
ul {
    li {
        list-style:none;
        padding-left:1em;
        background:url("/public/images/icons/list.png") no-repeat 0 12px;

        .svg & {
            background-image:url("/public/images/icons/list.svg");
        }

        @include respond-to(grande){
            margin-left:-1em;
        }
    }

    ul,ol {
        margin-bottom:0;
    }
}

ol {
    li {
        list-style:decimal;
        list-style-position:outside;
        margin-left:1em;
        padding-left:0;
        @include respond-to(grande){
            margin-left:0;
        }
    }

    ol,ul {
        margin-bottom:0;

        li {
            list-style:lower-roman;
        }
    }
}

// @start BRANDING -------------------- //
.banner {
    margin:0 auto 0 auto;
}

.branding {
    width:100%;
    max-width:none;
    @include text;
    background-color:$tertiary;
    border-bottom:1px solid #ddd;
    font-size:95%;

    a {
        color:$lightgrey;
        margin:0 auto;
        padding:.5em 1em .4em;
        display:block;
        width:9em;
        background-color:#eee;
        border-right:1px solid #ddd;
        border-left:1px solid #ddd;
        @include transition-property(all);
        @include transition-duration(.1s);

        &:hover,
        &:focus {
            color:darken($lightgrey,10);
            background-color:darken(#eee, 2);
            text-decoration:none;
            @include transition-property(all);
            @include transition-duration(.1s);
        }
    }
}

// @start GLOBAL -------------------- //
section[role="main"] {
    min-height:50em;

    header {
        text-align:center;
        padding-top:4.5em;
        padding-bottom:2.5em;

        h1 {
            margin-bottom:.2em;
        }
        
        p {
            font-size:.95em;
            color:$grey;
            margin-bottom:0;
            font-style:italic;
        }

        .meta {
            time, 
            p {
                font-style:italic;
                font-size:.95em;
                color:$grey;
                display:inline;
            }

            p:after {
                content:"~";
                color:#bbb;
                display:block;
                margin-left:.35em;
                margin-right:.1em;
            }
        }
    }
}

iframe {
    width:100%;

    &.map {
        min-height:18em;
        margin-bottom:-.4em;
    }
}

img {
    max-width:100%;
    margin:0 auto;
}

figure {
    margin: $margin*1.5 auto;

    &.quote {
        margin: $margin auto;
    }

    img + img {
        margin-top:1em;
    }

    &.example {
        border:1px dashed $secondary;
        padding:.8em 2.5% .6em 2.5%;
        margin:0 auto 1.7em auto;
        background-color:$offgrey;
        width:90%;
        max-width:35em;

        figcaption {
            width:100%;
        }

        hgroup {
            margin:0 auto;
        }

        figure,
        p, 
        blockquote,
        h3, 
        ol, 
        ul, 
        pre,
        form,
        table,
        dl {
            width:100%;
            margin:0 0 1.55em 0;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

blockquote {
    margin-bottom:0;

    p {
        width:100%;
        color:$textgrey;
        font-style:italic;
        padding-left: 1em;
        border-left:2px solid #eee;
        margin-bottom:0;
    }

    em {
        font-style:normal;
        @extend %poynter;
    }

    >p:last-of-type {
        margin-bottom:0;
        padding-bottom:0;
    }
}


figcaption.cite {
    font-size:1em;

    >:before {
        content:"—";
        padding-right:.2em;
    }
    p {
        font-size:1em;    
        font-style:normal;
        @extend %poynter;
        margin-bottom:0;
        color:$offblack;
        text-align:left;
        font-style:normal;
        width:100%;
    }

    blockquote+& {
        margin-top:$margin/2;
    }
}

p {
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}

pre {
    line-height:1.3;
    font-size:.95em;
}

hgroup {
    margin:2.5em auto 1.55em auto;
    
    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
    }

    header & {
        margin:0 auto;
    }
}

footer[role="contentinfo"] {
    margin-top:2em;

    section {
        padding-bottom:.5em;
        background-color:$tertiary;
        border:1px solid #ddd;
        margin:0 auto 2em auto;
        
        p {
            font-size:.9em;
        }
    }

    nav {
        background-size:100%;
        padding:2em 0 1.3em 0;
        width:90%;
        margin:0 auto;
        text-align:center;
        background:url("/public/images/logo/footer-border.png") no-repeat center 0;
        background-size:100%;
        max-width:35em;

        .svg & {
            background-image:url("/public/images/logo/footer-border.svg");
        }


        @include respond-to(medium){
            padding-top:2.5em;
        }

        ul {
            font-size:90%;
            margin:1em 0 0 0;
            width:100%;
            max-width:none;
            padding-top:10%;

            li {
                display:inline-block;
                list-style:none;
                background:none;
                text-align:center;
                padding-left:.7em;
                margin-left:0;

                &:after {
                    content:"|";
                    color:darken($lightcream, 20);
                    padding-left:.9em;
                    margin-left:.2em;
                }
                
                &:last-child:after {
                    content:"";
                    padding-right:0;
                }

            }
        }
    }
}
