<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Systems, Mistakes, and the Sea › Robin Rendle</title>
    <meta name="author" content="Robin Rendle" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="author" href="https://plus.google.com/104389809267012182640" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/systems.css" />
    <!-- Feed -->
    <link
      href="https://robinrendle.com/feed.xml"
      rel="alternate"
      type="application/atom+xml"
    />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
  </head>
  <body>
    <article class="h-entry">
      <div class="layout-wrapper">
        <figure class="intro-img">
          <img
            src="/images/essays/systems/shipwreck.jpg"
            alt="A painting by William Bradford of a shipwreck"
            title="Shipwreck off Nantucket, 1860–61, William Bradford"
          />
        </figure>
        <div class="wrapper longform">
          <aside class="meta">
            <time datetime="{{date }}">
              {{ date | date: "%B %d, %Y" }}
            </time>
            • {{city}}, {{country}}
          </aside>

          <h1>Systems, Mistakes, and the Sea</h1>
          {{content}}
        </div>
      </div>
    </article>
  </body>
</html>
