

@if $use-block-list == true or $use-matrix == true{

/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class=block-list>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
      <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
   </ul>
 *
 * Extend this object in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/hR57q
 *
 */


.block-list {
    width:100%;
}
    .block-list__item {
        margin-top:2.4em;

        &:first-child {
            margin-top: 0;

            h3 {
                margin-top:0;
            }
        }

        &:last-child .content {
            border-bottom:none;
        }

        header {
            margin:0 auto;
            padding:0;

            &:after{
                content:"—";
                color:#ddd;
            }

            h3 {
                margin:0 auto;
                font-size:$baseh3+.2;
                line-height:1.3;
            }
        }
        .content {
            border-bottom:1px solid $border;
            padding-bottom:2em;

            p {
                margin-bottom:0;
                display:inline;
            }
            a {
                display:inline;
            }
        }
    }


    /*
    Note listing requires a bit of layout fiddling to look right
    */
    .block-list--notes {
        @extend .block_list;
        margin-top:0;
        }
    }

    .block-list--item__note {
        @extend .block-list--item;

        header:after {
            padding:.5em 0;
            display:block;
        }

        &:last-child header:after {
            content:"";
        }
    }
}//endif