@if $use-button == true{

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

    %button {
        border-radius:3px;
        width:25%;
        float:right;
        padding:0 .35em;
        border:none;
        color:$offwhite;
        padding:.3em 0 .3em 0;
        text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
        @include transition-duration(.5s);
    }

    %button-red {
        @extend %button;
        @extend %red-gradient;
    }

    %button-cream {
        @extend %button;
        @extend %cream-gradient;
    }

} //endif