@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne/soehne-buch.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --flow-space: 1.4rem;

  --font-size-1: 2rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.45rem;
  --font-size-4: 1.375rem;
  --font-size-5: 1.2rem;
  --font-size-6: 1.125rem;
  --font-size-7: 1rem;
  
  --radius-sm: 6px ;
  --radius-md: 6px;
  --radius-lg: 15px;
  
  --bg-image: url('/images/about/robin-rendle.webp');

  --font-mono: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
  --font-text: "Soehne", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-title: "Soehne", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  
  --primary: oklch(57.57% 0.1605 315.55);
  --neutral: oklch(90% 0 0);
  
  --0: 100% 0 h;
  --25: 98% 0 h;
  --50: 97% calc(c/16) h;
  --100: 94% calc(c/4) h;
  --200: 88% calc(c/2) h;
  --300: 70% c h;
  --400: 60% c h;
  --500: 50% c h;
  --600: 40% c h;
  --700: 30% c h;
  --800: 20% calc(c/1.5) h;
  --900: 0 c h;
  
  --color-title: oklch(from var(--neutral) var(--900));
  --color-text: var(--primary);
  --color-text-meta: oklch(from var(--neutral) var(--300));
  --color-border: oklch(from var(--neutral) var(--100));
}

@media screen and (min-width: 700px) {
  :root {
    --space-nav: 1.25rem;
    --space: 1.25rem;
  }
}

@view-transition {
  navigation: auto;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100%;
}

body, h1, h2, h3, h4, h5, h6, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: var(--font-text);
  color: oklch(from var(--neutral) var(--600));
  line-height: 1.45;
  text-decoration-skip-ink: auto;
  font-optical-sizing: auto;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  font-kerning: normal;
}

button, input, label { 
  line-height: 1.1;
}

.flow > * + *, .flow > blockquote > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.prose {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;
  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;    
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;
  font-size: var(--font-size-5);
  line-height: 1.4;
  
  h2 {
    font-size: var(--font-size-4);
  }
  
  h3 {
    font-size: var(--font-size-5);
  }
  
  em {
    font-style: normal;
  }
  
  .intro {
    font-size: var(--font-size-4);
    color: var(--color-title);
    line-height: 1.3;
  }
  
  a {
    text-decoration: underline;
    color: inherit;
    
    &:hover, &:focus {
      text-decoration-color: oklch(var(--primary) var(--600));
      color: oklch(from var(--primary) var(--500));
    }
  }
  
  ul {
    padding-left: 20px;
    position: relative;
    
    li {
      list-style: none;
      margin-bottom: 10px;
    }
    
    li:before {
      position: absolute;
      left: 0px;
      color: oklch(from var(--primary) var(--300));
      content: "–";
      margin-top: -1px;
      margin-left: 1px;
    }
  }
}

a.fancy-link {
  border: 1px solid oklch(from var(--primary) var(--100));
  text-decoration: none;
  color: oklch(from var(--primary) var(--400));
  border-radius: var(--radius-sm);
  background-color: oklch(from var(--primary) var(--50));
  padding: 4px 8px;
  margin: 0;
  
  &:hover, &:focus {
    border: 1px solid oklch(from var(--primary) var(--200));
    color: oklch(from var(--primary) var(--500));
    background-color: oklch(from var(--primary) var(--100));
  }
}

.prose pre, .prose code, .prose var, .prose samp, .prose kbd,
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    -webkit-hyphens: manual;
    hyphens: manual;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-family: var(--text);
  
  .direct-link {
    display: none;
  }
}

.pixelated {
  image-rendering: pixelated;
}

.text-title {
  font-weight: 400;
  color: var(--color-title);
  line-height: 1.25;
  font-size: var(--font-size-3);
}

.text-title-numbered {
  display: flex;
  gap: 1rem;
  
  &:before {
    counter-increment: headings;
    content: "0" counter(headings);
    color: oklch(from var(--primary) var(--400));
  }
}

.text-meta {
  font-size: var(--font-size-6);
  color: var(--color-text-meta);
}

.title-header {
  margin-bottom: 2rem;
  
  .text-title {
    margin-bottom: 4px;
  }
}

hr {
  border: 1px solid var(--color-gray);
  margin: 3rem auto 2rem auto;
  height: 16px;
  width: 58px;
  opacity: 0.5;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2256%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23000%22%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22m13.488%207.475-4.329%204.379a.5.5%200%200%201-.353.146H4.013V7.207a.5.5%200%200%201%20.146-.354l2.854-2.82V9l1.5-1.5%204.975-.025Z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20d%3D%22M13.83%202.172a4%204%200%200%200-5.656%200L3.793%206.5a.994.994%200%200%200-.293.707v4.586l-1.854%201.853a.5.5%200%200%200%20.708.708L4.207%2012.5h4.587a.995.995%200%200%200%20.706-.292l4.327-4.375a4%204%200%200%200%20.003-5.661Zm-4.95.707A3%203%200%200%201%2013.236%207h-3.53l2.148-2.146a.5.5%200%200%200-.708-.708L7.5%207.793V4.242l1.38-1.363ZM4.5%207.209l2-1.979v3.563l-2%202V7.209ZM8.794%2011.5H5.207l3.5-3.5h3.546l-3.46%203.5Z%22%2F%3E%3Cpath%20d%3D%22m33.488%207.475-4.33%204.379a.5.5%200%200%201-.352.146h-4.793V7.207a.5.5%200%200%201%20.146-.354l2.854-2.82V9l1.5-1.5%204.975-.025Z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20d%3D%22M33.83%202.172a4%204%200%200%200-5.656%200L23.793%206.5a.994.994%200%200%200-.293.707v4.586l-1.854%201.853a.5.5%200%200%200%20.707.708l1.854-1.854h4.587a.996.996%200%200%200%20.706-.292l4.327-4.375a4%204%200%200%200%20.003-5.661Zm-4.95.707A3%203%200%200%201%2033.236%207h-3.53l2.148-2.146a.5.5%200%200%200-.708-.708L27.5%207.793V4.242l1.38-1.363Zm-4.38%204.33%202-1.979v3.563l-2%202V7.209Zm4.294%204.291h-3.587l3.5-3.5h3.547l-3.46%203.5Z%22%2F%3E%3Cpath%20d%3D%22m53.488%207.475-4.33%204.379a.5.5%200%200%201-.352.146h-4.793V7.207a.5.5%200%200%201%20.146-.354l2.854-2.82V9l1.5-1.5%204.975-.025Z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20d%3D%22M53.83%202.172a4%204%200%200%200-5.656%200L43.793%206.5a.994.994%200%200%200-.293.707v4.586l-1.854%201.853a.5.5%200%200%200%20.707.708l1.854-1.854h4.587a.996.996%200%200%200%20.706-.292l4.327-4.375a4%204%200%200%200%20.003-5.661Zm-4.95.707A3%203%200%200%201%2053.236%207h-3.53l2.148-2.146a.5.5%200%200%200-.708-.708L47.5%207.793V4.242l1.38-1.363Zm-4.38%204.33%202-1.979v3.563l-2%202V7.209Zm4.294%204.291h-3.587l3.5-3.5h3.547l-3.46%203.5Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h56v16H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}

blockquote {
  padding: 18px 22px;
  background: oklch(from var(--neutral) var(--50));
  
  p {
    line-height: 1.45;
  }
}

iframe,
img,
video {
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  color: var(--color-text-meta);
  font-size: var(--font-size-7);
}

main {
  margin: 0 auto;
  counter-reset: headings;
}

c-page {
  --background: oklch(from var(--neutral) var(--0));
  background: var(--background);
  display: block;
  padding-bottom: 100px;
  
  &.c-page-offwhite {
    page-content {
      @media screen and (min-width: 800px) {
        padding-top: 100px;
      }
    }
  }
  
  &.c-page-img-full {
    padding: 0;
    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}

c-page:first-child page-content {
  padding-top: 15dvh;
}

page-content {
  display: block;
  max-width: 38rem;
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  
  @media screen and (min-width: 800px) {
    width: 100%;
    margin: auto;
    height: min-content;
  }
  
  *::selection {
      background: oklch(from var(--primary) var(--100));
      color: oklch(from var(--primary) var(--600));
  }
  *::-moz-selection {
      background: oklch(from var(--primary) var(--100));
      color: oklch(from var(--primary) var(--600));
  }
  *::-webkit-selection {
      background: oklch(from var(--primary) var(--100));
      color: oklch(from var(--primary) var(--600));
  }
}

page-img {
  display: flex;
  width: 100%;
  container-type: inline-size;
  position: relative;
  margin-bottom: calc(var(--flow-space) * 3);
  -webkit-transform: translateZ(0);

  @media screen and (min-width: 800px) {
    height: 100%;
  }
  
  img {
    object-fit: cover;
    max-height: 250px;
    
    @media screen and (min-width: 800px) {  
      position: sticky; 
      width: 100cqw;
      max-height: 100%;
      height: 100cqh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      .c-page-img-full & {
        position: static; 
        height: auto;
        max-height: 100%;
        object-fit: contain;
        width: auto;
        max-width: 800px;
        border-radius: var(--radius-md);
      }
    }
  }
}

.c-page-img-full {
  page-content {
    position: absolute;
    bottom: 0;
    
    p {
      max-width: 450px;
    }
  }
}

page-img.overlay {
  img {
    opacity: 0.3;
  }
  &:before {
    content: '';
    background: oklch(from var(--primary) var(--300));
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
  }
}

page-img.bg-neutral {
  background: oklch(from var(--neutral) var(--50));
}

page-img.bg-primary {
  background: oklch(from var(--primary) var(--50));
}

page-img.project {  
  img {
    height: auto;
    width: auto;
    margin: auto;
  }
}

.story-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.story {
  color: transparent;
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  width: 100%;
  transition: transform 0.2s linear;
  
  img {
    opacity: 0.5;
    image-rendering: pixelated;
    background-repeat: no-repeat !important;
    background-position: 100dvh !important;
    background-size: contain !important;
    transition: opacity 0.2s linear;
  }
  
  &:hover {
    transform: scale(1.05);
    img {
      box-shadow: 1px 1px 3px oklch(0 0 0 / 0.1);
      opacity: 1 !important;
      background-position: 0 0 !important;
    }
  }
  
  h2 {
    height: 0; 
    display: none;
  }
}

p img {
  margin-top: var(--space);
  margin-bottom: var(--space);
}

.notes {
  list-style: none;
  padding: 0;
  
  li:has(+ li:hover) {
    a {
      border-bottom-color: transparent;
    }
  }
  
  li:only-child {
    padding-top: 60px;
    margin-bottom: -100px;
    
    a {
      border-top: 1px solid var(--color-border);
    }
  }
  
  li a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    padding: 1rem 0; 
    
    &:hover {
      padding-left: 16px;
      padding-right: 16px;
      transform: translate(-16px);
      width: calc(100% + 32px);
      border-radius: var(--radius-md);
      background-color: oklch(from var(--primary) var(--100));
      border-bottom-color: transparent;
      color: oklch(from var(--primary) var(--500));
    }
    
    h3 {
      font-weight: 400;
      line-height: 1.3;
      flex: 1;
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.color-primary {
  color: oklch(from var(--primary) var(--500));
}

.newsletter {
  margin-bottom: 40px;
  
  form {
    display: flex;
    gap: 5px;
  }
  
  input[type="submit"] {
    border-radius: var(--radius-sm);
    background: oklch(from var(--primary) var(--400));
    color: oklch(from var(--primary) var(--50));  
    border: none;
    padding: 0.5rem 0.75rem;
  }
  
  input[type="email"] {
    border-radius: var(--radius-sm);
    color: oklch(from var(--primary) var(--700));
    border: none;
    padding: 0.75rem;
    width: 100%;
    background: oklch(from var(--primary) var(--100));
    
    &::placeholder {
      color: oklch(from var(--primary) var(--400));  
    }
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.project-nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.project-img {
  --shadow-color: oklch(from var(--neutral) var(--200));
  background: oklch(from var(--neutral) var(--50));
  /* border: 1px solid oklch(from var(--primary) var(--200)); */
  position: relative;
  width: calc(100dvw - 20px);
  left: calc(50% - 50dvw);
  margin-left: 10px;
  padding-top: 80px;
  padding-bottom: 80px;  
  margin-top: calc(var(--flow-space) * 4);
  margin-bottom: calc(var(--flow-space) * 4);
  
  & + .project-img {
    margin-top: 10px !important;
  }
  
  figcaption {
    max-width: 700px;
    margin: 0 auto;
    color: oklch(from var(--neutral) var(--300));
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0 !important;
  }
  
  img, video {
    border-radius: var(--radius-sm);
    max-width: 900px;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
  }
}

/*
Name: Duotone Dark
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
*/

code[class*="language-"],
pre[class*="language-"] {
  border-radius: var(--radius-sm);
  font-family: var(--font-mono);
  font-size: clamp(0.85rem, 2vw, 0.95rem);
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #2a2734;
  color: #9a86fd;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #6a51e6;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #6a51e6;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 1rem 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #6c6783;
}

.token.punctuation {
  color: #6c6783;
}

.token.namespace {
  opacity: 0.7;
}

.token.number,
.token.operator,
.token.tag {
  color: #e09142;
}

.token.function,
.token.property {
  color: #9a86fd;
}

.token.atrule-id,
.token.selector,
.token.tag-id {
  color: #eeebff;
}

.token.attr-name,
code.language-javascript {
  color: #c4b9fe;
}

.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.atrule,
.token.attr-value,
.token.boolean,
.token.control,
.token.directive,
.token.entity,
.token.keyword,
.token.regex,
.token.statement,
.token.string,
.token.unit,
.token.url,
code.language-css,
code.language-scss {
  color: #ffcc99;
}

.token.placeholder,
.token.variable {
  color: #ffcc99;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.bold,
.token.important {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
* http://prismjs.com/plugins/line-numbers/
*/
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers .line-numbers-rows > span:before {
  color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
  background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
}

code {
  font-family: var(--monospace);
  font-size: 85%;
  background: var(--color-cream);
  padding: 2px 3px;
  border-radius: 3px;
}
