/*

    PRINT STYLESHEET

    @author: Robin Rendle

    CONTENTS ----------

        - BODY
        - HEADLINES
        - LINKS
        - FOOTER

    -------------------

*/
/* line 23, ../sass/print.scss */
body {
  font-family: 16px/1.375em Georgia, serif;
  margin: 0;
  padding: 7%; }

/* line 30, ../sass/print.scss */
form,
.pagination {
  display: none; }

/* line 37, ../sass/print.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 1em; }

/* line 42, ../sass/print.scss */
h1 {
  font-size: 1.875em;
  line-height: 1.1; }

/* line 46, ../sass/print.scss */
h2 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 0.75em; }

/* line 51, ../sass/print.scss */
h3 {
  font-size: 1.125em; }

/* line 54, ../sass/print.scss */
h4 {
  font-size: 0.938em;
  text-transform: uppercase;
  font-style: italic; }

/* line 66, ../sass/print.scss */
a {
  color: #000;
  text-decoration: underline; }

/* line 77, ../sass/print.scss */
#footer {
  color: #666;
  font-size: 0.813em;
  border-top: 2px solid #999999;
  margin: 50px 0 0 0;
  padding: 15px 0 0 0; }
  /* line 84, ../sass/print.scss */
  #footer p {
    margin: 0; }
  /* line 87, ../sass/print.scss */
  #footer a {
    color: #666; }
