// ==========================================================================
// HIERARCHY
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    text-rendering: optimizeLegibility;

    .is-darkMode & {
        color: #ddd;
    }
}


h1,
.h1 {
    @include typeface("Display");
    @include remCalc(font-size, 25);
    line-height: 1.15;

    @include media(">medium"){
        @include remCalc(font-size, 35);
        line-height: 1.15;
    }

    @include media(">large"){
        @include remCalc(font-size, 40);
    }
}

h2,
.h2 {
    @include remCalc(font-size, 22);
    line-height: 1.3;

    @include media(">medium"){
        @include remCalc(font-size, 25);
        line-height: 1.3;
    }
}

h3,
.h3 {
    @include remCalc(font-size, 19);
    line-height: 1.4;

    @include media(">medium"){
        @include remCalc(font-size, 22);
        line-height: 1.45;
    }
}

h4,
.h4 {
    @include remCalc(font-size, 19);
    line-height: 1.3;
}

h5,
.h5 {
    @include remCalc(font-size, 17);
    line-height: 1.3;
}

h5,
.h5 {
    @include remCalc(font-size, 17);
    line-height: 1.3;
}

h6,
.h6 {
    @include remCalc(font-size, 15);
    line-height: 1.3;
}
