// ==========================================================================
// LINKS
// ==========================================================================


a {
    color: #C76C6C;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    outline: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
