// ==========================================================================
// LINKS
// ==========================================================================
//
// Links are a mixin because that way we dont have global colors and mess up the cascade.
//

a {
    outline: none;
    border: none;
}

@mixin links(){
    background: linear-gradient(transparent 89%, #aaa 95%, transparent 94%);
    color: $c-primary;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color .2s ease;
    outline: none;

    &:hover,
    &:focus {
        outline: none;
        color: darken($c-primary, 10);
        border: none;
        background: linear-gradient(transparent 89%, darken($c-primary, 10), transparent 94%);
    }
}


