// ==========================================================================
// MAIN
// ==========================================================================
//
// This module styles the body and html elements
//

* {
    box-sizing: border-box;
}

html{
    overflow-y:scroll;
    min-height:100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

body {
    font: 400 110%;
    @include typeface("Regular");
    line-height: 1.4;
    background-color: #f4f4f4;
    color: #222;

    // Sticky footer with flexbox hack.
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    @include media(">medium"){
        border: 15px solid #ffffff;
    }

    &:after {
        content: "smallest";
        @extend .caps;
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: #111;
        opacity: .5;
        padding: 5px 20px;
        color: #eee;

        @include media(">small"){
            content: "small";
        }

        @include media(">medium"){
            content: "medium";
        }

        @include media(">large"){
            content: "large";
        }

        @include media(">largest"){
            content: "largest";
        }
    }
}


.main {
    flex: 1; // sticky footer fix
}


em,
small,
cite,
dfn,
i,
q {
    @include typeface("Regular italic");
}

mark {
    background-color: rgb(255,220,0);
    background-color: rgba(255,220,0,.3);
    font-weight: normal;
    color: #444;
}

.caps,
abbr {
    @include typeface("Small caps");
}

abbr,
abbr[title] {
    border: none;
    text-decoration: none;
}

b,
strong {
    @include typeface("Book");
    color: #222;
}

acronym {
    text-transform: normal;
}
