// ==========================================================================
// RULES
// ==========================================================================

hr {
    border: none;
    display: inline-block;
    width: 100%;
    padding: 0 !important;
    @include remCalc(margin-bottom, $base-spacing-unit * 2);
    color: $c-secondary;

    @include media(">medium"){
        @include remCalc(margin-bottom, $base-spacing-unit * 3);
    }

    &:before {
        content: "* * *";
        display: block;
        margin: 0 auto;
        text-align: center;
        @include remCalc(font-size, 30);
    }
}
