---
import MainHead from '../../components/MainHead.astro';
import Title from '../../components/Title.astro';
import Nav from '../../components/Nav.astro';
import ArticleList from '../../components/ArticleList.astro';
import ArticleItem from '../../components/ArticleItem.astro';
import PhotoGalleryItem from '../../components/PhotoGalleryItem.astro';

interface MarkdownFrontmatter {
  date: number;
}

export async function getStaticPaths({rss, paginate}) {
  const allPosts = await Astro.fetchContent('./*.md');
  const sortedPosts = allPosts.sort((a, b) =>  new Date(b.date).valueOf() - new Date(a.date).valueOf());
  rss({
    title: 'Robin Rendle',
    description: 'Designer and writer',
    customData: `<language>en-us</language>`,
    // The list of items for your RSS feed, sorted.
    items: sortedPosts.map(item => {
      return {
        title: item.title,
        description: item.astro.html,
        link: item.url,
        pubDate: item.date,
      }
    }),
    dest: "/feed.xml",
  })

  return paginate(sortedPosts, {pageSize: 1000});
}

const { page } = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead
      title={'Photos'}
      description={'Designer and writer'}
    />

    <style lang="scss">

    </style>
  </head>

  <body>
    <Nav title={'Photos'} />
    <ArticleList title='Photos'>
      {page.data.map(p => <ArticleItem post={p} />)}        
    </ArticleList>
  </body>
</html>
