        </section>
        <footer role="contentinfo" class="m-footer">
            <nav class="o-nav o-nav--bullets m-footer__nav--social u-inverse">
                <a href="http://twitter.com/robinrendle" class="o-nav__item">
                    @robinrendle
                </a>
                <a href="http://codepen.io/robinrendle" class="o-nav__item">
                    Codepen
                </a>
            </nav>

            <nav class="o-nav o-nav--bullets m-footer__nav u-inverse">
                <a href="/about" class="o-nav__item">About</a>
                <a href="/notes" class="o-nav__item">Notes</a>
                <a href="/reading" class="o-nav__item">Reading</a>
                <a href="/essays" class="o-nav__item">Essays</a>
            </nav>
        </footer>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>
