        </section>
        <div class="island island--dark">
            <div class="m-wrapper--fixed cell-t60">
                <div class="box">
                        <p class="subtitle subtitle--small cell-b60">I’m currently available for design and front-end development projects from April until late May 2016. <a href="mailto:desk@robinrendle.com">Contact me</a> for more information or <a href="/work/about">read more about my skills</a>.</p>
                </div>
            </div>
        </div>
        <script src="/build/js/ff-observer.js"></script>
        <script type="text/javascript">
            var fg = new FontFaceObserver("FG", {weight: 400}),
                fgDisplay = new FontFaceObserver("FG Display", {weight: 800}),
                fgSemibold = new FontFaceObserver("FG Semibold", {weight: 600});

                Promise.all([
                    fg.check(null, 5000),
                    fgDisplay.check(null, 5000),
                    fgSemibold.check(null, 5000),
                ]).then(function(){
                    document.documentElement.className += ' fonts-loaded';
                });
        </script>
    </body>
</html>