        </section>
        <footer role="contentinfo" class="m-footer">
            <nav class="o-nav o-nav--bullets m-footer__nav--social u-inverse">
                <a href="http://twitter.com/robinrendle" class="o-nav__item">
                    @robinrendle
                </a>
                <a href="http://codepen.io/robinrendle" class="o-nav__item">
                    Codepen
                </a>
            </nav>

            <nav class="o-nav o-nav--bullets m-footer__nav u-inverse">
                <a href="/about" class="o-nav__item">About</a>
                <a href="/notes" class="o-nav__item">Notes</a>
                <a href="/reading" class="o-nav__item">Reading</a>
                <a href="/essays" class="o-nav__item">Essays</a>
                <a href="/work" class="o-nav__item">Work</a>
            </nav>
        </footer>
    </div>
    <script type="text/javascript">
        WebFontConfig = {
          custom: {
            families: [
                'FG Display',
                'Nocturno Book 7',
                'Nocturno Regular Italic 35',
                'Nocturno Regular 39',
                'Nocturno Regular 40' // small caps
            ],
            urls: [
                'http://fonts.typonine.com/WF-003562-001466.css',
                'http://fonts.typonine.com/WF-003562-001467.css',
                '/fonts/font.css'
            ]
          },
          timeout: 2000,
          active: function() {
            sessionStorage.fonts = true;
          }
        };

       (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
          s.parentNode.insertBefore(wf, s);
       })(document);
    </script>

    <script src="/js/app.js"></script>
</body>
</html>
