<page-footer class="cover">
  <a class="text-title-numbered" href="/about">
    About
  </a>
  <a class="text-title-numbered" href="/notes">
    Notes
  </a>
  <a class="text-title-numbered" href="/stories">
    Stories
  </a>
  <a class="text-title-numbered" href="/newsletter">
    Newsletter</h2>
  </a>
</page-footer>
