<style>
  @scroll-timeline pageScrollTimeline {
    source: auto;
    orientation: block;
    scroll-offsets:
      start 0px,
      end 20px;
  }

  @keyframes remove-border-radius {
  	from {
      background: black;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  	to {
      background: red ;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  .header {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 9;
    padding: 40px 15px 30px 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: calc(50% - 50vw);
    margin: 0 auto;
    top: 0;
    left: 0;

    span {
      display: none;

      @media screen and (min-width: 700px) {
        display: block;
      }
    }

    h1,
    h2 {
      color: var(--color-title);
      font-size: initial;
      line-height: initial;
      margin: initial;
      padding: initial;
      font-weight: initial;
      margin-right: auto;
    }

    nav {
      display: flex;
      gap: 0;
      // background: var(--color-nav);
      border-radius: 100px;
      padding: 6px;

      @media screen and (min-width: 600px) {
        gap: 0;
      }

      a {
        opacity: 0.6;
        color: var(--color-text);
        text-decoration: none;

        &:hover,
        &:focus {
          opacity: 1;
        }
      }

      .active {
        opacity: 1;
      }
    }
  }
</style>

<div class="header">
  <nav>
    <a href="/" class="button-text {{ page.url | isActive('/') }}">About</a>
    <a href="/notes" class="button-text {{ page.url | isActive('/notes/') }}">Notes</a>
    <a href="/stories" class="button-text {{ page.url | isActive('/stories/') }}">Stories</a>
    <a href="/newsletter" class="button-text {{ page.url | isActive('/newsletter/') }}">Newsletter</a>
  </nav>
</div>
