<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}} › {{page.title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/+RobinRendle">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/build/images/favicon.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/build/css/work.css" />
</head>

<body class="{{parent.meta.bodyclass}}">
    <div class="main">
        <section role="main" class="">
