<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<meta name="author" content="Robin Rendle">
	<meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="author" href="https://plus.google.com/+RobinRendle">
	<link rel="preload" href="/fonts/OutputSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.png">
	<!-- RSS Feed -->
	<link href='https://robinrendle.com/feed.xml' rel='alternate' type='application/atom+xml'>
	<!-- JSON Feed -->
	<link rel="alternate" title="Robin Rendle" type="application/json" href="https://robinrendle.com/feed.json" />
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/screen.css" />
</head>

<body>
	<div class="main">
		<header class="m-banner" role="banner">
			<div class="m-wrapper">
				<a href="/" class="m-banner__about">Robin Rendle</a>
				<a href="#" class="m-banner__menu " aria-role="hidden">Menu</a>
				<div class="o-nav o-nav--bullets m-banner__nav">
					<nav class="">
						<a href="/about" class=" o-nav__item">About</a>
						<a href="/notes" class=" o-nav__item">Notes</a>
						<a href="/essays" class=" o-nav__item">Essays</a>
					</nav>
				</div>
			</div>
		</header>
		<section role="main" class="">
