<!DOCTYPE html>
<html lang="en" class="no-js">
<!--
We dream of a library of literature created by everyone and belonging to no one, a library that is immortal and will mysteriously lend order to the universe, and yet we know that every orderly choice, every catalogued realm of the imagination, sets up a tyrannical exclusion. Every library is exclusionary, since its selection, however vast, leaves outside its walls endless shelves of writing that, for reasons of taste, knowledge, space and time, have not been included.

Every library conjures up its own dark ghost; every ordering sets up, in its wake, a shadow library of absences.

§ Alberto Manguel, The Library at Night
-->
<head>
	<meta charset="utf-8" />
	<title>{{page.title}} • Robin Rendle</title>
	<meta name="author" content="Robin Rendle">
	<meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="author" href="https://plus.google.com/+RobinRendle">
  <link rel="preload" href="/fonts/National2-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/National2-Narrow-Medium.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/National2-RegularItalic.woff2" as="font" type="font/woff2" crossorigin>
	<!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.png">
	<!-- RSS Feed -->
	<link href='https://robinrendle.com/feed.xml' rel='alternate' type='application/atom+xml'>
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/screen.css" />

  <script>
  const HTMLElement = document.querySelector('html');
  document.addEventListener('keypress', function(e){
    if(e.key == "d") {
      console.log('dark mode enabled');
      HTMLElement.classList.toggle('dark-mode');
    }
    return
  })
  </script>
</head>

<body>
	<div class="main">
		<header class="m-banner" role="banner">
			<div class="m-wrapper">
        <div class="m-wrapper__content">
  				<a href="/" class="m-banner__about">Robin Rendle</a>
  				<a href="#" class="m-banner__menu " aria-role="hidden">Menu</a>
  				<div class="o-nav o-nav--bullets m-banner__nav">
  					<nav class="">
  						<a href="/about" class=" o-nav__item">About</a>
  						<a href="/notes" class=" o-nav__item">Notes</a>
  						<a href="/essays" class=" o-nav__item">Essays</a>
              <a href="/projects" class=" o-nav__item">Projects</a>
              <a href="/adventures" class=" o-nav__item">Newsletter</a>
  					</nav>
  				</div>
        </div>
			</div>
		</header>
		<section role="main" class="">
