<!DOCTYPE html>
<html lang="en" class="no-js">
<!--
  It’s all right to forget, you know, he said. It’s good to.
  In fact, we have to forget things sometimes. Forgetting it
  is important. We do it on purpose. It means we get a bit of
  a rest. Are you listening? We have to forget. Or we’d never
  sleep again.

  Elisabeth was crying now like a much younger child cries. Crying
  came out of her like weather.

  Daniel put his hand flat against her back.

  What I do when it disresses me that there’s something I can’t
  remember, is. Are you listening?

  Yes, Elisabeth said through the crying.

  I imagine that whatever it is I’ve forgotten is folded close to me,
  like a sleeping bird.

  What kind of bird? Elisabeth said.

  A wild bird, Daniel said. Any kind. You’ll know what kind when it
  happens. Then, what I do is, I just hold it there, without holding
  it too tight, and I let it sleep. And that’s that.


  § Autumn, Ali Smith

-->
<head>
	<meta charset="utf-8" />
	<title>{{site.title}}</title>
	<meta name="author" content="Robin Rendle">
	<meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="author" href="https://plus.google.com/+RobinRendle">
	<link rel="preload" href="/fonts/caponi-display.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/caponi-text-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/caponi-text-semibold.woff2" as="font" type="font/woff2" crossorigin>
	<!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.png">
	<!-- RSS Feed -->
	<link href='https://robinrendle.com/feed.xml' rel='alternate' type='application/atom+xml'>
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/screen.css" />
</head>

<body>
	<div class="main">
		<header class="m-banner" role="banner">
			<div class="m-wrapper">
				<a href="/" class="m-banner__about">Robin Rendle</a>
				<a href="#" class="m-banner__menu " aria-role="hidden">Menu</a>
				<div class="o-nav o-nav--bullets m-banner__nav">
					<nav class="">
						<a href="/about" class=" o-nav__item">About</a>
						<a href="/notes" class=" o-nav__item">Notes</a>
						<a href="/essays" class=" o-nav__item">Essays</a>
					</nav>
				</div>
			</div>
		</header>
		<section role="main" class="">
