<form
  class="form"
  action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email" class="form-label">Your email address</label>
  <div class="form__input-button-group">
    <input class="form-input" type="text" name="email" required id="bd-email" />
    <input type="hidden" value="1" name="embed" />
    <input class="form-submit" type="submit" value="Subscribe" />
  </div>
</form>
