<div class="newsletter">
  <p>If you’re interested in keeping up to date with my work, this is the way. Sent out just a few times a year.</p>
  
  <form action="https://buttondown.email/api/emails/embed-subscribe/robinrendle" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')">
    <div class="inputs">
      <input type="email" name="email" id="bd-email" required="" placeholder="Email address" class="input-email" />
      <input type="submit" value="Subscribe" class="input-submit">
    </div>
  </form>
</div>