<div class="card-list">
  <p class="card-list__text">
    Adventures in Typography is a newsletter all about typefaces and fonts, and
    what those words mean. It’s about publishing and media, writing and reading.
    It’s a newsletter for book nerds, typographers, and neon light enthusiasts.
  </p>
  <div class="cell-t20">
    <form
      class="form"
      action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <input
        class="form-input"
        type="text"
        name="email"
        required
        id="bd-email"
      />
      <label for="bd-email" class="form-label">Email</label>
      <input type="hidden" value="1" name="embed" />
      <input class="form-submit" type="submit" value="Subscribe" />
    </form>
  </div>
</div>
