<ol reversed class="article-list" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for note in collections.notes | reverse %}
  <li class="article-list-item {% if note.url == url %} notelist-item-active{% endif %}">    
    <a class="article-list-link" href="{{ note.url | url }}">
      <div class="article-list-item-title">
        {% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}
        <div class="article-list-item-extract">{{note.data.extract}}</div>
      </div>
      <time class="notelist-date" datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate }}</time>
    </a>
  </li>
{% endfor %}
</ol>
