<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}} › {{page.title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/+RobinRendle">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/projects.css" />
</head>

<body class="">
  <section role="main" class="">
    <header>
      <h1>Robin Rendle</h1>
      <p>Product designer, <abbr title='User Interface'>UI</abbr> engineer, and writer</p>
      <a href='/'>Download resume</a>
    </header>
