@if $use-item-list == true{

/*------------------------------------*\
    $ITEM-LIST
\*------------------------------------*/
/**
* Create a list of articles
**/

.item-list {
    width:100%;
}
    .item-list__item {
        margin-bottom:$base-spacing-unit * 2;

        .hgroup {
            margin:0;
            margin-bottom: $half-spacing-unit;

            h3 {
                font-size: 22px;
                font-size: calc-rem(22px);

                @include breakpoint(600px) {
                    font-size: 25px;
                    font-size: calc-rem(25px);
                }
            }
        }

        &:first-child {
            margin-top: 0;
        }

        .content {
            border-bottom:1px solid $border;
            padding-bottom:2em;

            p {
                margin-bottom:0;
                display:inline;
            }
            a {
                display:inline;
            }
        }
    }


    /*
    Note listing requires a bit of layout fiddling to look right
    */
    .item-list__item--notes {
        margin-bottom:$base-spacing-unit*1.5;

        h3 {
            @include font-size(21px);
        }
    }

} //endif