// ==========================================================================
// BREAKPOINT SETTINGS
// ==========================================================================
//
//
// This module defines the global breakpoints and width variables for
// generating media queries in CSS.
// 
// First we set the default min-width breakpoints as px values and then add these values
// to the $breakpoints list. With the breakpoint respond-to feature we can then
// use media queries like this:
// 
// 
// @include respond-to("small and above"){
//      @content
// }
//

$width__small: 480px;
$width__medium: 580px;
$width__large: 730px;
$width__largest: 976px;
$width__gigantic: 1200px;
$width__widescreen: 1800px;


// BREAKPOINTS
// ==========================================================================

$breakpoint-to-ems: true;

$no-queries: 'no-query' true;

$breakpoints: add-breakpoint('small only', (max-width $width__small - 1px, $no-queries));
$breakpoints: add-breakpoint('small and above', ($width__small, $no-queries));
$breakpoints: add-breakpoint('between small and medium', ($width__small $width__medium));
$breakpoints: add-breakpoint('below medium', (max-width $width__medium - 1px, $no-queries));
$breakpoints: add-breakpoint('medium and above', ($width__medium, $no-queries));
$breakpoints: add-breakpoint('between medium and large', ($width__medium $width__large));
$breakpoints: add-breakpoint('below large', (max-width $width__large - 1px, $no-queries));
$breakpoints: add-breakpoint('large and above', ($width__large, $no-queries));
$breakpoints: add-breakpoint('between large and largest', ($width__large $width__largest));
$breakpoints: add-breakpoint('largest only', ($width__largest, $no-queries));
$breakpoints: add-breakpoint('gigantic', ($width__gigantic, $no-queries));
$breakpoints: add-breakpoint('widescreen', ($width__widescreen, $no-queries));
$breakpoints: add-breakpoint('high resolution', (min-resolution 1.5dppx, false));
$breakpoints: add-breakpoint('landscape', (orientation landscape));
$breakpoints: add-breakpoint('portrait', (orientation portrait));
