// ==========================================================================
// COLORS
// ==========================================================================

$c-primary: #AF6868;
$c-secondary: darken(#aaa, 15);

$c-dark: #ddd;

// #82B29D