/*------------------------------------*\
    $COLORS
\*------------------------------------*/

    $color__black: #000;
    $color__white: #ffffff;

    // PRIMARY COLORS
    $color__red--primary: #c35e5e;
    $color__secondary: #cccccc;
    $color__blue: #0D4865;
    $color__blue--light: #0E8BB7;
    $tertiary: #fafafa;


    $color__highlight: #fefed0;


    // GRAY COLORS
    $offgrey: #fbfafa;
    $offwhite: #fefefe;
    $color__lightgrey: #aaaaaa;
    $color__grey--light: #999999;
    $color__meta: #888888;


    // DARK COLORS
    $color__lightblack: #252525;
    $color__offblack: #343434;
    $color__metal-grey: #222222;
    $color__darkgrey: #444;
    $color__textgrey: #434343;

    $color__grey--dark: #555555;
    $color__grey--mid: #666666;



    $color__border--light: #eeeeee;
    $color__border--dark: #dddddd;

    $color__island: #F7F7F7;

    $lightcream: #efefef;
    $color__purple: rgb(140,87,235);
    $pink: #D71379; // Error


    /**
     * Gradient mixin: add a color -> get your lovely gradient
     */
    @mixin gradient($default, $from, $to){
        background-image:$default;
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -o-linear-gradient(top, $from, $to);
        background-image: -moz-linear-gradient(top, $from, $to);
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -ms-linear-gradient(top, $from, $to);
    }

    %red-gradient {
        @include gradient(darken($color__red--primary, 15%), $color__red--primary, darken($color__red--primary, 10%));
    }

    %cream-gradient {
        @include gradient(darken($color__secondary, 15%), $color__secondary, darken($color__secondary, 10%));
    }
