/*------------------------------------*\
    $FONT STACKS
\*------------------------------------*/
/**
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h1` to a `h3`; a double-stranded
 * heading hierarchy.
 */


    // @start FONT STACKS -------------------- /

    $code:Courier, Monaco, sans-serif;

    %miller-headline {
        font-family:"Miller Headline Semi Bold", Georgia, serif;
        font-style:normal;
        font-weight:bold;
    }

    %miller {
        font-family:MillerDisplay, Georgia, serif;
        font-style:normal;
        font-weight:normal;
    }

    %poynter {
      font-family:"Poynter Serif RE",Georgia, serif;
      font-style:normal;
      font-weight:normal;
    }
