/*------------------------------------*\
    $FONT STACKS
\*------------------------------------*/
/**
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h1` to a `h3`; a double-stranded
 * heading hierarchy.
 */


    // @start FONT STACKS -------------------- /

    $code: Courier, Monaco, sans-serif;

    $font-weight--light: 300;
    $font-weight--regular: 400;
    $font-weight--medium: 500;
    $font-weight--bold: 600;
    $font-weight--black: 700;

    %font__headline {
        font-family: 'Whitney A', 'Whitney B', Georgia, serif;
        font-weight: $font-weight--black;
        font-style: normal;
    }

    %font__text--display {
        font-family: 'Whitney A', 'Whitney B', Georgia, serif;
        font-weight: $font-weight--bold;
        font-style: normal;
    }

    %font__text {
      font-family:'Chronicle SSm A', 'Chronicle SSm B', Georgia, serif;
      font-weight: $font-weight--regular;
      font-style: normal;
    }

    %font__text--sub {
        font-family: 'Whitney A', 'Whitney B', Georgia, serif;
        font-weight: $font-weight--medium;
        font-style: normal;
    }

    %font__text--sc {
        font-family: 'Chronicle SSm Small Caps A', 'Chronicle SSm Small Caps B', Georgia, serif;
        font-style: normal;
        font-weight: $font-weight--regular;
    }