/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/**
* Using the Kellum method to hide text from an element and serving it as a placeholder.
**/
%text-replace {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}