// ==========================================================================
// TYPE
// ==========================================================================
// Default typesetting, font-height and font-weight settings.

@mixin typeface($font) {
    $fallback: Georgia, serif;

    .fonts-loaded & {

        @if $font == "Display" {
            font-family: "Nocturno Display Medium 3", $fallback;
        }

        @if $font == "Book" {
            font-family: "Nocturno Book 2", $fallback;
        }

        @if $font == "Regular italic" {
            font-family: "Nocturno Regular Italic 24", $fallback;
        }

        @if $font == "Small caps" {
            font-family: "Nocturno Regular 26", $fallback;
            text-transform: lowercase;
        }

        @if $font == "Regular" {
            font-family: "Nocturno Regular 25", $fallback;
        }

        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
    }
}