@import "../../public/fonts/degular/degular";

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  &[data-theme='light']{
    --color-background: #fafafa;
    --color-border: #aaa;
    --color-title: #111;
    --color-text: #222;
    --color-subtext: #555;
    --color-faded: #ddd;
    --color-link-rgb: 101, 106, 197;
    --color-link: rgb(var(--color-link-rgb));
    --color-backgroundNav: #000;
    --color-nav: var(--color-link);
    --color-nav-logo-bg: black;
    --color-nav-logo-text: white;
    --color-nav-items: white;
  }

  &[data-theme='dark']{
    --color-background: #111;
    --color-border: #222;
    --color-title: #fff;
    --color-text: rgb(180, 180, 180);
    --color-subtext: #777;
    --color-faded: #333;
    --color-link-rgb: 101, 106, 197;
    --color-link: rgb(var(--color-link-rgb));
    --color-backgroundNav: #000;
    --nav-color: var(--color-link);
    --nav-logo-bg: #fff;
    --nav-logo-color: inherit;
    --color-nav-items: white;
  }

  --spacing: 20px;
  --base-font-size: clamp(17px, 1.1rem + 0.2vw, 20px);
  --heading-font-size: clamp(26px, 1rem + 2vw, 32px);
  --max-wrapper-width: 630px;
  --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-display: Degular, var(--font-fallback);
  --font-text: DegularText, var(--font-fallback);
  --font-subheading: Degular, var(--font-fallback);
  --header-height: 50px;
  --base-line-height: 1.3;
  --wrapper-padding: 15px;

  @media screen and (min-width: 500px) {
    --wrapper-padding: 25px;
  }

  @media screen and (min-width: 767px) {
    --base-line-height: 1.4;
    --wrapper-padding: 0;
  }
}

* + * {
  margin-bottom: 0;
  margin-top: 1.6rem;
}

html {
  background: var(--color-link);
  min-height: 100%;
}

body {
  min-height: 99vh;
  height: 100%;
  margin: 0 0 4px 0;
  padding: 0 0 200px 0;
  color: var(--color-text);
  font: 100% / var(--base-line-height) var(--font-text);
  background: var(--color-background);
  overflow-x: hidden;
}

main {
  margin: 0;
}

h1 {
  line-height: 1.05;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-title);

  @media screen and (min-width: 900px) {
    font-size: 2.6rem;
  }
}

// Safari bug fix
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-family: var(--font-text);
}

h3 {
  font-size: clamp(100%, 1.2rem + 0.5vw, 28px);
}

pre[class^="language"] {
  background-color: var(--color-faded);
  font-size: clamp(100%, 1rem + 0.5vw, 18px);
  padding: var(--spacing);
  border-radius: 3px;
}

li {
  margin-top: 0;
}

section p:first-of-type {
  margin-top: 0;
}

p,
li {
  font-size: var(--base-font-size);
}

p {
  margin-bottom: 0;
  padding-top: 0;
}

a {
  color: var(--color-text);
  position: relative;
  z-index: 2;
  text-decoration-thickness: 1px;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-title);
    color: var(--color-title);
    background-color: rgba(var(--color-link-rgb), 0.2);
  }
}

img,
video {
  max-width: 100%;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.post-time {
  display: flex;
  gap: 5px;
  color: var(--color-subtext);

  time {
    margin: 0;
  }

  > div:nth-child(1):after {
    content: "•";
    margin-left: 5px;
  }
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  border-left: 1px solid var(--color-faded);
  padding-left: 15px;
}

.post {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-faded);
  color: inherit;
  text-decoration: none;

  time {
    color: var(--color-subtext);
  }

  h3 {
    color: var(--color-link);
    margin-bottom: 0;
  }
}

.banner__nav-item {
  padding: 5px;
}

hr {
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;

  &:before {
    font-size: 28px;
    margin: 0 auto;
    content: "* * *";
    color: var(--color-faded);
  }
}

pre {
  max-width: 100%;
  overflow: scroll;
}

iframe {
  width: 100%;
}

p code {
  font-size: 1rem;
  background: var(--color-border);
  border-radius: 3px;
  padding: 0 3px;
}

pre code {
  font-size: 1rem;
}

pre {
  border-radius: 3px;
}

/*
Name: Duotone Dark
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-evening-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #2a2734;
  color: #9a86fd;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #6a51e6;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #6a51e6;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1.3em;
  margin: 2rem 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 2px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6c6783;
}

.token.punctuation {
  color: #6c6783;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #e09142;
}

.token.property,
.token.function {
  color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #ffcc99;
}

.token.placeholder,
.token.variable {
  color: #ffcc99;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
  color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(224, 145, 66, 0.2) 70%,
    rgba(224, 145, 66, 0)
  );
  background: linear-gradient(
    to right,
    rgba(224, 145, 66, 0.2) 70%,
    rgba(224, 145, 66, 0)
  );
}

.nav-logo {
  background: var(--color-nav-logo-bg);
  font-family: var(--font-subheading);
  display: grid;
  place-items: center;
  height: var(--header-height);
  line-height: 1;
  color: var(--color-nav-logo-text);
  text-decoration: none;
  font-size: 1rem;
  padding: 0 10px !important;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 20px;

  @media screen and (min-width: 767px) {
    padding: 0 20px;
    width: 144px;
  }
}

.card p {
  margin-top: 0;
}

.article img {
  margin-left: -3rem;
  max-width: calc(100% + 6rem);
  border-radius: 3px;
}

.body-gallery {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.gallery {
  height: 100vh;
  overflow: hidden;
}
