// ==========================================================================
// DEFAULTS
// ========================================================================== 
//
// Quickly set your default variables
// 




/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */

$alpha-size: 40 !default;
$beta-size: 25!default;
$gamma-size: 21!default;
$delta-size: 17 !default;
$epsilon-size: 16 !default;
$zeta-size: 15 !default;



$h1-size: 35!default;
$h2-size: 25!default;
$h3-size: 21!default;
$h4-size: 17!default;
$micro-size: 16!default;
$milli-size: 15!default;

$base-font-size: 17;
$base-line-height: 31;
$line-height-ratio: $base-line-height / $base-font-size;


/**
 * Base font-family.
*/
$base-font-family: serif!default;


/**
 * Base ui colors.
*/
$base-ui-color: #ccc!default;


/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
$english-quotes:    true!default;



/*------------------------------------*\
    $ATOMS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-item-list:     true!default;
$use-grids:         true!default;
$use-icon-text:     true!default;
$use-island:        true!default;
$use-marginalia:    true!default;
$use-nav:           true!default;
$use-rules:         true!default;
$use-sprite:        true!default;






