/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * Quickly set your default variables
 */



/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * Enter breakpoint variables here
 */

$breakpoint__medium: 30.25em;
$breakpoint__grande: 42em;
$breakpoint__large: 61.9375em;
$breakpoint__widescreen: 109.375em;



/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$h1-size: 40!default;
$h2-size: 32!default;
$h3-size: 18!default;
$h4-size: 17!default;
$micro-size: 16!default;
$milli-size: 15!default;

$base-font-size: 17!default;
$base-line-height: 33!default;


/**
 * Base font-family.
*/
$base-font-family: serif!default;


/**
 * Base ui colors.
*/
$base-ui-color: #ccc!default;


/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
$english-quotes:    true!default;



/*------------------------------------*\
    $ATOMS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-beautons:      true!default;
$use-block-list:    true!default;
$use-item-list:     true!default;
$use-grids:         true!default;
$use-icon-text:     true!default;
$use-island:        true!default;
$use-marginalia:    true!default;
$use-media:         true!default;
$use-nav:           true!default;
$use-rules:         true!default;
$use-sprite:        true!default;



/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$quarter-spacing-unit: $half-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;