@font-face {
  font-family: "Clarendon";
  src: url("/fonts/clarendon/clarendon.woff2")
      format("woff2 supports variations"),
    url("/fonts/clarendon/clarendon.woff2") format("woff2-variations");
  font-weight: 100 1000;
}
