
<!-- Slideshow index ie. /talks/a-visual-lexicon -->
{% if type == "page" %}
    {% include 'components/header' %}    
    <div class="container">

        <header class="heading-group">
            <div class="meta-info-block">
                <div class="meta-info-block__item">
                    {% if meta.conference %}
                        {{meta.conference.value}}
                    {% endif %}
                </div>
                <div class="meta-info-block__item">
                    <time datetime="{{date}}">{{ date | date: "%d %B %Y"}}</time>
                </div>
            </div>
            <h1>{{title}}</h1>
        </header>
        
        <div class="island--meta">
            {{body}} 
        </div><!-- //.island-meta -->

     

        {% for post in posts reversed %}
            {% if forloop.index0 == 0 %}

                <div class="infinite-scroll">
                    {{post.body}}


                    {% if post.next %}
                        <noscript>
                            <div class="island--meta islet">       
                                <nav class="nav nav--split">      
                                    <div class="nav--split__item 
                                                nav--split__right">
                        </noscript>

                        <a href="{{post.next.url}}">Next slide »</a>
                
                        <noscript>
                                    </div>
                                </nav>
                            </div>
                        </noscript>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'components/footer-scripts' %}
{% endif %}


<!-- Individual slide markup -->
{% if type == "post" %}
    {% include 'components/header' %}
    
    <div class="container">
        <div class="slide-content">
            {{body}}


           

            {% if next %}

                <nav class="nav nav--split">      
                    <div class="nav--split__item 
                                nav--split__right">        
                        <a href="{{next.url}}">Next slide »</a>
                    </div>
                </nav>


            {% endif %}
        </div>
    </div>


    {% include 'components/footer--empty' %}
{% endif %}

    
