/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 * Use an explicit font stack to ensure browsers render correct `line-height`.
 */

 pre{
    overflow:auto;
}
    pre mark{
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }


code {
    color:$purple;
    font-family:$code;
    font-size:.9em;
    line-height:1.6;

    .fontface &{
        font-size:.9em;
    }

    &.class {
        color:#47CA26;
    }

    code {
        font-size:1em;

        .fontface & {
            font-size:1em;
        }
    }
}