/*------------------------------------*\
    $BLOCKQUOTES
\*------------------------------------*/

blockquote {
    margin-bottom:0;

    p {
        width:100%;
        color:$textgrey;
        font-style:italic;
        padding-left: 1em;
        border-left:2px solid #eee;
        padding-bottom:1.5em;
        margin-bottom:0;

        &:only-child {
            padding-bottom:0;
        }
    }

    em {
        font-style:normal;
        @extend %poynter;
    }

    >p:last-of-type {
        margin-bottom:0;
        padding-bottom:0;
    }
}