/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

ul {
    margin-left: $base-spacing-unit;

    li {
        list-style:none;
        position:relative;

        &:before {
            content:"•";
            color: #C96F6F;
            left:(- $half-spacing-unit - 3px);
            padding:0;
            margin:0;
            position:absolute;
        }
    }

    ul,ol {
        margin-bottom:0;
    }
}

ol {
    li {
        list-style:decimal;
        list-style-position:outside;
        margin-left:1em;
        padding-left:0;
    }

    ol,ul {
        margin-bottom:0;

        li {
            list-style:lower-roman;
        }
    }
}