/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

ul {
    margin-left:0;

    li {
        list-style:none;
        position:relative;

        &:before {
            content:"•";
            color: #C96F6F;
            left:(- $half-spacing-unit - 3px);
            padding:0;
            margin:0;
            position:absolute;
        }
    }

    ul,ol {
        margin-bottom:0;
    }
}

ol {
    margin-left: 0;
    list-style-position: outside;

    li {
        list-style:decimal;
        list-style-position:outside;
        padding-left:0;
    }

    ol,ul {
        margin-bottom:0;

        li {
            list-style:lower-roman;
        }
    }
}