
/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * If English quotes are set in `_vars.scss`, define them here.
 */

.quote {
    position:relative;
    z-index:1;
    background-color:$tertiary;

    blockquote {
        padding:1em 1em .9em 1em;
        border:1px solid $border2;
        color:darken($textgrey,5);

        p {
            border:none;
            padding-left:0;

            @include breakpoint($medium){
                font-size:.95em;
            }
        }
    }

    >img {
        @extend %pull_right;
    }

    .cite {
        padding:1em 1em .95em 1em;
        font-weight:normal;
        border:1px solid $border2;
        border-top:none;
        margin:0;

        em {
            font-style:normal;
            font-weight:bold;
        }

        >:before {
            content:"";
        }
    }
}