/*------------------------------------*\
    $ARTICLE-LIST
\*------------------------------------*/
/**
* Create a standard list for articles and posts
**/

.article-list {
    width:100%;
    @include rem(margin-top, $base-spacing-unit);
}
    .article-list__item {
        @include rem(margin-bottom, $half-spacing-unit * 1.5);
        margin-top: 0;
        padding-top: 0;

        @include breakpoint($breakpoint__medium--b){
            @include rem(margin-bottom, $base-spacing-unit);
        }

        .hgroup {
            margin:0;

            h3 {
                @include rem(font-size, $gamma-size);
                @include rem(margin-bottom, 5);
                padding-bottom: 0;
                font-weight: normal;
                text-align: left;
                border-bottom: 0;

                @include breakpoint($breakpoint__grande){
                    @include rem(font-size, $gamma-size + 2);
                }
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-of-type {
            .article-list__content {
                border-bottom: none;
            }
        }
    }

    .article-list__content {
        @include rem(padding-bottom, $half-spacing-unit * 1.5);
        border-bottom: 1px dotted $color__border--dark;

        @include breakpoint($breakpoint__medium--b){
            @include rem(padding-bottom, $base-spacing-unit);
        }

        p {
            @include rem(margin-bottom, 5);

            @include breakpoint(580px) {
                font-size: 105%;
                line-height: $line-height-ratio - .1;
            }

            @include breakpoint($breakpoint__grande) {
                font-size: 110%;
                line-height: $line-height-ratio;
            }
        }
    }