/*------------------------------------*\
    $ARTICLE-LIST
\*------------------------------------*/
/**
* Create a standard list for articles and posts
**/

.article-list {
    width:100%;
    // @include rem(margin-top, $base-spacing-unit);
    @include rem(margin-bottom, $base-spacing-unit * 2);
}
    .article-list__item {
        @include rem(margin-bottom, $half-spacing-unit * 1.5);
        margin-top: 0;
        padding-top: 0;

        .hgroup {
            margin:0;

            h3 {
                @include rem(margin-bottom, 5);
                padding-bottom: 0;
                text-align: left;
                border-bottom: 0;
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-of-type {
            .article-list__content {
                border-bottom: none;
            }
        }
    }

    .article-list__content {
        @include rem(padding-bottom, $half-spacing-unit * 1.5);
        border-bottom: 1px dotted $color__border--dark;

        p {
            margin-bottom: 0;
        }
    }

    .article-list__title {
        @include rem(margin-bottom, $half-spacing-unit * 1.5);
    }