/*------------------------------------*\
    $BLEED
\*------------------------------------*/

// Breaks the grid and sets images to the full width of the viewport
// Setting !important on this because sometimes we want to override items with grid classes on

.bleed {
    margin-left: -6% !important;
    margin-right: -6% !important;
    width: auto !important;

    @include respond-to("medium and above"){
        margin-left: -100% !important;
        margin-right: -100% !important;
    }
}