

/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class=block-list>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
      <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
   </ul>
 *
 * Extend this object in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/hR57q
 *
 */
.block-list{

    &,
    > li{
        border:0 solid $base-ui-color;
    }
}

.block-list{
    list-style:none;
    margin-left:0;
    border-top-width:1px;

    > li{
        border-bottom-width:1px;
        padding:$half-spacing-unit;
    }
}

.block-list__link{
    display:block;
    padding:$half-spacing-unit;
    margin:-$half-spacing-unit;
}

// BLOCK LIST on the work index page – refactor this nastiness
.block-list--small {
    border-bottom: 1px dotted #C4C1C1;
    padding-bottom: rem-calc(30);

    &:last-of-type {
        border-bottom: none;
    }

    h3 {
        margin: 0;
        @extend %font__headline;
    }

    .media__img {
        width: rem-calc(70);
        margin-right: rem-calc(20);
        text-decoration: none;
        border: none;

        @include respond-to("large and above"){
            width: rem-calc(100);
        }

        &:hover,
        &:focus {
            opacity: .6;
            border: none;
        }
    }

    .media__body {
        font-size: rem-calc(16);

        h3 > a {
            color: #666;
            border: none;

            &:hover {
                color: #888;
            }
        }
    }
}
