/*------------------------------------*\
    $CITATIONS
\*------------------------------------*/
/*
 * Used throughout the site to highlight references to other people and work.
 */


// make sure you give proper recognition to other people’s work!
.cite {
    @include rem(margin-top, -$half-spacing-unit);
    display: block;
    position: relative;

    >:before {
        top: 0;
        left: 0;
        position: absolute;
        content:"‡";
        color: $color__red--primary;

    }

    >p {
        @extend %poynter;
        @include rem(margin-left, ($half-spacing-unit + 2px));
        font-size:1em;
        font-style:normal;
        margin-bottom:0;
        color:$offblack;
        text-align:left;
        font-style:normal;
        width:100%;
    }
}