// ==========================================================================
// CITATIONS
// ========================================================================== 
//
// Used to reference other people and their work.
//


.cite {
    margin-top: rem-calc(- $half-spacing-unit * 1.5);
    display: block;
    position: relative;

    >:before {
        top: 0;
        left: 0;
        position: absolute;
        content: "‡";
        color: $color__red--primary;

    }

    >p {
        @include text--small;
        margin-left: rem-calc($half-spacing-unit + 2);
        font-style:normal;
        margin-bottom:0;
        color: $color__offblack;
        text-align:left;
        font-style: normal;
        width: 100%;
    }
}