// ==========================================================================
// GRIDS
// ========================================================================== 
//
// Grid system coming soon!
// 
// 

.container--standard {
    width:90%;
    max-width:31.5em;
    margin-left: auto;
    margin-right: auto;

    @include respond-to("medium and above") {
        width: 80%;
        max-width: rem-calc(600);
        padding: rem-calc(0, $base-spacing-unit)
    }

    @include respond-to("large and above"){
        padding: 0;
        max-width: rem-calc(770);
    }
}

.container--work {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;

    header h1 {
        margin-bottom: 0;
    }

    .footer {
        background-color: #333;
        border: none;
        margin: 0;
    }
}

.container--work-index {
    background-color: #F8F8F8;
}

.container {
    @extend .container--standard;
}

.columns--two {
    ul>li {
        @include respond-to("large and above"){
            line-height: 1.45;

            &:before {
                top: rem-calc(10);
            }   
        }   
    }

    &>:first-child {
        @include respond-to("large and above"){

            float: left;
            width: 45%;
            margin-right: 5%;
        }
    }

    &>:last-child {
        @include respond-to("large and above"){
            float: right;
            width: 45%;
        }
    }
}

.container--wide {
    @include respond-to("large and above"){
        padding: 0;
        max-width: rem-calc(790);
    }
}
