@if $use-grids == true{

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/**
* Grid system coming soon! I can get away with a single column design for now (12 June 2013)
**/
    %main_column{
        width:90%;
        max-width:33em;
        margin:0 auto;

        @include breakpoint($breakpoint__medium) {
            width:85%;
        }
    }

    .container--standard {
        width:90%;
        max-width:31.5em;
        margin:0 auto;

        @include breakpoint($breakpoint__medium) {
            margin-top:0;
            @include rem(max-width, 600);
        }

        @include respond-to("medium and above"){
            @include rem(padding, 0, $base-spacing-unit);
        }

        @include breakpoint($breakpoint__grande) {
            @include rem(max-width, 690);
        }
    }

    .container {
        @extend .container--standard;
        padding-top:8em;

        @include breakpoint(700px) {
            padding-top:8.25em;
        }
    }

    section[role="main"] {
        min-height:50em;
        overflow:hidden;
    }

}//endif
