// ==========================================================================
// ISLAND MODULE
// ========================================================================== 
//
//
//
// Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
// E.g.:
//
//   <div class=island>
//       I am boxed off.
//   </div>
//
//
.island,
.islet{
    @extend .cf;
    display:block;
}

.island {
    border: 1px solid darken($color__secondary, 3);
    background-color: #F7F7F7;
    padding: rem-calc($half-spacing-unit);

    @include respond-to("medium and above") {
        padding: rem-calc($half-spacing-unit * 1.5);
    }

    // Clear spacing at the bottom of this module so that alignment
    //  isn’t broken from the addition of padding.
    
    :last-child {
        margin-bottom: 0;
    }
}

// line height hack for the work detail pages
.island--primary {
    .island--meta ul {
        @include respond-to("large and above"){
            margin-bottom: rem-calc(20);
        }

        @include respond-to("largest only"){
            margin-bottom: 0;
        }
    }

    .island--meta ul li, .island--meta ol li {
        .container--work-detail & {
            line-height: 1.45;
        }
    }
}

    /**
     * Transparent island
     */
    .islet {
        border-top: 1px solid $color__border--dark;
        border-bottom: 1px solid  $color__border--dark;
        padding: rem-calc($half-spacing-unit);
        padding-right: 0;
        padding-left: 0;

        *:last-child ul {
            margin-bottom:0;
        }

        @include respond-to("large and above") {
            ul {
                margin-bottom: 0;
            }
        }
    }


    .island--meta {
        @include text--tiny;

        p, ol, ul {
            color: #7b7b7b;
        }

        h1,h2,h3,h4,h5 {
            margin-top: 0;
            text-align: left;
            color: $color__lightblack;
        }

        h3 {
            border-bottom: 1px dotted darken($color__island, 10);
            padding-bottom: rem-calc($half-spacing-unit / 2);
            margin-bottom: rem-calc($half-spacing-unit / 1.5);

            .footer & {
                margin: 0;
                border: none;
                padding: 0;
            }
        }

        .footer & ul {
            margin-top: rem-calc(10);
            margin-bottom: rem-calc(20);

            li {
                @extend %font__text--sub;
                color: #ddd;
                font-size: rem-calc(16);
            }
        }

        ul,
        ol {
            margin-top: 0;

            @include respond-to("largest only"){
                margin-left: 0;
            }

            li {
                margin-bottom: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:before {
                    content: "–";
                    background-color: transparent;
                    top: 0;
                }
            }
        }
    }

// WORK
// ==========================================================================

.island--illustration {
    @extend .cf;
    width: 100%;
    background-repeat: no-repeat;

    @include respond-to("large and above"){
        background-size: 100%;
    }
    
    ul { 
        margin-left: 0;    

        & > li:before {
            content: none;
        }
    }
}

.island--endsleigh {
    background-image: url('/build/images/work/endsleigh/endsleigh-light.png');
}

.island--ncc {
    background-image: url('/build/images/work/ncc/ncc-background.jpg');
    background-position: 0;

    @include respond-to("largest only"){
        background-position: 0 -100px;
    }
}

.island--erskine {
    background-image: url('/build/images/work/erskine/erskine-background.jpg');
}

.island--sc {
    background-image: url('/build/images/work/sc/sc-background.jpg');
}

.island--primary {
    .island--meta {
        width: 100%;

        @include respond-to("large and above"){
            float: left;
            width: auto;
            margin-right: rem-calc(40);
        }

        ul {
            color: rgba(255,255,255,0.5)
        }
    }
}

.island--meta + .island--meta {
    @include respond-to("large and above"){
        min-width: 50%;
        overflow:visible;

        ul {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            -webkit-column-gap: 0;

            li {
                white-space: nowrap;    
                -webkit-column-break-inside: avoid;
                break-inside: avoid-column;
            }
        }
    }
}

//
// Background for the image / header combo on the /work detail pages
//

.island--hero {
    margin-bottom: rem-calc($base-spacing-unit);
    padding-bottom: rem-calc($half-spacing-unit);

    @include respond-to("medium and above"){
        margin-bottom: rem-calc($base-spacing-unit * 2);
        padding-bottom: rem-calc($base-spacing-unit);
    }

    .container--work-detail & {
        margin-bottom: rem-calc(40);
    }
}

.island--main {
    padding-top: rem-calc($half-spacing-unit);
}

