// ==========================================================================
// ISLAND MODULE
// ========================================================================== 
//
//
//
// Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
// E.g.:
//
//   <div class=island>
//       I am boxed off.
//   </div>
//
//
.island,
.islet{
    @extend .cf;
    display:block;
}

.island {
    border: 1px solid darken($color__secondary, 3);
    background-color: #F7F7F7;
    padding: rem-calc($half-spacing-unit);

    @include respond-to("medium and above") {
        padding: rem-calc($half-spacing-unit * 1.5);
    }

    // Clear spacing at the bottom of this module so that alignment
    //  isn’t broken from the addition of padding.
    
    :last-child {
        margin-bottom: 0;
    }
}

    /**
     * Transparent island
     */
    .islet {
        border-top: 1px solid $color__border--dark;
        border-bottom: 1px solid  $color__border--dark;
        padding: rem-calc($half-spacing-unit);
        padding-right: 0;
        padding-left: 0;

        *:last-child ul {
            margin-bottom:0;
        }

        @include respond-to("large and above") {
            ul {
                margin-bottom: 0;
            }
        }
    }


    .island--meta {
        @include text--small;

        > * {
            color: lighten($color__grey--dark, 15);
        }

        h1,h2,h3,h4,h5 {
            margin-top: 0;
            text-align: left;
            color: $color__lightblack;
        }

        h3 {
            border-bottom: 1px dotted darken($color__island, 10);
            padding-bottom: rem-calc($half-spacing-unit / 2);
            margin-bottom: rem-calc($half-spacing-unit / 1.5);
        }

        .footer & ul {
            margin-bottom: 0;
        }

        ul,
        ol {
            margin-top: 0;

            @include respond-to("largest only"){
                margin-left: 0;
            }

            li {
                margin-bottom: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:before {
                    background-color: darken($color__secondary, 10);
                    top: rem-calc(9);

                    @include respond-to("large and above"){
                        top: rem-calc(11);                        
                    }
                }
            }
        }
    }


//
// Background for the image / header combo on the /work detail pages
//

    .island--hero {
        margin-bottom: rem-calc($base-spacing-unit);
        padding-bottom: rem-calc($half-spacing-unit);

        @include respond-to("medium and above"){
            margin-bottom: rem-calc($base-spacing-unit * 2);
            padding-bottom: rem-calc($base-spacing-unit);
        }
    }

    .island--main {
        padding-top: rem-calc($half-spacing-unit);
    }

