// ==========================================================================
// META INFO BLOCK
// ========================================================================== 
// 
// This object styles any article meta info elements
// 

.meta-info-block  {
    margin: 0 auto;

    .heading-group & {
        margin-top: rem-calc( $quarter-spacing-unit / 2);
    }
}

.meta-info-block__item {
    font-size: rem-calc($milli-size);
    font-style: normal;
    color: $color__meta;
    display: inline;
    margin-bottom: 0;
    line-height: 1.5;

    @include respond-to("large and above") {
        font-size: rem-calc($milli-size);
    }

    .island--hero & {
        color: lighten($color__meta, 25);
    }

    &:first-of-type:after {
        content:"~";
        color:#bbb;
        display:inline;
        margin-left:.15em;
        margin-right:.1em;
    }

    &:nth-child(2):after,
    &:only-child:after {
        content:"";
        display:none;
    }
}

.meta-info-block--list {
    text-align: left;
}


// RULES ON THE WORK PAGE
// ==========================================================================
.meta-rule {
    @extend .cf;
    @include text--small;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(255,255,255,.15);
    margin-bottom: rem-calc(-15);
    padding-top: rem-calc(30);

    .meta-rule__link {
        font-size: rem-calc(17);
    }

    .footer & {
        padding-top: 0;
        border-bottom: none;
        border-top: 1px solid rgba(255,255,255,.15);
        margin-bottom: rem-calc(10);
    }
}

.meta-rule--dark {
    border-bottom-color: #E2E2E2;

    .meta-rule__item {
        color: #aaaaaa;
    }
}

.meta-rule__item, 
.meta-rule__link {
    color: rgba(255,255,255,.25);
}

.meta-rule__item {
    float: left;
    font-size: rem-calc(16);

    &:last-child {
        float: right;
    }
}

.meta-rule__link {
    text-decoration: none;
    border: none;
    
    &:hover,
    &:focus {
        color: rgba(255,255,255,.6);
        text-decoration: none;
        border: none;
    }
}

