/*------------------------------------*\
    $META-INFO-BLOCK
\*------------------------------------*/
/**
 *
 * This object styles any artice meta info elements
 */

    .meta-info-block  {
        margin: 0 auto;
        text-align: center;
    }

        .meta-info-block__item {
            @include rem(font-size, $milli-size);
            font-style: normal;
            color:$color__meta;
            width:auto;
            display:inline-block;
            margin-bottom: 0;

            @include breakpoint($breakpoint__large) {
                @include rem(font-size, $milli-size);
            }


            &:first-of-type:after {
                content:"~";
                color:#bbb;
                display:inline;
                margin-left:.15em;
                margin-right:.1em;
            }

            &:nth-child(2):after,
            &:only-child:after {
                content:"";
                display:none;
            }
        }
