// ==========================================================================
// NAV MODULE
// ========================================================================== 
//
// 
//
// Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
// When used on an `ol` or `ul`, this class throws the list into horizontal mode
// 
//   <ul class=nav>
//       <li><a href=#>Home</a></li>
//       <li><a href=#>About</a></li>
//       <li><a href=#>Portfolio</a></li>
//       <li><a href=#>Contact</a></li>
//   </ul>

.nav{
    @extend .cf;
    list-style:none;
    @extend %font__text--sub;

    > li, dd, dt {
        margin-left: 0;
        margin-right: rem-calc($half-spacing-unit);

        &,
        > a{
            display:inline-block;
            zoom:1;
        }

        /* Hides psuedo elements that we add on standard lists */
        &:before {
            display: none;
        }
    }
}


.nav--tags {
    font-size: rem-calc($milli-size);
    background-color: lighten($color__border--dark, 4);
    border: 1px solid $color__border--dark;
    margin-top: rem-calc($base-spacing-unit * 2);
    padding: rem-calc($half-spacing-unit);

    dt, dd {
        font-weight: normal;
        margin-left:0;
        margin-right: rem-calc($half-spacing-unit);
    }
}




.nav--lexicon {
    background-color: $color__blue;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: rem-calc( $half-spacing-unit);
    padding-bottom: rem-calc( $quarter-spacing-unit);
    text-align: center;

    .nav__item {
        margin-right: rem-calc($half-spacing-unit);
        
        &:before {
            display: none;
        }

        a {
            @extend %font__text--sub;
            color: $color__blue--light;

            &:hover,
            &:focus {
                color: $color__white;
            }
        }
    }
}

