<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}} › {{title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/104389809267012182640">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicon/favicon-114.png">
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/build/css/style.min.css" />

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/643678/794542/css/fonts.css" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-23646969-1', 'robinrendle.com');
        ga('send', 'pageview');
    </script>
    <!-- Modernizr -->
    <script src="/static/js/modernizr-2.5.3-min.js"></script>
</head>

<body class="no-branding custom-post--lexicon">
    <article class="h-entry">
        <figure class="bleed figure--bg-blue custom-post--lexicon__hero">
            <img src="/assets/eye.png"/>
        </figure>

        <header class="heading-group heading-group--centered bleed">
            <h1>{{title}}</h1>
            <div class="meta-info-block">

                <p class="meta-info-block__item">
                    {% for city in taxonomy.city %}{{city.value}}{% endfor %}, {% for country in taxonomy.country %}{{ country.value }}{% endfor %}
                </p>

                <div class="meta-info-block__item">
                    {{ date | date: "%d %B %Y"}}
                </div>
            </div>
        </header>

        {% if meta.Update %}
            <aside class="island island--meta">
                {{meta.Update.value | markdown:true }}
            </aside>
        {% endif %}

        {{body}}

        {% if meta.Aside %}
            <aside class="island island--meta">
                {{meta.Aside.value | markdown:true }}
            </aside>
        {% endif %}
    </article>

    <figure class="custom-post--lexicon__hero custom-post--lexicon__hero--reverse figure--wide figure--bg-blue">
        <img class="figure--wide__img" src="/assets/eye.png"/>
        <figcaption class="figure--wide__caption figure--wide__caption--light">
            <p>This illustration is from the cover of the Connecticut General Stylebook, designed by Lester Beall in 1958 (via <a href="http://www.codexmag.com/product/codex-3">Codex magazine)</a></p>
        </figcaption>
    </figure>

    <footer>
        <ul class="nav nav--lexicon">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="/about">About</a></li>
            <li class="nav__item"><a href="http://www.twitter.com/robinrendle">@robinrendle</a></li>
        </ul>
    </footer>
</body>
</html>
