@font-face {
	font-family: "Caponi Display";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/caponi-display.woff2") format("woff2"),
		url("/fonts/caponi-display.woff") format("woff");
}
