@font-face {
    font-family: 'Fern';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/FernMicro-Regular.woff2') format("woff2"),
        url('/fonts/FernMicro-Regular.woff') format("woff");
}

@font-face {
    font-family: 'Fern italic';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/FernMicro-Italic.woff2') format("woff2"),
        url('/fonts/FernMicro-Italic.woff') format("woff");
}
