---
layout: layouts/base.njk
templateClass: tmpl-post
---
<header class="note-header">
  <h1 class="note-title">{{ title }}</h1>

  <div class="note-meta">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> 

    {% if city %}
      / {{city}}, {{country}}
    {% endif %}
  </div>
</header>

<article>
  {{ content | safe }}
</article>
