---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Title from '../components/Title.astro';
import Wrapper from '../components/Wrapper.astro';
import Subheading from '../components/Subheading.astro';
import WrapperBig from '../components/WrapperBig.astro';
import SideBySide from '../components/SideBySide.astro';
import { Markdown } from 'astro/components';

interface MarkdownFrontmatter {
  date: number;
}

const { title = 'About' } = Astro.props;
const { description = 'Designer and writer' } = Astro.props;

let essayPosts = await Astro.fetchContent('../pages/essays/*.md');
essayPosts = essayPosts.sort((a, b) =>  new Date(b.date).valueOf() - new Date(a.date).valueOf());

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead
      title={'About'}
      description={description}
    />
    <style lang="scss">
      .intro {
        margin: 0;

        @media screen and (min-width: 700px) {
          font-size: 150%;
          line-height: 1.35;
        }
      }

      div {
        background: #141414;
        padding: 15px;
        margin: 0;
        border-radius: 10px;
      }
      dl {
        overflow: scroll;
        display: flex;
        gap: 40px;
        padding-left: 30px;
        dt, dd {
          padding: 0;
          margin: 0 !important;
          width: 400px;
        }
      }
      dt {
        color: white;
        font-size: 7em;
        font-family: var(--font-display);
      }
      section {
        margin: 0;
      }
      img {
        object-fit: cover;
        /* height: 490px; */
        width: 100%;
        border-radius: 3px;
        margin: 0 auto 40px;
        display: block;
        max-width: 1200px;
      }

      h3 {
        color: white;
      }
    </style>
  </head>

  <body>
    <Nav title={title} />
    <main>
    <WrapperBig>
      <Title>
        About me
      </Title>
      <img src="/images/me/robin-rendle.webp" alt="A photograph of me smiling at the camera, taken on a cold, sunny day on an outlook over the ocean. Plymouth, February 2022." />
      <SideBySide>
        <section>
          <p class="intro">
            Allo! My name’s Robin, I’m a writer and web designer from the UK. Now I live in San Francisco where I’m a senior product designer at <a href="https://sentry.io/">Sentry</a>. My work is always in the weird space between writing (blogging loudly), front-end development (bragging about how a website looks), and publishing (figuring out new ways to get words in front of people). 
          </p>
          <Markdown>
            ```
            PSA: You can send compliments to robinjrendle@gmail.com if you wish
            ```
          </Markdown>
          <Markdown>
            ### CSS-Tricks 
          
            In 2014, I joined [CSS-Tricks](https://css-tricks.com/) as a staff writer. For almost eight years I wrote about all sorts of CSS-related things; incoherent ramblings about the [peculiar magic of flexbox and auto margins](https://css-tricks.com/the-peculiar-magic-of-flexbox-and-auto-margins/), what the heck [grid-auto-flow](https://css-tricks.com/grid-auto-flow-css-grid-flex-direction-flexbox/) is, or [why CSS is frustrating](https://css-tricks.com/why-is-css-frustrating/). For a good long while I focused on [the newsletter](https://css-tricks.com/newsletters/) where each week I took the latest news in the front-end development world and tried to make sense of it. Altogether I wrote almost 300 of them which is around ~300,000 words or 2.3 Silmarillions (!) over 5 years.

            On that note, I make a lot of demos in [Codepen](https://codepen.io). For example! I’ve made [3D animated type demos](https://codepen.io/robinrendle/pen/mdMgVeM) and [fun variable font experiments](https://codepen.io/robinrendle/details/PomGKyG). I’ve spent many evenings trying to figure out the [backdrop-filter](https://codepen.io/robinrendle/pen/LmzLEL) CSS property, creating [a CSS loading bar](https://codepen.io/robinrendle/pen/wKqmbW), or making [a weird sci-fi Pokemon dashboard](https://codepen.io/robinrendle/pen/QBaLzv). What I’ve learned over the years is that Codepen is an excellent notebook; it’s the best place to tinker with ideas and try some peculiar web thing.

            ### About this website
            I’ve been working on this website since 2014 and I see it as a public office; notes spread out everywhere in every direction—and whoa! don’t move that—those books and papers over there are super important! Jeez! The idea is that you can stop by and see what I’m working on at any given moment. This helps me refine my work, learn about web design and typography, and hone my writing skills a bit. It’s also a record of where I was and who I was back in, say, 2016 when [everything felt like it was falling apart](https://www.robinrendle.com/notes/potential-and-loss/).

            Once every couple of years I try to publish A Big Thing over in [/essays](/essays). This encourages me to work on longer writing projects than I’m typically used to. They often take weeks, months, years of research and thinking and being lazy about them and planning them out and designing them and then just winging it at all at the last second and hitting the big green publish button and hoping for the best. Some of them don’t really stand the test of time, some of them are pretty embarrassing, and some of them are the best things I’ve ever done. I’ll let you decide which is which.

            Also! This website was built with [Astro](https://astro.build) and published via [Netlify](https://netlify.com). You can view all the code [over on GitHub](https://github.com/robinrendle/robinrendle.com) if you want to take any inspiration for a website of your own. Typographically, everything is set in James Edmonson’s [Degular](https://ohnotype.co/fonts/degular). I like how wonky it is when you get up real close to it.

            Also, also! I tend to change the styles and typography of this website a lot, and sometimes multiple times a week. [Let a website be a worry stone](https://ethanmarcotte.com/wrote/let-a-website-be-a-worry-stone/), etc.
          </Markdown>
          </section>
        <section>
          <!-- <img class="about" src="/images/me/robin.jpg" alt="A photo of Robin Rendle." /> -->
        </section>
      </SideBySide>
      <!-- <dl>
        <div>
          <dt>1990</dt>
          <dd>Born. July. United Kingdom. England. Cornwall. Plymouth.</dd>
        </div>
        <div>
          <dt>1993</dt>
          <dd>My brother. My mom. A big house on a large plot of land. Games. Singing and playing and dancing by the fire place. The floor is lava!</dd>
        </div>
        <div>
          <dt>1997</dt>
          <dd>Driving. Rain. My brother in the backseat, giggling. Kinects. PlayStation. Reading books in hotel lobbies. Final Fantasy VII. Animorphs. Hotels. Hotels. Hotels. Enormous rooms full of strangers. So many strangers. My father. Speaking on stage...</dd>
        </div>
        <div>
          <dt>2007</dt>
          <dd>Trapped. Futureless. Bad grades. Bad friends. Drinking.</dd>
        </div>
        <div>
          <dt>2008</dt>
          <dd>Plymouth University. English Literature. Books. Books. Books.  CSS3. HTML5. Music. Bass. Drums. Garageband. Remixing. Sadness. Loneliness. Drinking.  Computers. Escape.</dd>
        </div>
        <div>
          <dt>2010</dt>
          <dd>Novels. Graphic design. Book design. Web design. A footnote in a book. “The Department of...” Huh. Interesting. More reading. Typography! Letters! .woff and .ttf! The ampersand! Diacritics, baby!  An enormous door. A world. Unlocking. </dd>
        </div>
        <div>
          <dt>2011</dt>
          <dd>More footnotes. Each time the same: “Thanks to the <a href="https://www.reading.ac.uk/typography/">Department of Typography and Graphic Communication</a>.” A phone call. A train. Reading University. A walk across a marsh (lost on campus). The building. The door. An interview. That guy! Nerves. Another train home. Days. Weeks. An email. Accepted? Accepted! Life changing. A train. Lucky beyond comprehension. Smart, kind people. Surrounded. Not good enough. The feeling of the world being nudged back into place.</dd>
        </div>
        <div>
          <dt>2012</dt>
          <dd>My father. His leg. The amputation. A vale of tears. The absolute wonder of the NHS. Indesign. Work. Work. Work. End of year show. A bathroom stall. Sick. Frightened. The future, outside. More trains. Nottingham. Interview. Erskine Design. Internship. The command line. Tinkering with Sass. Begging for a loan. For food. More tears. More sadness. Writing is relief.</dd>
        </div>
        <div>
          <dt>2013</dt>
          <dd>No money. The first <a href="/notes/setting-up-a-default-type-stylesheet">blog post</a>. Lonely. Writing. Working. </dd>
        </div>

        <div>
          <dt>2014</dt>
          <dd>No Erskine. No clients. No money. A train. Plymouth. Tail firmly between legs. Freelancing. Fucking up. Fixing things. Building. Working. An email. <a href="https://css-tricks.com">CSS-Tricks</a>. Staff writer. Tiny heart. Bigger blog.</dd>
        </div>
        <div>
          <dt>2015</dt>
          <dd>Trains. London. Round glasses. A drink. Dark rooms. A holiday. New York City. <a href="https://www.robinrendle.com/notes/with-teeth-of-metal-and-glass/">Teeth, metal, glass.</a> Heartbreak. Gym. Lessons. Gym. Motorcycle. Pride. Momentum. Gym. Absolute beef cake. A tweet. <a href="https://www.designerfund.com/">Designer Fund</a>. An email. An invitation. A train. A plane. San Francisco. BART. SOMA. An interview. Gusto. Money. Money. Money.</dd>
        </div>
        <div>
          <dt>2016</dt>
          <dd>Papers. Documents. Passports. More documents. More waiting. Arguments. Screaming. A motorcycle (Billy). Driving up through the wind and rain. Wales. Alone. Family breaking apart. Blogging and crying. Plymouth again (briefly). My parents. An awkward drive. The airport. A handshake. A plane. San Francisco. Money. Restaurants. Dora. Jez. Brexit. Heartbreak. A protest in the castro. Overwhelming sadness. The little green light.</dd>
        </div>
        <div>
          <dt>2018</dt>
          <dd>
            <a href="/notes/the-triumph-street-triple">The Triumph Street Triple</a> (Billy #2).


            notes/from-san-francisco-to-los-angeles
          </dd>
        </div>
        <div>
          <dt>2019</dt>
          <dd><a href="/notes/christmas-in-la">Christmas in LA</a>. A book. A breakdown. Delete. Delete. Delete. <a href="essays/systems-mistakes-and-the-sea">Systems, Mistakes, and the Sea</a>.</dd>
        </div>
        <div>
          <dt>2020</dt>
          <dd>Sentry.</dd>
        </div>
        <div>
          <dt>2021</dt>
          <dd>Pandemic. Lockdown. Friends leaving for Seattle, LA, New York. Working out in the dark. Loneliness. An evening. A woman in my apartment. A trip to Seattle. Moving in together.</dd>
        </div>
        <div>
          <dt>2022</dt>
          <dd>???</dd>
        </div>
      </dl>
      --> 
    </WrapperBig>
    </main>
  </body>
</html>
