---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleItem from '../components/ArticleItem.astro';
import Pagination from '../components/Pagination.astro';
import { Markdown } from 'astro/components';

let title = 'Robin Rendle';
let description = 'An example blog on Astro';
---

<style lang="scss">
  .wrapper {
    margin: 0 auto;
    padding: 10px 15px 200px;
    max-width: 1600px;

    @media screen and (min-width: 900px) {
      padding: 40px 60px 200px;
    }
  }

  a {
    text-decoration-thickness: 2px;
  }

  p {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: "Clarendon", var(--font-fallback);
    font-weight: 300;
    font-size: 3.5em;
    hyphens: auto;

    @media screen and (min-width: 600px) {
      font-weight: 400;
      font-size: 4em;
    }

    @media screen and (min-width: 900px) {
      font-size: 5em;
    }
  }

  .q p {
    margin-bottom: 50px;
    line-height: 1;
    text-align: center;
    font-size: 200vw !important;
    font-weight: 250;

    @media screen and (min-width: 900px) {
      font-size: 80vw !important;
    }
  }

</style>

<html>
  <head>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>Robin Rendle</title>
    <MainHead
      description={description}
      canonicalURL={Astro.request.canonicalURL.href}
    />
  </head>
  <body>
    <Nav />
    <main class="wrapper">
      
      <Markdown>
      Allo! My name’s Robin and I’m a designer at [Sentry](https://sentry.io/), staff writer at [CSS-Tricks](https://css-tricks.com), and my latest project is [a newsletter about the web](https://css-tricks.com/newsletters). 
      
      But this right here? This is where I write about everything—[heartbreak](/notes/crease) and [RSS](https://www.robinrendle.com/notes/how-to-read-the-internet), along with other joyous things such as the underbelly of a lowercase A or the swish-swash-swish of an uppercase Q. Here, take a closer look: 
      
      <div class="q">Q</div>
      
      Wonderful, huh? This particular Q is from a typeface by David Jonathan Ross and Bethany Heck called [Job Clarendon](https://djr.com/job-clarendon). Anyway, where was I? Ah yes, because of this swirling, uncordinated mess of distractions, I’ve organized this place into [notes](/notes) (my blog and journal) and then [essays](/essays) (with my last big project being a rant about the limitations and joyous wonders of [newsletters](https://robinrendle.com/essays/newsletters)). 
      
      Despite all this work being a little all over the place, I think there’s something that holds it all together: (brace yourself for my manifesto) I believe that the web is a place to write beautiful things (gasp!) and then subsequently make those beautiful words look as beautiful as they sound (double gasp!). 
      
      I don’t mean making a website just-as-pretty-as-a-printed-book, but perhaps something more punk-rock; websites that are prettier, perhaps even more useful, and much weirder than books. So I reckon words on the Internet is something we haven’t figured out just yet, we’re still learning what websites are and what they can really be. And, well, that’s what I’m trying to figure out here, at least.
      </Markdown>
    </main>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  </body>
</html>
