---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleItem from '../components/ArticleItem.astro';
import { Markdown } from 'astro/components';
---
<html lang="en">
  <head>
    <MainHead
      description={'Designer and writer'}
      canonicalURL={Astro.request.canonicalURL.href}
    />

<style lang="scss">
  .wrapper {
    margin: 0 auto;
    padding: 10px 15px 200px;
    max-width: 1600px;

    @media screen and (min-width: 900px) {
      padding: 40px 60px 200px;
    }
  }

  a {
    display: inline;
    text-decoration-thickness: 2px;
  }

  p {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: "Clarendon", var(--font-fallback);
    font-weight: 300;
    font-size: 3.5em;
    hyphens: auto;
    color: var(--color-title);

    @media screen and (min-width: 600px) {
      font-weight: 400;
      font-size: 4em;
    }

    @media screen and (min-width: 900px) {
      font-size: 5em;
    }
  }

  .q {
    font-family: "Clarendon", var(--font-fallback);
    margin-bottom: 50px;
    line-height: 1;
    text-align: center;
    font-size: 200vw !important;
    font-weight: 250;
    color: var(--color-title);

    @media screen and (min-width: 900px) {
      font-size: 80vw !important;
    }
  }
</style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">
      <p>Allo! My name’s Robin and I’m a designer at <a href="https://sentry.io/">Sentry</a>, staff writer at <a href="https://css-tricks.com">CSS-Tricks</a>, and my latest project is <a href="https://css-tricks.com/newsletters">a newsletter about the web</a>.</p>
      
      <p>This is where I write about everything—<a href="/notes/crease">heartbreak</a> and <a href="https://www.robinrendle.com/notes/how-to-read-the-internet">RSS</a>, along with other joyous things such as the underbelly of a lowercase A or the swish-swash-swish of an uppercase Q. Here, take a closer look:</p>
      
      <div class="q">Q</div>

      <p>Wonderful, huh? This particular Q is from a typeface by David Jonathan Ross and Bethany Heck called <a href="https://djr.com/job-clarendon">Job Clarendon</a>.</p> 
      
      <p>Anyway, because of this uncordinated mess of distractions, I’ve organized this place into <a href="/notes">notes</a> (my blog and journal) and then <a href="/essays">essays</a> (with my last big project being a rant about the limitations and joyous wonders of <a href="https://robinrendle.com/essays/newsletters">newsletters</a>).</p>
    </main>
  </body>
</html>
