---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleItem from '../components/ArticleItem.astro';
import Essays from '../components/Essays.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
import Subheading from '../components/Subheading.astro';
import WrapperBig from '../components/WrapperBig.astro';
import SideBySide from '../components/SideBySide.astro';
let allPosts = Astro.fetchContent('./notes/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date)).slice(0, 2);
---
<html lang="en">
  <head>
    <MainHead description={'Designer and writer'} />
    <style lang="scss">
      section {
        margin: 0;
      }
      .tiny-section {
        margin-bottom: 60px;
      }
      .essays {
        margin-top: 40px;
        @media screen and (min-width: 767px) {
          margin-top: 60px;
        }
      }
      .newsletter {
        margin-bottom: 40px !important;
        @media screen and (min-width: 767px) {
          margin-bottom: 0 !important;
        }

        p {
          margin-top: 20px;
        }
      }
      .special {
        line-height: 1.2;
        margin-top: 40px;
        margin-bottom: 3rem;
        font-family: var(--font-display);
        font-weight: 300;
        font-size: 2em;
        hyphens: auto;
        color: var(--color-title);

        a {
          text-decoration-thickness: 0.5px;
          color: var(--color-title);
        }
        @media screen and (min-width: 600px) {
          font-weight: 400;
          font-size: 2.5rem;
          margin-bottom: 4rem;
          width: 90%;
        }
        @media screen and (min-width: 1280px) {
          width: 75%;
          font-size: 2.5rem;
        }
      }
    </style>
  </head>
  <body>
    <Nav homepage/>
    <WrapperBig>
      <p class="special">I’m a designer at <a href="https://sentry.io/">Sentry</a>, staff writer at <a href="https://css-tricks.com">CSS-Tricks</a>, and my latest project is <a href="https://css-tricks.com/newsletters">a newsletter about the web</a>.</p>
      <SideBySide>
        <section class="tiny-section newsletter">
          <Subheading>The newsletter</Subheading>
          <p>Behold! My newsletter—sent infrequently—about new things that I’m working on. Every so often it contains notes about web design and publishing things that I’m interested in, too. It’s eclectic, a little odd, and won’t always be about web design or fonts. You have been warned.</p>
          <NewsletterForm/>
        </section>
        <section>
          <Subheading>Latest notes</Subheading>
          {allPosts.map(p => <ArticleItem post={p} />)}
        </section>
      </SideBySide>


      <section class="tiny-section essays">
        <Subheading>Essays</Subheading>
        <Essays />
      </section>
    </WrapperBig>
  </body>
</html>
