---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleList from '../components/ArticleList.astro';
import ArticleItem from '../components/ArticleItem.astro';
import Pagination from '../components/Pagination.astro';

interface MarkdownFrontmatter {
  date: number;
}

let notesPosts = await Astro.fetchContent('../pages/notes/*.md');
notesPosts = notesPosts.sort((a, b) =>  new Date(b.date).valueOf() - new Date(a.date).valueOf());

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead
      title={'Notes'}
      description={'Designer and writer'}
    />
  </head>

  <body>
    <Nav title={'Notes'} />
    <ArticleList title='Quick Notes & Ramblings'>
      <section aria-label="Blog post list">
        {notesPosts.map(p => <ArticleItem post={p} />)}
      </section>
    </ArticleList>
  </body>
</html>
