// ==========================================================================
// REM FUNCTION
// ==========================================================================
//
//
// Depending on the capabilities of the browser, this mixin will calculate REM
// values from a pixel value.
//
// Example
//
// h1 {
//    margin-bottom: @include rem(margin, 30);
// }
//
//



// CALC-REM FUNCTON
// ==========================================================================
// Calculates rem size based on required pixel size and context.
//
// $target: (required) Required pixel size
// $context: (optional) Current font size used to calculate em value
// Returns: Rem value
//
//

@function rem-calc($target, $context: $base-font-size) {

    // Export REM value of $target depending on base-font-size
    $value: ($target / $context) * 1rem;


    @if abs($value) == 0 {
        @return 0;
    }
    @else {
        @return ($value);
    }
}

