@font-face {
  font-family: "Covik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/covik/Covik_Sans_Mono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Covik";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/covik/Covik_Sans_Mono-Bold.woff2") format("woff2");
}
