// ==========================================================================
// ISLAND
// ==========================================================================

.o-island {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.o-island__content {
  padding: 25px;
}

.o-island--light {
  background-color: #e1e1e1;
}
