// ==========================================================================
// NAV MODULE
// ==========================================================================
//
// Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
// When used on an `ol` or `ul`, this class throws the list into horizontal mode
//

.o-nav {
	list-style: none;
  display: flex;
}

.o-nav__item {
	margin-right: 10px;
}
// Bullet list nav
.o-nav--bullets {
	.o-nav__item {
		position: relative;
		margin-right: 10px;
		overflow: visible;
		text-decoration: none;
		background: none;
		transition: background 0.3s ease;

		@include media(">medium") {
			margin-right: 20px;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}

		&:after {
			@include media(">medium") {
				content: "•";
				position: absolute;
				right: -14px;
				bottom: 0;
				pointer-events: none;
			}
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:last-of-type:after {
			content: none;
		}

		&:hover {
			&:before {
				color: var(--secondary-text-color);
			}
		}
	}
}

.o-nav__item:focus {
	outline: 1px solid var(--highlight-color) !important;
	background-color: rgba(var(--highlight-color), 0.4);
}

.o-nav--large {
	.o-nav__item {
		font-size: 18px;
	}
}
