---
import Wrapper from '../components/WrapperBig.astro';
import Title from '../components/Title.astro';
export interface Props {
  title: any;
}

const { title } = Astro.props;
---

<Wrapper>
  <Title>{title}</Title>

  <div class="list">
    <slot />
  </div>
</Wrapper>