---
export interface Props {
  className?: any;
}

const { className } = Astro.props;
---

<style lang="scss">
  .card {
    padding: 20px;
    background: var(--color-border);
    border-radius: 4px;
  }
</style>

<div class=`card ${className ? className : ''}`>
  <slot/>
</div>