<style lang="scss">
  .container {
    overflow: scroll;
    margin-right: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 30px;

    @media screen and (min-width: 900px) {
      margin-right: -60px;
    }

    @media screen and (min-width: 1160px) {
      margin-right: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  a {
    margin: 0;
    background: #222;
    height: 550px;
    display: flex;
    flex-direction: row;
    padding: 0;
    text-decoration: none;
    transition: transform .2s ease;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--color-faded);
    background: black;
    min-width: 350px;
    
    img {
      opacity: .8;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    
    &:hover, 
    &:focus {
      cursor: pointer;
      border: 1px solid var(--color-link);
      background: rgba(var(--color-link-rgb), 0.4);


      img {
        opacity: 1;
        mix-blend-mode: multiply;
      }

      .group {
        background: var(--color-link);
        color: black;
      }
    }
  }

  h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    padding-bottom: 5px;
  }

  .group {
    color: white;
    margin-top: auto;
    margin-bottom: 0;
    display: block;
    background: #000;
    padding: 20px 20px;
    width: 100%;
    z-index: 1;
    time {
      opacity: 0.6;
    }
  }
</style>

<div class="container">
  <a class="newsletters" href="/essays/newsletters">
    <img loading="lazy" src="/images/essays/home/newsletters.webp" alt="A drawing of two people admiring a painting"/>
    <div class="group">
      <time datetime="2021-01-03">January 2021</time>
      <h3>Newsletters</h3>
    </div>
  </a>
  <a href="/essays/systems-mistakes-and-the-sea">
    <img loading="lazy" src="/images/essays/home/systems.webp" alt="A drawing of pirates forcing a man off the gang plank"/>
    <div class="group">
      <time datetime="2019-12-31T01:23:00.000Z">December 2019</time>
      <h3>Systems, Mistakes, and the Sea</h3>
    </div>
  </a>
  <a href="/essays/the-futures-of-typography">
    <img loading="lazy" src="/images/essays/home/futures.webp" alt="A drawing of woman holding up a printed document whilst a man looks over her shoulder"/>
    <div class="group">
      <time datetime="2017-01-06T20:25:00.000Z">January 2017</time>
      <h3>The Futures of Typography</h3>
    </div>
  </a>
</div>