---
// props
export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<!-- Common -->
<meta charset="UTF-8">
<title>{title} • Robin Rendle</title>
<meta name="description" content={description}>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/global.css">
<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="/feed/posts.xml">

<!-- OpenGraph -->
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<!-- {image && (<meta property="og:image" content={new URL(image, canonicalURL)}>)} -->

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/png" href="/favicon.png">

