---
import "../styles/global.scss";

export interface Props {
  title?: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!-- 
  Behold: here lies a website. 
-->

<meta charset="UTF-8">
<title>{title ? `${title} • Robin Rendle` : `Robin Rendle`}</title>
<meta name="description" content={description}>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="./feed.xml">

<!-- OpenGraph -->
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" href="./new-favicon.ico" sizes="any">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">