---
export interface Props {
  homepage?: boolean;
}

const { homepage } = Astro.props;
---

<style lang="scss">
.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  height: var(--header-height);
  overflow: hidden;
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav {
  width: 100%;
  background: var(--color-nav);
  display: flex;
  gap: 0;
  list-style: none;
  align-items: center;
  margin-left: 0;
  margin: 0;
  padding-left: 10px;

  a {
    display: grid;
    place-items: center;
    height: var(--header-height);
    color: var(--color-nav-items);
    line-height: 1;
    margin: 0;
    text-decoration: none;
    transition: transform .1s ease;
    font-size: 1rem;
    padding: 0 10px;
    letter-spacing: 0.5px;
    font-family: var(--font-subheading);

    @media screen and (min-width: 767px) {
      padding: 0 15px;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.title {
  min-width: fit-content;
  color: white;
  line-height: 1;
  margin: 0;
  font-family: inherit;
  color: #222;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: white;
}
</style>

<div class="header">
  <div class="title">
    {homepage ? `<h1 class="nav-logo">Robin Rendle</h1>` : `<a class="nav-logo" href="/">Robin Rendle</a>`}
  </div>
  <nav class="nav">
    <a href="/about">About</a>
    <a href="/notes">Notes</a>
    <a href="/essays">Essays</a>
    <a href="/adventures">Adventures</a>
    <a href="/newsletter">Newsletter</a>
  </nav>
</div>
