---
const { title } = Astro.props;
---

<style lang="scss">
.header {
  background: var(--color-faded);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin-left: 0;
  margin: 0;

  a {
    line-height: 1;
    margin: 0;
    text-decoration: none;
  }
}

.title {
  color: white;
  line-height: 1;
  margin: 0;
  font-family: inherit;

  a {
    color: inherit;
    text-decoration: none;
  }
}
</style>

<div class="header">
  <div class="title">
    <a href="/">Robin Rendle</a>
  </div>
  <nav class="nav">
    <a href="/notes">Notes</a>
    <a href="/essays">Essays</a>
    <a href="/adventures">Adventures</a>
  </nav>
</div>
