---
const { title } = Astro.props;
---

<style lang="scss">
.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  height: var(--header-height);
}

.nav {
  width: 100%;
  background: var(--color-link);
  display: flex;
  gap: 0;
  list-style: none;
  align-items: center;
  margin-left: 0;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  padding-left: 10px;

  a {
    display: grid;
    place-items: center;
    height: var(--header-height);
    padding: 0 15px;
    color: #222;
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    transition: transform .1s ease;
    transform: translateY(-2px);


    &:focus {
      transform: translateY(-1px);
    }
  }
}

.title {
  min-width: fit-content;
  color: white;
  line-height: 1;
  margin: 0;
  font-family: inherit;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 27px;
  font-weight: bold;
  color: #222;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: white;

  a {
    display: grid;
    place-items: center;
    height: var(--header-height);
    line-height: 1;
    color: inherit;
    text-decoration: none;
    padding: 0 20px;
    transform: translateY(-2px);
  }
}
</style>

<div class="header">
  <div class="title">
    <a href="/">Robin Rendle</a>
  </div>
  <nav class="nav">
    <a href="/notes">Notes</a>
    <a href="/essays">Essays</a>
    <a href="/adventures">Adventures</a>
  </nav>
</div>
