---
const { title } = Astro.props;
---

<style lang="scss">
:root {
  --link-font-size: 22px;

  @media screen and (min-width: 767px) {
    --link-font-size: 27px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  height: var(--header-height);
  overflow: hidden;
}

.nav {
  width: 100%;
  background: var(--color-link);
  display: flex;
  gap: 0;
  list-style: none;
  align-items: center;
  margin-left: 0;
  margin: 0;
  font-size: var(--link-font-size);
  padding-left: 10px;
  overflow: scroll;

  a {
    display: grid;
    place-items: center;
    height: var(--header-height);
    padding: 0 15px;
    color: #222;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    transition: transform .1s ease;

    &:active {
      transform: translateY(2px);
    }
  }
}

.title {
  min-width: fit-content;
  color: white;
  line-height: 1;
  margin: 0;
  font-family: inherit;
  font-size: var(--link-font-size);
  color: #222;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: white;
  
  a {
    display: grid;
    place-items: center;
    height: var(--header-height);
    line-height: 1;
    color: inherit;
    text-decoration: none;
    padding: 0 20px;
  }
}
</style>

<div class="header">
  <div class="title">
    <a href="/">Robin Rendle</a>
  </div>
  <nav class="nav">
    <a href="/notes">Notes</a>
    <a href="/essays">Essays</a>
    <a href="/adventures">Adventures</a>
  </nav>
</div>
