<style lang="scss">
  .inputs, .inputs input {
    margin-top: 0 !important;
  }
  .inputs {
    display: flex;
    gap: 10px;
  }
  input[type="email"] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: var(--color-faded);
    color: var(--color-title);
  }
  input[type="submit"] {
    background-color: var(--color-link);
    &:hover {
      cursor: pointer;
    }
  }
  input {
    border: none;
    box-shadow: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: DegularText, var(--font-fallback);
    font-size: 110%;

    @media screen and (min-width: 767px) {
      font-size: 120%;
    }
  }
  label {
    font-family: Degular, var(--font-fallback);
    text-transform: lowercase;
    letter-spacing: 0.5px;
    font-variant: small-caps;
    font-size: 120%;
    display: block;
    margin-bottom: 5px;
    color: var(--color-subtext);
    padding-bottom: 5px;
  }
</style>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Email Address</label>
  <div class="inputs">
    <input type="email" name="email" id="bd-email" required />
    <input type="submit" value="Subscribe" />
  </div>
</form>