<style lang="scss">
  h1 {
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    
    @media screen and (min-width: 767px) {
      margin-bottom: 40px;
      margin-top: 30px;
    }
  }
</style>

<h1><slot/></h1>