<style lang="scss">
  h1 {
    padding-top: 10px;
    margin-bottom: 30px;
    
    @media screen and (min-width: 767px) {
      padding-top: 30px;
      margin-bottom: 40px;
    }
  }
</style>

<h1><slot/></h1>