---
export interface Props {
  className?: any;
}

const { className } = Astro.props;
---

<style lang="scss">
  .wrapper {
    margin: 0 auto;
    padding: 10px 15px 0;
    max-width: 1300px;
    overflow: hidden;
    @media screen and (min-width: 900px) {
      padding: 40px 60px 40px;
    }
  }
  .align {
    section {
      margin: 0;
    }
    @media screen and (min-width: 767px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      gap: 40px;

      p {
        justify-self: start;
      }
    }
  }
</style>

<div class=`wrapper ${className ? className : ''}`>
  <slot/>
</div>