---
export interface Props {
  className?: any;
}

const { className } = Astro.props;
---

<style lang="scss">
  .wrapper {
    padding: 0 var(--wrapper-padding);
    max-width: var(--max-wrapper-width);
    margin: 0 auto;

    @media screen and (min-width: 900px) {
      padding-top: 50px;
    }
  }
</style>

<div class=`wrapper ${className ? className : ''}`>
  <slot/>
</div>