@font-face {
  font-family: "Caponi Display";
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url("/fonts/caponi/caponi-display.woff2") format("woff2"),
    url("/fonts/caponi/caponi-display.woff") format("woff");
}
