{% include 'components/header' %}

    <header>
        <h1>{{title}}</h1>
    </header>

    {{body}}

    <section class="wrapper">
        {% for post in posts %}
            <article>
                <header>
                    <time datetime="{{post.date}}">
                        {% assign d = post.date | date: "%-d"  %}
                        {% case d %}
                            {% when '1' or '21' or '31' %}{{ d }}st
                            {% when '2' or '22' %}{{ d }}nd
                            {% when '3' or '23' %}{{ d }}rd
                            {% else %}{{ d }}th
                        {% endcase %}
                        {{ post.date | date: "%B" }}
                        {{ post.date | date: "%Y" }}
                    </time>
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </header>

                <p>{{post.meta.Extract.value}}</p>
            </article>
        {% endfor %}
    </section>

{% include 'components/footer' %}
