{% include 'components/header' %}

    <div class="container">
        <header class="heading-group">
            <h1>{{title}}</h1>
        </header>

        {{body}}

    </div>

    <section class="article-list">
        {% for post in posts | limit: 7 %}
            <article class="Wrapper">
                <header class="hgroup hgroup--listing">
                    <div class="info-block">
                        <div class="info-block__item">
                            <time datetime="{{post.date}}">
                                {% assign d = post.date | date: "%-d"  %}
                        {% case d %}
                            {% when '1' or '21' or '31' %}{{ d }}st
                            {% when '2' or '22' %}{{ d }}nd
                            {% when '3' or '23' %}{{ d }}rd
                            {% else %}{{ d }}th
                        {% endcase %}
                        {{ post.date | date: "%B" }}
                        {{ post.date | date: "%Y" }}
                            </time>
                        </div>
                    </div>
                    <h2><a href="{{post.meta.link}}">{{post.title}}</a></h2>
                </header>

                <div class="Longform">
                    <p>{{post.body}}</p>
                </div>
            </article>
        {% endfor %}
    </section>

    <a href="/reading/archive">All posts</a>

{% include 'components/footer' %}
