{% include 'components/header' %}

    <header class="cell-b20 cell-b20--medium">
        <div class="cell-t30 cell-t60--medium cell-t80--large">
            <div class="m-wrapper">
                <h1 class="">{{title}}</h1>
            </div>
        </div>
    </header>

    <section>
        {% for post in posts | limit: 7 %}
            <article class="m-wrapper cell-b60">
                <header>
                    <div class="meta-info">
                        <div class="meta-info__item">
                        <time datetime="{{post.date}}">
                            {% assign d = post.date | date: "%-d"  %}
                            {% case d %}
                                {% when '1' or '21' or '31' %}{{ d }}st
                                {% when '2' or '22' %}{{ d }}nd
                                {% when '3' or '23' %}{{ d }}rd
                                {% else %}{{ d }}th
                            {% endcase %}
                            {{ post.date | date: "%B" }}
                            {{ post.date | date: "%Y" }}
                                </time>
                        </div>
                    </div>
                    <h2 class="h2 links u-reset-margins cell-b20">
                        <a href="{{post.url}}">{{post.title}}</a>
                    </h2>
                </header>

                <div class="m-longform">
                    {{post.body}}
                </div>
            </article>
        {% endfor %}
    </section>

    <div class="m-wrapper">
        <div class="rules--top rules rules--all rules--transparent cell-5">
            <div class="cell-20 links o-island--transparent cell-10 u-text-center">
                <a class="h5 caps" href="/reading/archive">
                    View all posts
                </a>
            </div>
        </div>
    </div>
{% include 'components/footer' %}
