/*------------------------------------*\
    $MIXINS
\*------------------------------------*/


    // @start INLINE BLOCK (http://bit.ly/thoughtbot-bourbon-inline-block) -------------------- //
    @mixin inline-block {
        display:inline-block;
        vertical-align:baseline;
        zoom:1;
        *display:inline;
        *vertical-align:auto;
    }

    /**
     * Gradient mixin: add a color -> get your lovely gradient
     */
    @mixin gradient($default, $from, $to){
        background-image:$default;
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -o-linear-gradient(top, $from, $to);
        background-image: -moz-linear-gradient(top, $from, $to);
        background-image: -webkit-linear-gradient(top, $from, $to);
        background-image: -ms-linear-gradient(top, $from, $to);
    }

    // @start MEDIA QUERIES -------------------- //
    @mixin respond-to($media) {
        @if $media == medium {
            @media screen and (min-width: 30.25em) { @content; }
        }
        @if $media == grande {
            @media screen and (min-width: 42em) { @content; }
        }
        @else if $media == large {
            @media screen and (min-width: 991px) { @content; }
        }
        @else if $media == widescreen {
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { @content; }
        }
        @else if $media == leviathan {
            @media screen and (min-width: 1300px) { @content; }
        }
    }

