// ==========================================================================
// CELL
// ==========================================================================

$_cell-default: 20 !default;
$_cell-intervals: (0, 5, 10, 20, 30, 40, 60, 80 ) !default;

.cell {
    @include remCalc(padding, $_cell-default);
}

@each $spacing in $-cell-intervals {
    // base cell output
    .cell-#{$spacing} {
        @include remCalc(padding, $spacing);
    }
    .cell-t#{$spacing} {
        @include remCalc(padding-top, $spacing);
    }
    .cell-b#{$spacing} {
        @include remCalc(padding-bottom, $spacing);
    }
    .cell-l#{$spacing} {
        @include remCalc(padding-left, $spacing);
    }
    .cell-r#{$spacing} {
        @include remCalc(padding-right, $spacing);
    }
    .cell-v#{$spacing} {
        @extend .cell-t#{$spacing};
        @extend .cell-b#{$spacing};
    }
}

// For each breakpoint in the $breakpoints map
    //  make a media query for that width
    //  make a cell class for that width PLUS the values from $_cell-intervals
    // .cell

@each $bp, $width in $breakpoints {
    @include media(">" + $bp){
        .cell--#{$bp} {
            padding: rem-calc($_cell-default);
        }
        @each $spacing in $_cell-intervals {
            .cell-#{$spacing}--#{$bp} {
                padding: rem-calc($spacing);
            }
        }
    }
}

@each $bp, $width in $breakpoints {
    @include media(">" + $bp){
        @each $spacing in $_cell-intervals {
            .cell-t#{$spacing}--#{$bp} {
                @include remCalc(padding-top, $spacing);
            }
            .cell-b#{$spacing}--#{$bp} {
                @include remCalc(padding-bottom, $spacing);
            }
            .cell-l#{$spacing}--#{$bp} {
                @include remCalc(padding-left, $spacing);
            }
            .cell-r#{$spacing}--#{$bp} {
                @include remCalc(padding-right, $spacing);
            }
        }
    }
}



