// ==========================================================================
// NAV MODULE
// ==========================================================================
//
//
//
// Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
// When used on an `ol` or `ul`, this class throws the list into horizontal mode
//
//   <ul class=nav>
//       <li><a href=#>Home</a></li>
//       <li><a href=#>About</a></li>
//       <li><a href=#>Portfolio</a></li>
//       <li><a href=#>Contact</a></li>
//   </ul>

.nav{
    list-style:none;

    > li, dd, dt {
        margin-left: 0;
        @include remCalc(margin-right, $half-spacing-unit);

        &,
        > a{
            display:inline-block;
            zoom:1;
        }

        /* Hides psuedo elements that we add on standard lists */
        &:before {
            display: none;
        }
    }
}

