// ==========================================================================
// NAV MODULE
// ==========================================================================
//
//
//
// Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
// When used on an `ol` or `ul`, this class throws the list into horizontal mode
//

.o-nav {
    list-style: none;
}

.o-nav__item {
    display: inline-block;
    margin-right: 10px;
}


// Bullet list nav
.o-nav--bullets {
    .o-nav__item {
        position: relative;
        margin-right: 20px;
        overflow: visible;

        &:after {
            content: "•";
            position: absolute;
            right: -15px;
            pointer-events: none;
        }

        &:last-of-type:after {
            content: none;
        }
    }
}

.o-nav--large {
    .o-nav__item {
        font-size: 18px;
    }
}