// ==========================================================================
// PRESERVE ASPECT
// ==========================================================================
/*doc
---
title: Preserve aspect
name: 2_preserve_aspect
category: atoms
---

The `preserve-aspect` parent preserves the aspect ratio of an iframe or video.

```html_example
<div class="preserve-aspect">
    <iframe class="preserve-aspect__element" src="https://www.youtube.com/embed/QcIy9NiNbmo" frameborder="0" allowfullscreen></iframe>
</div>
```
*/


// fix aspect ratio of iframes
.preserve-aspect {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: rem-calc(25);
    height: 0;
}

.preserve-aspect__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    min-height: 500px;
}