{% include 'partials/header.html' %}
    <section role="main">
        {% for child in slice (page.root, 1,1) %}
            {% for child in slice (child.children|reverse, start,1) %}
            <article>
                {{ child.hero }}
                <header class="{{child.header}}">
                    <h1><a href="{{ child.url }}">{{ child.title }}</a></h1>

                    <div class="meta">
                        <p>By Robin Rendle</p>
                        <time datetime="{{ child.date | date("Y-m-d") }}" pubdate>{{ child.season }}</time>
                    </div>
                </header>

                {{ child.intro }}
                {{ child.content }}
            </article>
            {% endfor %}
        {% endfor %}
    </section>

    {% include 'partials/footer.html' %}