// ==========================================================================
// BANNER MODULE
// ========================================================================== 
//
// The top banner of the website – the intro with navigational items.
// 


.banner {
    @extend .cf;
    background-color: #CCCCCC;
    margin-bottom: rem-calc($base-spacing-unit*1.2);
    padding: rem-calc($half-spacing-unit * 1.3);
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    width: 100%;

    @include respond-to("small and above"){    
        margin-bottom: rem-calc($base-spacing-unit * 1.5);
    }

    @include respond-to("medium and above"){
        padding: 0;
        margin-bottom: rem-calc($base-spacing-unit * 2);
    }
}

.banner--transparent {
    background-color: rgba(0,0,0,.13);
}

.banner--standard {
    margin-bottom: 0;
}
    

    /* The first title on each page */ 
    .banner__headline {
        @extend .cf;
        font-size: rem-calc(18);
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        line-height: 1;
        float: left;
        width: 50%;
        min-width: rem-calc(150);


        @include respond-to("medium and above"){
            text-align: center;
            width: rem-calc(150);
            margin-bottom: 0;
            font-size: rem-calc(20);
        }

        > a {
            text-align: left;
            color: $color__white;
            background-color: #777;
            background-color: rgba(0,0,0,0.1);
            padding-top: rem-calc($half-spacing-unit * 1.3);
            padding-right:rem-calc($half-spacing-unit / 1.5);
            padding-bottom: rem-calc($half-spacing-unit * 1.2);
            padding-left: rem-calc($half-spacing-unit / 1.5);

            // Make sure that the logo text never breaks onto two lines
            min-width: rem-calc(175);

            @include respond-to("medium and above"){
                float: left;
                margin-bottom: 0;
                text-align: center;
            }

            &:hover, 
            &:focus {
                @include respond-to("medium and above"){
                    background-color: darken(#CE7E7E, 10);
                    background-color: rgba(0,0,0,.3);
                    color: darken(#ffffff, 10);
                }
            }
        }
    }


//
// The main navigation in the banner
//
    .banner__nav {
        text-align: center;
        margin: 0;
        margin-top: rem-calc($base-spacing-unit);
        padding: 0;
        width: 100%;
        line-height: 1;
        float: left;

        @include respond-to("medium and above"){
            display: block;
            float: right;
            width: auto;
            margin-top: 0;
            padding: 0;
            padding-top: rem-calc($half-spacing-unit * 1.3);
            padding-bottom: rem-calc($half-spacing-unit * 1.3);
        }

        .js & {
            display: none;

            @include respond-to("medium and above"){
                display: block;
            }
            
            &.menu-active {
                display: block;
                -webkit-animation: appearDown .6s 1;
                animation: appearDown .6s 1;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }


        > li {
            @extend %font__text--sub;
            margin-bottom: 0;
            display: block;
            float: left;
            width: 100%;
            text-align: left;

            &:before {
                display: none;
            }

            @include respond-to("medium and above"){
                display: inline-block;
                width: auto;
                margin-left: rem-calc($base-spacing-unit / 1.2);
            }

            a {
                float: left;
                border-bottom: 1px solid rgba(255,255,255, .3);
                background-color: darken($color__white, 40);
                background-color: rgba(0,0,0,.05);
                padding:rem-calc($half-spacing-unit);
                width: 100%;
                color: #FFFFFF;

                @include respond-to("medium and above"){
                    background-color: transparent;
                    padding: 0;
                    border: none;
                    width: auto;
                    display: inline;
                }

                &:hover,
                &:focus {
                    border-bottom: 1px solid rgba(255,255,255, .1);
                    background-color: rgba(0,0,0, .09);
                    color: darken($color__white, 50);

                    @include respond-to("medium and above"){
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
    }


        /**
         * The banner menu link appears on mobile and is hidden on
         * larger screen sizes.
         */
        .banner__nav__menu {
            @extend %font__text--sub;
            text-transform: uppercase;

            .js & {
                display: block;
                float: right;

                @include respond-to("medium and above"){
                    display: none;
                }
            }

            .no-js & {                
                display: none;
            }
        }




