// ==========================================================================
// CUSTOM POST STYLES
// ========================================================================== 
// 
// CONTENTS
// 1. Counterpunch
// 2. A visual lexicon 
// 



// @start COUNTERPUNCH -------------------- //

.serif_illustration {
    text-align:center;
    font-size:6em;
    margin-bottom:.3em;
    line-height:1;
    color:#B8B8B8;
}


// @start A VISUAL LEXICON -------------------- //
.custom-post--lexicon {
    .heading-group {
        padding-top: rem-calc($base-spacing-unit);
        padding-bottom: rem-calc($base-spacing-unit);
        margin-bottom: rem-calc($base-spacing-unit);
        background-color: $color__metal-grey;

        @include respond-to("medium and above"){
            margin-bottom: rem-calc($base-spacing-unit * 2);
        }

        h1 {
            color: $color__white;

            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                margin-top: rem-calc($half-spacing-unit * 1.2);
                margin-bottom: rem-calc($base-spacing-unit);
                background-color: $color__blue--light;
                height: rem-calc(2);
                width: rem-calc(150);
            }

            @include respond-to("medium and above"){
                font-size: rem-calc(65);
            }
        }

        .meta-info-block__item {
            @extend %font__text--sub;
        }
    }

    a {
        color: $color__blue--light;
        border-color: $color__blue--light;

        &:hover,
        &:focus {
            color: $color__blue;
        }
    }

    .highlight--blue {
        color: $color__blue--light;
        font-style: italic;
    }

    // A nasty hack to allow us to do full-width stuff.
    .h-entry {
        > p,
        ol,
        ul,
        h2,
        h3,
        >h4,
        h5,
        .blockquote--standard,
        pre {
            @extend .container--standard;

            @include respond-to("largest only"){
                padding-left: 0;
                padding-right: 0;
            }
        }

        blockquote > p {
            padding-left: rem-calc($half-spacing-unit);
        }
    }

    ul > li:before {
        background-color: $color__blue--light;
    }

    .text__voice {
        @extend %font__text--sub;
        font-style: italic;
        color: $color__grey--mid;

        @include respond-to("medium and above"){
            font-size: rem-calc(20);
        }
    }
}


.custom-post--lexicon__hero {
    margin-bottom: 0;
    padding: rem-calc($base-spacing-unit);
}

.custom-post--lexicon__hero--reverse {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;

    // Reverse eye image in the footer.
    > img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}