/*------------------------------------*\
    $CUSTOM POST STYLES
\*------------------------------------*/


// 1. BOOKMARKING
// 2. ABOUT
// 3. COUNTERPUNCH
// 4. A VISUAL LEXICON


// @start BOOKMARKING -------------------- //
section[role="main"] header {
    &.bookmarking {
        position:relative;

        .meta {
            margin-top:-.3em;
        }

        @include breakpoint($breakpoint__grande){

            .meta {
                margin-top:-.2em;
                padding-bottom:.1em;
            }
        }
    }
}

figure {
    @include breakpoint($breakpoint__grande){
        &.hero.bookmark {
            max-height:30em;
        }
    }
}

// @start COUNTERPUNCH -------------------- //

.serif_illustration {
    text-align:center;
    font-size:6em;
    margin-bottom:.3em;
    line-height:1;
    color:#B8B8B8;
}


// @start A VISUAL LEXICON -------------------- //
.custom-post--lexicon {
    .heading-group {
        @include rem(padding-top, $base-spacing-unit);
        @include rem(padding-bottom, $base-spacing-unit);
        @include rem(margin-bottom, $base-spacing-unit);
        background-color: $color__metal-grey;

        @include respond-to("medium and above"){
            @include rem(margin-bottom, $base-spacing-unit * 2);
        }

        h1 {
            color: $color__white;

            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                @include rem(margin-top, $half-spacing-unit * 1.2);
                @include rem(margin-bottom, $base-spacing-unit);
                background-color: $color__blue--light;
                @include rem(height, 2);
                @include rem(width, 150);
            }

            @include respond-to("medium and above"){
                @include rem(font-size, 65);
            }
        }

        .meta-info-block__item {
            @extend %font__text--sub;
        }
    }

    a {
        color: $color__blue--light;
        border-color: $color__blue--light;

        &:hover,
        &:focus {
            color: $color__blue;
        }
    }

    .highlight--blue {
        color: $color__blue--light;
        font-style: italic;
    }

    // A nasty hack to allow us to do full-width stuff.
    .h-entry {
        > p,
        ol,
        ul,
        h2,
        h3,
        >h4,
        h5,
        .blockquote--standard,
        pre {
            @extend .container--standard;

            @include respond-to("largest only"){
                padding-left: 0;
                padding-right: 0;
            }
        }

        blockquote > p {
            padding-left: $half-spacing-unit;
        }
    }

    ul > li:before {
        background-color: $color__blue--light;
    }

    .text__voice {
        @extend %font__text--sub;
        font-style: italic;
        color: $color__grey--mid;

        @include respond-to("medium and above"){
            @include rem(font-size, 20);
        }
    }
}


.custom-post--lexicon__hero {
    margin-bottom: 0;
    @include rem(padding, $base-spacing-unit);
}

.custom-post--lexicon__hero--reverse {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;

    > img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}