// ==========================================================================
// DROP CAP
// ========================================================================== 
//
// Adds a drop cap to the first letter of a paragraph.
//

.drop-cap {
    &:first-letter {
        @include respond-to("large and above"){
            font-family: 'Whitney A', 'Whitney B', Georgia, serif;
            font-weight: $font-weight--medium;
            font-style: normal;
            font-size: rem-calc(116);
            line-height: .7;
            float: left;
            margin-top: rem-calc(9);
            margin-bottom: rem-calc(-20);
            margin-right: rem-calc(5);
            margin-left: rem-calc(-7);
            color: $color__blue--light;
        }
    }
}

.drop-cap--shadow {
    margin-bottom: rem-calc(40);
    &:first-letter {
        @include respond-to("large and above"){
            font-weight: bold;
            font-size: rem-calc(62);
            line-height: .95;
            float: left;
            margin-top: rem-calc(3);
            margin-bottom: rem-calc(-20);
            margin-right: rem-calc(6);
            margin-left: 0;
            color: white;
            padding: 0;
            background-color: transparent;
        }
    }
}
