/*------------------------------------*\
    $DROP-CAP
\*------------------------------------*/
/**
 *
 * Adds a drop cap to the first letter.
 */

.drop-cap {
    &:first-letter {
        @include respond-to("large and above"){
            font-family: 'Whitney A', 'Whitney B', Georgia, serif;
            font-weight: $font-weight--medium;
            font-style: normal;
            @include rem(font-size, 116);
            line-height: .7;
            float: left;
            @include rem(margin-top, 9);
            @include rem(margin-bottom, -20);
            @include rem(margin-right, 5);
            @include rem(margin-left, -7);
            color: $color__blue--light;
        }
    }
}