// ==========================================================================
// FOOTER MODULE
// ==========================================================================
//
// Molecule styles for the standard footer.
//

.footer {
    width:100%;
    padding: 0;

    p {
        font-size: rem-calc(15);
        margin-bottom: 0;
    }
}

    .footer__nav {
        margin: 0 auto;
        text-align: center;
    }
