/*------------------------------------*\
    $FOOTER NAV
\*------------------------------------*/


.footer {
    background-color: $color__secondary;
    width:100%;
    @include rem(padding, $base-spacing-unit, 0);
    @include rem(margin-top, $base-spacing-unit);

    @include respond-to("medium and above"){
        @include rem(margin-top, $base-spacing-unit*1.5);
    }

    p {
        @include rem(font-size, 15);
        margin-bottom: 0;

        @include respond-to("medium and above"){
            @include rem(font-size, 16);
        }
    }
}

    .footer__nav {
        margin: 0 auto;
        text-align: center;
    }