// ==========================================================================
// FOOTER MODULE
// ========================================================================== 
// 
// Molecule styles for the standard footer.
// 

.footer {
    background-color: #f6f6f6;
    border-top: 1px solid $color__secondary;
    width:100%;
    @extend .cf;
    padding: rem-calc($base-spacing-unit, 0);
    margin-top: rem-calc($base-spacing-unit);

    @include respond-to("medium and above"){
        margin-top: rem-calc($base-spacing-unit*1.5);
    }

    p {
        font-size: rem-calc(15);
        margin-bottom: 0;
        color: $color__grey--mid;

        @include respond-to("medium and above"){
            font-size: rem-calc(16);
        }
    }
}

    .footer__nav {
        margin: 0 auto;
        text-align: center;
    }