/*------------------------------------*\
    $HEADING-GROUP
\*------------------------------------*/
/**
 *
 * These styles define the layout and stlyes of the main heading: ie. the title of a blog post
 */



// Styles for the main titles
.heading-group {
    width:100%;
    margin-top:0;
    margin-bottom:2em;

    &.hero {
        margin-top:0;
        padding-top:2em;
    }

    h1 {
        margin:0 auto;
    }

    h2 {
        color: $color__meta;
    }

    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
        max-width:none;
    }
}

.heading-group--centered {
    text-align:center;
}




.heading-group--home {
    @include rem(margin-bottom, $base-spacing-unit * 1.5);
}