// ==========================================================================
// HEADING GROUP
// ========================================================================== 
//
// These styles define the layout and stlyes of the main heading: ie. the title of a blog post
//



// Styles for the main titles
.heading-group {
    width:100%;
    margin-top:0;
    margin-bottom: rem-calc(35);

    &.hero {
        margin-top:0;
        padding-top:2em;
    }

    h1 {
        margin:0 auto;
    }

    h2 {
        color: lighten($color__meta, 10);
        font-style: italic;
    }

    h1,h2,h3,h4,
    .h1,.h2,.h3,.h4,.h5 {
        width:100%;
        margin:0 auto;
        max-width:none;
    }
}

.heading-group--centered {
    text-align:center;
}

.heading-group--hero {
    padding-top: rem-calc(50);

    @include respond-to("medium and above"){
        padding-top: rem-calc(80);
        margin-bottom: rem-calc($base-spacing-unit * 2);
    }
}


