/*------------------------------------*\
    $HERO-IMAGE
\*------------------------------------*/
/**
 * Main type used as introduction pieces to certain articles.
 */


.hero {
    @include rem(margin, - $base-spacing-unit*1.2,0,$base-spacing-unit,0);
    z-index:-9999;
    max-height:26em;
    overflow:hidden;
    border-bottom:1px solid #ddd;
    float: left;
    width:100%;


    @include respond-to("small and above"){    
        @include rem(margin-top, - $base-spacing-unit * 1.5);
    }


    @include respond-to("medium and above"){
        @include rem(margin-top, - $base-spacing-unit * 2);
    }

    img {
        width:100%;
    }
}