/*------------------------------------*\
    $HERO-IMAGE
\*------------------------------------*/
/**
 * Main type used as introduction pieces to certain articles.
 */


.hero {
    z-index:-9999;
    overflow:hidden;
    border-bottom:1px solid #ddd;
    float: left;
    width:100%;

    img {
        width:100%;
    }
}


/**
 * Pull hero so that the banner overlaps it.
 */
.hero--nudge {
    @include rem(margin, - $base-spacing-unit * 1.9, 0, $base-spacing-unit, 0);


    @include respond-to("small and above"){    
        @include rem(margin-top, - $base-spacing-unit * 1.5);
    }


    @include respond-to("medium and above"){
        @include rem(margin-top, - $base-spacing-unit * 2);
        max-height: 26em;
    }
}