// ==========================================================================
// HERO IMAGE
// ========================================================================== 
//
// Main type used as introduction pieces to certain articles.
//


.hero {
    z-index:-9999;
    overflow:hidden;
    border-bottom:1px solid #ddd;
    float: left;
    width:100%;

    img {
        width:100%;
    }
}


//
// Pull hero so that the banner overlaps it.
//
.hero--nudge {
    margin-top: rem-calc(- $base-spacing-unit * 1.9);
    margin-right: 0;
    margin-bottom: rem-calc($base-spacing-unit);
    margin-left: 0;


    @include respond-to("small and above"){    
        margin-top: rem-calc(- $base-spacing-unit * 1.5);
    }


    @include respond-to("medium and above"){
        margin-top: rem-calc(- $base-spacing-unit * 2);
        max-height: 26em;
    }
}