// ==========================================================================
// WORK ITEM 
// ========================================================================== 



// Custom styles for the work page

.work-item {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(70);
    border-bottom: 1px solid #444;

    @include respond-to("large and above"){
        padding-top: rem-calc(80);
    }

    p {
        font-size: rem-calc(17);
        color: rgba(255,255,255,0.8);
        margin-bottom: rem-calc(20);
    }

    .figure-browser {
        margin-bottom: 0;
        background-color: transparent;
        background-color: rgba(255,255,255,0.05);
        border: 1px solid rgba(0,0,0,.1);

        img {
            width: 100%;
            border: 1px solid #E5E5E5;
        }

        &:before {
            color: rgba(0,0,0,.3);
        }

        &:after {
            background-color: rgba(0,0,0,.15);
        }

        &:hover,
        &:focus {
            background-color: rgba(0,0,0,0.05);
            border: 1px solid rgba(0,0,0,.1);
        }
    }
}

.work-item--title{
    padding: 0;
    border: none;
    background-color: #5A57A9;

    h1 {
        color: white;
    }

    p {
        margin-top: rem-calc(20);
        margin-bottom: 0;

        @include respond-to("large and above"){
            font-size: rem-calc(19);
        }
    }
}



.work-item__btn {
    @extend %font__text--display;
    text-decoration: none;
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(255,255,255,.6);
    font-weight: normal;
    font-size: rem-calc(15);
    padding: rem-calc(2) rem-calc(6);
    border-radius: 3px;
    white-space: nowrap;

    &:hover,
    &:focus {
        color: rgba(255,255,255,.8);
        background-color: rgba(0,0,0,.3);
        border: 1px solid rgba(0,0,0,.3);
    }
}

.work-item__content {
    @extend .cf;
    width: 100%;

    p {
        @include respond-to("large and above"){
            line-height: 1.8;
        }
    }
}

.work-item__about {
    @include respond-to("large and above"){
        float: left;
        width: 70%;
        max-width: rem-calc(750);
    }
}

.work-item__heading {
    font-size: rem-calc(21);
    margin: 0;
    margin-bottom: rem-calc(5);
    position: relative;

    @include respond-to("medium and above"){
        font-size: rem-calc(24);
    }

    @include respond-to("large and above"){
        &:before {
            position: absolute;
            top: rem-calc(2);
            left: rem-calc(-35);
            color: #F8F8F8;
            background-color: rgba(0,0,0,.3);
            border-radius: 100%;
            line-height: 1;
            font-size: rem-calc(20);
            padding: 0px 8px 3px;
        }
    }

    a {
        text-decoration: none;
        border: none;
        color: white;

        &:hover,
        &:focus {
            border: none;
            color: rgba(255,255,255,0.8);
        }
    }
}

.work-item__list {
    @extend %font__text--display;
    font-size: rem-calc(17);
    font-style: italic;
    font-weight: normal;
    text-transform: lowercase;

    @include respond-to("large and above"){
        float: right;
        width: 25%;
        margin-top: rem-calc(5);
    }

    >ul {
        margin-bottom: 0;
        list-style: none;
    }
    ul>li {
        position: relative;
        margin-bottom: 0;
        color: rgba(0,0,0,.4);
        line-height: 1.3;

        &:before {
            content: none;
        }

        &:after {
            content: "–";
            position: absolute;
            left: rem-calc(-13);
            top: rem-calc(1);
        }
    }
}

.work-item__image {
    margin-bottom: rem-calc(30);
    border: none; // remove default link styles

    &:hover,
    &:focus {
        border: none;
        text-decoration: none;
    }

    figure {
        @include transition(all .3s ease-in-out);

        > img {
            width: 100%;
        }
    }
}

.work-item--endsleigh {
    padding-top: rem-calc(10);
    background: url('/build/images/work/endsleigh/endsleigh-figure.png') no-repeat;
    background-size: 100%;
    background-position: 0 rem-calc(430);
    padding-top: rem-calc(70);
    background-color: #5A57A9;

    .work-item__image {
        @extend .cf;
        margin-bottom: 0;
        margin-top: rem-calc(20);

        @include respond-to("large and above"){
            margin-top: 0;
        }

        > figure {
            margin-bottom: 0;
        }
    }

    @include respond-to("medium and above"){
        background-position: 0 rem-calc(400);
    }
    
    @include respond-to("large and above"){
        background-position: 0 rem-calc(350);

        .work-item__heading:before {
            content: "1";
            padding: 1px 9px 4px;
        }
    }
}

.work-item--ncc {
    background-color: #4F9B5A;

    @include respond-to("large and above"){
        .work-item__heading:before {
            content: "2";
            padding: 0 7px 4px;
        }
    }
}

.work-item--erskine {
    background-color: #A04242;
    border: none;

    @include respond-to("large and above"){
        .work-item__heading:before {
            content: "3";
            padding: 2px 7px 8px 7px;
            line-height: .7;
            font-size: rem-calc(19);
        }
    }
}

.work-item--sc {
    @extend .cf;
    background-color: #333333;
    background: url("/build/images/work/sc/sc-background.jpg") 0 0 no-repeat;
    position: relative;
    z-index: 0;
    width: 100%;

    @include respond-to("large and above"){
        background-size: 100%;
        padding-bottom: rem-calc(40);
    }

    .work-item__content {
        @include respond-to("large and above"){
            margin-bottom: 0;
        }
    }

    .work-item__list>ul {
        margin-bottom: 0;
    }

    .work-item__about p {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    &:before {
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0,0,0,.1);
        z-index: 1;
    }

    .container--wide {
        z-index: 2;
        position: relative;
    }
    
    .work-item__list ul>li {
        color: #ccc;
    }

    
    .work-item__heading:before {
        @include respond-to("large and above"){
            content: "4";
            padding: 4px 7px 10px;
            line-height: .6;
            font-size: rem-calc(19);
        }
    }
}

.work-item--projects {
    @extend .cf;
    width: 100%;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #474747;

    .work-item__heading {
        margin-bottom: rem-calc(30);
    }
}

.container--work {
    .footer {
        background-color: #474747;
        border: none;
        margin: 0;
    }
}
