---
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import ArticleList from '../../components/ArticleList.astro';
import ArticleItem from '../../components/ArticleItem.astro';
interface MarkdownFrontmatter {
  date: number;
}
export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

  return paginate(sortedPosts, { pageSize: 1000 });
}

const { page } = Astro.props;

---

<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
  <MainHead title={'Newslettter'} description={'Designer and writer'} />

  <style lang="scss">
    .card-text {
      margin: 0;
      display: inline;
    }

    form,
    input {
      display: inline;
    }

    label {
      display: none;
    }

    .subscribe {
      z-index: 1;

      p {
        font-size: 110%;
        margin-top: 0 !important;
      }
    }
  </style>
</head>

<body>
  <Nav />
  <ArticleList title='Newsletter'>
    <section>
      {page.data.map(p =>
      <ArticleItem post={p} />)}
    </section>
  </ArticleList>
</body>

</html>