
<!-- WORK LIST TEMPLATE -->

{% include 'components/header' %}

    <div class="container">
        <header class="heading-group">
            <h1>{{title}}</h1>
        </header>
    </div>

    <section class="article-list">
        {% for post in posts %}
            <article class="container article-list__item">

                <header class="hgroup hgroup--listing">
                    <div class="meta-info-block">
                        <div class="meta-info-block__item">
                            {{ post.meta.project-date.value }}
                        </div>
                    </div>
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </header>

                <div class="article-list__content">
                    <p>{{post.meta.Extract.value}}</p>
                </div>
            </article>
        {% endfor %}
    </section>


{% include 'components/footer' %}

