{% include 'components/header' %}
    <header class=" cell-b20 cell-b10--medium">
        <div class="cell-t20 cell-t60--medium">
            <div class="m-wrapper">
                <h1>Work &amp; projects</h1>
            </div>
        </div>
    </header>


    <section class="m-wrapper">
        {% for post in posts %}
            <article class="cell-b40">
                <div class="container container--wide">
                    <div class="hgroup hgroup--listing">
                        <h2 class="h3 u-text--book links u-reset-margins cell-b0">
                            <a href="{{post.url}}">{{ post.title }}</a>
                        </h2>

                        <div class="m-longform">
                            {{ post.meta.extract | markdown: true}}
                        </div>
                    </div><!-- //.work-item-content -->
                </div> <!-- //.container -->
            </article>
        {% endfor %}

        {% for page in pages %}
            <article class="cell-b40">
                <div class="container container--wide">
                    <div class="hgroup hgroup--listing">
                        <h2 class="h3 u-text--book links u-reset-margins cell-b0">
                            <a href="{{page.url}}">{{ page.meta.byline }}</a>
                        </h2>

                        <div class="m-longform">
                            <p>{{ page.meta.extract }}</p>
                        </div>
                    </div><!-- //.work-item-content -->
                </div> <!-- //.container -->
            </article>
        {% endfor %}
    </section>

{% include 'components/footer' %}
