---
layout: layouts/base.njk
templateClass: tmpl-project
---


<header class="intro-wrapper">
  <h1 id="heading" id="heading">{{ title }}</h1>
  <div class="intro-meta">
    <div class="intro-meta-content intro-meta-content-wide">
      <a href="https://{{website}}">{{website}}</a> / {{dateRange}}
    </div>
  </div>
</header>

{# {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}
<div class="main-content">
  <article class="article article-wide">
    {{ content | safe }}
  </div>
  </article>
{# 
  <aside class="aside">
    <img src="https://placehold.it/500x500" />
  </aside> #}
</div>


