// ==========================================================================
// CODE STYLES
// ==========================================================================
//
// We should only need inline styles because everything else will just get thrown
// straight into Codepen.
//

code {
  font-size: 15px;
  position: relative;
  font-family: "Input Mono", monospace;
  background-color: #f1f1f1;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  display: inline;
  padding: 1px 4px;
  color: #333;
  border-radius: 3px;
}
