// ==========================================================================
// HIERARCHY
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-text-color);

  .is-darkMode & {
    color: #ddd;
  }
}

.h1,
h1 {
  &,
  .m-longform & {
    @include typeface("Display");
    @include remCalc(font-size, 28);
    line-height: 1.15;
    margin-bottom: 20px;
    @include media(">medium") {
      @include remCalc(font-size, 33);
      line-height: 1.2;
    }
    @include media(">large") {
      line-height: 1.2;
      @include remCalc(font-size, 36);
    }
  }
}

.h2,
.h3,
.h4,
.h5,
h2,
h3,
h4,
h5 {
  @include typeface("Display");
}

.h2,
h2 {
  .fonts-loaded & {
    @include remCalc(font-size, 20);
    @include media(">medium") {
      @include remCalc(font-size, 25);
      line-height: 1.3;
    }
  }

  .m-longform & {
    @include remCalc(font-size, 22);
    line-height: 1.3;
    @include media(">medium") {
      @include remCalc(font-size, 24);
      line-height: 1.2;
    }
    @include media(">large") {
      @include remCalc(font-size, 30);
    }
  }
}

.h3,
h3 {
  &,
  .m-longform & {
    @include remCalc(font-size, 22);
    line-height: 1.45;
    @include media(">medium") {
      @include remCalc(font-size, 22);
      line-height: 1.55;
    }
    @include media(">large") {
      @include remCalc(font-size, 24);
      line-height: 1.2;
    }
  }
}

.h4,
h4 {
  margin-bottom: 20px;

  &,
  .m-longform & {
    @include remCalc(font-size, 17);
    line-height: 1.3;
    @include media(">medium") {
      @include remCalc(font-size, 19);
    }
  }
}

.h5,
h5 {
  &,
  .m-longform & {
    @include remCalc(font-size, 16);
    line-height: 1.3;
    @include media(">medium") {
      @include remCalc(font-size, 17);
    }
  }
}

.h6,
h6 {
  &,
  .m-longform & {
    @include remCalc(font-size, 15);
    line-height: 1.3;
  }
}

.m-heading__text {
  &,
  .fonts-loaded & {
    font-weight: normal;
    color: #333;
    max-width: 800px;
    @include typeface("Display");
    @include media(">large") {
      @include remCalc(font-size, 46);
    }
  }
}
