// ==========================================================================
// LINKS
// ==========================================================================
//
// Links are a mixin because that way we dont have global colors and mess up the cascade.
//

a {
  border: none;
}

@mixin links() {
  &,
  a {
    color: var(--link-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
    text-decoration-style: wavy;
    text-decoration-skip: ink;
    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--link-hover-color);
      border: none;
    }
  }
}

.links {
  @include links();
}

.links--underline {
  @include links();
}

@mixin links-dark() {
  &:link,
  a {
    color: #777;
  }
}

@mixin links-longform {
  &:link,
  a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip: ink;
    transition: color 0.3s ease;
    text-decoration-color: var(--link-underline);

    &:hover,
    &:focus {
      color: var(--link-hover-color);
      text-decoration-color: inherit;
    }
  }
}

.links--dark {
  &:link,
  a {
    @include links-dark();
  }
}
