// ==========================================================================
// LINKS
// ==========================================================================
//
// Links are a mixin because that way we dont have global colors and mess up the cascade.
//

a {
	outline: none;
	border: none;

	&:focus {
		outline: none;
	}
}

@mixin links() {
	&,
	a {
		color: lighten($c-primary, 10);
		overflow: hidden;
		position: relative;
		z-index: 1;
		transition: color 0.3s ease;
		outline: none;
		text-decoration-skip: ink;
		&:hover,
		&:focus {
			outline: none;
			text-decoration: none;
			color: darken($c-primary, 10);
			border: none;
		}
	}
}

.links {
	@include links();
}

.links--underline {
	@include links();
}

@mixin links-dark() {
	&:link,
	a {
		color: #777;
	}
}

@mixin links-longform {
	&:link,
	a {
		color: $c-bodycopy;
		text-decoration: none;
		transition: color 0.3s ease;
		background-image: linear-gradient(to bottom, $c-bodycopy 40%, white 5%);
	  background-position: 0 1.04em;
	  background-repeat: repeat-x;
	  background-size: 8px 3px;

		&:hover,
		&:focus {
			color: $c-primary;
			background-image: linear-gradient(to bottom, $c-primary 40%, white 5%);
		}
	}
}

.links--dark {
	&:link,
	a {
		@include links-dark();
	}
}
