// ==========================================================================
// MAIN
// ==========================================================================
//
// This module styles the body and html elements
//

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: darken($c-primary, 20);
}

body {
	font: 400 110%;
	@include typeface("Regular");
	line-height: 1.4;
	background-color: white;
	color: #444;
	font-feature-settings: "liga" 1 !important;

	// Sticky footer with flexbox hack.
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	@include media(">large") {
		border-top: none;
	}
}

.main {
	flex: 1; // sticky footer fix
}

cite {
	@include typeface("Regular");
	font-style: normal;
}

em,
small,
dfn,
i,
q,
.italic {
	@include typeface("Regular italic");
}

mark {
	background-color: rgb(255, 220, 0);
	background-color: rgba(255, 220, 0, 0.3);
	font-weight: normal;
	color: #444;
}

.caps,
abbr {
	@include typeface("Small caps");
}

abbr,
abbr[title] {
	border: none;
	text-decoration: none;
}

b,
strong {
	@include typeface("Book");
}

acronym {
	text-transform: normal;
}

iframe {
	margin: 0 auto !important; // centers tweets
}
