// ==========================================================================
// MAIN
// ==========================================================================

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--html-bg-color);

  @include media(">large") {
    padding-left: 20px;
    padding-right: 20px;
  }
}

body {
  font: 400 100%;
  @include typeface("Regular");
  line-height: 1.4;
  color: var(--main-text-color);
  font-feature-settings: "liga" 1 !important;
  min-height: 100%;
  background-color: var(--body-bg-color);
  padding-bottom: 200px;

  @include media(">large") {
    border-top: none;
  }
}

// sticky footer styles
.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

cite {
  @include typeface("Regular italic");
  font-style: normal;
}

em,
small,
dfn,
i,
q,
.italic {
  @include typeface("Regular italic");
}

mark {
  background-color: rgb(255, 220, 0);
  background-color: rgba(255, 220, 0, 0.3);
  font-weight: normal;
  color: #444;
}

.caps,
abbr {
  @include typeface("Small caps");
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}

b,
strong {
  @include typeface("Book");
}

acronym {
  text-transform: normal;
}

iframe {
  margin: 0 auto !important; // centers tweets
}

img,
video {
  max-width: 100%;
}

main {
  overflow-x: hidden;
}

pre {
  overflow: auto;
  background-color: #f1f1f1;
  white-space: pre;
}

pre code {
  padding: 20px;
  background-color: transparent;
  display: block;
}
