// ==========================================================================
// RULES
// ==========================================================================
hr,
hr:before {
  user-select: none;
}

hr,
.hr {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 0 !important;
  margin-top: 15px;
  margin-bottom: 32px;
  height: 20px;
  line-height: 1;

  &:after {
    color: var(--lighter-gray-color);
    content: "* * *";
    display: block;
    margin: 0 auto;
    text-align: center;
    @include remCalc(font-size, 30);
  }
}
