@font-face {
  font-family: "Ayer";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ayer/ayer-medium.woff2") format("woff2"),
    url("/fonts/ayer/ayer-medium.woff") format("woff");
}
