{% include header.html %}

<article class='h-entry
                container
                is--editor__content'>
	<div class='m-wrapper'>
		<div class="cell-t40 cell-t60--medium cell-b0">
		  <h1>About me</h1>
		</div>

		<div class='m-longform cell-t00 cell-t10'>
			{{page.intro | markdownify}}

      <h2 class=''>Timeline</h2>
      <p>Partly inspired by <a href='https://chriscoyier.net/timeline/'>Chris’</a> and <a href='http://zachjohnston.com/'>Zach’s</a> timelines, here’s a list of events that were really important for me:</p>

      <div class='cell-b-30'>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--top rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>10/2017</div>
          <div>Met Jo.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>
            06/2016
          </div>
          <div>Navigated the American visa process and moved to San Francisco to join the team at Gusto as a product designer and UI engineer.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>12/2014</div>
          <div>Along with Andy Baio and Andy McMillan, I designed and developed a website for their co-working space in Portland called <a href='/notes/the-outpost/'>The Outpost</a>.</div>
        </div>

        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>12/2014</div>
          <div>Joined the writing team at CSS-Tricks and started <a href='https://css-tricks.com/author/robinrendle'>writing regularly</a> for the website, covering all sorts of front-end development and design topics.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>06/2014</div>
          <div><a href='/notes/goodbye-erskine/'>I left Erskine</a> and started freelancing as a front-end developer and designer.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>11/2012</div>
          <div>Moved to Nottingham in the UK to start working with the team at <a href='http://erskine.simplygoodwork.com/'>Erskine</a> as a front-end developer.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>02/2012</div>
          <div>Worked with Alex Charchar on <a href='https://www.smashingmagazine.com/2012/02/the-journey-from-writer-to-reader/'>my first piece</a> for Smashing Magazine.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>10/2011</div>
          <div>Studied an MA in Information Design at the prestigious and scary Department of Typography and Graphic Communication at Reading University.</div>
        </div>
        <div class='flex flex-align-baseline u-reset-margins rules--bottom rules--light cell-t10 cell-b10'>
          <div class='cell-r15 h6 c-lightgrey'>10/2008</div>
          <div>Graduated from Plymouth University with a BA in English Literature.</div>
        </div>
      </div>


			<h2 class=''>About this place</h2>
      {{page.colophon | markdownify}}
		</div>

		<div class='cell-t40'>
			<div class='cell-5 rules rules--all rules--transparent m-longform--small'>
				<ul class='o-island o-island--transparent cell lists--none u-reset-margins'>
					<li class='cell-b10'>You can find me on Twitter:
						<a href='http://twitter.com/robinrendle' class=''>@robinrendle</a>
					</li>
					<li class='cell-b10'>Fork my work over on
						<a href='http://github.com/robinrendle' class=''>GitHub</a>
					</li>
					<li>Or feel free to contact me by
						<a href='mailto:desk@robinrendle.com'>email</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
<!-- //.container -->

{% include footer.html %}
