{% include header.html %}

<div class="m-wrapper">

    <div class="cell-t40 cell-t60--medium cell-b20">
        <h1>Adventures in Typography</h1>

        <div class="m-longform cell-b40">
            <p class="">This is my weekly newsletter on typography, graphic design and the web. I share what I’m working on, what I’ve been thinking about and what I’m reading.</p>

            <p>👉 You can <a href='http://tinyletter.com/robinrendle'>sign up here</a>
        </div>
    </div>


    <!-- {% assign item = site.adventures | sort: 'date' | reverse %}
    {% for post in item %}
        <article class="cell-b40">
           <header class="links">
                <div class="meta-info">
                    <div class="meta-info__item">
                        <time datetime="{{ post.date}}">
                            {% assign d = post.date | date: "%-d"  %}
                            {% case d %}
                                {% when '1' or '21' or '31' %}{{ d }}st
                                {% when '2' or '22' %}{{ d }}nd
                                {% when '3' or '23' %}{{ d }}rd
                                {% else %}{{ d }}th
                            {% endcase %}
                            {{ post.date | date: "%B" }}
                            {{ post.date | date: "%Y" }}
                        </time>
                    </div>
                </div>
                <h3 class="h3 u-text--book links u-reset-margins cell-b0"><a href="{{post.url}}">{{post.title}}</a></h3>
                <div class="m-longform">
                    <p>{{post.extract}}</p>
                </div>
            </header>
        </article>
    {% endfor %} -->

</div>
{% include footer.html %}
