{% include header.html %}

<header class="m-wrapper
                    cell-t40
                    cell-t60--medium
                    cell-b30">
  <div class="m-wrapper__content">
    <div class="meta-info">
        <p class="meta-info__item">
            {{ page.City }}, {{ page.Country }}
        </p>

        <div class="meta-info__item">
            <time datetime="{{page.date}}">
                {% assign d = page.date | date: "%-d"  %}
                    {% case d %}
                        {% when '1' or '21' or '31' %}{{ d }}st
                        {% when '2' or '22' %}{{ d }}nd
                        {% when '3' or '23' %}{{ d }}rd
                        {% else %}{{ d }}th
                    {% endcase %}
                    {{ page.date | date: "%B" }}
                    {{ page.date | date: "%Y" }}

            </time>
        </div>
    </div>
    <h1 class="u-reset-margins">{{ page.title }}</h1>
  </div>
</header>

<div class="m-longform m-wrapper m-wrapper--unpadded">
  <div class="m-wrapper__content">
    {% if page.intro %}
        {{page.intro | markdownify}}
    {% endif %}
    {{ content }}
  </div>
</div>

<div class="m-longform--small m-wrapper m-wrapper--unpadded cell-t20">
  <div class="m-wrapper__content">
    {% if page.aside %}
        {{page.aside | markdownify}}
    {% endif %}
  </div>
</div>

{% include footer.html %}
