{% include header.html %}

<section class="m-header m-wrapper">
  <div class="m-wrapper__content">
    <h1 class="h1">
      {{page.bio}}
    </h1>
    <div class='m-longform'>
      <p>Hello there! I’m fascinated by design systems, web design and publishing. Today I work at Gusto where I work on a combination of projects like this: I develop our pattern library and styleguide, contribute to the foundations of the front-end codebase, and work on the underlying ux of the application including new features and services for Gusto’s customers.</p>
    </div>
  </div>
  <div class="m-header__img m-wrapper__side">
    <img src="/build/images/portfolio/robin-rendle.jpg" alt="A portrait of me, Robin, the boy wonder">
  </div>
</section>

<div class="m-wrapper cell-b40">
  <div class="m-wrapper__content">
  	<h4 class='c-lightgrey caps text-bold u-reset-margins'>Favorites from the Archive</h2>
      {% assign posts = site.tags['featured'] | sort: 'date' | reverse %}
      {% for post in posts %}
  		<a href="{{post.url}}" class="block rules--top rules rules--light cell-v20">
  			<h3 class="links h3 u-text--regular u-text--book u-reset-margins">{{post.title}}</h3>
  			<div class='m-longform'>
  				<p class="c-grey u-text--regular u-text--book u-reset-margins">{{post.extract}}</p>
  			</div>
  		</a>
  	{% endfor %}
  </div>
  <div class="m-wrapper__side">
  	<h4 class='c-lightgrey caps text-bold u-reset-margins'>What I’m Reading</h2>
  	  {% for book in site.categories['books'] %}
  		<a href="{{book.url}}" class="block rules--top rules rules--dotted rules--light cell-v15">
  			<h3 class="links h4 u-text--regular u-text--book u-reset-margins">{{book.title}}</h3>
  		</a>
  	{% endfor %}
  </div>
</div>

{% include newsletter.html %}

{% include footer.html %}
