{% include header.html %}

<div class="m-wrapper--unpadded-wide m-heading">
	<p class="h1 m-heading__text">
		{{page.bio}}
	</p>
</div>

<div class="m-wrapper cell-b40">
	<h4 class="u-reset-margins cell-b10">Highlights from the Archive</h4>
	{% assign essays = site.essays | sort: 'date' | reverse %}
	{% for item in essays limit:3 %}
		<a href="{{item.url}}" class="flex cell-v10">
			<div class="c-lightgrey">
		    <time datetime="{{ item.date}}">
	        {{ item.date | date: "%m/%d/%y" }}
	      </time>
			</div>
			<div>
				<h3 class="flex--truncate links h4 u-text--regular u-text--book u-reset-margins cell-l20">{{item.title}}</h3>
				<p class="c-grey u-text--regular u-text--book u-reset-margins cell-l20">{{item.extract}}</p>
			</div>
		</a>
	{% endfor %}
</div>

<div class="m-wrapper cell-b40">
	<div class='cell-5 rules rules--all rules--transparent m-longform--small'>
		<div class='o-island o-island--transparent cell lists--none u-reset-margins'>
			<h3 class='u-reset-margins'>Adventures in Typography</h3>

			<div class="m-longform">
				<p>This is my newsletter all about typography and design. Topics include: calligraphy, lettering, display type, micro type, books about fonts, type specimens, neon lights, posters, morse code, stamps, literature, web design, and books about seeds.</p>

				<div class='cell-t20'>
					<form
						class='form'
						action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
						method="post"
						target="popupwindow"
						onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
						class="embeddable-buttondown-form"
					>
						<label for="bd-email" class='form-label'>Email address</label>
						<input class='form-input' type="email" name="email" id="bd-email" placeholder='desk@robinrendle.com'>
						<input type="hidden" value="1" name="embed"/>
						<input class='form-submit' type="submit" value="Subscribe" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}
