{% include header.html %}

<div class="m-wrapper">
  <div class="cell-t40 cell-t60--medium cell-b0">
      <h1>{{page.title}}</h1>
  </div>


    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        <!-- <h2 class='notes-title cell-b10 cell-t15 u-reset-margins'>{{ currentdate }}</h2> -->
      {% endif %}
      {% assign date = currentdate %}
        <a class='block rules--bottom rules--light cell-b15 cell-t15' href='{{ post.url }}'>
          <div class="c-lightgrey">
            <time class='h6' datetime="{{ post.date}}">
              {{ post.date | date: "%m/%d/%y" }}
            </time>
          </div>
          <div class='m-longform'>
            <h3 class="h3 u-text--regular c-primary u-text--book u-reset-margins">{{post.title}}</h3>
            <p class="c-grey u-text--regular u-text--book u-reset-margins">{{post.extract}}</p>
          </div>
        </a>
    {% endfor %}
</div>
{% include footer.html %}
