{% include projects-header.html %}

<div class="projects-wrapper projects-wrapper--{{page.customCSSClass}}">
<div class="projects-intro-container">
  <div class="cell-t20 projects-intro-heading p-grid-wrapper">
    <div class='border-bottom'>
      <div class='p-nav'>
        <div class='p-nav-left meta caps'>
          <a href='/projects'>Projects</a>
          <span>{{page.title}}</span>
        </div>
        <div class='p-nav-right meta caps'>
          {{page.dateRange}}
        </div>
      </div>
    </div>
    <h1 class='cell-t10'>{{page.title}}</h1>
    <!-- <h4>{{page.subtitle}}</h4> -->

    <div class='projects-intro-overview'>
      <div class='m-longform projects-intro-extract'>
        {{page.extract | markdownify}}
      </div>
      <div class="projects-intro-meta m-longform--small m-longform">
        <div class=''>
          <h4 class='u-reset-margins project-subheading'>Result</h4>
          <p>
            {{page.results}}
          </p>
        </div>
        <div class=''>
          <h4 class='u-reset-margins project-subheading'>Role</h4>
          <p>
            {{page.role}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<figure class='project-intro-hero'>
  <img src='{{page.heroImage}}' class='{{page.heroImageClass}}'/>
</figure>

<div class="p-grid-wrapper">
  <div class='p-grid m-longform'>
    <div class="p-grid__basic">
      {{content}}
    </div>
  </div>
</div>


<div class='cell-t60 projects-outro projects-outro--{{page.customCSSClass}}'>
  <div class="p-grid-wrapper">
    <div class='p-nav border-top'>
      <div class='p-nav-left meta caps'>
        <a href='/projects'>⇠ Back to Projects</a>
      </div>
    </div>
  </div>
</div>

{% include projects-footer.html %}
</div>
