{% include projects-header.html %}

<div class="projects-intro-container projects-intro--{{page.customCSSClass}}">
  <div class="projects-intro-heading p-grid">
    <div class='meta border-bottom'>
      <a href='/projects'>Projects</a> Home
    </div>

  <img src="/build/portfolio/me.jpg" alt="">

    <h1 class='u-reset-margins'>
      Robin Rendle
    </h1>
    <h2 class='u-reset-margins'>
      Product designer, writer, and front-end engineer.
    </h2>
    <div class="caps border-bottom border-top">
      <a href='/'>Resume</a>
      <a href='mailto:desk@robinrendle.com'>Email</a>
      <a href='https://codepen.io/robinrendle'>Codepen</a>
      <a href='https://twitter.com/robinrendle'>Twitter</a>
    </div>
  </div>
</div>

<div class="projects-bg cell-b40">
  <div class="p-grid">
    <h3>Featured projects</h3>
  </div>

  <div class="">
    <article class='m-longform'>
      <div class='projects-grid p-grid mega-grid'>
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for post in projects %}
          {% if post.published != false %}
            <a href="{{post.url}}" class="projects-grid-item">
              <!-- {% if post.logo %}
                <figure>
                  <img src="/build/images/work/{{post.logo}}">
                </figure>
              {% endif %} -->
              <h3 class='projects-title'>{{ post.title }}</h3>
              <small>{{ post.company }}</small>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </div>
</div>

<div class='p-grid'>
  <h3>Writing</h3>
  <ul>
  <li>
    <a href='/essays/futures-of-typography/'>The Futures of Typography • January 2017</a>
  </li>
  <li>
    <a href='/essays/new-web-typography/'>The New Web Typography • February 2016</a>
  </li>
  </ul>
</div>



{% include projects-footer.html %}
