{% include projects-header.html %}

<div class="projects-intro-container projects-intro--{{page.customCSSClass}}">
  <div class="projects-intro-heading p-grid">
    <div class='meta border-bottom'>
      <a href='/projects'>Projects</a> Home
    </div>
    <div class='cell-t10'>
      <img src="/build/images/portfolio/me.jpg" alt="A portrait of me, Robin, the boy wonder">
    </div>
    <h1 class='p-title u-reset-margins'>
      Robin Rendle
    </h1>
    <h2 class='p-title p-title--secondary'>
      Product designer, writer, and front-end engineer.
    </h2>
    <div class="caps">
      {{page.links | markdownify}}
    </div>
  </div>
</div>

<div class="projects-bg cell-b40">
  <div class="p-grid">
    <h3 class='p-section-heading'>Featured projects</h3>
  </div>

  <div class="">
    <article class='m-longform'>
      <div class='p-grid'>
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for post in projects %}
          {% if post.published != false %}
            <a href="{{post.url}}" class="projects-grid-item">
              <!-- {% if post.logo %}
                <figure>
                  <img src="/build/images/work/{{post.logo}}">
                </figure>
              {% endif %} -->
              <h3 class='projects-title'>{{ post.title }}</h3>
              {{ post.subtitle }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </div>
</div>

<div class='p-grid'>
  <h3 class='p-section-heading'>Published Writing</h3>
  {{page.writing | markdownify}}

</div>



{% include projects-footer.html %}
