{% include projects-header.html %}

<div class="projects-intro-container projects-intro--{{page.customCSSClass}}">
  <div class="projects-intro-heading">
    <div class='meta caps'>
      <a href='/projects'>Projects</a> {{page.title}}
    </div>
    <h1 class='u-reset-margins'>{{page.subtitle}}</h1>

    <div class='projects-intro-overview'>
      <div class='m-longform projects-intro-extract'>
        {{page.extract | markdownify}}
      </div>
      <div class="projects-intro-meta m-longform--small  m-longform">
        <!-- <div class=''>
          <h4 class='u-reset-margins project-subheading'>Role</h4>
          <p>
            {{page.role}}
          </p>
        </div> -->
        <div class=''>
          <h4 class='u-reset-margins project-subheading'>Result</h4>
          <p>
            {{page.results}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<figure class='project-intro-hero'>
  <img src="{{page.heroImage}}" />
</figure>

<div class='m-wrapper m-wrapper--unpadded m-longform'>
  {{content}}
</div>

  <!-- {% assign projects = site.projects | sort: 'date' | reverse %}
  {% for post in projects %}
    {% if post.published != false %}
      <a href="{{post.url}}" class="box__item">
        {% if post.logo %}
          <figure>
            <img src="/build/images/work/{{post.logo}}">
          </figure>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <small>{{ post.company }}</small>
      </a>
    {% endif %}
  {% endfor %} -->


{% include projects-footer.html %}
