{% include projects-header.html %}

<div class="projects-intro-container projects-intro--{{page.customCSSClass}}">
  <div class="projects-intro-heading p-grid">
    <div class='meta caps border-bottom'>
      <a href='/projects'>Projects</a> {{page.title}}
    </div>
    <h1 class='cell-t10'>{{page.subtitle}}</h1>

    <div class='projects-intro-overview'>
      <div class='m-longform projects-intro-extract'>
        {{page.extract | markdownify}}
      </div>
      <div class="projects-intro-meta m-longform--small  m-longform">
        <div class=''>
          <h4 class='u-reset-margins project-subheading'>Result</h4>
          <p>
            {{page.results}}
          </p>
        </div>
        <div class=''>
          <h4 class='u-reset-margins project-subheading'>Role</h4>
          <p>
            {{page.role}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<figure class='project-intro-hero'>
  <img src="{{page.heroImage}}" />
</figure>

<div class='m-wrapper m-wrapper--unpadded m-longform'>
  {{content}}
</div>


<div class='projects-outro projects-outro--{{page.customCSSClass}}'>
  <a href='/projects'>⇠ Back to Projects</a>
</div>

{% include projects-footer.html %}
