{% include header.html %}

<div class="m-wrapper">

    <div class="cell-t40 cell-t60--medium cell-b20">
        <h1>Speaking &amp; Events</h1>

        <div class="m-longform cell-b60">
            <p class="u-text--italic">Left to my own devices I tend to ramble about design, typography, <span class="caps">CSS</span> and the web a lot. But this year I’m looking to attend as many conferences as possible to turn these rambles into something a bit more coherent. So, if you’re interested in giving me a stage, then please feel free to <a href="mailto:desk@robinrendle.com">contact me</a>.</p>
        </div>
    </div>


{% if page.upcoming %}
    <h3 class="h3 caps rules--bottom rules rules--transparent">Upcoming events</h3>
{% endif %}

    {% for post in site.talks %}
        {% if post.completed == false %}
            <article class="cell-b20">
                   <header class="links">
                        <div class="meta-info">
                            <div class="meta-info__item">
                                <time datetime="{{ post.date}}">
                                    {% assign d = post.date | date: "%-d"  %}
                                    {% case d %}
                                        {% when '1' or '21' or '31' %}{{ d }}st
                                        {% when '2' or '22' %}{{ d }}nd
                                        {% when '3' or '23' %}{{ d }}rd
                                        {% else %}{{ d }}th
                                    {% endcase %}
                                    {{ post.date | date: "%B" }}
                                    {{ post.date | date: "%Y" }}
                                </time>
                            </div>
                            <div class="meta-info__item">
                                {{post.city}}, {{post.country}}
                            </div>
                        </div>
                        <h2 class="h3 u-reset-margins">
                            <a href="{{post.talk-link}}"{>{{post.title}}</a>
                        </h2>
                        <div class="m-longform cell-b30">
                            {{post.content}}
                        </div>
                    </header>
            </article>
        {% endif %}
    {% endfor %}

    {% assign items = site.talks | sort: 'date' | reverse %}

    <h3 class="caps rules--bottom rules rules--transparent h3">Previous events</h3>
    <div class="">
        {% for post in items %}
            {% if post.completed %}
                <article class="cell-b10">
                   <header class="links">
                        <div class="meta-info">
                            <div class="meta-info__item">
                                <time datetime="{{ post.date}}">
                                    {% assign d = post.date | date: "%-d"  %}
                                    {% case d %}
                                        {% when '1' or '21' or '31' %}{{ d }}st
                                        {% when '2' or '22' %}{{ d }}nd
                                        {% when '3' or '23' %}{{ d }}rd
                                        {% else %}{{ d }}th
                                    {% endcase %}
                                    {{ post.date | date: "%B" }}
                                    {{ post.date | date: "%Y" }}
                                </time>
                            </div>
                            <div class="meta-info__item">
                                {{post.city}}, {{post.country}}
                            </div>
                        </div>
                        <h2 class="h3 u-reset-margins">
                            <a href="{{post.talk-link}}"{>{{post.title}}</a>
                        </h2>
                        <div class="m-longform cell-b40">
                            {{post.content}}
                        </div>
                    </header>
                </article>
            {% endif %}
        {% endfor %}
    </div>

</div>
{% include footer.html %}