<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{{site.title}} › {{title}}</title>

    <meta name="author" content="Robin Rendle">
    <meta name="description" content="Robin Rendle is a designer from the UK and this is where he writes about publishing, networks and books.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://plus.google.com/104389809267012182640">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/visual-lexicon.css" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="/build/images/favicon.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.typonine.com/WF-003562-001254.css" type="text/css" media="none" onload="if(media!='all')media='all'"/>
    <noscript><link rel="stylesheet" href="https://fonts.typonine.com/WF-003562-001254.css" type="text/css" /></noscript>

    <link rel="stylesheet" href="https://fonts.typonine.com/WF-003562-001255.css" type="text/css" media="none" onload="if(media!='all')media='all'"/>
    <noscript><link rel="stylesheet" href="https://fonts.typonine.com/WF-003562-001255.css" type="text/css" /></noscript>
</head>

<body class="no-branding custom-post--lexicon">
    <article class="h-entry">
        <figure class="bleed figure--bg-blue custom-post--lexicon__hero">
            <img src="/build/images/essays/visual-lexicon/eye.png"/>
        </figure>

        <header class="heading-group heading-group--centered bleed">
            <h1>{{page.title}}</h1>
            <div class="meta-info-block">

                <p class="meta-info-block__item">
                    {{page.city}}, {{ page.country }}
                </p>

                <div class="meta-info-block__item">
                    {{ page.date | date: "%d %B %Y"}}
                </div>
            </div>
        </header>

        {{content}}
    </article>

    <figure class="custom-post--lexicon__hero custom-post--lexicon__hero--reverse figure--wide figure--bg-blue">
        <img class="figure--wide__img" src="/build/images/essays/visual-lexicon/eye.png"/>
        <figcaption class="figure--wide__caption figure--wide__caption--light">
            <p>This illustration is from the cover of the Connecticut General Stylebook, designed by Lester Beall in 1958 (via <a href="http://www.codexmag.com/product/codex-3">Codex magazine)</a></p>
        </figcaption>
    </figure>

    <footer>
        <ul class="nav nav--lexicon caps">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="/about">About</a></li>
            <li class="nav__item"><a href="http://www.twitter.com/robinrendle">@robinrendle</a></li>
        </ul>
    </footer>
</body>
</html>
