{% include header-work.html %}

<article class="h-entry cell-t60">
    <section role="main">
        <header class="cell-b40 m-wrapper">
            <a href="/work" class="nav-link">&larr; Work and projects</a>
            <h1 class="cell-t40 h1">{{page.title}}</h1>
        </header>

        <div class="m-longform m-wrapper m-wrapper--hero cell-b40">
            <p class="intro">I’m Robin, a freelance web designer from the UK, and I specialise in the design, content and front-end development of websites both big and small. Here’s how I might be able to help you on your next project:</p>

            <h3 class="cell-b0 cell-t10 reset-margins color-blue">Front-end development</h3>
            <p>I’ve worked on large responsive redesigns for complex organisations such as <a href="/work/endsleigh/">Endsleigh Insurance</a> where I collaborated with the folks at <a href="http://erskine.simplygoodwork.com/">Erskine Design</a> to help build a component library made out of markup, CSS and JavaScript.</p>

            <p>Subsequently I joined the amazing team at <a href="simplygoodwork.com">Good Work</a> on multiple occasions, but my favourite project was a small website for <a href="https://robinrendle.com/work/sasha-bruce-youthwork/">Sasha Bruce Youthwork</a> charity.</p>

            <p>I’ve also worked with the team at <a href="/work/css-tricks">CSS-Tricks</a> writing about the latest developments on the web, from writing a series on <a href="https://css-tricks.com/css-modules-part-2-getting-started/">CSS Modules</a> to suggesting proposals for <a href="https://css-tricks.com/a-new-responsive-font-format-for-the-web/">a new font format</a>. This has improved my skills in researching and has taught me how to pay attention when the community crowds around a particular idea or solution to a problem.</p>

            <p>This ultimately means that I’m well versed with CSS and Sass, build tools such as Gulp/Grunt or Webpack, markup, workflows and syntax such as BEM + OOCSS, JavaScript, the command line, etc.</p>

            <p>Sometimes I even make crazy experiments on <a href="https://codepen.io/robinrendle/">Codepen</a>.</p>

            <h3 class="cell-b0 cell-t10 reset-margins color-blue">Design</h3>
            <p>Lately I’ve been working on design projects such as the <a href="/work/xoxo/">XOXO Outpost</a>, where I worked with the team on two projects for their coworking space in Portland. This involved me working on all aspects of the design from choosing typefaces, to laying out the page and doing all the front-end, too.</p>

            <p>I’m particularly interested in designing for publications that value the reading experience, with a focus on legible typography.</p>

            <h3 class="cell-b0 cell-t10 reset-margins color-blue">Writing</h3>
            <p>I’ve written for publications like CSS-Tricks, <a href="http://typographica.org/typeface-reviews/apres/">Typographica</a> and <a href="https://www.smashingmagazine.com/2013/08/other-interface-atomic-design-sass/">Smashing Magazine</a> about a number of different topics, but most of them are focused on design and development in some capacity.</p>

            <p>I’ve also written about <a href="/essays/new-web-typography">web typography</a>, <a href="/essays/a-visual-lexicon">design systems</a> and <a href="https://medium.com/between-shelves/in-search-of-the-long-wow-a42fc3ccf05f#.2d8gx1nd2">reading devices</a>, so I’d love to continue this work elsewhere.</p>

        </div>
{% include footer-work.html %}