{% include header-work.html %}

<article class="h-entry cell-t60">
    <section role="main">
        <header class="cell-b40">
            <a href="/work" class="nav-link">&larr; Work and projects</a>
            {% if page.logo %}
                <figure class="u-text-center cell-b20 logo">
                    <img src="/build/images/work/{{page.logo}}">
                </figure>
            {% endif %}
            <h1 class="h1 u-text-center">{{page.title}}</h1>
        </header>
        <div class="island island--hero">
            <div class="hero">
                {% if page.hero %}
                    <figure>
                        <img src="{{page.hero}}" alt="">
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="m-longform m-wrapper m-wrapper--hero cell-b40">
            {{ content }}
        </div>


        <div class="island cell-t20 cell-b60">
            <div class="wrapper wrapper--large">
                <div class="island--light cell-t10 cell-b0 cell-l30 cell-r30">
                    <div class="multi">
                        <h2 class="footer-title display">More about this project</h2>
                    </div>
                </div>
            </div>
        </div>

{% include footer-work.html %}
