{% include header-work.html %}

<article class="h-entry cell-t60">
    <section role="main">
        <header class="cell-b40">
            <a href="/work" class="nav-link">&larr; Work and projects</a>
            {% if page.logo %}
                <figure class="u-text-center cell-b20 logo">
                    <img src="/build/images/work/{{page.logo}}">
                </figure>
            {% endif %}
            <h1 class="h1 u-text-center">{{page.title}}</h1>
        </header>
        <div class="island island--hero">
            <div class="hero">
                {% if page.hero %}
                    <figure>
                        <img src="{{page.hero}}" alt="">
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="m-longform m-wrapper m-wrapper--hero cell-b40">
            {{ content }}
        </div>


        <div class="island island--light cell-t30 cell-b20">
            <div class="m-wrapper">
                <div class="multi">
                    <h2 class="footer-title display">More about this project</h2>
                    {% if page.role || page.team %}
                        {% if page.role %}
                            <aside class="island--meta multi__item">
                                <div class="">
                                    <h4 class="h2">Responsibilities</h4>
                                </div>
                                {{page.role | markdownify}}
                            </aside>
                        {% endif %}
                        {% if page.team %}
                            <aside class="island--meta multi__item">
                                <div class="">
                                    <h4 class="h2">Team members</h4>
                                </div>
                                {{page.team | markdownify}}
                            </aside>
                        {% endif %}
                        {% if page.links %}
                            <aside class="island--meta multi__item">
                                <div class="">
                                    <h4 class="h2">Links</h4>
                                </div>
                                <div class="link">
                                    {{page.links | markdownify}}
                                </div>
                            </aside>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

{% include footer-work.html %}