// ==========================================================================
// ICONS SETTINGS
// ==========================================================================
//
// Configuration settings get passed into the icons-build.scss
//


// DEFAULT VARIABLES
// ==========================================================================
//

$icons__filextn: svg !default;
$_icon-inline-hovers: false !default;




// GENERATE ICONS
// ==========================================================================
//
// This list gets passed into the icon builder.
//


$icons:     (github);

