// ==========================================================================
// ICONS BUILD
// ==========================================================================





// ICON BACKGROUND MIXIN
// ==========================================================================
//
// This mixin generates the correct data URI for the icons passed through the
// generate class mixin.
//
//
// EXAMPLE Sass
//
// @include icon__background(social__twitter);
//
// CSS
//
// background: transparent url('data URI of /images/icons/social__twitter.svg') center no-repeat
//

@mixin icon__background ($icon, $inline: true, $inline-hovers: $_icon-inline-hovers) {
    $file: nth($icon, 1);
    $hover: false;

    @if length($icon) == 2{
        $hover:  nth($icon, 2);
    }

    $path: '/icons/#{$file}.#{$icons__filextn}';
    $hover_path: '/icons/#{$file}--hover.#{$icons__filextn}';

    @if $inline {
        &:after,
        &:before {
            background: transparent inline-image($path) center no-repeat;
        }
    }

    @else {
        &:after,
        &:before {
            background: transparent image-url($path) center no-repeat;
        }
    }

    @if $hover {
        &:hover:before,
        &:hover:after,
        &:focus:before,
        &:focus:after,
        &:active:before,
        &:active:after {
                background-image: inline-image($hover_path);
        }
    }
}


// ICON GENERATE CLASSES
// ==========================================================================
//
// This mixin generates the icon classes and passes their name into the icon
// background mixin above.
//
// Essentially this is what it does for each and every icon in the $icons list
//
// [data-icon-before="social__twitter"] {
//      @include icon__background($icon);
// }
//

@mixin _icon_generate_classes($icons) {
    @each $icon in $icons {
        $file: nth($icon, 1);
        [data-icon-before="#{$file}"],
        [data-icon-after="#{$file}"] {
            @include icon__background($icon);
        }
    }
}


// This list can be found in the icons-settings.scss file.
@include _icon_generate_classes($icons);

