---
layout: layouts/base.njk
---

<div class="intro-wrapper">
  <h1 class="title" id="heading">Four-oh-Four</h1>
</div>

<div class="main-content">
  <article class="article">
    {{ content | safe }}
  </article>
</div>