{% include header.html %}

<article class='h-entry
                container
                is--editor__content'>
	<div class='m-wrapper'>
    <div class='m-wrapper__content'>
		<div class="cell-t40 cell-t60--medium cell-b0">
		  <h1>About me</h1>
		</div>
		<div class='m-longform cell-t00 cell-t10'>
      <p>I’m a web designer from the south west of England and now I live in cloudy San Francisco where I work as a product designer at
      <a href='https://gusto.com'>Gusto</a>. My day job is spent building our design system, contributing to the foundations of our front-end codebase and working on the underlying <abbr>UX</abbr> of the application.</p>
      <p>I also write, edit, and publish things alongside the team at <a href='http://css-tricks.com'>CSS-Tricks</a>. Although most of my time is now focused on <a href='http://css-tricks.com/newsletter'>the newsletter</a> where we collect everything that happened in this little community over the course of any given week. So if you’re interested in front-end development then I’d highly recommend you sign up.</p>
		</div>
	 </div>
  </div>
</article>

{% include footer.html %}
