{% include "header.html" %}

<section class="m-header m-wrapper">
  <div class="m-wrapper__content">
    <h1>About me</h1>
    <div class="m-longform cell-b40">
      <p>
        I’m a web designer from the south west of England and now I live in
        cloudy San Francisco where I work as a product designer at
        <a href="https://gusto.com">Gusto</a>. My day job is spent building our
        design system and contributing to the foundations of our front-end
        codebase.
      </p>
      <p>
        I also write, edit, and publish things alongside the team at
        <a href="http://css-tricks.com">CSS-Tricks</a>. Although most of my time
        is now focused on
        <a href="http://css-tricks.com/newsletter">the newsletter</a> where we
        collect everything that happened in this little community over the
        course of any given week. So if you’re interested in front-end
        development then I’d highly recommend you sign up.
      </p>
    </div>
  </div>
  <div class="m-header__img m-wrapper__side cell-t60">
    <img
      src="/images/portfolio/robin-rendle.jpg"
      alt="A portrait of me, Robin, the boy wonder"
/>
  </div>
</section>

{% include "footer.html" %}