---
layout: layouts/base.njk
templateClass: tmpl-post
---
<header class="intro-wrapper">
  <h1 id="heading" id="heading">{{ title }}</h1>
</header>

<div class="main-content">
  <article class="article article-wide">
    {{ content | safe }}
  </article>
</div>