{% include header.html %}

<header class="m-wrapper
                    cell-t40
                    cell-t60--medium
                    cell-b30">
    <div class="meta-info">
        <p class="meta-info__item">
            {{ page.City }}, {{ page.Country }}
        </p>

        <div class="meta-info__item">
            <time datetime="{{page.date}}">
                {% assign d = page.date | date: "%-d"  %}
                    {% case d %}
                        {% when '1' or '21' or '31' %}{{ d }}st
                        {% when '2' or '22' %}{{ d }}nd
                        {% when '3' or '23' %}{{ d }}rd
                        {% else %}{{ d }}th
                    {% endcase %}
                    {{ page.date | date: "%B" }}
                    {{ page.date | date: "%Y" }}

            </time>
        </div>
    </div>
    <h1 class="u-reset-margins">{{ page.title }}</h1>
</header>

<div class="m-longform m-wrapper">
    {% if page.intro %}
        {{page.intro | markdownify}}
    {% endif %}

    {{ content }}
    <div>
      <div class="cell-5 rules rules--all rules--transparent m-longform--small">
        <div class="o-island o-island--transparent cell u-reset-margins">
          <h3 class="u-reset-margins">Sign up for more adventures</h3>
          <p class=" u-reset-margins">Adventures in Typography is published every Sunday. Be sure to <a href="http://tinyletter.com/robinrendle">sign up</a> to get these brief updates delivered straight to your inbox.</p>
        </div>
      </div>
    </div>
</div>

{% include footer.html %}
