{% include "header.html" %}

<figure class="adventures-hero">
  <picture>
    <source srcset="/uploads/woodward-avenue.webp" type="image/webp">
    <source srcset="/uploads/woodward-avenue.jpg" type="image/jpeg">

    <img src="/uploads/woodward-avenue.jpg" alt="A street corner filled with type">
  </picture>
</figure>

<div class="wrapper-wide">
  <div class="m-header home-header ">
    <h1 class="m-wrapper">
      Adventures in Typography
    </h1>
  </div>
</div>

<div class="wrapper-wide wrapper-wide--grid">
  <div class="m-wrapper">
    <div class="m-longform">
      <h2 class="lil-heading">What’s this all about then?</h2>
      <p>
          Adventures is a newsletter all about typefaces and fonts (and what those words
          mean). It’s for book nerds, typographers, neon light enthusiasts, and for people who have no interest in typography whatsoever. Each week I write about <a href="/adventures/ghost-town.html">a stroll through the city</a>—and a letter that caught my eye—or <a href="/adventures/take-care-of-the-margins.html">a beautiful book</a> or even <a href="/adventures/videogames-and-wiggletechtm%EF%B8%8F.html">a wiggly videogame</a>.
          <p>You can subscribe below for weekly-ish updates:
        </p>
        {% include "newsletter.html" %}
        <p>The image above? That’s a photograph from 1917 of <a href="https://www.shorpy.com/node/7136">Woodward Avenue</a> in Detroit, Michigan. Look at all those letters! There’s the rolling curlicues of R in “Cigar” or the wide S in “Cascade” on the horizon. Wait! Did you spot that low descender of the H in “Hudson’s” on the left with the tiny crossbar? Woof!</p>
        <p>Each of these letters were drawn in an office or forged in a workshop. Hundreds of thousands of hours were spent making them and some poor bastard most likely woke up in the middle of the night and jotted down a weird Z or a curious F because they couldn’t stop thinking about all this stuff. That someone was a part of an ancient and mysterious clan; type designers, people who have spent their entire lives thinking about letters, and making the alphabet beautiful for us.</p>
        <p>We are surrounded by these letters when we go for a run or take the bus to work. They influence how we think, what we buy, how we associate ideas with graphics. They’re used to make us fall in love, to make us feel hungry, and yes—sometimes to trick and deceive us. Typography is how we read the world around us. And that’s what this newsletter is all about.</p>
      </div>
    </div>

    <div class="m-wrapper">
      <div class="m-longform">
        <h2 class="lil-heading">Previous entries</h2>
      </div>
      <nav class="cell-b30 email">
        {% for item in collections.adventures | reverse %}
          <a href="{{ item.url }}" class="card-list">
            <h4 class="card-list__title">{{ item.data.title }}</h4>
            <div class="card-list__time">
              {% if item.data.date %}
                <time datetime="{{ item.data.date | w3DateFilter }}">{{ item.data.date | dateFilter }}</time>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>

  {% include "footer.html" %}