{% include header.html %}
<section class="m-header m-wrapper">
  <div class="m-wrapper__content">
    <header class="article-header">
      <h1>Adventures in Typography</h1>
      <h2 class="cell-b20">
        A newsletter about type, lettering, neon lights, and books.
      </h2>

      <form
        class="form"
        action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <input
          class="form-input"
          type="text"
          name="email"
          required
          id="bd-email"
        />
        <label for="bd-email" class="form-label">Email</label>
        <input type="hidden" value="1" name="embed" />
        <input class="form-submit" type="submit" value="Subscribe" />
      </form>
    </header>
  </div>
</section>

<section class="m-wrapper">
  <div class="m-wrapper__content">
    <nav class="cell-b30 email">
      {% for item in collections.adventures reversed %}
      <a href="{{ item.url }}" class="email-item">
        {{ item.data.title }}
        <div class="email-item-time">
          {{ item.data.date | date: "%b %d, %Y" }}
        </div>
      </a>
      {% endfor %}
    </nav>
  </div>
</section>

{% include footer.html %}
