<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    {# <meta name="color-scheme" content="light dark"> #}
    <meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {# <link rel="stylesheet" href="{{ '/css/index.css' | url }}"> #}
    <style>
      :root {
        --color-gray: #777;
        --space-3: 24px;
        --space-2: 16px;
        --space-1: 8px;
      }

      img, iframe {
        max-width: 100%;
      }

      {# Dangit, Safari. This was so close to being cool. #}
      {# html { 
        color-scheme: light dark;
      } #}

      *, *:after, *:before {
        box-sizing: border-box;
      }

      body {
        padding: 0;
        font: clamp(1rem, 3vw, 1.2rem)/1.4 system-ui, sans-serif;
        width: min(95%, 50ch);
        margin-inline: auto;
      }

      h1 {
        font-size: clamp(2rem, 3vw, 2.8rem);
        line-height: 1.2;
      }

      pre code {
        white-space: pre-wrap;
      }

      .inputs {
        display: flex;
        gap: 10px;
        height: 40px;
      }

      .inputs input {
        display: flex;
        margin: auto;
        height: 100%;
      }

      input[type="email"] {
        width: 100%;
        padding-left: 15px;
      }

      .notes-list {
        list-style: none;
        padding: 0;
      }

      .notelist-item {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-3);
      }

      .notelist-item p {
        margin: 0;
      }

      .notelist-date {
        font-size: 80%;
        color: var(--color-gray);
      }
    </style>
  </head>
  <body>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #} 
    <nav>
      <a href="/">Robin Rendle</a>
      <a href="/about">About</a>
      <a href="/notes">Notes</a>
      <a href="/essays">Essays</a>
      <a href="/newsletter">Newsletter</a>
      <a href="/adventures">Adventures</a>
    </nav>
    {# <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header> #}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>