<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    {# <meta name="color-scheme" content="light dark"> #}
    <meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {# <link rel="stylesheet" href="{{ '/css/index.css' | url }}"> #}
    <style>
      img {
        max-width: 100%;
      }

      {# Dangit, Safari. This was so close to being cool. #}
      {# html { 
        color-scheme: light dark;
      } #}

      body {
        padding: 0 15px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        max-width: 650px;
        font-size: 115%; 
        line-height: 1.4;
      }

      pre code {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #} 
    <nav>
      <a href="/">Robin Rendle</a>
      <a href="/about">About</a>
      <a href="/notes">Notes</a>
      <a href="/essays">Essays</a>
      <a href="/newsletter">Newsletter</a>
      <a href="/adventures">Adventures</a>
    </nav>
    {# <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header> #}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>