---
layout: layouts/base.njk
templateClass: no-footer
---

<style>

  .cursor {
    height: 0;
    width: 0;
    display: none;
  }

  .window-content p {
    margin-top: 10px;
  }

  .cursor-animate {
    width: 25px;
    opacity: 0;
    animation: cursor 4s linear infinite;
  }

  .cursor-wrapper-clouds svg:nth-child(1n) {
    fill: var(--color-text);
    animation: clouds 2s linear infinite;
    animation-direction: alternate;
    margin-bottom: 5px;
  }

  @keyframes clouds {
    0% {
      transform: skew(15deg, 15deg);
    } 100% {
      transform: skew(0);
    }
  }           

  @keyframes cursor {
    0% {
      opacity: 0;
    } 100% {
      opacity: 1;
    }
  }

  .cursor-wrapper-mail svg {
    fill: var(--color-text);
    animation: 2s mail linear infinite;
    animation-direction: alternate;
    margin-bottom: 5px;
  }

  @keyframes mail {
    0% {
      transform: scale(0.4);
    } 100% {
      transform: scale(0.9, 0.8);
    }
  }

  .cursor-wrapper-cursors svg {
    fill: var(--color-text);
    opacity: 0.8;
    margin-bottom: 10px;
    animation: wiggle 3s ease-in infinite;
    animation-direction: alternate;
  }

  .window-cascade-title .window-content {
    font-size: 22px;
    line-height: 1.3;
    min-height: 300px;

    .inputs {
      margin-top: 70px;
    }
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 1.2;
  }

  .window-cascade-post {
    min-height: 15rem;
    text-decoration: none;
    position: relative;

    .notes-list-title {
      line-height: 1.3;
      margin-bottom: 5px;
    }

    .window-content {
      display: flex;
      min-height: 15rem;
      flex-direction: column;
      justify-content: space-between;
    }

    .notes-list-item-index {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(220deg);
    } 50% {
      transform: rotate(225deg);
    } 60% {
      transform: rotate(210deg);
    } 70% {
      transform: rotate(215deg);
    } 80% {
      transform: rotate(220deg);
    } 100% {
      transform: rotate(220deg);
    }
  }
</style>

<svg class="cursor" width="85" height="134" viewBox="0 0 85 134" fill="none" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <g id="icon-cursor">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 117.162V0L85.0007 85.0022H35.2733L32.2593 85.9093L0 117.162Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6229 122.095L40.1862 133.325L5.85156 52.2003L32.8822 40.8389L66.6229 122.095Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M56.8419 117.116L43.3193 122.778L20.5859 68.8313L34.0866 63.1616L56.8419 117.116Z" fill="black"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.33594 17.6098V99.4589L29.1086 78.4918L32.2473 77.4749H67.2126L7.33594 17.6098Z" fill="black"/>
    </g>
  </defs>
</svg>

<div class="grid">
  <div class="window window-cascade-title grid-column-12">
    <div class="window-title"> 
      <h1>The Cascade</h1>
    </div>
    <div class="window-content window-content-wrapper">
      <p>This newsletter is all about the past, present, and future of CSS. The properties! The color spaces! The weird layout hacks! All the latest web dev drama! There’s so much to cover every week but each edition is short and sweet, easily scannable over a morning coffee.</p> <p>Sign up below for updates every Saturday or subscribe <a href="/cascadefeed.xml">via RSS</a>.</p>

      <form
        action="https://buttondown.email/api/emails/embed-subscribe/cascade"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/cascade', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <div class="inputs">
          <input type="email" name="email" id="bd-email" placeholder="Email address" />
          <input type="submit" value="Subscribe" />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="grid">
  {% for post in collections.cascade | reverse %}
    <a class="window window-link window-cascade-post grid-column-4 {{loop.index}}" href="{{ post.url }}">
      <div class="window-content window-content-wrapper">
        {% set total = loop.length - loop.index %}
        <div class="notes-list-item-index">{{total}}</div>
        <div>
          <h3 class="notes-list-title">{{ post.data.title }}</h3>
          <p class="notes-list-extract">{{ post.data.extract }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
