{% include "header.html" %}

<header>
  <div class="post-time">
    <div>{{ city }}, {{ country }}</div>

    {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published"
      >{{ date | dateFilter }}</time
    >
    {% endif %}
  </div>
  <h1>{{ title }}</h1>
</header>

<div>
  {% if intro %} {{ intro }} {% endif %} {{ content |safe }}

  <a class="link-email" href="mailto:robinjrendle@gmail.com?subject={{title}}"
    >Reply via email</a
  >

  {% set randomPost = collections.blogposts | getRandom %}

  <a class="link-email" href="{{randomPost.url}}">Random post</a>
</div>

<div>{% if aside %} {{ aside }} {% endif %}</div>

{% include "footer.html" %}
