{% include header.html %}

<header
  class="m-wrapper
                    cell-t40
                    cell-t60--medium
                    cell-b30"
>
  <h1 class="u-reset-margins">{{ page.title }}</h1>
  <div class="meta-info">
    <p class="meta-info__item">{{ page.City }}, {{ page.Country }}</p>

    <div class="meta-info__item">
      {% if page.date %}
        <time datetime="{{ page.date | w3DateFilter }}" >{{ page.date | dateFilter }}</time>
      {% endif %}
    </div>
  </div>
</header>

<div class="m-longform m-wrapper m-wrapper--unpadded">
  {{ page.update }}
  {{ content | safe }}
</div>

<div class="m-longform--small m-wrapper--unpadded cell-t20">
  {% if page.aside %}
    {{ page.aside | markdownify }}
  {% endif %}
</div>

{% include footer.html %}