{% include "header.html" %}

<div class="m-wrapper">
  <div class="m-wrapper__content">
    <div class="cell-t40 cell-t60--medium cell-b20">
      <h1>Essays and Articles</h1>
    </div>

    {% for item in collections.essays | reverse %}
      <a href="{{ item.url }}" class="card-list">
        <h3 class="card-list__title">
          {{ item.data.title }}
        </h3>
        <p class="card-list__text">{{ item.data.extract }}</p>
      </a>
    {% endfor %}
  </div>
</div>

{% include "footer.html" %}