---
layout: layouts/base.njk
title: Robin Rendle
---

<img src="/images/me/robin-rendle-2.webp" class="home-img full-bleed" />

<ol class="notes">
  {% for post in collections.notes | reverse %}
    <li>
      <a href="{{ post.url }}" class="note-link">
        <h3 class="h-1">{{ post.data.title }}</h3>
        <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | dinkyDate }}</time>
      </a>
    </li>
  {% endfor %}
</ol>
