---
layout: layouts/base.njk
title: Robin Rendle
---

<div class="prose flow">
  <header class="title-header">
    <h1 class="font-size-1">Robin Rendle</h1>
  </header>

  {{ content | safe }}
</div>
