{% include header.html %}

<section class="m-header m-wrapper">
  <div class="m-wrapper__content">
    <h1 class="h1 u-reset-margins cell-b15">
      I’m Robin, a designer, writer and typographer living in San Francisco.
    </h1>
    <div class='m-longform cell-b40'>
      <p>Today I work at <a href='https://gusto.com'>Gusto</a> as a product designer but I spend a lot of my time thinking about design systems, front-end development, and <abbr title='user experience'>UX</abbr>. I’m also on the team at <a href='http://css-tricks.com/'>CSS-Tricks</a> where we write about web design, too. Here though you’ll find an archive of everything I’ve published in the last five years and so I can only offer a word of warning; things certainly got a little weird at one point or another.</p>
    </div>
  </div>
  <div class="m-header__img m-wrapper__side">
    <img src="/build/images/portfolio/robin-rendle.jpg" alt="A portrait of me, Robin, the boy wonder">
  </div>
</section>

<div class="m-wrapper">
  <div class="m-wrapper__content cell-b40">
  	<h4 class='c-lightgrey u-reset-margins cell-b10'>Favorites from the Archive</h4>
      {% assign posts = site.tags['featured'] %}
      {% for post in posts %}
  		<a href="{{post.url}}" class="block rules--top rules rules--light cell-v20">
  			<h3 class="links h3 u-text--regular u-text--book u-reset-margins">{{post.title}}</h3>
  			<div class='m-longform'>
  				<p class="c-grey u-text--regular u-text--book u-reset-margins">{{post.extract}}</p>
  			</div>
  		</a>
  	{% endfor %}
  </div>
  <div class="m-wrapper__side cell-b40">
  	<h4 class='c-lightgrey u-reset-margins cell-b10'>What I’m Reading</h4>
  	  {% for book in site.categories['books'] %}
  		<a href="{{book.url}}" class="block rules--top rules rules--dotted rules--light cell-v15">
  			<h3 class="links h4 u-text--regular u-text--book u-reset-margins">{{book.title}}</h3>
  		</a>
  	{% endfor %}
  </div>
</div>

{% include newsletter.html %}

{% include footer.html %}
