{% include "header.html" %}

<h1>Quick Notes & Ramblings</h1>
<h2>Tags</h2>
<div class="tag-collection" aria-hidden="true">
  {% for tag in collections.tagList %}
  <div class="tag">{{ tag }}</div>
  {% endfor %}
</div>

<h2 class="lil-heading">Latest posts</h2>
<section>
  {% for item in collections.blogposts | reverse %}
  <a
    class="post"
    data-category="{% for tag in item.data.tags %}{{ tag }}{% endfor %}"
    href="{{item.url}}"
  >
    {% if item.data.date %}
    <time datetime="{{ item.data.date | w3DateFilter }}"
      >{{ item.data.date | dateFilter }}</time
    >
    {% endif %}
    <h3 class="card-list__title">{{ item.data.title }}</h3>
    <p class="card-list__text">{{ item.data.extract }}</p>
  </a>
  {% endfor %}
</section>

<script>
  const wrapper = document.querySelector(".blog-list");
  const tagWrapper = document.querySelector(".tag-collection");
  const tags = Array.from(document.querySelectorAll(".tag"));
  const articles = Array.from(document.querySelectorAll(`.card-list`));

  cleanCache = () => {
    tags.map((i) => {
      i.classList.remove("tag--active");
    });
    articles.map((i) => {
      i.classList.remove("card-list--show");
    });
    wrapper.classList.remove("hide-posts");
  };

  tagWrapper.addEventListener("click", (e) => {
    if (e.target != e.currentTarget) {
      if (e.target.classList.contains("tag--active")) {
        cleanCache();
        return;
      }
      cleanCache();
      let selection = e.target.innerText;
      const selectedItems = Array.from(
        document.querySelectorAll(`[data-category="${selection}"]`)
      );
      e.target.classList.toggle("tag--active");
      wrapper.classList.toggle("hide-posts");
      selectedItems.map((i) => i.classList.add("card-list--show"));
    }
    e.stopPropagation();
  });
</script>

{% include "footer.html" %}
