{% include header.html %}

<div class="m-wrapper">
  <div class="m-wrapper__content">
    <div class="cell-t40 cell-t60--medium cell-b0">
      <h1>Quick Notes & Ramblings</h1>
    </div>

    {% for item in collections.blogposts reversed %}
    <a class="card-list" href="{{ item.url }}">
      <time class="h6 c-lightgrey" datetime="{{ item.data.date }}">
        {{ item.data.date | date: "%m/%d/%y" }}
      </time>
      <h2 class="card-list__title">
        {{ item.data.title }}
      </h2>
      <p class="card-list__text">
        {{ item.data.extract }}
      </p>
    </a>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
