---
layout: layouts/base.njk
templateClass: tmpl-post
---
<header class="intro-wrapper">
  <h1 id="heading" id="heading">{{ title }}</h1>

  <div class="intro-meta">
    <div class="intro-meta-content">
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | fullDate }}</time> 

      {% if city %}
        / {{city}}, {{country}}
      {% endif %}
    </div>
  </div>
</header>

{# {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}
<div class="main-content">
  <article class="article">
    {{ content | safe }}
  </article>
</div>