---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="prose flow">
  <header class="title-header">
    <h1>{{ title }}</h1>
  </header>
  {{ content | safe }}
</div>
<page-footer>
  <nav class="footer-nav">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | fullDate }}</time>
  </nav>
  <span>{{ city }}, {{ country }}</span>
</page-footer>
