---
layout: layouts/base.njk
template: photo photo-single
---

<style>
  .photo-single {
    justify-content: center;
  }
</style>

<div class="gallery-item">
  <img class="gallery-img" src="{{ photo.src }}" alt="{{ title }}">
</div>
