{% include "header.html" %}

<div class="m-wrapper">
  <div class="m-wrapper__content">
    <div class="cell-t40 cell-t60--medium cell-b20">
      <h1>Projects & Work</h1>
    </div>
  </div>
</div>
<section class="m-wrapper">
  <div class="m-wrapper__projects cell-b40">
    {% for item in collections.projects %}
      <a href="{{ item.url }}" class="card-list">
        <div>
          <h3 class="card-list__title">
            {{ item.data.title }}
          </h3>
          <p class="card-list__text">
            {{ item.data.subtitle }}
          </p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

{% include "footer.html" %}