{% include header.html %}

<div class="slides">
  <div class="slides__item">
    <header class="m-wrapper cell-t40 cell-t60--medium cell-b20">
      <div class="m-wrapper__content">
        <div class="meta-info">
          <p class="meta-info__item u-reset-margins">{{ dateRange }}</p>
        </div>
        <h1 class="u-reset-margins">{{ title }}</h1>
      </div>
    </header>

    <section class="m-wrapper">
      <div class="m-wrapper__content">
        <div class="m-longform cell-b20">
          {{ extract }}
        </div>
      </div>
      <div class="m-wrapper__side">
        <div class="m-longform--small m-longform">
          <h4 class="u-reset-margins project-subheading">Role</h4>
          <p>
            {{ role }}
          </p>
          <h4 class="u-reset-margins project-subheading">Result</h4>
          <p>
            {{ results }}
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="slides__item">
    <figure class="project-intro-hero">
      <img
        src="{{ heroImage }}"
        class="{{ heroImageClass }} desaturate chrome-shadow"
      />
    </figure>
  </div>

  {{ content }}

        </main>
        </div>
        <script>
          (function () {
            var Dropdown = (function () {
              var Menu = {},
                menuElem = document.querySelector(".m-banner__menu"),
                bannerElem = document.querySelector(".m-banner");

              var bind = function () {
                if (menuElem) {
                  menuElem.addEventListener("click", function (e) {
                    e.preventDefault();
                    bannerElem.classList.toggle("is--active");
                  });
                }
              };

              Menu.init = function () {
                bind();
              };
              return Menu;
            })();

            var App = {
              init: function () {
                Dropdown.init();
              }
            };

            if (window.addEventListener && document.querySelector) {
              var body = document.documentElement;
              body.classList.remove("no-js");
              body.classList.add("js");
              App.init();
            }
          })();
        </script>
        </body>
        
        </html>

