{% include "header.html" %}

<header class="m-wrapper cell-t40 cell-t60--medium cell-b20">
  <div class="m-wrapper__content">
    <div class="meta-info">
      <p class="meta-info__item u-reset-margins">{{ dateRange }}</p>
    </div>
    <h1 class="u-reset-margins">{{ title }}</h1>
  </div>
</header>

<section class="m-wrapper">
  <div class="m-wrapper__content">
    <div class="m-longform cell-b20">
      {{ extract }}
    </div>
  </div>
</section>
<figure class="m-wrapper--full">
  <img
    src="{{ heroImage }}"
    class="{{ heroImageClass }} desaturate chrome-shadow"
/>
</figure>
<div class="m-longform m-wrapper m-wrapper--unpadded">
  <div class="m-wrapper__content">
    {{ content | safe }}
  </div>
</div>

{% include "footer.html" %}