{% include "header.html" %}

<div class="wrapper-wide">
  <div class="m-header home-header about-page">
    <h1 class="m-wrapper">
      Don’t read this dumb blog!
      <span>Seriously, stop reading this thing and just go vote.</span></h1>
  </div>
</div>

<div class="wrapper-wide wrapper-wide--grid wrapper-wide--grid-reverse">
  <div class="m-wrapper">
    <div class="m-longform">
      <h2 class="lil-heading">This election is only important if you care about...</h2>
    </div>
    <div class="m-longform">
      <ul>
        <li>Fighting the coronavirus</li>
        <li>Tackling the Climate Crisis</li>
        <li>Protecting the Affordable Care Act</li>
        <li>Abolishing student debt</li>
        <li>The proliferation of kindness</li>
        <li>National security</li>
        <li>The future of the Supreme Court</li>
        <li>Abortion rights</li>
        <li>Getting rid of the bail system</li>
        <li>Fighting corruption</li>
        <li>Taxing the rich fairly</li>
        <li>Corproate oversight</li>
        <li>Making sure Lindsey Graham never holds public office ever again</li>
        <li>Ending racist housing policies</li>
        <li>Ten million other things that I don’t even need to mention because you get it but I will not stop until you go vote</li>
      </ul>
    </div>
  </div>
  <div class="m-wrapper">
    <div class="m-longform">
      <h2 class="lil-heading">Do not even read this lil bit</h2>
    </div>
    <section>
      <div class="m-longform">
        <p>If you to continue to read this then I’m just going to climb on top of my soapbox and then balance said soapbox on top of my highest horse. I warned you!</p>
        <p>Look, 2016 wasn’t a fluke and 2020 is not the worst timeline. It’s what happens when we don’t pay attention, when we say “politics doesn’t matter,” when we just don’t vote. Climbing out of this collective nightmare we’ve found ourselves in doesn’t require much work though, as thankfully we don’t need some big, sweeping, and romantic gesture of revolution to fix things. Instead, all it requires it a tiny bit of optimism, and of course that we all vote like hell.</p>
        <p>So for the moment who I am doesn’t matter and this dumb blog doesn’t matter either. The only thing that’s important is this election—the most important one of our lives—because so very much is on the line; every state, every county, every vote on every ballot matters—and that’s why we need your vote.</p>
        <p>
          <a href="https://votesaveamerica.com/">Okay, Okay, I Will Now Stop Reading and Go Vote, Jeez</a>
        </p>
      </div>
    </section>
  </div>
</div>

{% include "footer.html" %}