$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px)
	!default;

$font-src: "/fonts/";
$c-black: #222;
$c-light: #eee;
$c-blue: #0074d9;
$max-width: 740px;

@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/align-text";
@import "modules/form";
@import "../../fonts/gimlet.scss";
@import "../../fonts/gimlet-condensed.scss";

@import "tools/trim";

@import "base/hierarchy";
@import "base/links";
@import "base/base-spacing";

$fallback: Georgia, serif;
$theme: #1496fa;

html {
	height: 100%;
}

body {
	font-family: Geogia, serif;
	background-color: $theme;
	padding-bottom: 0;
	background-color: white;
	position: relative;
	font-family: "Gimlet text", $fallback;
}

.display-img {
	margin: 0;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	max-width: 100%;
	min-height: 400px;
	// background-color: $theme;
	position: relative;
	height: 75vh;
	width: 100%;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	border-top: 1px solid #222;

	@include media(">large") {
		height: 90vh;
	}

	img {
		object-fit: cover;
		max-width: 100%;
		width: 100%;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0.4;
		// background-image: url('../build/images/circle-white.svg');
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		line-height: 1.3;
		color: white;
		@include media(">large") {
			width: 50%;
		}

		p {
			padding: 20px;
			margin-bottom: 0;
		}

		a {
			&:visited,
			&:hover {
				color: $theme;
			}
		}
	}
}

a {
	color: $theme !important;

	&:hover {
		color: #222 !important;
	}
}



h1 {
	z-index: 888;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga" 1;
	font-size: 3em;
	font-weight: 400 !important;
	line-height: 1;
	color: #222;
  font-family: "Gimlet condensed", $fallback !important;
	position: relative;
	margin: 0;
  padding-top: 20px;
}

h1,
h2 {
	font-family: "Gimlet condensed", $fallback;
}

.wrapper {
	height: 100%;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.footer {
	align-self: center;
	width: 100%;
	border: 1px solid black;
	position: relative;
	z-index: 3;
	padding-bottom: 20px;

	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-image: url("../build/images/circle-white.svg");
		background-color: transparent;
		opacity: 0.4;
	}

	@include media(">medium") {
		padding: 20px;
		padding-bottom: 60px;
	}

	@include media(">large") {
		width: 50vw;
	}
}

.footer__wrapper {
	max-width: 700px;
}

.intro {
	line-height: 1.55;
	width: 100%;
	margin: 0 auto;
	font-size: 1em;
	color: #333;
	margin-bottom: 0;

	@include media(">medium") {
		font-size: 1.15em;
	}

	@include media(">large") {
		font-size: 1.15em;
	}
}

.small {
	font-size: 15px;
  line-height: 21px;
  color: #666;

	a {
		&:visited,
		&:hover {
			color: $theme;
		}
	}
}

input {
	border-radius: 0 !important;
}

.bg-black {
	background-color: #222;
}

.bg-light {
	// background-color: #eee;
}

.archive {
	padding: 50px 20px;
	border: 1px solid black;
	border-top: none;
	background-color: #eee;

	@include media(">large") {
		border-left: none;
		border-right: 1px solid #000000;
		border-top: 1px solid black;
		border-bottom: 1px solid #000000;
	}

	h3 {
		font-size: 18px;
		margin: 0;
		font-family: "Gimlet text", $fallback;
	}
}

.form-label {
  font-family: "Gimlet text", $fallback;
  top: 10px;
}

.meta-info__item {
	font-size: 14px;
	padding-right: 10px;
}

.footer__wrapper {
  margin: 0 auto;
}

.content-box {
  background-color: #fafafa;
  padding: 40px 20px 0;
	@include media(">large") {
    padding-top: 50px;
		display: flex;
    margin: 0 auto;
	}
	.footer {
		@include media(">large") {
			width: 100vw;
		}
	}
}

.flex {
	display: flex;
}

.flex--truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.archive-post {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;

	.flex {
		align-items: baseline;
	}
}

.form {
  margin-top: 50px;
  margin-bottom: 100px;
}
