$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px) !default;

$font-src: "/fonts/";
$c-black: #222;
$c-light: #eee;
$c-blue: #0074d9;
$max-width: 740px;

@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/align-text";

@import "tools/trim";

@import "base/hierarchy";
@import "base/links";
@import "base/base-spacing";

$fallback: Georgia, serif;
$theme: #1496fa;

* {
    border-box: box-sizing !important;
}

html {
    height: 100%;
}

body {
    font-family: Geogia, serif;
    background-color: $theme;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
    position: relative;
    .wf-gimlettext-n4-active & {
        font-family: "Gimlet text", $fallback;
    }
}


.display-img {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 100%;
    min-height: 400px;
    // background-color: $theme;
    position: relative;
    height: 75vh;
    width: 100%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-top: 1px solid #222;

    @include media(">large"){
        height: 90vh;
    }

    img {
        object-fit: cover;
        // mix-blend-mode: overlay;
        max-width: 100%;
        width: 100%;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .4;
        // background-image: url('../build/images/circle-white.svg');
    }
}

.title {
    position: relative;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    background-color: $theme;

    @include media(">large"){
        width: 50vw;
        align-items: center;
        justify-content: center;
        display: flex;
        border-right: none;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
}

h1 {
    z-index: 888;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" 1;
    font-family: Georgia, serif;
    font-size: 3em;
    font-size: calc(13vw);
    font-weight: 400 !important;
    line-height: 1;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: #222;
    position: relative;
    margin-bottom: 0;
    color: white;

    @include media(">medium"){
        font-size: calc(8vw);
    }

    @include media(">large"){
        font-size: 80px;
        padding-top: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
    }

    .wf-gimletcondensed-n4-active & {
        font-family: "Gimlet condensed", $fallback;
    }
}

.content {
    @include media(">large"){
        display: flex;
        width: 100%;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.footer {
    align-self: center;
    width: 100%;
    border: 1px solid black;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    // background-color: lighten($theme, 30);

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: url('../build/images/circle-white.svg');
        background-color: transparent;
        opacity: .4;
    }

    @include media(">medium"){
        padding: 20px;
        padding-bottom: 60px;
    }

    @include media(">large"){
        width: 50vw;
    }
}

.footer__wrapper {
    max-width: 700px;
}

.intro {
    font-size: 1em;
    line-height: 1.55;
    padding-bottom: 60px;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    padding: 30px 5px 40px 15px;
    color: #333;
    margin-bottom: 0;

    @include media(">medium"){
        font-size: 1.15em;
    }

    @include media(">large"){
        font-size: 1.3em;
    }
}

.form {
    align-items: center;
    position: relative;
    padding: 0 15px;
    display: flex;
    max-width: 100%;

    @include media(">large"){
        height: 50px;
        align-self: center;
        width: 500px;
    }

    p, input, input[type="submit"] {
        height: 50px;
        align-items: center;
    }
}

label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 15px;
    width: 70%;
}

input[type="email"] {
    margin: 0;
    -webkit-appearance: none;
    border: none;
    padding: 0 15px;
    width: 70%;
    transition: background-color .3s ease;
    background-color: white;
    border: 1px solid #222;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid $theme;
        color: #333;
        outline: none;
    }
}

input[type="submit"] {
    border-radius: 0;
    padding: 3px 5px;
    border: none;
    width: 30%;
    transition: background-color .3s ease;
    background-color: lighten($theme, 10);
    background-color: rgba(lighten($theme, 10), .4);
    background-color: #222;
    color: #eee;
    outline: none;
    font-size: .9em;

    &:hover,
    &:focus {
        outline: none;
        border-right: none;
        border-top: none;
        background-color: $theme;
    }
}
