// ==========================================================================
// SYSTEMS, MISTAKES, AND THE SEA
// ==========================================================================
$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (
  small: 400px,
  medium: 620px,
  large: 920px,
  largest: 1400px,
  gigantic: 1400px
) !default;
$max-width: 750px;
$font-stack: Georgia, serif;
$font-stack--sans: Helvetica, sans-serif;

@font-face {
  font-family: "MDSystem";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/md-system/MDSystem-Regular.woff2") format("woff2"),
    url("/fonts/md-system/MDSystem-Regular.woff") format("woff");
}

@font-face {
  font-family: "MDSystem";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/md-system/MDSystem-Italic.woff2") format("woff2"),
    url("/fonts/md-system/MDSystem-Italic.woff") format("woff");
}

@font-face {
  font-family: "Display";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/md-system/MDSystem-Medium.woff2") format("woff2"),
    url("/fonts/md-system/MDSystem-Medium.woff") format("woff");
}


@mixin typeface($font) {
  $sans-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  $serif-fallback: Georgia, serif;

  @if $font == "Small caps" {
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: "MDSystem", $sans-fallback;
  }

  @if $font == "Regular" {
    font-weight: 400;
    font-family: "MDSystem", $sans-fallback;
  }

  @if $font == "Regular italic" {
    font-style: regular;
    font-weight: 400;
    font-family: "MDSystem", $sans-fallback;
  }

  @if $font == "Bold" {
    font-weight: 400;
    font-family: "MDSystem", $sans-fallback;
  }

  @if $font == "Display" {
    font-weight: 600;
    font-family: "MDSystem", $sans-fallback;
  }
}

@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/text-style";
@import "utilities/underline";
@import "base/base-spacing";
@import "base/links";
@import "base/hierarchy";

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--main-theme-color);
}

body {
  font: 400 110%;
  @include typeface("Regular");
  line-height: 1.4;
  font-feature-settings: "liga" 1 !important;
  min-height: 100%;
  background-color: white;
  color: #222;

  @include media(">large") {
    border-top: none;
  }
}

// sticky footer styles
.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

cite {
  @include typeface("Regular italic");
  font-style: normal;
}

em,
small,
dfn,
i,
q,
.italic {
  @include typeface("Regular italic");
}

mark {
  background-color: rgb(255, 220, 0);
  background-color: rgba(255, 220, 0, 0.3);
  font-weight: normal;
  color: #444;
}

.caps,
abbr {
  @include typeface("Small caps");
}

.display-caps {
  @include typeface("Display caps");
}

.caps {
  font-family: "Display", $font-stack--sans;
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}

b,
strong {
  @include typeface("Book");
}

acronym {
  text-transform: normal;
}

iframe {
  margin: 0 auto !important; // centers tweets
}

img,
video {
  max-width: 100%;
}

main {
  overflow-x: hidden;
}

pre {
  overflow: auto;
  background-color: #f1f1f1;
  white-space: pre;
}

pre code {
  padding: 20px;
  background-color: transparent;
  display: block;
}

@font-face {
  font-family: "Newzald";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/newzald/book.woff2") format("woff2"),
    url("/fonts/newzald/book.woff") format("woff");
}


.layout-wrapper {
  @include media(">largest") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
  }
}

.wrapper {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 10px;

  @include media(">medium") {
    max-width: 43em;
  }
  @include media(">largest") {
    grid-column: 8/13;
    padding-right: 40px;
    padding-top: 80px;
    margin: 0;
  }
}

.intro-img {
  margin-bottom: 40px;
  overflow: hidden;
  display: block;
  object-fit: contain;
  background-color: #1e1b30;
  display: grid;
  place-items: center;

  img {
    width: 100%;
    background-color: #1e1b30;
  }

  @include media(">medium") {
    margin-bottom: 60px;
  }

  @include media(">largest") {
    margin-bottom: 0;
    grid-row: 1;
    grid-column: 1 / 8;
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

header {
  margin-bottom: 50px;
}

h1 {
  font-weight: 600;
  font-family: "Display", $font-stack--sans;
  font-size: 30px;
  margin-top: 3px;
  margin-bottom: 7px;
  color: #111;

  @include media(">large") {
    line-height: .8;
    font-size: 30px;
  }
}

.longform {
  padding-bottom: 100px;
  p {
    font-size: 20px;
    line-height: 1.45;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-after: 2;
    -webkit-hyphenate-limit-before: 3;
    hyphens: auto;

    @include media(">medium") {
      font-size: 20px;
    }

    @include media(">large") {
      font-size: 20px;
    }

    @include media(">largest") {
      font-size: 20px;
    }
  }
}

code {
  font-size: 0.8em;
}

em {
  font-style: italic;
}

.longform blockquote {
  border-left: 2px solid #ddd;
  padding-left: 15px;
  font-size: 1em;
}

hr {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCA0OCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwIDFWNi41TTIwIDE1VjkuNU0yMCA2LjVWOS41TTIwIDYuNUgyNEgyOE0yOCAxVjkuNU0yOCAxNVYxMS44ODQ2VjkuNU0yMCA5LjVIMjRIMjhNMjAgMTIuNUgyOE0yMCAzLjVIMjRIMjgiIHN0cm9rZT0iIzFFMUIzMCIvPgo8cGF0aCBkPSJNMzggMVY2LjVNMzggMTVWOS41TTM4IDYuNVY5LjVNMzggNi41SDQySDQ2TTQ2IDFWOS41TTQ2IDE1VjExLjg4NDZWOS41TTM4IDkuNUg0Mkg0Nk0zOCAxMi41SDQ2TTM4IDMuNUg0Mkg0NiIgc3Ryb2tlPSIjMUUxQjMwIi8+CjxwYXRoIGQ9Ik0yIDFWNi41TTIgMTVWOS41TTIgNi41VjkuNU0yIDYuNUg2SDEwTTEwIDFWOS41TTEwIDE1VjExLjg4NDZWOS41TTIgOS41SDZIMTBNMiAxMi41SDEwTTIgMy41SDZIMTAiIHN0cm9rZT0iIzFFMUIzMCIvPgo8L3N2Zz4K) no-repeat;
  background-size: 100%;
  width: 80px;
  border: none;
  opacity: 0.2;
  height: 45px;
  margin: 60px auto 50px;
}

img {
  margin: 0;
  display: block;
}

.last-img {
  margin-top: 100px;
}

.meta {
  color: #777;
}

::selection {
  background-color: #fff2cc;
}
