// ==========================================================================
// STYLES FOR THE NEW WEB TYPOGRAPHY ESSAY
// ==========================================================================
$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1100px, gigantic: 1400px) !default;
$max-width: 750px;
$figure-width: 1000px;
$theme: #e95555;
$font-stack: Georgia, serif;
$font-stack--sans: Helvetica,
sans-serif;
$c-primary: darken($theme, 20); // because of old links code :-(
@import "utilities/reset";


// ==========================================================================
// TYPE
// ==========================================================================
// Default typesetting, font-height and font-weight settings.

@mixin typeface($font) {
    $fallback: Georgia, serif;
    .fonts-loaded & {
        font-weight: normal;
        font-stretch: normal;
    }

    @if $font == "Regular" {
        font-family: $fallback;
        font-weight: normal;
        .fonts-loaded & {
            font-family: "Fern", $fallback;
        }
    }

    @if $font == "Regular italic" {
        font-style: italic;
        font-family: $fallback;
        .fonts-loaded & {
            font-style: italic;
            font-family: "Fern italic", $fallback;
        }
    }

    @if $font == "Title" {
        font-family: $fallback;
        .fonts-loaded & {
            font-family: "Gimlet condensed", $fallback;
        }
    }
}


@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/underline";
@import "base/base-spacing";
@import "../../fonts/fern.scss";
@import "../../fonts/gimlet-condensed.scss";

// OPTIONS
// ==========================================================================
* {
    box-sizing: border-box;
}

// RESET
// ==========================================================================
body,
html {
    padding: 0;
    margin: 0;
}

html {
  border-bottom: 5px solid #222222;
}

body {
  @include typeface("Regular");
  font: 110%/1.55 $font-stack;
  border-bottom: 35px solid $theme;
  color: #333;
  padding-bottom: 100px;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  @include media(">medium") {
      font-size: 120%;
  }
  @include media(">large") {
      font-size: 125%;
  }
}

.wrapper {
    p,
    ol,
    ul,
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    pre {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto; // center align text
        padding: 0 15px;
        @include media(">medium") {
            padding: 0 5%;
        }
        @include media(">large") {
            padding: 0;
        }
    }
}

em {
  @include typeface("Regular italic");
}

p {
  margin-bottom: 1.5em;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  @include typeface('Title');
  font-weight: normal;
}

a {
    -webkit-appearance: none;
    color: $theme;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 50%);
    background-repeat: repeat-x;
    background-size: 2px 3px;
    background-position: 0 19px;
    outline: 0 !important;
    transition: background .3s ease;
    &:hover,
    &:focus {
      outline: 0 !important;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $theme 50%);
    }
}


// Meta info styles
.meta {
    opacity: .8;
}

.meta__item {
    font-size: 15px;
    color: rgba(255, 255, 255, .9);
    display: inline-block;
    @include media(">large") {
        // margin-bottom: 10px;
        font-size: 16px;
    }
    &:before {
        content: "•";
        color: rgba(darken($theme,20), .7);
        display: inline-block;
    }
    &:first-of-type:before {
        content: none;
    }
}


// Title area
.title {
  @include clearfix();
  border-top: 5px solid #222;
  color: white;
  background-color: $theme;

  @include media(">large") {
    height: 90vh;
    display: flex;
    min-height: 600px;
    padding-right: 20px;
  }
}

.title__text-wrapper {
  padding: 0;
  @include media(">medium"){
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 5%;
  }

  @include media(">large"){
    margin: 0;
    padding: 0;
  }
}

.title__img {
  background-color: #222;

  @include media(">large") {
    background-repeat: no-repeat;
    display: flex;
    width: 30%;
    margin-right: 40px;
  }
  img {
    overflow: hidden;
    height: 250px;
    margin: 0;
    display: block;
    object-fit: cover;
    width: 100%;

    @include media(">medium"){
      width: 100%;
      object-fit: cover;
      height: 400px;
    }

    @include media(">large"){
      height: auto;
      object-position: 100% 0;
    }
  }
}

.title__text {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 30px 15px;

  @include media(">large"){
    padding: 0;
  }

  h1 {
    @include typeface("Title");
    line-height: 1.1;
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 35px;

    @include media(">small"){
      font-size: 45px;
    }

    @include media(">medium"){
      font-size: 60px;
      margin-bottom: 40px;
    }

    @include media(">large"){
      font-size: 70px;
    }
  }
}

h2 {
  margin-top: 60px;
  @include media(">large") {
    font-size: 40px;
  }
}

.dropcap {
  @include media(">medium") {
    @include typeface("Title");
    color: $theme;
    font-feature-settings: normal;
    line-height: 1;
    padding-right: 10px;
    float: left;
    font-size: 58px;
  }
  @include media(">large"){
    font-size: 62px;
  }
}

.figure {
  max-width: $figure-width;
  padding: 20px;
  margin: 0 auto 20px;
}

.intro {
  max-width: 750px;
  hyphens: none;
}

p {
  sup {
    padding-left: 2px;
    a {
      background: none !important;
      text-decoration: none !important;
      border: none !important;
      transition: color .3s ease;
      color: $theme !important;
      &:after {
          content: none;
      }
      &:link,
      &:visited {
          color: $theme;
      }
      &:hover,
      &:focus {
          color: darken($theme, 20);
      }
    }
  }
}

.flex--lg {
  @include media('>large'){
    display: flex;
  }
}

.press-illo {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;

  @include media(">large"){
    padding: 0 2.3%;
    margin-bottom: 10px;
  }

  img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}

.press-text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 750px;

  @include media(">medium"){
    padding: 0 5%;
  }

  @include media(">large"){
    margin-bottom: 80px;
    padding-left: 2.3%;
    padding-right: 0;
    max-width: 100%;
  }

  &:last-of-type {
    padding-right: 2.3%;
    margin-bottom: 30px;

    @include media(">large") {
      margin-bottom: 0;
    }
  }

  * {
    margin: 0;
    padding: 0 !important; // overwrites grid settings
  }

  h5 {
    @include typeface('Regular italic');
    color: black;
  }
}

blockquote {
  position: relative;
  margin: 0 auto;
  &:before {
    @include media(">large"){
      @include typeface("Title");
      content: "“";
      position: absolute;
      font-style: normal !important;
      color: #ddd;
      font-size: 300%;
      top: -15px;
      left: -10px;
      @include media(">medium") {
          left: 15px;
      }
      @include media(">large") {
          top: -18px;
          left: -8px;
      }
    }
  }

  & + figcaption {
    margin-top: 5px;
  }


  p {
    @include typeface('Regular italic');
    color: #888;
    padding: 0 !important;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p, & + figcaption p {
    @include media('>large'){
      padding-left: 20px !important;
    }
  }
}

figcaption p,
.press-text p {
  font-size: 15px;
  line-height: 1.4;
  color: #555;
}

.footnotes {
  font-size: 100%;
}

.footnotes {
  margin-top: 0px;
  @include media("<large") {
      padding-left: 20px;
  }
  .footnote {
      font-size: 80%;
      text-decoration: none;
      border: none;
      outline: none;
  }
  hr {
      display: none;
  }
  ol {
    li {
      column-break: avoid;
      font-size: 90%;
      margin-bottom: 0;
      p {
          padding-left: 0;
      }
    }
  }
}

// Colors
.c-dark {
  color: #000;
}

.bg-pale {
  background-color: #fef3f3;
}

.bg-theme {
  background-color: $theme;
}

.type-normal {
  @include typeface('Regular');
  font-style: normal !important;
}

.figure-books {
  margin-top: 70px;
  margin-bottom: 60px;
  padding: 60px 20px 50px;
  svg {
    display: block;
    max-width: 900px;
    margin: 0 auto;
  }
}

.center {
  margin: 0 auto;
  display: block;
}

.aldine-book {
  margin-top: 40px;
  margin-bottom: 40px;

  @include media(">large") {
    float: right;
    clear: both;
    width: 400px;
    padding-right: 40px;
    margin: 0;
    margin-left: 20px;
  }

  img, svg {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;

    @include media(">large"){
      max-width: 275px;
    }
  }

  figcaption {
    @include media(">large"){
      max-width: 275px;
      margin: 0 auto;
    }
  }
}

.reader-cards {
  max-width: $max-width;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @include media(">large"){
    display: flex;
    justify-content: space-between;
  }

  h3 {
    color: $theme;
    margin-bottom: 0;
  }

  div {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;

    @include media(">large"){
      width: 48%;
    }

    p {
      @include typeface('Regular italic');
      margin-bottom: 0;
    }

    p, ul {
      font-size: 90%;
    }

    ul {
      margin-bottom: 10px;
    }
  }
}

.left {
  @include media(">large") {
      float: left;
      clear: both;
      width: 400px;
      padding-left: 40px;
      margin-right: 20px;
  }
}

.aldine-press {
  opacity: .7;
}

.w-100 {
  width: 100%;
}

.mw-1000 {
  max-width: 1000px;
  margin: 0 auto;
}


@keyframes flicker {
  0% {
    opacity: 1;
  } 10% {
    opacity: 0;
  } 65% {
    opacity: 1;
  } 80% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

#Network {
  animation: 4s flicker alternate infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 300;
  }
}

#Line-Copy,
#Line-Copy-2 {
  opacity: .4;
}

#Line-Copy {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  animation: dash 25s linear reverse infinite;
}

#Line-Copy-2 {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  animation: dash 25s linear reverse infinite;
}

.u-text--white {
    color: #eee !important;
}

.unlisted {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 30px;
    > li {
        display: inline-block;
        margin-right: 8px;
        a {
            color: white;
            background: transparent;
            font-size: .75em;
        }
    }
}

.button {
  font-size: 15px !important;
  background-color: rgba(255, 255, 255, .3) !important;
  border-radius: 3px;
  padding: 4px 10px !important;
  transition: background-color .2s ease;
  &:hover,
  &:focus {
      background-color: rgba(0, 0, 0, .15) !important;
  }
}


.about__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3px;
    @include media(">large") {
        display: flex;
        justify-content: center;
        .about__item {
            max-width: 700px !important;
            padding: 20px;
            width: 50vw;
        }
    }
}

.about__item {
    @include media(">large"){
        padding: 0 20px !important;
    }

    &:last-of-type {
        @include media("<large"){
            margin-top: 30px;
        }
    }
}


.inverse-links {
    a {
        outline: 0;
        border: none;
        color: #eee !important;
        background-size: 3px 3px;
        background-position: 0 18px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, .2) 50%);
        background-repeat: repeat-x;
        transition: color .3s ease;
        &:hover,
        &:focus {
            outline: 0;
            color: darken($theme, 35) !important;
            border: none;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .2) 50%);
        }
    }
}

.about {
  padding: 0 15px;

  @include media(">medium") {
    padding: 0 5%;
  }

  @include media(">large") {
    padding-left: 0;
    padding-right: 0;
  }

    * {
        @include media("<large") {
            max-width: $max-width !important;
            padding: 0 !important;
        }
        @include media(">large") {
            max-width: 100% !important;
        }
    }
    p {
        font-size: 90%;
        margin-bottom: 10px;
    }
    .h5 {
        color: white !important;
        font-size: 20px;

        @include media(">large"){
          font-size: 25px;
        }
    }
}

.thanks-list {
    list-style: none;
    > li {
        display: inline-block;
        font-size: 85%;
        @include typeface("Regular");
        &:after {
            content: ",";
            display: inline-block;
            margin-right: 3px;
        }
        &:last-of-type:after {
            content: none;
        }
    }
}

a[rev="footnote"] {
    color: white;
    background: none;
    position: relative;

    &:after {
        content: "↑";
        position: absolute;
        left: 0;
        color: red;
        display: inline-block;
        font-size: .8em;
        bottom: 0;
        height: 20px;
        width: 22px;
        color: $theme;
        background-color: white;
        z-index: 9999;
    }
    &:hover,
    &:focus {
        color: white;
        background: none;
        &:after {
            color: darken($theme, 10);
        }
    }
}

.underline {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 10px;
}

.footnotes-title {
  font-size: 30px;
  margin-top: 70px;
}

.opacity-7 {
  opacity: .7;
}

.cite-wide {
  font-size: 14px;
  padding: 10px;
  @include typeface("Regular italic");
}

@import "objects/cell";
