// ==========================================================================
// STYLES FOR THE NEW WEB TYPOGRAPHY ESSAY
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1100px) !default;
$max-width: 700px;
$theme: #319f90;
$font-stack: Georgia, serif;
$font-stack--sans: Helvetica, sans-serif;
$c-primary: darken($theme, 20); // because of old links code :-(


@import "utilities/reset";
@import "utilities/type";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/underline";
@import "base/hierarchy";
@import "base/base-spacing";
@import "themes/prism-default";


// OPTIONS
// ==========================================================================

* {
    box-sizing: border-box;
}

// RESET
// ==========================================================================
body, html {
    padding: 0;
    margin: 0;
}

body {
    font: 115%/1.55 $font-stack;
    color: #444;
    @include typeface("Regular");
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;

    @include media(">medium"){
        font-size: 120%;
    }

    @include media(">large"){
        font-size: 125%;
    }
}


.caps {
    @include typeface("Small caps");
}


p em,
blockquote {
    @include typeface("Regular italic");
}

img, svg {
    max-width: 100%;
}

svg {
    width: 100%;
}



// TITLE
// ==========================================================================

.title {
    margin-bottom: 30px;

    @include media(">medium"){
        background-color: $theme;
        position: relative;
        margin-bottom: 45px;
    }

    @include media(">large"){
        margin-bottom: 60px;
    }
}

.title__text {
    background-color: $theme;
    padding: 40px 20px;
    text-align: center;

    @include media(">medium"){
        position: absolute;
        margin: auto;
        top: 40%;
        bottom: 0;
        left: 30%;
        width: 65%;
        text-align: left;
        padding-right: 0;
    }

    @include media(">large"){
        top: 50%;
    }
}

.title__img {
    img {
        opacity: .5;
        display: block;
        @include media(">medium"){
            opacity: .7;
        }
    }

    @include media(">medium"){
        max-width: 50%;
    }
}

.meta__item {
    font-size: 15px;
    color: #eee;
    display: inline-block;

    @include media(">large"){
        font-size: 19px;
    }

    &:before {
        content: "•";
        color: rgba(0,0,0,.3);
        display: inline-block;
    }

    &:first-of-type:before {
        content: none;
    }
}

// STYLES
// ==========================================================================


.wrapper {
    p, ol, ul, blockquote,
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5, pre {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto; // center align text
        padding: 0 15px;

        @include media(">medium"){
            padding: 0 6%;
        }

        @include media(">large"){
            padding: 0;
        }
    }
}

.wrapper--large {
    max-width: $max-width + 200;
    margin: 0;
    padding: 0 15px;

    p, ol, ul, blockquote,
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5, pre {
        padding: 0;
        max-width: 100%;
    }
}

blockquote {
    p {
        font-style: italic;
    }
}

p {
    sup {
        padding-left: 2px;

        a {
            background: none !important;
            text-decoration: none !important;
            border: none !important;
            transition: color .3s ease;
            color: $theme !important;

            &:after {
                content: none;
            }

            &:link,
            &:visited {
                color: $theme;
            }

            &:hover,
            &:focus {
                color: darken($theme, 20);
            }
        }
    }
}

a {
    -webkit-appearance: none;
    color: $theme;
    position: relative;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.1) 50%);
    background-repeat: repeat-x;
    background-size: 2px 3px;
    background-position: 0 19px;

    &:hover,
    &:focus {
        background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%, $theme 50%);
    }
}

.width-100 {
    width: 100%;
}


// DEBUG
// ==========================================================================

// body {
//     position: relative;

//     &:before {
//         display: block;
//         border: 2px solid #ddd;
//         opacity: .5;
//         font-size: 14px;
//         content: "small";
//         position: fixed;
//         bottom: 0;
//         right: 0;
//         padding: 5px 10px;
//         text-transform: uppercase;
//         background-color: white;

//         @include media(">medium"){
//             content: "medium";
//         }

//         @include media(">large"){
//             content: "large";
//         }

//         @include media(">largest"){
//             content: "largest";
//         }
//     }
// }
// FOOTNOTES
// ==========================================================================

// Breaks up into multiple columns on larger breakpoints

.footnotes {
    margin-top: 80px;

    .footnote {
        font-size: 80%;
        text-decoration: none;
        border: none;
        outline: none;
    }

    hr {
        display: none;
    }

    ol {
        padding-left: 20px;
        li {
            column-break: avoid;
            font-size: 90%;
            margin-bottom: 0;

            em {
                font-style: normal;

                .wf-active & {
                    font-family: "Nota Regular 5", Helvetica, sans-serif;
                }
            }
        }
    }
}


// ITEM ALIGNMENT

.contain {
    margin: 0 auto;
    padding: 20px;
    max-width: $max-width;
}

.contain--largest {
    @include media(">largest"){
        margin: 0;
    }
}

.right {
    @include media(">large")  {
        float: right;
        clear: both;
        width: 400px;
        padding-right: 40px;
        margin-left: 20px;
    }
}

.left {
    @include media(">large")  {
        float: left;
        clear: both;
        width: 400px;
        padding-left: 40px;
        margin-right: 20px;
    }
}


.frame {
    background-color: $theme;

    img {
        padding: 5px;
        margin: 0;
        display: block;
    }
}

.opacity--half {
    opacity: .5;
}

// FIGURES
// ==========================================================================

figure {
    @include clearfix();
    img {
        margin: 0;
        display: block;
    }
}

.figure--goethe {
    width: 100%;
    max-width: 100% !important;
    @include clearfix();

    .goethe {
        width: 100%;
        max-width: 300px;

        @include media(">large"){
            max-width: 400px;
        }
    }

    .books {
        @include media(">medium"){
            max-width: 600px;
        }
    }

    .figure--full__content {
        background-color: transparent;

        @include media("<large"){
            padding-bottom: 20px;
        }
        @include media(">large"){
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    .float--left-large {
        @include media("<large"){
            max-width: 700px;
        }
    }

    .float--right-large {
        @include media("<large"){
            max-width: 700px;
        }
        @include media(">large"){
            max-width: 400px;
        }
    }

    figcaption {
        max-width: 100%;
    }

    .portrait-circle {
        margin-bottom: 30px;
    }

    .figure__img--small {
        @include media("<large"){
            padding: 0 20px;
        }
    }
}

.portrait-circle {
    max-width: 100%;
    border-radius: 50%;
    border: 7px solid $theme;

    @include media("<large"){
        margin-bottom: 30px;
    }

    @include media(">large"){
        max-width: 400px;
        float: left;
        width: 40%;
    }
}


.figure--full {
    @include clearfix();
    width: 100%;
    clear: both;
    float: none;
}

.figure--max-width {
    max-width: $max-width;
    margin: 0 auto;
}

.figure--full__content {
    @include clearfix();
    clear: both;
    background-color: #222222;
    width: 100%;
    float: left;

    img {
        margin: 0 auto;
        display: block;
    }
}

.figure--padded-small {
    padding: 100px 20px;
}

.figure--padded-large {
    @include media(">large"){
        padding: 200px 20px;
    }
}

.figure__img--small {
    @include media(">large"){
        float: right;
        width: 50%;
    }
}

.figure--transparent {
    img {
        opacity: .7;
    }
}

.figcaption--dark {
    background-color: rgba(0,0,0,.03) !important;

    h4 {
        color: #666 !important;
    }
}

.sans,
figcaption,
.footnotes,
.meta {
    font-family: Helvetica, sans-serif;

    .wf-active & {
        font-family: "Nota Regular 5", Helvetica, sans-serif;
    }
}

.figcaption--dark {
    background-color: rgba(255,255,255,.6);
}

figcaption {
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(255,255,255,.1);
    clear: both;

    @include media(">medium"){
        max-width: 450px;
        clear: none;
    }

    p {
        padding: 0 !important;
        font-size: .8em;
        color: #666;
        line-height: 1.4;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h4 {
        @include typeface("Small caps");
        padding: 0 !important;
        max-width: 100% !important;
        font-size: 18px;
        color: darken($theme, 5);
        margin: 0;
    }
}

.clear--right {
    clear: right;
}

.float--right {
    float: right;
}

.float--right-large {
    @include media(">large") {
        float: right;
        clear: none;
    }
}

.float--left-large {
    @include media(">large") {
        float: left;
        clear: left;
        margin: 0;
    }
}

.center {
    display: block;
    margin: 0 auto;
}

.faded {
    filter: saturate(0);
}


pre {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px !important;
    padding: 0 !important;
    max-width: ($max-width)  !important;


    > code {
        display: block;
        background-color: #ddd;
        width: 100%;
        padding: 20px !important;
        font-size: 75%;
    }
}

p > code {
    display: inline-block;
    background-color: #eee;
    border-radius: 3px;
    font-size: 85%;
    padding: 0px 3px;
}


// ISLANDS
// ==========================================================================

.island {
    @include clearfix();
    background-color: #222;
}

.island--light {
    background-color: #eee;
}

.island--transparent {
    background-color: transparent;
}

.island--green {
    background-color: $theme;
}

.island--light-green {
    background-color: #45a89b;
}

.clear--right-large {
    @include media(">medium"){
        clear: right;
    }
}

.island--absolute {
    position: relative;

    img {
        width: 100%;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.flex-figure {
    @include media(">large"){
        display: flex;
    }

    figcaption {
        background-color: transparent;
        color: white;
        padding: 0;
        max-width: 100%;
        opacity: .6;
        line-height: 1.2;
        padding: 0 20px;

        @include media(">large"){
            padding: 0 30px;
        }
    }
}

.flex-figure__tschichold {
    margin: 0 auto;
    padding: 30px;

    @include media(">large"){
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 0 40px 0;
        margin: 0;
    }

    img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: block;
        max-width: 500px;
    }

    @include media(">large"){
        flex-basis: 450px;
    }
}

.flex-figure__blockquote {
    align-self: center;
    @include typeface("Display");

    figcaption {

        @include media("<large"){
            padding: 0;
            padding-top: 4px;
        }
    }

    p {
        font-size: 110%;
        line-height: 1.45;
        color: white;
        margin: 0;
        font-style: normal;
        position: relative;
        padding: 20px 20px 0 0;

        @include media(">large"){
            padding: 20px 20px 20px 0;
            font-size: 125%;
            padding: 0 30px;
            font-size: 150%;
            line-height: 1.3;
            margin-bottom: 20px;
        }

        &:before {
            content: "“";
            left: 0;
            display: inline-block;
            @include media(">large"){
                margin-left: -20px;
                padding-right: 3px;
            }
        }
    }
}



// SVG STYLES
// ==========================================================================

@for $i from 1 through 10 {
    .#{interpolate}-#{$i} {
        $randomNumber: 50 + random(900);
        animation: fading #{3000 + random(3000) + ms} ease alternate infinite;
        transform: 1.2;
        stroke-dasharray: $randomNumber;
        stroke-dashoffset: $randomNumber;
    }
}

@keyframes fading {
    0% {
        opacity: random(1);
        stroke: rgba(0,0,0,.1);
        fill: $theme;
    }
    100% {
        opacity: .4;
        transform: scale(1);
        stroke: $theme;
        fill: $theme;
        stroke-dashoffset: 0;
    }
}

.svg-interpolate {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.unfortunately {
    max-width: 700px;
    padding: 40px;
    display: block;
    clear: none;
}

.u-text--white {
    color: #eee !important;
}

.u-text--green {
    color: $theme;
}

.u-noMargins {
    margin: 0;
}

.above-right {
    color: white;
    &:before {
        content: "Above: ";
        display: inline-block;
        margin-right: 5px;

        @include media(">large"){
            content: "Above, right: ";
        }
    }
}

.kindle {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.letters {
    figcaption {
        padding: 0;
    }
}

// CUSTOM HEADINGS
// ==========================================================================

.m-longform {
    h2,
    .h2 {
        font-size: 145%;
        line-height: 1.15;

        @include media(">medium"){
            .break {
                display: block;
            }
        }

        @include media(">large"){
            @include typeface("Display");
            font-size: 30px;
            line-height: 1.2;
        }
    }
}

.wrapper-island {
    max-width: 720px;
    margin: 0 auto;
}

.principles {
    line-height: 1.45;
    padding: 0 0 20px 0;
    border: 1px solid $theme;

    h3 {
        margin-bottom: 20px;
        max-width: 100%;
        padding: 10px;
        background-color: $theme;
        width: 100%;
        color: white;
        line-height: 1.2;
    }

    ol {
        @include clearfix();
        margin: 0 auto;
        display: block;
        padding: 15px 20px 15px 35px;

        @include media(">large"){
            padding: 20px 20px 20px 35px;
        }

        li {
            margin-bottom: 20px;
            position: relative;
            list-style-position: outside;

            @include media(">large"){
                font-size: 95%;
            }

            &:before {
                @include media(">large"){
                    display: inline-block;
                    padding: 0;
                    @include typeface("Book");
                    font-weight: 400;
                }
            }


            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.quote {
    blockquote {
        margin-bottom: 10px;
        position: relative;

        &:before {
            content: "“";
            position: absolute;
            font-style: normal !important;
            @include typeface("Regular");
            color: #ddd;
            font-size: 240%;
            top: -15px;
            left: -10px;

            @include media(">medium"){
                left: 15px;
            }

            @include media(">large"){
                top: -18px;
                left: -8px;
            }
        }

        p {
            color: #666;
            padding: 0;

            .wf-active & {
                font-style: normal;
            }

            @include media(">large"){
                padding-left: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    figcaption {
        font-size: 85%;
        @include typeface("Regular");
        max-width: $max-width !important;
        margin: 0 auto !important;
        padding: 0;
        padding-left: 20px;
        position: relative;

        em {
            @include typeface("Regular italic");
        }
        &:before {
            content: "—";
            display: inline-block;
            position: absolute;
            left: 0;
            color: #ccc;
        }
    }
}

@import "objects/cell"; // !important