// ==========================================================================
// STYLES FOR THE NEW WEB TYPOGRAPHY ESSAY
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1100px) !default;
$max-width: 700px;
$theme: #319f90;
$font-stack: Georgia, serif;
$font-stack--sans: Helvetica, sans-serif;
$c-primary: darken($theme, 20); // because of old links code :-(


@import "utilities/reset";
@import "utilities/type";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/underline";
@import "base/hierarchy";
@import "base/links";
@import "base/base-spacing";


// OPTIONS
// ==========================================================================

* {
    box-sizing: border-box;
}

// RESET
// ==========================================================================
body, html {
    padding: 0;
    margin: 0;
}

body {
    font: 115%/1.55 $font-stack;
    color: #444;
    @include typeface("Regular");
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;

    @include media(">medium"){
        font-size: 120%;
    }

    @include media(">large"){
        font-size: 125%;
    }
}


.m-longform {

    a,
    a:visited {
        @include links();
        @include underline();
    }
}

.caps {
    @include typeface("Small caps");
}

p em,
blockquote {
    @include typeface("Regular italic");
}

img, svg {
    max-width: 100%;
}

svg {
    width: 100%;
}



// TITLE
// ==========================================================================

.title {
    margin-bottom: 30px;

    @include media(">medium"){
        background-color: $theme;
        position: relative;
        margin-bottom: 80px;
    }
}

.title__text {
    background-color: $theme;
    padding: 40px 20px;
    text-align: center;

    @include media(">medium"){
        position: absolute;
        margin: auto;
        top: 50%;
        bottom: 0;
        left: 30%;
        width: 60%;
        text-align: left;
    }
}

.title__img {
    img {
        opacity: .5;
        display: block;
        @include media(">medium"){
            opacity: .7;
        }
    }

    @include media(">medium"){
        max-width: 50%;
    }
}

.meta__item {
    font-size: 15px;
    color: #eee;
    display: inline-block;

    @include media(">large"){
        font-size: 17px;
    }

    &:last-of-type:before {
        content: "~";
        display: inline-block;
    }
}

// STYLES
// ==========================================================================


.wrapper {
    p, ol, ul, blockquote,
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5, pre {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto; // center align text
        padding: 0 15px;
    }
}

.wrapper--large {
    max-width: $max-width + 200;
    margin: 0;
    padding: 0 15px;

    p, ol, ul, blockquote,
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5, pre {
        padding: 0;
        max-width: 100%;
    }
}

blockquote {
    p {
        font-style: italic;
    }
}

p {
    > sup {
        padding-left: 2px;

        a {
            text-decoration: none;
        }
    }
}

// DEBUG
// ==========================================================================

body {
    position: relative;

    &:before {
        display: block;
        border: 2px solid #ddd;
        opacity: .5;
        font-size: 14px;
        content: "small";
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        text-transform: uppercase;
        background-color: white;

        @include media(">medium"){
            content: "medium";
        }

        @include media(">large"){
            content: "large";
        }

        @include media(">largest"){
            content: "largest";
        }
    }
}

// FOOTNOTES
// ==========================================================================

// Breaks up into multiple columns on larger breakpoints

.footnotes {
    hr {
        display: none;
    }

    ol {
        li {
            font-size: 90%;
        }
    }
}


// ITEM ALIGNMENT

.contain {
    margin: 0 auto;
    padding: 20px;
    max-width: $max-width;
}

.contain--largest {
    @include media(">largest"){
        margin: 0;
    }
}

.right {
    @include media(">large")  {
        float: right;
        clear: both;
        width: 400px;
        padding-right: 40px;
        margin-left: 20px;
    }
}

.frame {
    background-color: $theme;

    img {
        padding: 5px;
        margin: 0;
        display: block;
    }
}

.opacity--half {
    opacity: .5;
}

// FIGURES
// ==========================================================================

figure {
    @include clearfix();
    img {
        margin: 0;
        display: block;
    }
}

.figure--goethe {
    @include clearfix();

    .figure--full__content {
        background-color: transparent;

        @include media("<large"){
            padding-bottom: 30px;
        }
        @include media(">large"){
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    .figure__img--small {
        @include media("<large"){
            padding: 0 20px;
        }
    }

    .goethe {
        border-radius: 50%;
        max-width: 400px;
        border: 7px solid $theme;

        @include media("<large"){
            margin-bottom: 30px;
        }

        @include media(">large"){
            float: left;
            width: 40%;
        }
    }
}


.figure--full {
    @include clearfix();
    width: 100%;
    clear: both;
    float: none;
}

.figure--max-width {
    max-width: $max-width;
    margin: 0 auto;
}

.figure--full__content {
    @include clearfix();
    clear: both;
    background-color: #222222;
    width: 100%;
    float: left;

    img {
        margin: 0 auto;
        display: block;
    }
}

.figure--padded-small {
    padding: 100px 20px;
}

.figure--padded-large {
    @include media(">large"){
        padding: 200px 20px;
    }
}

.figure__img--small {
    @include media(">large"){
        float: right;
        width: 50%;
    }
}

.figure--transparent {
    img {
        opacity: .7;
    }
}

.sans-serif,
figcaption,
.footnotes,
.meta {
    font-family: Helvetica, sans-serif;

    .wf-active & {
        font-family: "Nota Regular 5", Helvetica, sans-serif;
    }
}

.figcaption--dark {
    background-color: rgba(255,255,255,.6);
}

figcaption {
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(255,255,255,.1);
    clear: both;

    @include media(">medium"){
        max-width: 450px;
        clear: none;
    }

    p {
        padding: 0 !important;
        font-size: .8em;
        color: #aaa;
        line-height: 1.4;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h4 {
        @include typeface("Small caps");
        padding: 0 !important;
        max-width: 100% !important;
        font-size: 18px;
        color: darken($theme, 5);
        margin: 0;
    }
}

.clear--right {
    clear: right;
}

.float--right {
    float: right;
}

.float--right-large {
    @include media(">large") {
        float: right;
    }
}

.float--left-large {
    @include media(">large") {
        float: left;
    }
}

.center {
    display: block;
    margin: 0 auto;
}

.faded {
    filter: saturate(0);
}

pre {
    width: 100%;
    padding: 0;

    code {
        background-color: #ddd;
        width: 100%;
        padding: 20px !important;
    }
}

code {
    display: inline-block;
    background-color: #eee;
    border-radius: 3px;
    font-size: 85%;
    padding: 0px 3px;
}


// ISLANDS
// ==========================================================================

.island {
    @include clearfix();
    background-color: #222;
}

.island--light {
    background-color: #dddddd;
}

.island--green {
    background-color: $theme;
}

.clear--right-large {
    @include media(">medium"){
        clear: right;
    }
}


// SVG STYLES
// ==========================================================================

@for $i from 1 through 10 {
    .#{interpolate}-#{$i} {
        $randomNumber: 50 + random(900);
        animation: fading #{3000 + random(3000) + ms} ease alternate infinite;
        transform: 1.2;
        stroke-dasharray: $randomNumber;
        stroke-dashoffset: $randomNumber;
    }
}

@keyframes fading {
    0% {
        opacity: random(1);
        stroke: rgba(255,255,255,.6);
        fill: #eee;
    }
    100% {
        opacity: .2;
        transform: scale(1);
        stroke: $theme;
        fill: rgba(0,0,0,0);
        stroke-dashoffset: 0;
    }
}

.svg-interpolate {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.unfortunately {
    max-width: 700px;
    padding: 40px;
    display: block;
    clear: none;
}

.u-text--white {
    color: white !important;
}

@import "objects/cell"; // !important