// ==========================================================================
// WORK STYLES
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px)
	!default;

$font-src: "/fonts/";

// UTILS
// ==========================================================================
@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/helper";
@import "utilities/align-text";
// TOOLS
@import "tools/trim";
// BASE ELEMENT STYLES
@import "base/base-spacing";
@import "base/main";
@import "base/links";
@import "base/hierarchy";
@import "base/rules";
@import "base/code";
@import "base/lists";
// OBJECTS
@import "objects/nav";
@import "objects/island";
@import "objects/multi";
@import "objects/preserve-aspect";
// MODULES
@import "modules/custom-post";
@import "modules/longform";
@import "modules/wrapper";
