// ==========================================================================
// WORK STYLES
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px)
	!default;

$font-src: "/fonts/";

$home-theme: #2b79f8;

// UTILS
// ==========================================================================
@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/helper";
@import "utilities/align-text";
@import "utilities/reset-margins";
// TOOLS
@import "tools/trim";
// BASE ELEMENT STYLES
@import "base/base-spacing";
@import "base/main";
@import "base/links";
@import "base/hierarchy";
@import "base/rules";
@import "base/code";
@import "base/lists";
// OBJECTS
@import "objects/nav";
@import "objects/island";
@import "objects/multi";
@import "objects/preserve-aspect";

// MODULES
@import "modules/custom-post";
@import "modules/longform";
@import "modules/wrapper";

@import "../../fonts/caponi.scss";
@import "../../fonts/output.scss";

@import "objects/cell";

$sans: "Output Sans", Helvetica, sans-serif;

html {
	background-color: white;
}

body {
	padding-bottom: 0;
}

////////////////////////////////////////////
// PROJECTS TYPE
////////////////////////////////////////////

.m-longform h2 {
	font-size: 22px;
}

h2,
h3,
h4,
h5 {
	font-family: $sans;
	font-weight: 600;
}

.p-intro .m-longform p {
	@include media(">large") {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.p-intro .m-longform ul {
	display: flex;
	li {
		margin-right: 10px;
		list-style: none;
		margin-top: 10px;

		a {
			text-decoration: none;
			font-size: 14px;
			background-color: lighten($home-theme, 40);
			padding: 3px 4px 5px 5px;
			border: 1px solid lighten($home-theme, 30);
			font-variant: all-small-caps;
			color: $home-theme;
			border-radius: 2px;
			font-family: $sans;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				background-color: lighten($home-theme, 30);
				color: darken($home-theme, 10);
			}
		}
	}
}

iframe {
	min-height: 500px;
	border: 1px solid #ddd;
}

video {
	background-color: #fafafa;
	padding: 20px;
	max-width: 100%;
}

.flex {
	display: flex;
}

.flex-justify-between {
	justify-content: space-between;
}

////////////////////////////////////////////
// PROJECTS INDEX
////////////////////////////////////////////

.p-project {
	display: block;
	padding: 30px;
	padding-left: 0;
	border-bottom: 1px solid #ededed;
	text-decoration: none !important;

	h3 {
		font-size: 23px;
		@include typeface("Display");
		color: #555;
		line-height: 1.4;
	}

	&:hover,
	&:focus {
		transition: all 0.3s ease;
		background-color: #f5f9ff;
		padding-left: 20px;
		h3 {
			color: $home-theme;
		}
	}

	p {
		margin: 0;
		color: #999;
		line-height: 1.35;
		font-size: 15px;
		font-family: $sans;
	}

	small {
		color: #999;
		font-family: $sans;
	}

	&:last-child {
		margin-bottom: 0 !important;
		border: none;
	}
}

.projects-title {
	margin: 0 !important;
	padding: 0 !important;
}

.p-writing-list {
	margin-top: -1px;
	ul {
		display: grid;
		list-style: none;

		li {
			font-family: $sans;
			border: 1px solid transparent;
			&:hover {
				border-top: 1px solid lighten($home-theme, 35);
				border-bottom: 1px solid lighten($home-theme, 35);

				a {
					color: $home-theme;
					background-color: lighten($home-theme, 41);
					padding: 20px 20px 20px;
				}

				& + li {
					border-top-color: transparent;
				}
			}

			& + li {
				border-top: 1px solid #ededed;
			}

			a {
				margin: 0;
				padding: 20px 20px 20px 0;
				color: #555555;
				display: block;
				transition: all 0.3s ease;
				transition: padding 0.2s ease;
				font-size: 22px;
				@include typeface("Display");

				&:focus {
					color: $home-theme;
					background-color: lighten($home-theme, 41);
					padding: 20px 20px 20px;
				}
			}
		}
	}
}

////////////////////////////////////////////
// PROJECTS DETAIL
////////////////////////////////////////////

.m-wrapper--unpadded .scrollbox {
	max-width: 600px;
	height: 500px;
	padding: 50px;
	overflow: scroll;
	border: 1px solid #eee;
	border-top: 3px solid #eee;
	background-color: #fcfcfc;

	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		padding: 0;
	}

	h5 {
		margin-top: 30px;
		font-weight: bold;
		text-transform: none;
		font-variant: normal;
	}

	h4 {
		font-weight: normal;
		color: #aaa;
	}

	h2,
	h3,
	h4,
	h5,
	p {
		font-family: $sans;
	}

	p {
		font-size: 14px;
	}
}

.highlight {
	background-color: #fff3cc;
}

figcaption {
	max-width: 600px;
	margin: 0;
	padding: 0 !important;
}

.m-longform figcaption > p {
	font-family: $sans;
	font-size: 14px;
	color: #555;
}

figcaption abbr {
	font-family: $sans;
	text-transform: none;
	font-variant: normal;
}

.project-subheading {
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 800 !important;
}

.side-by-side {
	@include media(">medium") {
		display: flex;
		align-items: stretch;
	}
}

.side-by-side__child {
	display: flex;
	padding: 10px;

	figure {
		height: 100%;
	}
}

.whiteboard-img {
	@include media(">medium") {
		min-height: 500px;
		object-fit: cover;
	}
}

.solutions-list {
	list-style: none;

	li {
		position: relative;
	}

	li:before {
		content: "";
		background-color: #2276fb;
		margin: 0;
		padding: 0;
		left: -15px;
		top: 13px;
		font-weight: bold;
		position: absolute;
		border: 1px solid #2276fb;
		min-width: 5px;
		min-height: 5px;
		transform: rotate(45deg);
	}

	li {
		margin-bottom: 10px;
	}
}

////////////////////////////////////////////
// PROJECTS INTRO
////////////////////////////////////////////

.p-nav {
	display: flex;
	justify-content: space-between;
}

.projects-wrapper {
	border: 5px solid $c-primary;
}

.projects-intro-container {
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 0;
}

.projects-wrapper--guide {
	border-color: #28d8cb;
}

.projects-wrapper--home {
	border-color: $home-theme;
}

.projects-wrapper--transfers {
	border-color: #539adc;
}

.projects-wrapper--xoxo {
	border-color: #ff7c17;
}

.projects-wrapper--endsleigh {
	border-color: #5c58a4;
}

.projects-wrapper--css-tricks {
	border-color: #ff9801;
}

.projects-outro {
	padding-bottom: 60px;
}

// .projects-outro--guide {
// 	border-bottom-color: #28d8cb;
// }
//
// .projects-outro--transfers {
// 	border-bottom-color: #539adc;
// }

.p-grid {
	display: grid;
	grid-template-columns: repeat(22, 1fr);
}

.p-grid-wrapper {
	max-width: 850px;
	margin: 0 auto;
}

.p-nav {
	grid-column: 1 / 23;
}

.p-section-intro {
	grid-column: 1 / 23;
	margin-bottom: 80px;
	@include media(">medium") {
		grid-column: 13 / 23;
		margin-bottom: 20px;
	}
}

.p-img {
	grid-column: 1 / 23;
	margin-top: 20px;
	position: relative;
	@include media(">medium") {
		grid-column: 1 / 12;
		margin-bottom: 15px;
	}
	img {
		width: 100%;
		border-radius: 2px;
		height: 100%;
		object-fit: cover;
		filter: saturate(0);
		margin: 0;
		padding: 0;
	}
}

.p-social-nav ul {
	display: flex;
	list-style: none;

	li {
		margin-right: 10px;

		a {
			text-decoration: none;
			color: $c-primary;
		}
	}
}

.p-section-heading {
	grid-column: 1 / 23;
	margin: 0;
	padding-top: 20px;
	@include typeface("Display");
	font-size: 30px;
	color: $home-theme;

	@include media(">medium") {
		grid-column: 1/5;
	}
}

.p-title {
	@include typeface("Display");
	line-height: 1.1;
	margin: 0;
	margin-bottom: 20px;
	font-size: 34px;
	// color: $home-theme;
	@include media(">medium") {
		margin-bottom: 30px;
		padding-top: 20px;
	}
}

.p-section {
	padding-top: 0;
	padding-bottom: 80px;
	grid-column: 1 / 23;

	@include media(">medium") {
		grid-column: 6/23;
	}
}

.project-intro-hero {
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 60px;
	padding: 0 15px;
	@include media(">large") {
		padding: 0;
	}
	img {
		border-radius: 3px;
		display: block;
		box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease;

		&.no-shadow {
			box-shadow: none;
		}
	}
}

.projects-intro-overview {
	@include media(">medium") {
		display: flex;
		justify-content: space-between;
	}
	.m-longform {
		@include media(">medium") {
			width: 70%;
		}
	}
}

.projects-intro-extract {
	margin-bottom: 50px;
}

::selection {
	background-color: $c-highlight;
	color: #333;
	text-shadow: none;
}

.projects-intro-meta {
	margin-bottom: 10px;
	padding-bottom: 20px;
	@include media(">medium") {
		width: 25% !important;
	}

	div {
		margin: 0 !important;

		p {
			margin-bottom: 15px;
		}
	}
}

////////////////////////////////////////////
// PROJECTS LONGFORM & UTILITY CLASSES
////////////////////////////////////////////

.h-bordered {
	border: 1px solid #ddd;
}

figcaption {
	margin-top: 5px;
	position: relative;
	padding-left: 18px !important;
	max-width: 400px;

	p:first-of-type:before {
		content: "⇢";
		height: 100%;
		width: 1px;
		line-height: 1;
		color: $c-primary;
		display: inline;
		position: absolute;
		top: 3px;
		left: 0;

		.projects-wrapper--guide & {
			color: #28d8cb;
		}

		.projects-wrapper--home & {
			color: $home-theme;
		}

		.projects-wrapper--transfers & {
			color: #539adc;
		}

		.projects-wrapper--xoxo & {
			color: #ff7c17;
		}

		.projects-wrapper--endsleigh & {
			color: #5c58a4;
		}

		.projects-wrapper--css-tricks & {
			color: #ff9801;
		}
	}

	p {
		color: #888 !important;
	}
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.caps {
	font-variant: all-small-caps;
	text-transform: lowercase;
}

.meta {
	font-family: $sans !important;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 0.4px;
	position: relative;

	a,
	& {
		color: rgba(0, 0, 0, 0.4);
	}

	a {
		margin-right: 13px;
		position: relative;
		transition: all 0.3s ease;

		&:hover {
			color: $c-primary;
		}
	}

	a:after {
		content: "•";
		font-size: 12px;
		display: inline-block;
		position: absolute;
		right: -12px;
		top: 2px;
		color: #aaa;
	}

	a:nth-child(1):only-child {
		&:after {
			content: none;
		}
	}
}

.m-longform--small {
	h4 {
		color: rgba(0, 0, 0, 0.6);
	}

	p {
		font-family: $sans !important;
		font-size: 14px;
	}
}
