// ==========================================================================
// WORK STYLES
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px)
	!default;

$font-src: "/fonts/";

$home-theme: #e95554;

.m-wrapper__content {
  padding: 0 !important;
}

h4.border-bottom {
  @media (max-width: 920px){
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
}

.m-wrapper__side {
  padding-left: 0 !important;
  padding-right: 0 !important;
  img {
    @media (max-width: 920px){
      margin-bottom: 60px;
    }
  }
}

.projects-wrapper--home {
  .project-link {
    transition: all .3s ease;
    h3 { color: #333; line-height: 1.3;}
    p { font-size: 16px; }
    &:hover {
      box-shadow: 1px 1px 10px rgba(0,0,0,.2);
      transform: scale(1.02);
      border-radius: 3px;
      padding-left: 10px;
      border-color: transparent;

      & + .project-link {
        border-color: transparent;
      }


      h3 { color: $home-theme; }
      p { color: #333; }
    }
    &:focus {
      background-color: white;
    }
  }
}

// UTILS
// ==========================================================================
@import "screen";

html {
	background-color: white;
}

body {
	padding-bottom: 0;
}

////////////////////////////////////////////
// PROJECTS TYPE
////////////////////////////////////////////

.p-intro {
	margin-bottom: 0;
	@include media(">medium") {
		padding-left: 0;
	}
}

.p-intro .m-longform p {
	@include media(">large") {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

iframe {
	min-height: 500px;
	border: 1px solid #ddd;
}

video {
	background-color: #fafafa;
	padding: 20px;
	max-width: 100%;
}

.flex {
	display: flex;
}

.flex-justify-between {
	justify-content: space-between;
}

.about-links {
	ul { display: flex; margin: 0; }
	li {
		margin-right: 10px;
		list-style: none;
		margin-top: 10px;

		a {
			text-decoration: none;
			background-image: none;
			font-size: 14px;
			padding: 3px 4px 5px 5px;
      background-color: lighten($home-theme, 35);
			border: 1px solid lighten($home-theme, 30);
			font-variant: all-small-caps;
			color: $home-theme;
			border-radius: 2px;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				background-color: lighten($home-theme, 30);
				color: darken($home-theme, 10);
			}
		}
	}
}

////////////////////////////////////////////
// PROJECTS INDEX
////////////////////////////////////////////

.p-project {
	display: block;
	padding: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #ededed;
	text-decoration: none !important;

	h3 {
		font-size: 23px;
		@include typeface("Display");
		color: #555;
		line-height: 1.4;
	}

	&:hover,
	&:focus {
		transition: all 0.3s ease;
		background-color: #f5f9ff;
		h3 {
			color: $home-theme;
		}
	}

	p {
		margin: 0;
		color: #999;
		line-height: 1.35;
		font-size: 15px;
	}

	small {
		color: #999;
	}

	&:last-child {
		margin-bottom: 0 !important;
		border: none;
	}
}

.projects-title {
	margin: 0 !important;
	padding: 0 !important;
}

.p-writing-list {
	margin-top: -1px;
	ul {
		display: grid;
		list-style: none;

		li:first-of-type {
			border-top: 1px solid #ededed;
		}

		li:last-of-type {
			border-bottom: 1px solid #ededed;
		}

		li {
			border: 1px solid transparent;

			&:hover {
				border-top: 1px solid lighten($home-theme, 35);
				border-bottom: 1px solid lighten($home-theme, 35);
				h3 {
					color: $home-theme;
				}

				a {
					color: $home-theme;
					background-image: none;
					background-color: lighten($home-theme, 36);
					padding: 20px 20px 20px;
					text-decoration: none;

					p {
						color: #333;
					}
				}

				& + li {
					border-top-color: transparent;
				}
			}

			& + li {
				border-top: 1px solid #ededed;
			}

			h3 {
				@include typeface("Display");
				color: #555555;
				font-size: 23px;
			}

			p {
				font-weight: 400;
				font-size: 15px;
				margin: 0 !important;
				padding: 0;
			}

			a {
				margin: 0;
				padding: 20px 20px 20px 20px;
				color: #555555;
				display: block;
				transition: all 0.3s ease;
				font-size: 18px;
				text-decoration: none;
				background-image: none;
				@include typeface("Display");

				@include media(">medium") {
					font-size: 22px;
				}

				&:focus {
					color: $home-theme;
					background-color: lighten($home-theme, 41);
					padding: 20px 20px 20px;
				}
			}
		}
	}
}

////////////////////////////////////////////
// PROJECTS DETAIL
////////////////////////////////////////////

.projects-wrapper {
  padding: 0 20px;
}

.m-wrapper {
  padding: 0;
}

.scrollbox-parent {
  .side-by-side__child:first-of-type {
    width: 70%;
  }
}

.m-wrapper--unpadded-wide .scrollbox {
	height: 500px;
  display: block;
	padding: 50px;
	overflow: scroll;
	border: 1px solid #eee;
	border-top: 3px solid #fff4cc;
	background-color: #fffefa;

  > * {
    max-width: 600px;
  }

  h2 {
    opacity: .7;
  }

	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		padding: 0;
	}
  .subtitle {
    @include typeface("Regular Italic");
    font-weight: normal;
    color: #aaa;
    line-height: 1.2;
  }

	h5 {
		margin-top: 30px;
		text-transform: none;
		font-variant: normal;
	}

	p {
		font-size: 14px;
	}
}

.highlight {
	background-color: #fff3cc;
}

figcaption {
	max-width: 600px;
	margin: 0;
	padding: 0 !important;
}

.m-longform figcaption > p {
	font-size: 14px;
	color: #555;
}

figcaption abbr {
	text-transform: none;
	font-variant: normal;
}

.project-subheading {
  color: #333 !important;
}

.side-by-side {
	@include media(">medium") {
		display: flex;
		align-items: stretch;
	}
}

.side-by-side__child {
	display: flex;
	padding: 10px;

	figure {
		height: 100%;
	}
}

.whiteboard-img {
	@include media(">medium") {
		min-height: 500px;
		object-fit: cover;
	}
}

.solutions-list {
	list-style: none;

	li {
		position: relative;
    margin-left: -20px;
	}

	li:before {
		content: "";
		background-color: var(--themeColor);
		margin: 0;
		padding: 0;
		left: -15px;
		top: 13px;
		font-weight: bold;
		position: absolute;
		border: 1px solid var(--themeColor);
		min-width: 5px;
		min-height: 5px;
		transform: rotate(45deg);
	}

	li {
		margin-bottom: 10px;
	}
}

////////////////////////////////////////////
// PROJECTS INTRO
////////////////////////////////////////////

.p-nav {
	display: flex;
	justify-content: space-between;
}

.projects-wrapper {
	border: 5px solid var(--main-theme-color);
}

.projects-intro-container {
	margin: 0 auto;
	padding: 20px 0;
	padding-bottom: 0;
}

.projects-wrapper--guide {
	border-color: var(--themeColor);
}

.projects-wrapper--home {
	border-color: $home-theme;
}

.projects-wrapper--transfers {
	border-color: var(--themeColor);
}

.projects-wrapper--xoxo {
	border-color: var(--themeColor);
}

.projects-wrapper--endsleigh {
	border-color: var(--themeColor);
}

.projects-wrapper--css-tricks {
	border-color: var(--themeColor);
}

.projects-outro {
	padding-bottom: 60px;
}

.p-grid {
	display: grid;
	grid-template-columns: repeat(22, 1fr);
}

.p-grid__basic {
  display: grid;
  grid-column: 1 / 23;
  grid-template-columns: repeat(22, 1fr);
  & > * {
    grid-column: 1 / 23;
    @include media(">medium") {
  		grid-column: 1 / 16;
    }
  }
}

.p-grid__basic {
  & > .side-by-side,
  & > .m-wrapper--unpadded-wide {
    grid-column: 1 / 23;
  }
}

.p-grid__full {
  grid-column: 1/22;
}

.p-grid-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.p-nav {
	grid-column: 1 / 23;
}

.p-section-intro {
	margin-bottom: 10px;
	@include media(">medium") {
		margin-bottom: 0;
	}
}

.p-grid-intro {
	padding-bottom: 70px;

	@include media(">medium") {
		padding-bottom: 100px;
	}
}

.p-img {
	opacity: 0.9;
	grid-column: 1 / 23;
	margin-top: 20px;
	position: relative;
	margin-bottom: 30px;
	@include media(">medium") {
		height: 100%;
		grid-column: 1 / 6;
		margin: 0;
		padding: 0;
	}
	img {
		width: 100%;
		border-radius: 2px;
		height: 100%;
		object-fit: cover;
		filter: saturate(0);
		margin: 0;
		padding: 0;
	}
}

.p-social-nav ul {
	display: flex;
	list-style: none;

	li {
		margin-right: 10px;

		a {
			text-decoration: none;
			color: var(--main-theme-color);
		}
	}
}

.p-section-heading {
	grid-column: 1 / 23;
	margin: 0;
	padding-top: 15px;
	@include typeface("Display");
	font-size: 30px;
	color: #999;
	margin-bottom: 20px;

	@include media(">medium") {
		font-size: 34px;
	}
}

.p-title {
	@include typeface("Display");
	line-height: 1.1;
	padding-bottom: 10px;
	@include media(">medium") {
		margin-bottom: 30px;
		padding-top: 20px;
	}
}

.p-section {
	padding-top: 0;
	padding-bottom: 15px;
	grid-column: 1 / 23;

	@include media(">medium") {
		grid-column: 7 / 23;
		padding-bottom: 70px;
	}
}

.project-intro-hero {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 60px;
	padding: 0 15px;
	@include media(">large") {
		padding: 0;
	}
	img {
		border-radius: 3px;
		display: block;
		box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease;

		&.no-shadow {
			box-shadow: none;
		}
	}
}

.projects-intro-overview {
	@include media(">medium") {
		display: flex;
		justify-content: space-between;
	}
	.m-longform {
		@include media(">medium") {
			width: 70%;
		}
	}
}

.projects-intro-extract {
	margin-bottom: 50px;
}

::selection {
	background-color: var(--highlight-color);
	color: #333;
	text-shadow: none;
}

.projects-intro-meta {
	margin-bottom: 10px;
	padding-bottom: 20px;
	@include media(">medium") {
		width: 25% !important;
	}

	div {
		margin: 0 !important;

		p {
			margin-bottom: 15px;
		}
	}
}

////////////////////////////////////////////
// PROJECTS LONGFORM & UTILITY CLASSES
////////////////////////////////////////////

.h-bordered {
	border: 1px solid #ddd;
}

figcaption {
	margin-top: 5px;
  padding-top: 10px !important;
	padding-left: 12px !important;
	max-width: 400px;

  p:first-of-type {
    position: relative;
  }

	p:first-of-type:before {
		content: "⇢";
		height: 100%;
		width: 1px;
		line-height: 1;
		color: var(--main-theme-color);
		display: inline;
		position: absolute;
		top: 3px;
		left: -15px;

		.projects-wrapper--guide & {
			color: var(--themeColor);
		}

		.projects-wrapper--home & {
			color: $home-theme;
		}

		.projects-wrapper--transfers & {
			color: var(--themeColor);
		}

		.projects-wrapper--xoxo & {
			color: var(--themeColor);
		}

		.projects-wrapper--endsleigh & {
      color: var(--themeColor);
		}

		.projects-wrapper--css-tricks & {
      color: var(--themeColor);
		}
	}

	p {
    padding-left: 5px !important;
    padding-top: 0 !important;
		color: #888 !important;
	}
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.caps {
	font-variant: all-small-caps;
	text-transform: lowercase;
}

.meta {
	font-size: 16px;
	letter-spacing: 0.4px;
	position: relative;

	a,
	& {
		color: rgba(0, 0, 0, 0.4);
	}

	a {
		margin-right: 13px;
		position: relative;
		transition: all 0.3s ease;

		&:hover {
			color: var(--main-theme-color);
		}
	}

	a:after {
		content: "•";
		font-size: 12px;
		display: inline-block;
		position: absolute;
		right: -12px;
		top: 2px;
		color: #aaa;
	}

	a:nth-child(1):only-child {
		&:after {
			content: none;
		}
	}
}

.m-header {
  padding-top: 0;
  margin-bottom: 10px;
  @media (min-width: 921px){
    padding-bottom: 30px;
  }
}

.m-longform--small {
	h4 {
		color: rgba(0, 0, 0, 0.6);
	}

	p {
		font-size: 14px;
	}
}

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

h1 {
  padding-top: 20px !important;
  margin-bottom: 10px;
}

.projects-wrapper--home {
  .m-wrapper__side {
    @media (max-width: 920px){
      margin-top: 50px;
    }
  }
  h4 {
    color: $home-theme !important;
  }
}

.side-projects {
  li {
    list-style: none;
  }
  a {
    @include typeface("Display");
    font-size: 18px;
    border-bottom: 1px dashed #ddd;
    padding: 15px 0;
    color: #555;
    display: block;
    transition: all .3s ease;

    &:hover {
      color: $home-theme;
    }
    &:focus {
      background-color: lighten($home-theme, 35)
    }
  }
}


.airtable {
  img {
    filter: saturate(0);
  }
}
