// ==========================================================================
// ROBINRENDLE.COM STYLES
// ==========================================================================

@import "../../fonts/national/national";

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --color-background: #111;
  --color-text: #ddd;
  --color-subtext: #aaa;
  --color-faded: #333;
  --color-link: #fe7b53;
  --font-fallback: "National", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-sans;
}

* + * {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

body {
  color: var(--color-text);
  font: 100%/1.35 var(--font-fallback);
  background: var(--color-background);
}

// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

h1 {
  line-height: 1.1;
}

h3 {
  font-size: clamp(100%, 1.2rem + 0.5vw, 28px);
}

p {
  margin-top: 0;
  padding-top: 0;
  font-size: clamp(100%, 1rem + 0.5vw, 22px);
}

a {
  color: var(--color-link);
}

img {
  max-width: 100%;
}

.post-time {
  display: flex;
  gap: 5px;
  color: var(--color-subtext);

  time {
    margin: 0;
  }

  > div:nth-child(1):after {
    content: "•";
    margin-left: 5px;
  }
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  border-left: 1px solid var(--color-faded);
}

.post {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-faded);
  color: inherit;
  text-decoration: none;

  time {
    color: var(--color-subtext);
  }

  h3 {
    color: var(--color-link);
    margin-bottom: 0;
  }
}

.banner__nav-item {
  padding: 5px;
}

hr {
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 15px;

  &:before {
    font-size: 28px;
    margin: 0 auto;
    content: "***";
    color: var(--color-faded);
  }
}
