// ==========================================================================
// ROBINRENDLE.COM STYLES
// ==========================================================================
//
// Imports all of the SCSS objects and partials into a single file which is then compiled into CSS.
//
$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (
  small: 400px,
  medium: 620px,
  large: 920px,
  largest: 1200px
) !default;
// UTILITIES : functions + settings to be used anywhere
// # TODO: separate utils into tools + utils
@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/helper";
@import "utilities/align-text";
// TOOLS
@import "tools/trim";
// BASE ELEMENT STYLES
@import "base/base-spacing";
@import "base/main";
@import "base/links";
@import "base/hierarchy";
@import "base/rules";
@import "base/code";
@import "base/lists";
// OBJECTS
@import "objects/preserve-aspect";
// MODULES
@import "modules/longform";
@import "modules/wrapper";
@import "modules/codepen";
@import "modules/meta-info";
@import "modules/banner";
@import "modules/card-list";
@import "modules/highlight";
@import "modules/form";
@import "../../fonts/aluminia/aluminia";
@import "../../fonts/ayer/ayer";

section[role="main"] {
  min-height: 80vh;
}

::selection {
  background-color: var(--highlight-color);
  text-shadow: none;
}

.m-header {
  padding-top: 50px;
  margin-bottom: 50px;
  @media screen and (min-width: 700px) {
    padding-top: 80px;
  }
}

.m-header h1 {
  @media screen and (min-width: 700px) {
    padding-top: 10px;
  }
}

.m-header__img {
  img {
    border-radius: 3px;
    object-fit: cover;
    filter: saturate(0);
    min-height: 20em;
    width: 100%;
  }
}

.text-bold {
  @include typeface("Bold");
}

.full {
  width: 100%;
  padding: 0 !important;
  margin: 0;
  max-width: none !important;
}

.opacity--low {
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-align-baseline {
  align-items: baseline;
}

.justify-space-between {
  justify-content: space-between;
}

@keyframes wiggle {
  0% {
    transform: translate(30px, 20px);
  }

  100% {
    transform: translate(0, -20px);
  }
}

.overflow-hidden {
  overflow: hidden;
}

@import "utilities/reset-margins";
@import "objects/cell"; // !important

a:focus {
  background-color: rgba(var(--highlight-color), 0.5);
}

////////////////////////////////////////////////////////////////////////////
// CUSTOM PROJECT STYLES (should probably refactor these at some point)
////////////////////////////////////////////////////////////////////////////

.project-intro-hero {
  max-width: 60rem;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  padding: 0rem 1.5625rem;
  @include media(">large") {
    padding: 0;
    padding: 0rem 1.5625rem;
  }
}

.chrome-shadow {
  border-radius: 3px;
  display: block;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);

  &.no-shadow {
    box-shadow: none;
    border-radius: 0;
  }
}

.side-by-side {
  @include media(">medium") {
    display: flex;
    align-items: stretch;
  }
}

.side-by-side__child {
  display: flex;
  padding: 10px !important;

  figure {
    height: 100%;
  }
}

.whiteboard-img {
  @include media(">medium") {
    min-height: 500px;
    object-fit: cover;
  }
}

.solutions-list {
  list-style: none;

  li {
    position: relative;
  }

  li:before {
    content: "";
    background-color: var(--main-theme-color);
    margin: 0;
    padding: 0;
    left: -15px;
    top: 13px;
    font-weight: bold;
    position: absolute;
    border: 1px solid var(--main-theme-color);
    min-width: 5px;
    min-height: 5px;
    transform: rotate(45deg);
  }

  li {
    margin-bottom: 10px;
  }
}

.scrollbox-parent {
  margin-bottom: 30px;
  .side-by-side__child:first-of-type {
    width: 70%;
  }
}

.scrollbox {
  height: 500px;
  display: block;
  padding: 60px 75px !important;
  overflow: scroll;
  border: 1px solid #eee;
  border-top: 3px solid #fff4cc;
  background-color: #fffefa;

  > * {
    max-width: 600px;
  }

  .highlight {
    background-color: darken(#fffefa, 10);
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }
  .subtitle {
    @include typeface("Regular Italic");
    font-weight: normal;
    line-height: 1.3;
    padding-top: 5px;
  }

  h5 {
    margin-top: 30px;
    text-transform: none;
    font-variant: normal;
  }

  p {
    font-size: 14px;
  }
}

.m-wrapper--unpadded .m-wrapper__content .cell-b60 {
  padding-bottom: 20px !important;
}

.footnotes-sep {
  display: none;
}

// HOMEPAGE
.heading-home {
  margin-bottom: 60px;
  @include media(">large") {
    margin-top: 10px;
  }
}

.tag-collection {
  margin-bottom: 40px;
  margin-top: 10px;
}

.tag {
  margin-right: 13px;
  margin-bottom: 10px;
  font-size: 13px;
  position: relative;
  font-family: "Input Mono", monospace;
  background-color: var(--form-bg-color);
  display: inline-block;
  padding: 3px 8px;
  color: var(--secondary-text-color);
  border-radius: 3px;
  transition: all .3s ease;
}

.tag:hover {
  background-color: var(--main-theme-color);
  color: white;
}

.tag--active {
  background-color: var(--nav-color);
  color: white;
}

.hide-posts a:not(.card-list--show) {
  display: none;
}

.home-header {
  margin-bottom: 15px;
  @include media(">largest") {
    margin-bottom: 10px;
    width: 100%;
  }
}

.about-page h1 {
  color: var(--main-theme-color);
}

.home-header h1 {
  @include media(">medium") {
    line-height: 1 !important;
  }

  @include media(">largest") {
    font-size: 65px;
  }
}

.home-header span {
  display: block;
  color: var(--heading-color);
}

.lil-heading {
  @include typeface("Small caps");
  font-size: 1.25rem !important;
  border-bottom: 1px solid var(--card-border);
  padding-bottom: 6px;
  color: var(--lighter-gray-color);
  margin-bottom: 8px !important;

  @include media(">medium") {
    margin-bottom: 15px !important;
  }
}