// ==========================================================================
// SYSTEMS, MISTAKES, AND THE SEA
// ==========================================================================
$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;
$breakpoints: (
  small: 400px,
  medium: 620px,
  large: 920px,
  largest: 1100px,
  gigantic: 1400px
) !default;
$max-width: 750px;
$font-stack: Georgia, serif;
$font-stack--sans: Helvetica, sans-serif;

@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/text-style";
@import "utilities/underline";

@import "base/base-spacing";
@import "base/links";
@import "base/hierarchy";
@import "../../fonts/caponi.scss";

@font-face {
  font-family: "Newzald";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("/fonts/newzald/book.woff2") format("woff2"),
    url("/fonts/newzald/book.woff") format("woff");
}

@font-face {
  font-family: "Newzald";
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("/fonts/newzald/book-italic.woff2") format("woff2"),
    url("/fonts/newzald/book-italic.woff") format("woff");
}

// ==========================================================================
// TYPE
// ==========================================================================
// Default typesetting, font-height and font-weight settings.

@mixin typeface($font) {
  $sans-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  $serif-fallback: Georgia, serif;

  @if $font == "Small caps" {
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: "Newzald", $serif-fallback;
  }

  @if $font == "Regular" {
    font-weight: 400;
    font-family: "Newzald", $serif-fallback;
  }

  @if $font == "Regular italic" {
    font-style: italic;
    font-weight: 400;
    font-family: "Newzald", $serif-fallback;
  }

  @if $font == "Bold" {
    font-weight: 400;
    font-family: "Newzald", $serif-fallback;
  }

  @if $font == "Display" {
    font-weight: 600;
    font-family: "Caponi Display", $sans-fallback;
  }
}


* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--main-theme-color);
}

body {
  font: 400 110%;
  @include typeface("Regular");
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-feature-settings: "liga" 1 !important;
  min-height: 100%;

  @include media(">large") {
    border-top: none;
  }
}

// sticky footer styles
.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

cite {
  @include typeface("Regular italic");
  font-style: normal;
}

em,
small,
dfn,
i,
q,
.italic {
  @include typeface("Regular italic");
}

mark {
  background-color: rgb(255, 220, 0);
  background-color: rgba(255, 220, 0, 0.3);
  font-weight: normal;
  color: #444;
}

.caps,
abbr {
  @include typeface("Small caps");
}

.display-caps {
  @include typeface("Display caps");
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}

b,
strong {
  @include typeface("Book");
}

acronym {
  text-transform: normal;
}

iframe {
  margin: 0 auto !important; // centers tweets
}

img,
video {
  max-width: 100%;
}

main {
  overflow-x: hidden;
}

pre {
  overflow: auto;
  background-color: #f1f1f1;
  white-space: pre;
}

pre code {
  padding: 20px;
  background-color: transparent;
  display: block;
}

@font-face {
  font-family: "Newzald";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/newzald/book.woff2") format("woff2"),
    url("/fonts/newzald/book.woff") format("woff");
}

body {
  color: #111;
}

.layout-wrapper {
  @include media(">large") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
  }
  @include media(">largest") {
    grid-gap: 50px;
  }
}

.wrapper {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 10px;

  @include media(">medium") {
    max-width: 43em;
  }
  @include media(">large") {
    grid-column: 6/13;
    padding-right: 40px;
    padding-top: 80px;
    margin: 0;
  }
}

.intro-img {
  margin-bottom: 40px;
  overflow: hidden;
  display: block;
  object-fit: contain;
  background-color: #eee;

  @include media(">medium") {
    margin-bottom: 60px;
  }

  @include media(">large") {
    margin-bottom: 0;
    grid-column: 1 / 6;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  img {
    height: 30vh;
    display: block;
    object-fit: cover;
    width: 100%;
    @include media(">medium") {
      height: 50vh;
    }
    @include media(">large") {
      height: 100vh;
    }
  }
}

h1 {
  // font-variant: small-caps;
  // text-transform: lowercase;
  color: #000;
  font-family: "Caponi Display", serif;
  font-size: 30px;
  margin-bottom: 20px;
  @include media(">large") {
    font-size: 35px;
  }
}

.longform {
  padding-bottom: 100px;
  p {
    font-size: 20px;
    line-height: 1.3;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-after: 2;
    -webkit-hyphenate-limit-before: 3;
    hyphens: auto;

    @include media(">medium") {
      font-size: 22px;
    }

    @include media(">large") {
      font-size: 20px;
    }

    @include media(">largest") {
      font-size: 22px;
    }
  }
}

code {
  font-size: 0.8em;
}

em {
  font-style: normal !important;
  background-color: #fff2cc;
}

.longform blockquote {
  border-left: 2px solid #ddd;
  padding-left: 15px;
  font-size: 1em;
}

hr {
  background: url("/images/essays/systems/star.svg");
  background-size: contain;
  width: 110px;
  border: none;
  opacity: 0.4;
  height: 35px;
}

img {
  margin: 0;
  display: block;
}

.last-img {
  margin-top: 100px;
}

.meta {
  color: #777;
}

::selection {
  background-color: #fff2cc;
}
