// ==========================================================================
// WORK STYLES
// ==========================================================================

$base-spacing-unit: 18;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $half-spacing-unit / 2;

$breakpoints: (small: 400px, medium: 620px, large: 920px, largest: 1200px) !default;

$font-src: "/fonts/";
$c-black: #222;
$c-light: #eee;
$c-blue: #0074d9;

// UTILS
// ==========================================================================
@import "utilities/reset";
@import "utilities/rem-calc";
@import "utilities/normalize";
@import "utilities/clearfix";
@import "utilities/breakpoints";
@import "utilities/type";
@import "utilities/colors";
@import "utilities/text-style";
@import "utilities/underline";
@import "utilities/inverse";
@import "utilities/align-text";
@import "modules/wrapper";

@import "base/base-spacing";

// FONTS
// ==========================================================================
@font-face {
    font-family: "FG";
    src: url('#{$font-src}fg-regular.woff') format('woff');
}

@font-face {
    font-family: "FG Semibold";
    src: url('#{$font-src}fg-semibold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "FG Display";
    src: url('#{$font-src}fg-condensed-medium.woff') format('woff');
    font-weight: 600;
}

$fallback: " , Helvetica, sans-serif";

$display: FG Display + $fallback;
$text: FG + $fallback;
$bold: FG Semibold + $fallback;

body {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    border-top: 10px solid $c-black;
    border-bottom: 10px solid $c-black;
    text-rendering: optimizeLegibility;
    line-height: 1.6;

    .fonts-loaded & {
        line-height: 1.5;
        font-family: $text;
    }
}


h1, .h1 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: .9;

    .fonts-loaded & {
        font-family: $display;

        @include media(">medium"){
            font-size: 80px;
            line-height: .9;
        }
    }
}


h2, .h2 {
    margin-bottom: 0;

    .fonts-loaded & {
        font-family: $bold;
    }
}

a {
    outline: none;
    color: inherit;
}

.wrapper {
    margin: 0 auto;
    max-width: 700px;
}

.g__col {
    @include clearfix();
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;

    @include media(">medium"){
        width: 50%;
    }
}

.wrapper--large {
    max-width: 800px;
}

.box {
    @include clearfix();
    display: block;
    margin-left: -10px;
    padding: 0 20px;
}

.box__item {
    padding: 20px;
    padding-top: 60px;
    display: block;
    border: 1px solid $c-light;
    transition: background-color .3s ease;
    width: 100%;
    float: left;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease;
    outline: none;
    flex-wrap: wrap;

    &:hover,
    &:focus {
        background-color: lighten($c-light,10);
        outline: none;

        img {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(1.1);
    }

    figure {
        width: 100%;
    }

    img {
        opacity: .3;
        margin: 0 auto;
        display: block;
        height: 90px;
        transition: opacity 1s ease;
    }

    li {
        display: inline-block;
        padding: 0;
        list-style: none;
        text-transform: lowercase;

        &:first-of-type:first-letter {
            text-transform: capitalize;
        }


        &:after {
            content: ",";
        }

        &:last-of-type:after {
            content: none;
        }
    }
}

.box__content {
    align-self: flex-end;
    text-align: center;
    width: 100%;

    > ul {
        margin: 0;
    }
}

.subtitle {
    font-size: 20px;

    @include media(">medium"){
        font-size: 25px;
        line-height: 1.3;
    }
}

.logo {
    max-width: 80px;
    opacity: .3;
    margin: 0 auto;
}

.m-longform {
    color: #333;
    font-size: 18px;
    line-height: 1.4;

    @include media(">medium"){
        font-size: 20px;
        line-height: 1.45;
    }

    p + p > img {
        margin-top: 30px;
        display: block;
    }

    blockquote {
        color: #777;
        padding-left: 30px;
        position: relative;

        &:before {
            content: "“";
            font-size: 60px;
            color: #ddd;
            position: absolute;
            left: 0;
            top: -15px;
            display: block;
            line-height: 1;
        }
    }

    strong, b {
        font-weight: normal;
        .fonts-loaded & {
            font-family: $bold;
        }
    }
}

.link, .m-longform {
    a {
        color: #000;
        background: linear-gradient(transparent 89%, rgba(0,0,0,.9) 95%, transparent 94%);
        outline: none;
        transition: all .3s ease;

        &:hover,
        &:focus {
            background: linear-gradient(transparent 89%, $c-blue 95%, transparent 94%);
            color: lighten($c-blue, 10);
        }
    }
}

.island {
    @include clearfix();
    margin: 0;
}

.island--light {
    background-color: $c-light;
}

.m-wrapper--fixed {
    max-width: 800px;
    margin: 0 10px;

    @include media(">large"){
        margin: 0 30px;
    }
}

.island--hero {
    position: relative;
    width: 100%;

    @include media(">medium"){
        min-height: 300px;
    }

    img {
        border-radius: 3px;
        display: block;
        position: relative;
        z-index: 2;
        margin: 0 auto;

        @include media(">medium"){
            border-radius: 7px;
        }
    }
}

.island--dark {
    background-color: $c-blue;
    color: white;
}

.hero {
    padding-bottom: 0;
    text-align: center;
    position: relative;

    @include media(">medium"){
        padding-top: 20px;
    }

    figure {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto 40px;
    }

    &:after {
        display: block;
        content: "";
        background-color: #ddd;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        @include media(">medium"){
            height: 75%;
            min-height: 450px;
        }
    }
}

.m-wrapper {
    padding: 0 15px;

    @include media(">medium"){
        padding: 0 30px;
        max-width: 670px;
    }

    @include media(">large"){
        padding: 0;
    }
}

.display {
    .fonts-loaded & {
        font-family: $display;
    }
}

.multi {
    @include clearfix();
    margin-left: -15px;

    h2 {
        margin-left: 15px;
    }
}

.multi__item {
    margin-bottom: 10px;
    padding-left: 15px;

    @include media(">medium"){
        float: left;
        width: 50%;
    }

    @include media(">large"){
        width: 33.3%;
    }

    ul {
        margin-bottom: 15px;
    }
}

.footer-title {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #222;
    margin-bottom: 15px;

    .fonts-loaded & {
        font-family: $display;
    }
}

.nav-link {
    color: #111;
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 10px;
    outline: none;
    transition: color .3s ease;

    &:hover,
    &:focus {
        color: $c-blue;
        outline: none;
    }
}

::selection { background: rgba(yellow,.2); }

.cell-l15 {
    padding-left: 15px !important;
}

.subtitle > a {
    color: rgba(255,255,255,.7);
    border-bottom: 2px solid rgba(255,255,255,.3);
}

.subtitle--small {
    font-size: 20px;
    line-height: 28px;

    @include media(">large"){
        line-height: 32px;
        font-size: 1.4em;
    }
}



@import "objects/cell";